@import "mixins";

.portlet-dynamic-data-mapping-data-provider {
	.btn-action {
		height: 64px;
		line-height: 60px;
		width: 64px;
	}

	.required-warning {
		margin-bottom: 20px;
	}

	.form-control {
		font-size: 14px;
    	height: 40px;
	}

	@include sm {
		.form-control {
			font-size: 16px;
		}
	}
}

.portal-popup.dialog-iframe-popup > #main-content, 
.portal-popup.dialog-iframe-popup > #wrapper {
	overflow-x: hidden;
}