.portlet-site-settings {
	.maps-google-maps-api-key {
		margin-left: 20px;
	}

	.membership-restriction-container {
		margin-top: 1em;
	}

	.staging-section {
		margin-left: 1.5em;
	}

	.staging-types .field-choice label {
		font-weight: normal;
	}

	.trash-entries-max-age {
		margin-left: 1.5em;
	}
}