.portlet-site-settings {
	.maps-google-maps-api-key {
		margin-left: 20px;
	}

	.membership-restriction-container {
		margin-top: 1em;
	}

	.staging-section {
		margin-left: 1.5em;
	}

	.staging-types .field-wrapper label {
		display: block;
		font-weight: normal;
	}

	.trash-entries-max-age {
		margin-left: 1.5em;
	}
}

.portlet-sites-admin {
	.lfr-asset-summary img.avatar {
		max-width: 210px;
	}

	.lfr-menu-list li {
		list-style: none;
	}

	.membership-info, .description {
		margin-bottom: 20px;
	}

	.membership-info {
		.members-info a {
			padding-right: 5px;
		}

		.membership-requests {
			padding-left: 10px;
		}

		dl, dt, dd {
			display: inline;
			margin: 0;
		}

		dt {
			font-weight: bold;
			margin-left: 10px;

			&.first {
				margin-left: 0;
			}
		}

		dd {
			border-right: 1px solid #999;
			padding-right: 10px;

			&.last {
				border-width: 0;
			}
		}
	}

	.organizations-msg-info {
		background-color: #FEFEFE;
		border-color: #BBB;
	}

	.organization-type {
		font-size: 0.8em;
	}

	.site-membership-type {
		font-weight: bold;
		margin-bottom: 10px;
	}

	.subsites-count {
		font-size: 0.85em;
		margin-top: 0.3em;
	}
}