@import "mixins";

body {
	&.open {
		@include sm() {
			padding-left: 320px;
		}
	}

	&.open, &.sidenav-transition {
		@include sm() {
			overflow-x: hidden;
		}
	}
}

.lfr-product-menu-panel.sidenav-menu-slider {
	z-index: 501;

	&, .sidenav-menu {
		width: 320px;
	}
}

.product-menu {
	.sidebar-header {
		padding-bottom: 5px;
		padding-top: 5px;

		@include sm() {
			padding: 19px 24px;
		}

		.sidenav-close {
			float: right;
		}
	}

	.sidebar-header-logo {
		margin-right: 10px;
	}
}

.product-menu {
	.sidebar-body {
		bottom: 0;
		left: 0;
		padding-bottom: 0;
		padding-top: 0;
		position: absolute;
		right: 0;
		top: 120px;

		@include sm() {
			top: 223px;
		}

		@include media-query(null, 320px) {
			overflow: visible;
			position: static;
		}
	}
}

.product-menu {
	.user-tab {
		.icon-monospaced {
			padding-top: 10px;
		}

		.user-icon {
			img {
				display: block;
				width: 100%;
			}
		}

	}
}

.product-menu {
	small {
		display: block;
	}

	.collapse-icon:before {
		right: 20px;
		top: auto;
	}

	.list-group {
		> .collapse,
		> .collapsing {
			> .list-group-item > .tabular-list-group {
				margin-bottom: -10px;
				margin-top: -10px;
			}
		}
	}

	.list-group-heading {
		padding: 10px 20px;

		h1, h2, h3, h4, h5, h6 {
			margin-bottom: 0;
			margin-top: 0;
		}
	}

	.list-group-item {
		border-top-width: 0;
		padding: 10px 20px;
	}

	.lfr-icon-menu {
		.btn-default {
			border-width: 0;
			height: 32px;
			line-height: 32px;
			padding: 0;
			width: 32px;
		}
	}
}

.product-menu {
	.nav-equal-height-heading {
		.collapse-icon {
			&:after,
			&.collapsed:after {
				content: '';
				display: block;
				height: 12px;
				left: -6px;
				position: absolute;
				right: auto;
				top: 14px;
				width: 9px;
			}

			&:before {
				left: -8px;
				right: auto;
				z-index: 1;
			}
		}
	}

	.nav-nested-margins > li .nav > li {
		.nav > li {
			margin-bottom: 1px;
		}
	}
}

.product-menu-tabs {
	border-bottom-width: 0;
	margin-left: 24px;
	margin-right: 24px;
	margin-top: 15px;

	@include sm() {
		margin: 0;
		padding: 16px 24px;
	}

	> li > a {
		font-size: 12px;
		padding: 10px 0;

		@include sm() {
			padding: 0;
		}
	}
}

.product-menu-tabs {
	.sticker {
		left: 5px;
		top: 3px;
	}

	.sticker-bottom {
		bottom: 3px;
		top: auto;
	}

	.sticker-right {
		left: auto;
		right: 5px;
	}
}

.product-menu-tab-icon {
	.icon-monospaced {
		height: 0.9em;
		width: 0.9em;

		@include sm() {
			font-size: 24px;
			height: 60px;
			line-height: 60px;
		}
	}

	.label-sm {
		left: 50%;
		position: absolute;
		z-index: 1;
	}
}

.product-menu-tab-text {
	@include sm() {
		font-size: 12px;
		line-height: 60px;
	}
}