.portlet-forms {
	label {
		float: initial;
	}

	.aspect-ratio img {
		top: 0;
	}

	.btn {
		transition: opacity $transition-time;
	}

	.control-label {
		float: none;
		margin-bottom: 0;
		word-wrap: break-word;
	}

	.ddl-form-builder-buttons {
		margin-bottom: 0;
	}

	.ddl-form-description {
		font-size: 16px;
		line-height: 24px;
		word-break: break-all;
	}

	.ddl-form-name {
		font-size: 32px;
		word-break: break-all;
	}

	.form-builder-field-list-container {
		hyphens: auto;
		padding: 0;
		word-break: break-all;
	}

	.form-builder-page-header {
		padding-top: 25px;
	}

	.form-builder-page-header-description,
	.form-builder-page-header-title,
	.lfr-ddm-form-page-description,
	.lfr-ddm-form-page-title {
		color: #728694;
		font-weight: 400;
		resize: none;
		word-break: break-all;
	}

	.form-builder-page-header-description,
	.lfr-ddm-form-page-description {
		font-size: 14px;
	}

	.form-group {
		margin: 0;
	}

	.help-block {
		font-size: 14px;
	}

	.lfr-ddm-form-field-validation .row {
		margin: 0;
	}

	.lfr-ddm-form-page-description {
		margin-top: 9px;
	}

	.lfr-ddm-form-field-container {
		border-radius: 0;
		border-width: 0;
		box-shadow: none;
		margin: 0;
		padding: 23px 0 31px 0;
	}

	.liferay-ddm-form-field-paragraph {
		p {
			margin-top: 14px;
		}
	}

	.liferay-ddm-form-field-tip {
		margin: 4px 0 0 0;
	}

	.lfr-ddm-form-page-title {
		font-size: 19px;
		margin-bottom: 9px;
		margin-top: 0;
	}

	.multi-step-progress-bar .progress-bar-title {
		word-break: break-all;
	}

	.radio-inline {
		margin-right: 10%;
	}

	.required-warning {
		display: block;
		font-weight: inherit;
		margin-top: -17px;
		text-align: left;
	}
}