.timeline-item {
	color: #869CAD;
	position: relative;

	.action-panel {
		display: table;
		width: 100%;
	}

	.container__trash {
		cursor: pointer;
		display: none;
		padding: 10px;
		position: absolute;
		right: 0;
		top: 0;

		&:hover {
			color: #65B6F0;
		}

		&--hide {
			display: none;
		}
	}

	&:first-child {
		.timeline-icon {
			background-color: #869CAD;
		}
	}

	.form-control {
		color: #869CAD;
	}

	.form-group {
		margin: 0 10px;
	}

	&:hover > .container__trash {
		display: block;
	}

	.rule-choose-box {
		display: table-cell;
	}

	& .timeline-icon {
		border: 2px solid #869CAD;
	}
}