@import "bourbon";
@import "mixins";
@import "variables";
@import "form-builder-field-settings";
@import "form-builder-field-types-modal";
@import "form-builder-layout-builder-move";
@import "form-builder-sidebar";
@import "form-builder-field-settings-sidebar";
@import "portlet-forms";
@import "portlet-forms-admin";

.cursor-pointer {
	cursor: pointer;
}

.ddl-form-builder-buttons .icon-spinner,
.lfr-ddm-form-pagination-controls .icon-spinner,
.ddl-form-settings-modal .btn-toolbar-button .icon-spinner {
	line-height: 21px;
	margin-left: 10px;
	position: absolute;
}

.form-builder-rulles-builder-popover .popover-content {
	padding: 0;

	.dropdown-menu {
		border-width: 0;
		box-shadow: none;
		display: block;
		float: none;
		margin: 0;
		position: relative;
	}
}

.ddl-form-settings-modal,
.ddl-publish-modal,
.dynamic-data-mapping-data-providers-modal {
	.btn {
		transition: opacity $transition-time;
	}
}

.ddl-form-settings-modal,
.publish-modal-container {
	.modal-body {
		background-color: #FFF;
	}
}

.ddl-publish-modal {
	.alert-info {
		text-align: center;
	}

	.ddl-publish-checkbox {
		margin-bottom: 0;
		width: 100%;

		small {
			display: block;
		}

		> span {
			margin-bottom: 0.4em;
			margin-top: 0.4em;
		}
	}

	.input-checkbox-wrapper {
		float: right;
		margin-bottom: 0;
	}

	.lfr-ddm-repeatable-delete-button {
		position: absolute;
		right: 15px;
		top: 0;
	}

	select.form-control[multiple] {
		height: auto;
	}

	.text-to-copy {
		background-color: transparent;
	}

	.toggle-switch {
		display: none;
	}
}

.dynamic-data-mapping-data-providers-modal {
	max-width: 720px;

	.modal-content {
		z-index: 1;
	}
}

.form-builder-page-manager-popover-header {
	.popover-content {
		padding: 7px 21px;
	}

	li {
		color: #869CAD;
		cursor: pointer;
		font-size: 15px;
		font-weight: normal;
		line-height: 16px;
		list-style-type: none;
		padding: 11px 0;
	}

	ul {
		margin: 0;
		padding: 0;
	}
}

.form-builder-page-manager-popover-header.popover.left > .arrow {
	margin-left: 19px;
}

.lfr-ddl-field-settings-confirmation-message {
	margin: 0;
	padding: $horizontal-spacing;
	text-align: center;
}

.form-builder-sidebar,
.portlet-forms {
	.form-control {
		font-size: 14px;
	}

	@include sm {
		.form-control {
			font-size: 16px;
		}
	}

	.help-block {
		font-size: 14px;
	}

	.icon-asterisk {
		margin-left: 4px;
	}

	.lfr-ddm-form-field-validation .row {
		margin: 0;
	}

	.liferay-ddm-form-field-editor .form-control-feedback {
		margin-top: -25px;
		position: absolute;
		z-index: 2;
	}

	.radio-inline {
		padding-top: 11px;

		& + .radio-inline {
			margin-left: 0;
		}
	}
}

.lfr-ddl-field-settings-yes {
	padding-left: 21px;
	padding-right: 21px;
}

.liferay-ddl-form-rule-builder {
	.ddl-form-basic-info {
		display: none;
	}
}

.portal-popup,
.portlet-forms-admin {
	.alert {
		margin: 0;
	}

	.asset-icon .lexicon-icon {
		height: 32px;
		width: 32px;
	}

	.checkbox,
	.radio {
		margin-bottom: 0;
		margin-top: 0;
	}

	.ddl-form-builder-app {
		margin-top: $baseline * 4;

		.form-builder-content,
		.lfr-ddm-form-content {
			background: #FFF;
			border: 1px solid #DCE0E3;
			border-radius: 1px;
			box-shadow: 0 2px 4px rgba(188, 197, 204, 0.3);
			margin: 0 auto;
			width: auto;
		}

		.form-builder-field-list-empty .form-builder-field-list-add-button {
			padding: 16px 0;
			position: relative;
		}

		.liferay-ddm-form-field-text textarea {
			resize: none;
		}

		.toggle-switch-text {
			word-break: break-word;
		}
	}

	.lfr-ddm-form-wizard {
		border-bottom: 1px solid #DEE4E9;
		padding: 20px 34px 11px 34px;
		position: relative;
	}

	.record-set-id, .record-set-modified-date {
		margin-right: 20px;
	}
}

.portal-popup {
	.portlet-column {
		padding: 0;
	}

	.required-warning {
		margin-left: 34px;
		margin-right: 34px;
	}

	.lfr-ddm-form-page .required-warning {
		margin-top: -16px;
	}
}