$bg-color: #F5F7F8;

body {
	background-color: $bg-color;
}

#wrapper {
	padding: 0;

	.portlet-layout {
		margin: 0 0 75px;

		.portlet-column {
			padding: 0;
		}

		.portlet-body > .container-fluid-1280 {
			position: relative;
		}
	}

	.main-content-card {
		box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
		margin-top: 20px;
		min-height: 200px;
	}

	.sidenav-container {
		.sidenav-content {
			@include sm {
				margin-right: -15px;
			}
		}

		&.closed .sidenav-content {
			margin-right: 0;
		}
	}
}

.portlet-boundary_com_liferay_users_admin_web_portlet_UsersAdminPortlet_ {
	.lfr-job-title-column, .lfr-name-column, .lfr-organizations-column, .lfr-screen-name-column, .lfr-user-groups-column {
		max-width: 150px;
		min-width: 150px;
	}
}

.portlet-boundary_com_liferay_user_groups_admin_web_portlet_UserGroupsAdminPortlet_ {
	.lfr-description-column {
		max-width: 400px;
		min-width: 400px;
	}

	.lfr-name-column {
		max-width: 150px;
		min-width: 150px;
		width: 250px;
	}

	.lfr-users-column {
		white-space: nowrap;
	}
}

.portlet-boundary_com_liferay_roles_admin_web_portlet_RolesAdminPortlet_ {
	.lfr-description-column {
		max-width: 250px;
		min-width: 250px;
	}

	.lfr-title-column {
		max-width: 150px;
		min-width: 150px;
		width: 250px;
	}
}

.portlet-boundary_com_liferay_password_policies_admin_web_portlet_PasswordPoliciesAdminPortlet_ {
	.lfr-description-column {
		max-width: 300px;
		min-width: 300px;
	}

	.lfr-name-column,
	.lfr-parent-organization-column,
	.lfr-screen-name-column {
		max-width: 175px;
		min-width: 175px;
		width: 250px;
	}

	.lfr-city-column,
	.lfr-region-column {
		@include sm {
			max-width: 100px;
			min-width: 100px;
		}
	}
}

.portlet-boundary_com_liferay_site_admin_web_portlet_SiteAdminPortlet_ {
	.lfr-name-column {
		max-width: 200px;
		min-width: 200px;
	}

	.lfr-child-sites-column,
	.lfr-members-column {
		white-space: nowrap;
	}

	.lfr-active-column, .lfr-child-sites-column, .lfr-members-column, .lfr-membership-type-column {
		width: auto;
	}
}

.portlet-boundary_com_liferay_layout_prototype_web_portlet_LayoutPrototypePortlet_,
.portlet-boundary_com_liferay_layout_set_prototype_web_portlet_LayoutSetPrototypePortlet_ {
	.lfr-create-date-column {
		white-space: nowrap;
	}

	.lfr-description-column {
		max-width: 400px;
		min-width: 400px;
	}

	.lfr-name-column {
		max-width: 150px;
		min-width: 150px;
		width: 200px;
	}
}