<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>SignInGmailTest</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">SignInGmailTest</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>http://mail.google.com/</td>
	<td></td>
</tr>
<tr>
	<td>type</td>
	<td>//input[@id='Email']</td>
	<td>liferay.qa@gmail.com</td>
</tr>
<tr>
	<td>type</td>
	<td>//input[@id='Passwd']</td>
	<td>loveispatient</td>
</tr>
<tr>
	<td>clickAtAndWait</td>
	<td>//input[@id='signIn']</td>
	<td>Sign In</td>
</tr>

</tbody></table>
</body>
</html>