.lfr-upload-container {
	.upload-target {
		border-color: #DDD;

		h4 span {
			text-transform: lowercase;
		}

		.drop-file-text {
			font-weight: normal;
		}
	}

	a {
		&.browse-button {
			background-image: url(../images/common/add.png);
			background-repeat: no-repeat;
			color: white;
			font-size: 1.2em;
			font-weight: bold;
			text-decoration: none;
		}

		&.clear-uploads {
			background-image: url(../images/common/remove.png);
			background-repeat: no-repeat;
		}

		&.cancel-uploads {
			background-image: url(../images/common/close.png);
			background-repeat: no-repeat;
		}
	}

	.multiple-files .upload-file {
		background: url(../images/file_system/small/jpg.png) no-repeat 5px 50%;

		&.upload-complete {
			background-position: 22px 50%;
			padding-left: 45px;

			&.file-saved, &.upload-error {
				background-position: 5px 50%;
			}

			&.file-saved {
				background-image: url(../images/common/check.png);
			}
		}
	}

	.upload-file {
		border-color: #CCC;
		font-weight: bold;
		text-shadow: 1px 1px #FFF;

		.file-title {
			font-weight: bold;
		}

		&.upload-complete.file-saved {
			background-color: #B4DDAD;
			font-weight: bold;

			opacity: 0.6;
		}
	}

	.upload-list .upload-file.upload-complete.selected, .upload-list .upload-file.upload-complete.pending-file.selected {
		background-color: #D3E8F1;
		border-color: #38F;
		color: #047;
		text-shadow: 1px 1px #FFF;
	}

	.upload-list-info h4 {
		font-size: 1.3em;
	}

	.cancel-button {
		background-color: #800;
		background-image: url(../images/common/delete.png);
		background-repeat: no-repeat;
		color: #FFF;
		text-shadow: 1px 1px #500;
	}

	.delete-button {
		background-image: url(../images/portlet/close.png);
		background-repeat: no-repeat;
		font-size: 0;
	}

	.pending-file {
		background-color: #E0E0E0;
		color: #777;
		text-shadow: -1px -1px #FFF;
	}

	.file-added .success-message {
		font-weight: normal;
	}

	.upload-error {
		opacity: 1;
	}

	.multiple-files .upload-error {
		background-color: #FDD;
		background-image: url(../images/messages/error.png);
		border-color: #900;
		color: #900;
		font-weight: normal;
	}

	.upload-complete {
		.error-message, .success-message {
			font-weight: bold;
		}
	}

	.file-uploading {
		background-color: #FFC;
	}

	.progress-bar {
		background: #FFF;
		border-color: #83A8D9;
	}

	.progress {
		background: #8DB2E3;
	}
}

.upload-drop-active .lfr-upload-container .upload-target {
	background-color: #DDEDDE;
	border-color: #7D7;
	border-style: dashed;
}