.lfr-source-editor {
	border: solid 0 transparent;
	border-bottom-width: 2px;
	padding-right: 30px;
	position: relative;

	.ace_editor {
		height: 100%;
	}

	.lfr-source-editor-toolbar {
		padding: 0;
		position: absolute;
		right: 0;
		text-align: center;
		top: 0;
		width: 30px;

		li {
			list-style-type: none;

			.btn {
				padding: 0 5px;
			}
		}
	}
}

.lfr-fulscreen-source-editor-dialog .modal-footer {
	text-align: left;
}

.lfr-fullscreen-source-editor {
	height: 100%;
	overflow: hidden;

	.lfr-fullscreen-source-editor-header {
		height: 5%;
		min-height: 5%;

		.layout-selector {
			text-align: right;

			span {
				cursor: pointer;
				font-size: 12px;
				margin: 0 5px;
			}
		}
	}

	.lfr-fullscreen-source-editor-content {
		height: 95%;
		position: relative;

		.panel-splitter {
			border: 1px solid transparent;
			position: absolute;
		}

		.preview-panel {
			display: inline-block;
			overflow-y: auto;
			padding-left: 20px;
		}

		.source-panel {
			display: inline-block;
		}

		&.vertical {
			.source-panel, .preview-panel  {
				height: 100%;
				width: 50%;
			}

			.panel-splitter {
				height: 100%;
				left: 50%;
				top: 0;
			}
		}

		&.horizontal {
			.source-panel, .preview-panel  {
				height: 50%;
				width: 100%;
			}

			.panel-splitter {
				top: 50%;
				width: 100%;
			}
		}

		&.simple {
			.panel-splitter, .preview-panel  {
				display: none;
			}

			.source-panel {
				height: 100%;
				width: 100%;
			}
		}
	}
}