{namespace ImageEditorFilterControls}

/**
 * ImageEditor.Controls "filter" implementation.
 */
{deltemplate ImageEditor.Controls variant="'filter'"}
	{call ImageEditorFilterComponent.render data="all" /}
{/deltemplate}

/**
 * Empty .render placeholder. Necessary for metal-cli AOP.
 */
{template .render}
{/template}