.loadingmask-content {
	background: #CCC;
}

.loadingmask-message {
	background: transparent;
	border: none;
	height: 100%;
	left: 50% !important;
	padding: 0;
	position: absolute;
	top: 50% !important;
	width: 100%;

	.loadingmask-message-content {
		background-position-x: 0;
		background-size: 64px;
		border-radius: 50%;
		border: none;
		height: 64px;
		overflow: hidden;
		padding: 64px 0 0;
		width: 64px;

		@include transform(translate(-50%, -50%));
	}
}