.product-menu {
	background-color: $product-menu-body-bg;

	.company-details .company-logo {
		max-height: 25px;
		max-width: 25px;
		vertical-align: text-top;
	}
}

.product-menu {
	.collapse-icon:before {
		right: 25px;
	}
}

.product-menu {
	.lfr-icon-menu .btn-default {
		background-color: transparent;

		&:active {
			box-shadow: none;
			color: $product-menu-nav-link-color;
		}
	}
}

.product-menu {
	.nav a {
		color: $product-menu-nav-link-color;
	}

	.nav-equal-height {
		.nav > .active, > .active {
			border-left: 2px solid $product-menu-nav-link-active-color;
		}

		> .active > a, .nav > .active > a {
			&, &:focus, &:hover {
				color: $product-menu-nav-link-active-color;
			}
		}

		> .active, .nav > .active {
			border-left-color: $product-menu-nav-link-active-color;
		}
	}

	.nav-equal-height-heading {
		&:focus, &:hover {
			background-color: transparent;
		}

		.collapse-icon {
			&:after, &.collapsed:after {
				background-color: $product-menu-collapse-icon-bg;
				height: 12px;
			}

			&:before {
				color: $product-menu-nav-link-color;
				content: $product-menu-nav-equal-height-heading-open-collapse-icon;
				font-size: 15px;
				left: -8px;
			}

			&.collapsed:before {
				content: $product-menu-nav-equal-height-heading-closed-collapse-icon;
			}
		}
	}

	.nav-nested-margins > li .nav > li {
		border-left: 2px solid $product-menu-nav-link-color;

		.nav > li {
			border-left: 1px dotted $product-menu-nav-link-color;

			&.active {
				border-left: 1px solid $product-menu-nav-link-active-color;

				> a {
					color: $product-menu-nav-link-active-color;
				}
			}
		}
	}
}

.product-menu {
	.sidebar-header {
		background-color: $product-menu-header-bg;
		border-bottom: 1px solid $product-menu-header-border;
		color: $product-menu-header-color;

		a {
			color: $product-menu-header-link-color;

			&:focus, &:hover {
				color: $product-menu-header-link-hover-color;
			}
		}
	}
}

.product-menu {
	a.list-group-heading, button.list-group-heading, .list-group-heading[data-toggle="collapse"] {
		color: $product-menu-list-group-heading-color;
	}

	.list-group {
		box-shadow: none;
		margin-bottom: 0;
	}

	.list-group-heading,
	.panel-title > .panel-toggler {
		padding: 10px 40px;
		line-height: 32px;
	}

	.list-group-heading {
		background-color: $product-menu-list-group-heading-bg;
		border-color: transparent;
		font-weight: 500;

		&:after {
			background-color: $product-menu-list-group-heading-border;
			height: $product-menu-list-group-heading-border-width;
		}

		&.collapsed {
			font-weight: 300;
		}
	}

	.list-group-heading.collapsed {
		background-color: $product-menu-list-group-heading-collapsed-bg;

		&:after {
			background-color: $product-menu-list-group-heading-collapsed-border;
			height: $product-menu-list-group-heading-collapsed-border-width;
		}
	}

	.list-group-heading,
	.list-group-heading.collapsed {
		&:focus, &:hover {
			background-color: $product-menu-list-group-heading-hover-bg;

			&:after {
				background-color: $product-menu-list-group-heading-hover-border;
			}
		}
	}

	.list-group-item {
		border-width: $product-menu-list-group-item-border-width;
		padding: 10px 40px;
	}

	.collapse, .collapsing {
		> .list-group-item {
			background-color: $product-menu-list-group-item-bg;
		}
	}

	.nav > li > a {
		&:focus, &:hover {
			background-color: transparent;
		}
	}
}

.product-menu {
	.panel {
		background-color: transparent;
		border-bottom: 1px solid $product-menu-header-border;
		border-left-width: 0;
		border-radius: 0;
		border-right-width: 0;
		border-top-width: 0;
		box-shadow: none;
		color: $product-menu-nav-link-color;
	}

	.panel-body {
		background-color: $product-menu-panel-body-bg;
		padding: 0;
	}

	.panel-group {
		margin-bottom: 0;

		.panel + .panel {
			margin-top: 0;
		}

		.panel-heading + .panel-collapse {
			> .panel-body, > .list-group {
				border-top-width: 0;
			}
		}
	}

	.panel-heading {
		padding: 0;
		position: relative;
	}
}

.product-menu {
	.site-administration-toolbar {
		margin-bottom: 0;
		padding: 10px 15px 10px 25px;

		a {
			color: $product-menu-site-administration-link-color;
		}

		.active a {
			background-color: $product-menu-site-administration-link-active-bg;
			border-radius: $product-menu-site-administration-link-active-border-radius;
			color: $product-menu-site-administration-link-active-color;
		}

		.site-administration-title {
			color: $product-menu-site-administration-color;
		}
	}
}

.product-menu {
	.user-icon, .sticker {
		display: inline-block;
		margin-right: 5px;
		position: static;
		vertical-align: middle;
	}

	.icon-sites {
		position: absolute;
		right: 46px;
		top: 9px;
		z-index: 1;
	}
}

.product-menu {
	li.tree-node .tree-node-content {
		overflow: visible;
		width: 100%;
	}

	.layout-tree-edit {
		position: absolute;
		right: -15px;
	}

	.lfr-tree {
		li {
			margin-bottom: 0;
		}

		li.tree-node .tree-node-content .tree-label {
			display: inline-block;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100%;
		}

		.icon-file {
			display: none;
		}
	}

	.tree-container {
		border-left: $product-menu-tree-border-width $product-menu-tree-border-style $product-menu-tree-border;
		margin-left: 10px;

		.tree-container {
			margin-left: 20px;
		}

		.tree-node-selected {
			box-shadow: -$product-menu-tree-border-width 0 0 0 $product-menu-tree-active-border;
			color: $product-menu-tree-active-color;
		}
	}

	.tree-hitarea {
		background-color: $product-menu-tree-hitarea-bg;
		border-radius: 3px;
		display: inline-block;
		line-height: 14px;
		margin-left: -11px;
		margin-top: -8px;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 14px;
	}

	.tree-label {
		line-height: normal;
	}

	.tree-node [class^="icon-"] {
		margin-right: 0;
	}

	.tree-node-content {
		color: $product-menu-tree-color;
		padding-bottom: 10px;
		padding-left: 3px;
		padding-right: 25px;
		padding-top: 11px;
		position: relative;

		.tree-hitarea {
			color: $product-menu-tree-hitarea-color;
			padding-right: 0;
		}

		.tree-label {
			margin-left: 12px;
		}
	}

	.tree-node-selected .tree-hitarea {
		background-color: $product-menu-tree-active-hitarea-bg;
	}

	.tree-pages .tree-node-selected .tree-label a {
		color: $product-menu-tree-active-color;
		cursor: pointer;
	}

	.tree-root-container {
		margin-left: 0;
	}

	.tree-view {
		overflow: visible;
	}
}