/* ---------- Dialogs ---------- */

$dialog-footer-padding: 20px !default;
$dialog-iframe-padding: 0 !default;

/* ---------- Labels ---------- */

$label-circle-border-radius: 20px !default;
$label-rounded-border-radius: 3px !default;
$label-square-border-radius: 0 !default;

$label-entry-bg: #FFF !default;
$label-entry-border-color: #000 !default;
$label-entry-border-width: 1px !default;
$label-entry-button-height: $input-height-base !default;
$label-entry-button-width: $input-height-base !default;
$label-entry-color: #000 !default;
$label-entry-font-size: 14px !default;
$label-entry-padding: 0 0 0 12px !default;

/* ---------- Product menu ---------- */

$product-menu-body-bg: #18272E !default;

$product-menu-collapse-icon-bg: #1A2126 !default;

$product-menu-header-bg: #18272E !default;
$product-menu-header-border: #26363F !default;
$product-menu-header-color: #FFF !default;
$product-menu-header-link-color: #FFF !default;
$product-menu-header-link-hover-color: $product-menu-header-link-color !default;

$product-menu-list-group-heading-bg: transparent !default;
$product-menu-list-group-heading-border: transparent !default;
$product-menu-list-group-heading-border-width: 0 !default;

$product-menu-list-group-heading-collapsed-bg: transparent !default;
$product-menu-list-group-heading-collapsed-border: transparent !default;
$product-menu-list-group-heading-collapsed-border-width: 0 !default;

$product-menu-list-group-heading-color: #FFF !default;

$product-menu-list-group-heading-hover-bg: $product-menu-list-group-heading-bg !default;
$product-menu-list-group-heading-hover-border: $product-menu-list-group-heading-border !default;

$product-menu-list-group-item-bg: transparent !default;
$product-menu-list-group-item-border-width: 0 !default;

$product-menu-nav-equal-height-heading-closed-collapse-icon: '\f0fe' !default;
$product-menu-nav-equal-height-heading-open-collapse-icon: '\f146' !default;

$product-menu-nav-link-active-color: #FFF !default;
$product-menu-nav-link-color: #FFF !default;

$product-menu-panel-body-bg: #213740 !default;

$product-menu-site-administration-color: #FFF !default;
$product-menu-site-administration-link-active-bg: #3A4D5A !default;
$product-menu-site-administration-link-active-border-radius: 4px !default;
$product-menu-site-administration-link-active-color: #88C37C !default;
$product-menu-site-administration-link-color: $product-menu-nav-link-color !default;

$product-menu-tree-active-border: #FFF;
$product-menu-tree-active-color: #FFF;
$product-menu-tree-active-hitarea-bg: #FFF;

$product-menu-tree-border: #869CAD;
$product-menu-tree-border-style: solid;
$product-menu-tree-border-width: 2px;
$product-menu-tree-color: #FFF;
$product-menu-tree-hitarea-bg: #FFF;
$product-menu-tree-hitarea-color: #1A2126;

/* ---------- Toggle card ---------- */

$toggle-card-border-radius: 2px !default;

$toggle-card-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15) !default;

$toggle-card-icon-border-radius: 30px !default;
$toggle-card-icon-height: 32px !default;
$toggle-card-icon-width: 32px !default;

$toggle-card-border: #DCE0E3 !default;
$toggle-card-border-width: 1px !default;
$toggle-card-icon-bg: #FFF !default;
$toggle-card-icon-border: #869CAD !default;
$toggle-card-icon-border-width: 0 !default;

$toggle-card-on-border: #65B6F0 !default;
$toggle-card-on-border-width: 2px !default;
$toggle-card-on-icon-bg: #FFF !default;
$toggle-card-on-icon-border: #65B6F0 !default;
$toggle-card-on-icon-border-width: 0 !default;

/* ---------- File icons colors ---------- */

$file-icon-color-0: #869CAD !default;
$file-icon-color-1: #ED8D65 !default;
$file-icon-color-2: #84BA3D !default;
$file-icon-color-3: #9B65ED !default;
$file-icon-color-4: #D4B908 !default;
$file-icon-color-5: #E96465 !default;
$file-icon-color-6: #65B4Ed !default;
$file-icon-color-7: #1C0C0C !default;

/* ---------- User icons colors ---------- */

$user-icon-color-0: #4C0079 !default;
$user-icon-color-1: #FD8300 !default;
$user-icon-color-2: #009E57 !default;
$user-icon-color-3: #F9B500 !default;
$user-icon-color-4: #DF4230 !default;
$user-icon-color-5: #BE67E5 !default;
$user-icon-color-6: #004B8D !default;
$user-icon-color-7: #ACCB02 !default;
$user-icon-color-8: #A82003 !default;
$user-icon-color-9: #FD63A7 !default;