#macro(css $file_name)
	#set ($file_id = "")

	#if ($file_name == $css_main_file)
		#set ($file_id = "mainLiferayThemeCSS")
	#end

	<link class="lfr-css-file" href="$file_name" id="$file_id" rel="stylesheet" type="text/css" />
#end

#macro(js $file_name)
	#set ($file_id = "")

	#if ($file_name == $js_main_file)
		#set ($file_id = "mainLiferayThemeJavaScript")
	#end

	<script id="$file_id" src="$file_name" type="text/javascript"></script>
#end

#macro(language $lang_key)
$languageUtil.get($company.getCompanyId(), $locale, $lang_key)#end

#macro(date $date_format)
$dateUtil.getCurrentDate($date_format, $locale)#end