var simulationToggle = $('#${portletNamespace}simulationToggleId');

simulationToggle.sideNavigation();

var simulationPanel = $('#${portletNamespace}simulationPanelId');

simulationPanel.on(
	'open.lexicon.sidenav',
	function(event) {
		Liferay.fire('SimulationMenu:openSimulationPanel');
	}
);

simulationPanel.on(
	'closed.lexicon.sidenav',
	function(event) {
		Liferay.fire('SimulationMenu:closeSimulationPanel');
	}
);

Liferay.once(
	'screenLoad',
	function() {
		var sideNavigation = simulationToggle.data('lexicon.sidenav');

		if (sideNavigation) {
			sideNavigation.destroy();
		}
	}
);