<li class="control-menu-nav-item hidden-xs simulation-icon">
	<a class="control-menu-icon lfr-portal-tooltip product-menu-toggle sidenav-toggler" data-content="body" data-open-class="lfr-has-simulation-panel open-admin-panel" data-qa-id="simulation" data-target="#${portletNamespace}simulationPanelId" data-title="${title}" data-toggle="sidenav" data-type="fixed-push" data-type-mobile="fixed" data-url="${simulationPanelURL}" href="javascript:;" id="${portletNamespace}simulationToggleId">
		${iconTag}
	</a>
</li>