.lfr-item-viewer {
	.image-viewer-base {
		outline: none;
	}

	.image-viewer-footer-content .image-viewer-footer-control {
		color: #777;
	}

	.item-preview:hover {
		cursor: pointer;
	}

	.aspect-ratio  a.item-preview {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

.lfr-item-viewer-close {
	color: #FFF;
}

.image-viewer-base-image-info, .lfr-item-viewer-icon-info {
	color: #CCC;
}