input.switch {
	float: left;
	font-size: 62.5%;
	margin-left: -999em;

	&:empty ~ .switch-bar {
		cursor: pointer;
		display: block;
		font-size: 1.2rem;
		line-height: 2.6rem;
		min-height: 2.6rem;
		position: relative;

		@include user-select(none);

		text-indent: 5rem;

		&:after, &:before {
			background-color: #DDD;
			bottom: 0;
			content: ' ';
			display: block;
			left: 0;
			position: absolute;
			top: 0;
			width: 4.4rem;
		}

		&:after {
			background-color: #FFF;
			bottom: 0.4rem;
			left: 0.4rem;
			top: 0.4rem;
			width: 1.8rem;
		}

		.switch-toggle:after {
			content: attr(data-label-off);
			text-transform: uppercase;
		}

		.switch-icon {
			color: #FFF;
			font-size: 1.4rem;
			left: 0.4rem;
			line-height: 1.8rem;
			position: absolute;
			text-align: center;
			text-indent: 0;
			top: 0.4rem;
			width: 1.8rem;
			z-index: 1;
		}

		.button-icon {
			color: #DDD;
		}

		.button-icon-on, .switch-icon-on {
			opacity: 0;
		}

		.switch-icon-on {
			left: 0.2rem;
		}

		.switch-icon-off {
			left: 2.4rem;
		}
	}

	&:checked ~ .switch-bar {
		&:after {
			left: 2.2rem;
		}

		&:before {
			background-color: #1E9C38;
		}

		.switch-toggle:after {
			content: attr(data-label-on);
		}

		.button-icon {
			left: 2.2rem;
		}

		.button-icon-on, .switch-icon-on {
			opacity: 1;
		}

		.button-icon-off, .switch-icon-off {
			opacity: 0;
		}
	}

	&:disabled ~ .switch-bar {
		cursor: auto;
		opacity: 0.4;
	}
}