.tagselector-content {
	border-width: 0;
	margin-bottom: 15px;
	overflow: visible;
	padding: 0;

	.textboxlistentry-holder {
		background: #FFF;
		border: 1px solid #CCC;
		margin-bottom: 5px;
		overflow: visible;
		padding: 5px;
		position: relative;

		li {
			line-height: 1;
		}

		.lfr-tag-selector-input {
			border-width: 0;
			margin-bottom: 0;
		}
	}

	.textboxlistentry-remove {
		padding: 0 3px 1px;
	}
}

.tagselector {
	.lfr-tags-selector-content {
		border-width: 0;
	}

	.lfr-tag-selector-input {
		background: none;
		padding: 0;
		width: auto;
	}

	.field .field-content {
		margin: 0;
	}

	.textboxlist-input-container {
		margin: 0;
	}
}

.tagselector-focused .textboxlistentry-holder {
	background: #FFF none;
	border: 1px solid #CCC;
}

.categoriesselector-content .textboxlistentry-holder {
	background-color: transparent;
	border-width: 0;
	padding: 0;
}