/*/*/*/*/*/*/*/*/*/favicon.ico
/*/*/*/*/*/*/*/*/*/portal/aui_deprecated.css
/*/*/*/*/*/.classpath
/*/*/*/*/*/.js-cache
/*/*/*/*/*/.project
/*/*/*/*/*/bin
/*/*/*/*/*/bower_components
/*/*/*/*/*/build
/*/*/*/*/*/classes
/*/*/*/*/*/docroot/WEB-INF/classes
/*/*/*/*/*/docroot/WEB-INF/lib
/*/*/*/*/*/docroot/WEB-INF/tld
/*/*/*/*/*/genesis
/*/*/*/*/*/javadoc
/*/*/*/*/*/lib
/*/*/*/*/*/node_modules
/*/*/*/*/*/test-classes
/*/*/*/*/*/test-coverage
/*/*/*/*/*/test-results
/*/*/*/*/*/tmp
/*/*/*/*/.classpath
/*/*/*/*/.js-cache
/*/*/*/*/.project
/*/*/*/*/bin
/*/*/*/*/bower_components
/*/*/*/*/build
/*/*/*/*/classes
/*/*/*/*/docroot/WEB-INF/classes
/*/*/*/*/docroot/WEB-INF/lib
/*/*/*/*/docroot/WEB-INF/tld
/*/*/*/*/javadoc
/*/*/*/*/lib
/*/*/*/*/node_modules
/*/*/*/*/test-classes
/*/*/*/*/test-coverage
/*/*/*/*/test-results
/*/*/*/*/tmp
/*/*/*/.classpath
/*/*/*/.js-cache
/*/*/*/.project
/*/*/*/bin
/*/*/*/bower_components
/*/*/*/build
/*/*/*/classes
/*/*/*/docroot/WEB-INF/classes
/*/*/*/docroot/WEB-INF/lib
/*/*/*/docroot/WEB-INF/tld
/*/*/*/javadoc
/*/*/*/lib
/*/*/*/node_modules
/*/*/*/test-classes
/*/*/*/test-coverage
/*/*/*/test-results
/*/*/*/tmp
/*/*/.classpath
/*/*/.js-cache
/*/*/.project
/*/*/bin
/*/*/bower_components
/*/*/build
/*/*/classes
/*/*/docroot/WEB-INF/classes
/*/*/docroot/WEB-INF/lib
/*/*/docroot/WEB-INF/tld
/*/*/javadoc
/*/*/lib
/*/*/node_modules
/*/*/test-classes
/*/*/test-coverage
/*/*/test-results
/*/*/tmp
/apps/foundation/frontend/frontend-theme/*/build_gradle
/apps/foundation/frontend/frontend-theme/*/dist
/apps/foundation/frontend/frontend-theme/*/liferay-theme.json
npm-debug.log
uptodate.properties