/*/*/*/*/*/*/*/*/favicon.ico
/*/*/*/*/*/*/*/portal/aui_deprecated.css
/*/*/*/*/*/*/*/portal/bootstrap.css
/*/*/*/*/*/genesis
/*/*/*/*/.classpath
/*/*/*/*/.js-cache
/*/*/*/*/.project
/*/*/*/*/bin
/*/*/*/*/bower_components
/*/*/*/*/build
/*/*/*/*/classes
/*/*/*/*/docroot/WEB-INF/classes
/*/*/*/*/docroot/WEB-INF/lib
/*/*/*/*/docroot/WEB-INF/tld
/*/*/*/*/javadoc
/*/*/*/*/lib
/*/*/*/*/node_modules
/*/*/*/*/test-classes
/*/*/*/*/test-coverage
/*/*/*/*/test-results
/*/*/*/*/tmp
/*/*/*/.classpath
/*/*/*/.js-cache
/*/*/*/.project
/*/*/*/bin
/*/*/*/bower_components
/*/*/*/build
/*/*/*/classes
/*/*/*/docroot/WEB-INF/classes
/*/*/*/docroot/WEB-INF/lib
/*/*/*/docroot/WEB-INF/tld
/*/*/*/javadoc
/*/*/*/lib
/*/*/*/node_modules
/*/*/*/test-classes
/*/*/*/test-coverage
/*/*/*/test-results
/*/*/*/tmp
/*/*/.classpath
/*/*/.js-cache
/*/*/.project
/*/*/bin
/*/*/bower_components
/*/*/build
/*/*/classes
/*/*/docroot/WEB-INF/classes
/*/*/docroot/WEB-INF/lib
/*/*/docroot/WEB-INF/tld
/*/*/javadoc
/*/*/lib
/*/*/node_modules
/*/*/test-classes
/*/*/test-coverage
/*/*/test-results
/*/*/tmp
/themes/*/build_gradle
/themes/*/dist
/themes/*/liferay-theme.json
npm-debug.log
uptodate.properties