/*/*/bin
/*/*/docroot/WEB-INF/classes
/*/*/docroot/WEB-INF/lib
/*/*/docroot/WEB-INF/tld
/*/*/classes
/*/*/ivy.xml.MD5
/*/*/javadoc
/*/*/lib
/*/*/test-classes
/*/*/test-results
/*/*/tmp
/*/*/*/bin
/*/*/*/docroot/WEB-INF/classes
/*/*/*/docroot/WEB-INF/lib
/*/*/*/docroot/WEB-INF/tld
/*/*/*/classes
/*/*/*/ivy.xml.MD5
/*/*/*/javadoc
/*/*/*/lib
/*/*/*/test-classes
/*/*/*/test-results
/*/*/*/tmp
/*/*/*/*/bin
/*/*/*/*/docroot/WEB-INF/classes
/*/*/*/*/docroot/WEB-INF/lib
/*/*/*/*/docroot/WEB-INF/tld
/*/*/*/*/classes
/*/*/*/*/ivy.xml.MD5
/*/*/*/*/javadoc
/*/*/*/*/lib
/*/*/*/*/test-classes
/*/*/*/*/test-results
/*/*/*/*/tmp