!/sql/update-*.sql
**/.gradle
**/.settings
**/.sonar
**/liferay/logs/*.log
**/liferay/logs/*.xml
**/pmd-reports
*.bak
*.iml
*.ipr
*.iws
*.swp
*~
.ant-targets-build.xml
.ant_targets
.gh.json
.sass-cache
.sass_cache_*.css
/*.ant-*
/*.ipr
/*.iws
/*.patch
/*.sublime-*
/.bnd
/.checkstyle
/.idea
/.m2
/.sonar
/.xmlcatalog
/ActiveMQ
/ant.install.log
/api
/app.server.*.properties
/baseline-reports
/benchmarks/*.csv
/benchmarks/*.sql
/benchmarks/lib
/benchmarks/log
/bin
/build
/build.*.properties
/classes/Test.class
/dist
/intellij
/lib/development/activation.jar
/lib/development/alloy-taglib.jar
/lib/development/annotations.jar
/lib/development/ant-apache-bsf.jar
/lib/development/appium.jar
/lib/development/catalina.jar
/lib/development/cobertura.jar
/lib/development/com.liferay.ant.bnd.jar
/lib/development/db2jcc.jar
/lib/development/db2jcc_license_cu.jar
/lib/development/deployment.jar
/lib/development/dtddoc.jar
/lib/development/dtdparser.jar
/lib/development/dumbster.jar
/lib/development/error-prone-ant.jar
/lib/development/freemarker.jar
/lib/development/gson.jar
/lib/development/hamcrest-core.jar
/lib/development/hamcrest-library.jar
/lib/development/hsql.jar
/lib/development/j2h.jar
/lib/development/jalopy.jar
/lib/development/jargs.jar
/lib/development/jarjar.jar
/lib/development/jasper.jar
/lib/development/jaxb-api.jar
/lib/development/jbi_rt.jar
/lib/development/jetty-server.jar
/lib/development/jetty-util.jar
/lib/development/jms.jar
/lib/development/jndi.jar
/lib/development/jsch.jar
/lib/development/jserrorcollector.jar
/lib/development/jsonassert.jar
/lib/development/jsp-api.jar
/lib/development/jta.jar
/lib/development/junit.jar
/lib/development/jutf7.jar
/lib/development/mail.jar
/lib/development/mariadb.jar
/lib/development/maven-ant-tasks.jar
/lib/development/mockito.jar
/lib/development/mysql.jar
/lib/development/objenesis.jar
/lib/development/ojdbc14.jar
/lib/development/ojdbc5.jar
/lib/development/ojdbc6.jar
/lib/development/p6spy.jar
/lib/development/persistence.jar
/lib/development/postgresql.jar
/lib/development/powermock-api-mockito.jar
/lib/development/powermock-api-support.jar
/lib/development/powermock-core.jar
/lib/development/powermock-module-junit4.jar
/lib/development/powermock-module-junit4-common.jar
/lib/development/powermock-reflect.jar
/lib/development/qdox.jar
/lib/development/resin.jar
/lib/development/saxpath.jar
/lib/development/sdk-addon-api-0.2.jar
/lib/development/servlet-api.jar
/lib/development/slf4j-simple.jar
/lib/development/smtp.jar
/lib/development/spring-instrument.jar
/lib/development/spring-instrument-tomcat.jar
/lib/development/spring-test.jar
/lib/development/tlddoc.jar
/lib/development/tomcat-api.jar
/lib/development/tomcat-coyote.jar
/lib/development/velocity.jar
/lib/development/velocity-tools.jar
/lib/development/websocket-api.jar
/lib/development/xmlresolver.jar
/lib/global/portlet.jar
/lib/portal/abdera.jar
/lib/portal/ant.jar
/lib/portal/antlr2.jar
/lib/portal/antlr3-runtime.jar
/lib/portal/antlr3.jar
/lib/portal/aopalliance.jar
/lib/portal/asm-debug-all.jar
/lib/portal/aspectj-rt.jar
/lib/portal/aspectj-weaver.jar
/lib/portal/axiom-api.jar
/lib/portal/axiom-impl.jar
/lib/portal/axis-ant.jar
/lib/portal/bcmail.jar
/lib/portal/bcprov.jar
/lib/portal/boilerpipe.jar
/lib/portal/bsf.jar
/lib/portal/c3p0.jar
/lib/portal/ccpp.jar
/lib/portal/ccpp-ri.jar
/lib/portal/cglib-nodep.jar
/lib/portal/chardet.jar
/lib/portal/chemistry-opencmis-client-api.jar
/lib/portal/chemistry-opencmis-client-bindings.jar
/lib/portal/chemistry-opencmis-client-impl.jar
/lib/portal/chemistry-opencmis-commons-api.jar
/lib/portal/chemistry-opencmis-commons-impl.jar
/lib/portal/closure-compiler.jar
/lib/portal/commons-beanutils.jar
/lib/portal/commons-chain.jar
/lib/portal/commons-codec.jar
/lib/portal/commons-collections.jar
/lib/portal/commons-compress.jar
/lib/portal/commons-configuration.jar
/lib/portal/commons-dbcp.jar
/lib/portal/commons-digester.jar
/lib/portal/commons-discovery.jar
/lib/portal/commons-email.jar
/lib/portal/commons-exec.jar
/lib/portal/commons-fileupload.jar
/lib/portal/commons-httpclient.jar
/lib/portal/commons-io.jar
/lib/portal/commons-lang.jar
/lib/portal/commons-logging.jar
/lib/portal/commons-math.jar
/lib/portal/commons-pool.jar
/lib/portal/commons-validator.jar
/lib/portal/concurrent.jar
/lib/portal/crypt.jar
/lib/portal/daisydiff.jar
/lib/portal/displaytag.jar
/lib/portal/dom4j.jar
/lib/portal/easyconf.jar
/lib/portal/eclipse-core-runtime.jar
/lib/portal/ecs.jar
/lib/portal/fontbox.jar
/lib/portal/freshcookies-security.jar
/lib/portal/gif89.jar
/lib/portal/hessian.jar
/lib/portal/hibernate-commons-annotations.jar
/lib/portal/hibernate-core.jar
/lib/portal/hikaricp.jar
/lib/portal/htmlparser.jar
/lib/portal/httpclient.jar
/lib/portal/httpcore.jar
/lib/portal/httpmime.jar
/lib/portal/ical4j.jar
/lib/portal/im4java.jar
/lib/portal/isoparser.jar
/lib/portal/jabsorb.jar
/lib/portal/jai_codec.jar
/lib/portal/jai_core.jar
/lib/portal/jakarta-regexp.jar
/lib/portal/java-diff.jar
/lib/portal/java-libpst.jar
/lib/portal/javassist.jar
/lib/portal/jaxb-impl.jar
/lib/portal/jaxen.jar
/lib/portal/jaxrpc.jar
/lib/portal/jaxws-rt.jar
/lib/portal/jazzy.jar
/lib/portal/jcifs.jar
/lib/portal/jcl-over-slf4j.jar
/lib/portal/jcommon.jar
/lib/portal/jdom.jar
/lib/portal/jempbox.jar
/lib/portal/jena.jar
/lib/portal/jericho-html.jar
/lib/portal/jfreechart.jar
/lib/portal/jhighlight.jar
/lib/portal/jhlabs-filters.jar
/lib/portal/jmatio.jar
/lib/portal/jna.jar
/lib/portal/jodconverter.jar
/lib/portal/jodd-bean.jar
/lib/portal/jodd-core.jar
/lib/portal/jodd-http.jar
/lib/portal/jodd-json.jar
/lib/portal/jodd-proxetta.jar
/lib/portal/jodd-servlet.jar
/lib/portal/jodd-upload.jar
/lib/portal/json-java.jar
/lib/portal/json-schema-validator.jar
/lib/portal/jrcs-diff.jar
/lib/portal/jsr107cache.jar
/lib/portal/jstl-api.jar
/lib/portal/jstl-impl.jar
/lib/portal/juh.jar
/lib/portal/juniversalchardet.jar
/lib/portal/jurt.jar
/lib/portal/kxml2.jar
/lib/portal/liferay-icu4j.jar
/lib/portal/log4j.jar
/lib/portal/log4j-extras.jar
/lib/portal/mchange-commons-java.jar
/lib/portal/metadata-extractor.jar
/lib/portal/mime4j-core.jar
/lib/portal/mime4j-dom.jar
/lib/portal/mimepull.jar
/lib/portal/monte-cc.jar
/lib/portal/nekohtml.jar
/lib/portal/netcdf.jar
/lib/portal/netty-all.jar
/lib/portal/ridl.jar
/lib/portal/odmg.jar
/lib/portal/oro.jar
/lib/portal/pdfbox.jar
/lib/portal/poi-ooxml.jar
/lib/portal/poi-ooxml-schemas.jar
/lib/portal/poi-scratchpad.jar
/lib/portal/poi.jar
/lib/portal/portals-bridges.jar
/lib/portal/rdffilter.jar
/lib/portal/rhino.jar
/lib/portal/rome.jar
/lib/portal/rometools.jar
/lib/portal/saaj-api.jar
/lib/portal/saaj-impl.jar
/lib/portal/scribe.jar
/lib/portal/serializer.jar
/lib/portal/simplecaptcha.jar
/lib/portal/slf4j-api.jar
/lib/portal/soap.jar
/lib/portal/spring-aop.jar
/lib/portal/spring-aspects.jar
/lib/portal/spring-beans.jar
/lib/portal/spring-context.jar
/lib/portal/spring-context-support.jar
/lib/portal/spring-core.jar
/lib/portal/spring-expression.jar
/lib/portal/spring-jdbc.jar
/lib/portal/spring-jms.jar
/lib/portal/spring-orm.jar
/lib/portal/spring-oxm.jar
/lib/portal/spring-tx.jar
/lib/portal/spring-web.jar
/lib/portal/spring-webmvc.jar
/lib/portal/spring-webmvc-portlet.jar
/lib/portal/stax-ex.jar
/lib/portal/stax.jar
/lib/portal/streambuffer.jar
/lib/portal/stringtemplate.jar
/lib/portal/struts-core.jar
/lib/portal/struts-el.jar
/lib/portal/struts-extras.jar
/lib/portal/struts-taglib.jar
/lib/portal/struts-tiles.jar
/lib/portal/tagsoup.jar
/lib/portal/tika-core.jar
/lib/portal/tika-parsers.jar
/lib/portal/tomcat-jdbc.jar
/lib/portal/tomcat-juli.jar
/lib/portal/truezip.jar
/lib/portal/unoil.jar
/lib/portal/urlrewritefilter.jar
/lib/portal/vorbis-java-core.jar
/lib/portal/vorbis-java-tika.jar
/lib/portal/wsdl4j.jar
/lib/portal/wstx.jar
/lib/portal/xalan.jar
/lib/portal/xbean-spring.jar
/lib/portal/xbean.jar
/lib/portal/xercesImpl.jar
/lib/portal/xml-apis.jar
/lib/portal/xmlsec.jar
/lib/portal/xmpcore.jar
/lib/portal/xpp3.jar
/lib/portal/xstream.jar
/lib/portal/xuggle-xuggler-noarch.jar
/lib/portal/xz.jar
/lib/portal/yui-compressor.jar
/nbproject/private
/out
/portal-client/*.ipr
/portal-client/*.iws
/portal-client/classes
/portal-client/portal-client*.asc
/portal-client/portal-client*.jar
/portal-client/src
/portal-impl/*.ipr
/portal-impl/*.iws
/portal-impl/classes
/portal-impl/portal-impl*.asc
/portal-impl/portal-impl*.jar
/portal-impl/service.xml
/portal-impl/ServiceBuilder.temp
/portal-impl/src/META-INF/MANIFEST.MF.JOnAS
/portal-impl/src/META-INF/portal-log4j-ext.xml
/portal-impl/src/portal-ext.properties
/portal-impl/src/system-ext.properties
/portal-impl/test-classes
/portal-impl/test-coverage
/portal-impl/test-results
/portal-impl/test/portal-test-ext.properties
/portal-impl/test/test-portal-impl-ext.properties
/portal-impl/woven-classes
/portal-kernel/*.ipr
/portal-kernel/*.iws
/portal-kernel/classes
/portal-kernel/portal-kernel*.asc
/portal-kernel/portal-kernel*.jar
/portal-kernel/test-classes
/portal-kernel/test-coverage
/portal-kernel/test-results
/portal-kernel/woven-classes
/portal-test-integration/*.ipr
/portal-test-integration/*.iws
/portal-test-integration/classes
/portal-test-integration/portal-test-integration*.asc
/portal-test-integration/portal-test-integration*.jar
/portal-test/*.ipr
/portal-test/*.iws
/portal-test/classes
/portal-test/portal-test*.asc
/portal-test/portal-test*.jar
/portal-web/*.ipr
/portal-web/*.iws
/portal-web/build
/portal-web/classes
/portal-web/docroot/aui
/portal-web/docroot/dtd
/portal-web/docroot/html/icons/_sprite.*
/portal-web/docroot/resin-data
/portal-web/docroot/WEB-INF/classes
/portal-web/docroot/WEB-INF/lib
/portal-web/docroot/WEB-INF/liferay-portlet-ext.xml
/portal-web/docroot/WEB-INF/portlet-ext.xml
/portal-web/docroot/WEB-INF/src
/portal-web/docroot/WEB-INF/tld/aui.tld
/portal-web/docroot/WEB-INF/tld/c.tld
/portal-web/docroot/WEB-INF/tld/ddm.tld
/portal-web/docroot/WEB-INF/tld/liferay-*.tld
/portal-web/docroot/WEB-INF/tmp
/portal-web/docroot/wsrp
/portal-web/liferay-portal.war
/portal-web/portal-web.war
/portal-web/portal-web.war.asc
/portal-web/ROOT.war
/portal-web/test-ant-scripts
/portal-web/test-classes
/portal-web/test-output
/portal-web/test-results
/portal-web/test/functional-generated
/portal-web/test/test-portal-web-ext.properties
/rebel.xml
/release.*.properties
/selenium-output
/sql/create
/sql/create-bare
/sql/create-sharded
/sql/indexes
/sql/legacy
/sql/log
/sql/lportal
/sql/lportal*.properties
/sql/lportal*.script
/sql/lportal.gdb
/sql/lportal.jar
/sql/lportal.lck
/sql/lportal.log
/sql/lportal.properties
/sql/lportal.script
/sql/portal
/sql/portal-tables
/sql/sequences
/sql/sql.*.properties
/sql/update-*
/sql/velocity.log*
/support-resin/*.ipr
/support-resin/*.iws
/support-resin/classes
/support-resin/support-resin*.jar
/support-tomcat/*.ipr
/support-tomcat/*.iws
/support-tomcat/classes
/support-tomcat/support-tomcat*.jar
/support-websphere/*.ipr
/support-websphere/*.iws
/support-websphere/classes
/support-websphere/support-websphere*.jar
/svn-revision
/test-coverage
/test-results
/test.*.properties
/tmp
/tools/cobertura-agent/classes
/tools/maven/*.asc
/tools/node*
/tools/sdk
/tools/selenium/*.exe
/tools/selenium/extensions/ide.*.js
/tools/tck
/tools/zip_tmpl/license
/tunnel-web/docroot/WEB-INF/classes
/tunnel-web/docroot/WEB-INF/lib
/tunnel-web/docroot/WEB-INF/remoting-servlet-ext.xml
/tunnel-web/tunnel-web.war
/util-bridges/*.ipr
/util-bridges/*.iws
/util-bridges/classes
/util-bridges/util-bridges*.asc
/util-bridges/util-bridges*.jar
/util-java/*.ipr
/util-java/*.iws
/util-java/classes
/util-java/test-classes
/util-java/test-coverage
/util-java/test-results
/util-java/util-java*.asc
/util-java/util-java*.jar
/util-slf4j/*.ipr
/util-slf4j/*.iws
/util-slf4j/classes
/util-slf4j/test-classes
/util-slf4j/test-results
/util-slf4j/util-slf4j*.asc
/util-slf4j/util-slf4j*.jar
/util-taglib/*.ipr
/util-taglib/*.iws
/util-taglib/classes
/util-taglib/util-taglib*.asc
/util-taglib/util-taglib*.jar
/WEB-INF
_sass_cache_*.css
cobertura.ser

!/.gradle
/.gradle/*
!/.gradle/caches
/.gradle/caches/*
!/.gradle/caches/modules-2
/.gradle/caches/modules-2/*
!/.gradle/caches/modules-2/files-2.1
/.gradle/caches/modules-2/files-2.1/**/*-sources.jar
/.gradle/caches/modules-2/files-2.1/com.liferay.portal/*/*-SNAPSHOT