.management-bar-container {
	overflow: hidden;
	position: relative;

	.management-bar {
		&.management-bar-no-collapse {
			position: absolute;
			left: 0;
			right: 0;
			top: -100%;
			@include transition(all 300ms ease);

			&.on {
				top: 0;
			}
		}

		.form-group {
			margin-bottom: 0;
		}

		.input-select-wrapper {
			margin-top: 10px;

			select {
				border-bottom: 0;
			}
		}
	}
}

.checkbox-default {
	input[type="checkbox"] {
		&.selected-partial {
			&:checked {
				&:after {
					content: "\f068";
				}
			}
		}
	}
}