* [class*="ae-toolbar-"][role="toolbar"] {
	z-index: 501;
}

.alloy-editor {
	overflow: hidden;

	&.alloy-editor-placeholder {
		&:empty:not(:focus):not(.form-control) {
			border-left: 2px solid;
			padding-left: 10px;
		}
	}

	a {
		cursor: auto;
	}

	p:only-child {
		margin-bottom: 0;
	}

	&.form-control {
		height: auto;
	}
}

.alloy-editor-switch {
	position: absolute;
	right: 0;
	top: 0;
}

.alloy-editor-wrapper {
	.lfr-source-editor {
		display: none;
	}

	&.show-source {
		.alloy-editor-placeholder {
			display: none;
		}

		.lfr-source-editor {
			display: block;
		}
	}
}