.alloy-editor {
	&.alloy-editor-placeholder {
		padding-left: 10px;

		&:empty:not(:focus) {
			border-left: 2px solid transparent;
		}
	}

	a {
		cursor: auto;
	}
}

.alloy-editor-switch {
	position: relative;

	.btn {
		bottom: 25px;
		float: right;
		position: relative;
	}
}

.alloy-editor-wrapper {
	.lfr-source-editor {
		display: none;
	}

	&.show-source {
		.alloy-editor-placeholder {
			display: none;
		}

		.lfr-source-editor {
			display: block;
		}
	}
}