app.server.pramati.zip=liferay-portal-pramati-@lp.version@.zip
app.server.pramati.jar=liferay-portal-pramati-@lp.version@.jar

app.server.pramati.java.home=@java.home@
app.server.pramati.dir=@app.server.pramati.dir@