<?xml version="1.0"?>

<project
	xmlns="http://maven.apache.org/POM/4.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd"
>
	<modelVersion>4.0.0</modelVersion>
	<groupId>com.liferay</groupId>
	<artifactId>com.liferay.portal.tools.soy.builder.test</artifactId>
	<version>1.0.0</version>
	<build>
		<plugins>
			<plugin>
				<groupId>com.liferay</groupId>
				<artifactId>com.liferay.portal.tools.soy.builder</artifactId>
				<version>[$SOY_BUILDER_VERSION$]</version>
				<configuration>
					<dir>[$SOY_BUILDER_DIR$]</dir>
					<moduleName>[$SOY_BUILDER_MODULE_NAME$]</moduleName>
					<namespace>[$SOY_BUILDER_NAMESPACE$]</namespace>
				</configuration>
			</plugin>
		</plugins>
	</build>
</project>