<?xml version="1.0"?>
<!DOCTYPE orion-web-app PUBLIC "-//Evermind//DTD Orion Web Application 2.3//EN" "http://www.orionserver.com/dtds/orion-web.dtd">

<orion-web-app development="@app.server.orion.web.xml.development@" file-modification-check-interval="@app.server.orion.web.xml.jsp.check@">
</orion-web-app>