.portal-add-content-search {
	margin-bottom: 8px;
}

.portal-add-content {
	.lfr-portlet-used {
		cursor: default;
	}

	.portlet-msg-info {
		margin-bottom: 0;
		margin-top: 10px;
	}

	.lfr-portlet-used a {
		display: none;
	}
}

.lfr-add-content {
	margin-bottom: 0.5em;

	h2 {
		cursor: pointer;
		margin: 0;

		a {
			display: block;
			padding-left: 20px;
		}
	}
}

.lfr-install-more {
	border-top: 1px solid transparent;
	margin: 10px 0 0;
	padding-top: 10px;

	a {
		display: block;
		padding-left: 20px;
	}
}

.dockbar .lfr-content-category {
	padding-left: 10px;
	padding-top: 3px;

	&.hidden {
		display: none;
	}

	&.visible {
		border-bottom: 1px solid transparent;
		border-top: 1px solid transparent;
		display: block;
	}
}

.ie6 .lfr-content-category.visible {
	height: 1%;
}

/* Skin */

.portal-add-content {
	.lfr-portlet-used {
		color: #ccc;
	}

	.portlet-msg-info {
		color: #333;
	}
}

.lfr-add-content {
	h2 {
		font-size: 1.1em;
		font-weight: bold;

		a {
			background: url(@theme_image_path@/add_content/portlet_category.png) no-repeat 0 50%;
		}
	}

	&, .lfr-add-content {
		&.collapsed h2 {
			background: url(@theme_image_path@/arrows/01_plus.png) no-repeat 100% 50%;
			border-width: 0;
		}

		&.expanded h2 {
			background: url(@theme_image_path@/arrows/01_minus.png) no-repeat 100% 50%;
		}
	}
}

.lfr-add-content-search .aui-field-label {
	font-weight: normal;
}

.lfr-install-more {
	border-top-color: #ccc;

	a {
		background: url(@theme_image_path@/common/install_more.png) no-repeat 0 50%;
		font-weight: bold;
	}
}

.lfr-content-category.visible {
	border-bottom-color: #ddd;
	border-top-color: #ddd;
}