.portal-add-content-search {
	margin-bottom: 8px;
}

.portal-add-content {
	.lfr-portlet-used {
		cursor: default;
	}

	.portlet-msg-info {
		margin-bottom: 0;
		margin-top: 10px;
	}

	.lfr-portlet-used a {
		display: none;
	}
}

.lfr-add-content {
	margin-bottom: 0.5em;

	h2 {
		cursor: pointer;
		margin: 0;

		a {
			display: block;
			padding-left: 20px;
		}
	}
}

.lfr-install-more {
	border-top: 1px solid transparent;
	margin: 10px 0 0;
	padding-top: 10px;

	a {
		display: block;
		padding-left: 20px;
	}
}

.dockbar .lfr-content-category {
	padding-left: 10px;
	padding-top: 3px;

	&.hidden {
		display: none;
	}

	&.visible {
		border-bottom: 1px solid transparent;
		border-top: 1px solid transparent;
		display: block;
	}
}

.ie6 .lfr-content-category.visible {
	height: 1%;
}

/* Skin */

.portal-add-content {
	.lfr-portlet-used {
		color: #ccc;
	}

	.portlet-msg-info {
		color: #333;
	}
}

.lfr-add-content {
	h2 {
		font-size: 1.1em;
		font-weight: bold;

		a {
			background: url(@theme_image_path@/add_content/portlet_category.png) no-repeat 0 50%;
		}
	}

	&, .lfr-add-content {
		&.collapsed h2 {
			background: url(@theme_image_path@/arrows/01_plus.png) no-repeat 100% 50%;
			border-width: 0;
		}

		&.expanded h2 {
			background: url(@theme_image_path@/arrows/01_minus.png) no-repeat 100% 50%;
		}
	}
}

.lfr-add-content-search .aui-field-label {
	font-weight: normal;
}

.lfr-install-more {
	border-top-color: #ccc;

	a {
		background: url(@theme_image_path@/common/install_more.png) no-repeat 0 50%;
		font-weight: bold;
	}
}

.lfr-content-category.visible {
	border-bottom-color: #ddd;
	border-top-color: #ddd;
}

.lfr-has-add-content #wrapper {
	padding-left: 340px;
}

.lfr-content-preview-popup {
	&.aui-tooltip {
		max-width: 250px;
	}

	.lfr-content-preview-popup-content {
		background: none repeat scroll 0 0 #FFFFFF;
		border: 0;
		margin: 0;
		overflow: hidden;
		padding: 10px;
		width: 230px;

		.add-button-preview {
			float: right;
		}

		.asset-information {
			font-size: 10px;
			margin-bottom: 20px;

			.user-name {
				color: #336699;
			}
		}

		.asset-image-preview {
			margin-bottom: 5px;
			text-align: center;

			img {
				max-width: 230px;
			}
		}

		.asset-metadata {
			margin-bottom: 20px;

			.categories {
				margin-bottom: 5px;
			}
		}

		.asset-summary {
			font-size: 12px;
			margin-bottom: 20px;
		}

		.asset-title {
			color: #336699;
			font-size: 14px;
			margin-bottom: 5px;
		}
	}
}

.lfr-add-panel {
	background-color: #D3DBE4;
	border: 1px solid #ccc;
	bottom: 0;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 330px;

	.aui-tabview-list {
		margin: 5px;
		padding-left: 5px;
	}

	.lfr-portlet-item {
		border: 0;
	}

	.add-application-tab {
		.lfr-add-content {
			margin-bottom: 0;

			h2 a {
				color: #2D2D2D;
				font-size: 13px;
			}

			.lfr-content-category {
				background: url("@theme_image_path@/add_content/shadow_top_bg.png") repeat-x scroll 0 0 transparent;
				margin: 0;
				padding: 4px 0;

				.lfr-portlet-item {
					background-position: 2em 50%;
					color: #2D2D2D;
					font-size: 12px;
					padding-bottom: 1px;
					padding-top: 1px;

					p {
						padding-left: 2em;

						a {
							color: #2D2D2D;
							font-size: 10px;
							font-weight: normal;
						}
					}

					&:hover, &.over {
						background-color: #EBF0F5;
						text-decoration: underline;
	            	}

					&.lfr-portlet-used:hover, &.lfr-portlet-used.over {
						background-color: #D3DBE4;
						text-decoration: none;
					}
				}

				.lfr-portlet-used {
					color: #999999;
				}
			}

			.lfr-title-category {
				background-image: linear-gradient(#D2DBE4, #BDC8D6);
				border-top: 1px solid #F0F1F2;
				padding: 7px 6px 6px 2em;
			}
		}

		.search-panel .add-content-search .aui-field-input {
			width: 290px;
		}
	}

	.close-add-panel {
		background-image: url(@theme_image_path@/portlet/close.png);
		background-repeat: no-repeat;
		cursor: pointer;
		font-size: 0;
		height: 16px;
		position: absolute;
		right: 12px;
		top: 11px;
		width: 16px;
	}

	.search-panel {
		background: #D3DBE4 url(@theme_image_path@/add_content/shadow_bottom_bg.png) 0 100% repeat-x;
		padding: 5px;
		overflow: hidden;

		.add-content-search {
			float: left;

			.aui-field-input {
				background-image: url(@theme_image_path@/common/search.png);
				background-position: 5px 50%;
				background-repeat: no-repeat;
				padding-left: 25px;
				width: 150px;
			}
		}

		.aui-field-content {
			display: inherit;
		}

		.buttons {
			font-size: 0;
			float: left;
			margin-left: 5px;
			padding: 2px 0;

			.button {
				float: left;
				height: 21px;
				margin-right: 5px;
				width: 23px;

				&:hover {
					background-position: 0 50%;
				}

				&.last {
					margin-right: 0;
				}

				&.selected {
					background-position: 0 100%;
				}
			}

			.list {
				background: url(@theme_image_path@/add_content/list1.png) no-repeat 0 0;
			}

			.descriptive {
				background: url(@theme_image_path@/add_content/list2.png) no-repeat 0 0;
			}

			.icon {
				background: url(@theme_image_path@/add_content/list3.png) no-repeat 0 0;
			}
		}

		.num-items {
			float: left;
			margin-left: 5px;
			padding: 3px 0;
		}
	}

	.lfr-panel.lfr-extended {
		border-width: 0;
		border-color: #979798 #FAFAFB #FAFAFB #BDBDBE;
		clear: both;

		&.recent .lfr-panel-titlebar {
			cursor: default;
		}

		.lfr-panel-titlebar {
			background-image: -moz-linear-gradient(#D2DBE4, #BDC8D6);
			border-top: 1px solid #F0F1F2;
			cursor: pointer;
			margin-bottom: 0;
			padding: 7px 6px 6px;

			.lfr-panel-button {
				background-image: url(@theme_image_path@/add_content/dragimg.png);
				background-repeat: no-repeat;
				left: 0;
				position: absolute;

				&:hover {
					background-position: 0 0;
				}
			}

			.lfr-panel-title {
				font-size: 13px;
				font-weight: bold;
				padding-left: 20px;
			}
		}

		.lfr-panel-content {
			background: transparent url(@theme_image_path@/add_content/shadow_top_bg.png) 0 0 repeat-x;
			padding: 0;

			.app-view-entry-taglib.entry-display-style {
				a {
					color: #2D2D2D;
					font-size: 12px;
					font-weight: normal;
					text-decoration: none;
				}

				&.aui-focus {
					text-shadow: 0 0;
				}

				&.display-descriptive {
					margin: 0;

					.entry-title {
						color: #336699;
						font-size: 13px;
						font-weight: normal;
						margin-bottom: 10px;
					}

					.entry-description {
						font-size: 11px;
					}
				}

				&.display-icon {
					height: 110px;
					width: 145px;
				}

				&.display-list a {
					padding: 5px 8px 5px 20px;
				}

				&:hover, &.hover, &.over {
					background-color: #EBF0F5;
				}

				.entry-thumbnail {
					max-width: 75px;

					img {
						max-width: 65px;
					}
				}

				.taglib-text {
					text-decoration: none;
				}
			}
		}
	}

	.taglib-icon {
		.icon {
			float: left;
			margin-right: 3px;
		}

		.taglib-text {
			display: block;
			overflow: hidden;
		}
	}
}