@import "compass";

.add-content-menu {
	.btn-toolbar {
		.control-group-inline {
			display: inline;

			.search-query, .aui-field-select {
				margin-bottom: 0;
			}
		}

		.control-group-inline, .btn-group {
			margin-right: 5px;
		}
	}

	.container-fluid {
		.accordion-inner {
			padding-left: 0;
			padding-right: 0;

			.content-item {
				margin-left: 5px;
			}
		}
	}

	.lfr-content-item {
		color: #3EA9DB;
		cursor: move;
		margin: 0 -15px 0 -15px;
		padding: 0 15px 0 15px;
		position: relative;

		&:hover {
			background-color: #EEE;
			color: #006076;

			.add-content-item {
				display: inline;
			}
		}

		.add-content-item {
			cursor: pointer;
			display: none;
			margin-right: 15px;
			position: absolute;
			right: 0;
			top: 0;
		}

		&.lfr-portlet-used {
			color: #BBB;
			cursor: default;

			.add-content-item {
				display: none;
			}
		}

		&.lfr-archived-setup {
			padding-left: 30px;
		}
	}

	.portal-add-content .portlet-msg-info {
		color: #333;
	}

	.lfr-install-more {
		border-top-color: #CCC;

		a {
			background: url(@theme_image_path@/common/install_more.png) no-repeat 0 50%;
			font-weight: bold;
		}
	}
}

.lfr-add-content-preview {
	.add-button-preview {
		float: right;
		margin-bottom: 10px;
	}

	.asset-information {
		font-size: 10px;
		margin-bottom: 20px;

		.user-name {
			color: #369;
		}
	}

	.asset-image-preview {
		margin-bottom: 5px;
		text-align: center;

		img {
			max-width: 230px;
		}
	}

	.asset-metadata {
		margin-bottom: 20px;

		.categories {
			margin-bottom: 5px;
		}
	}

	.asset-summary {
		font-size: 12px;
		margin-bottom: 20px;
	}

	.asset-title {
		color: #369;
		font-size: 14px;
		margin-bottom: 5px;
	}
}