@import "compass";

.lfr-add-panel {
	bottom: 0;
	left: 0;
	overflow: auto;
	padding: 10px;
	position: fixed;
	top: 0;
	width: 330px;
	z-index: 450;

	.add-content-menu {
		.btn-toolbar {
			.control-group-inline {
				display: inline;

				.search-query, .aui-field-select {
					margin-bottom: 0;
				}
			}

			.control-group-inline, .btn-group {
				margin-right: 5px;
			}
		}

		.lfr-add-page-toolbar {
			background-color: #FFFFFF;
			bottom: 0;
			margin-left: -10px;
			padding: 10px;
			position: fixed;
			width: 330px;
		}

	    .template-selector {
			margin-top: 1.5em;

			legend {
				border-bottom: solid 1px #009ec3;
				color: #0DB5E7;
				font-size: 1em;
				line-height: 1.5em;
			}

			.lfr-page-layouts {
				.layout-template-entry {
					margin-left: 10px;
				}
			}
	    }

		.accordion-inner {
			padding-left: 0;
			padding-right: 0;

			.content-item {
				margin-left: 5px;
			}
		}

		.add-content-thumbnail {
			text-align: center;

			img {
				max-height: 128px;
			}
		}

		.lfr-content-item {
			cursor: move;
			position: relative;

			&:hover .add-content-item {
				display: inline;
			}

			.add-content-item {
				cursor: pointer;
				display: none;
				margin-right: 15px;
				position: absolute;
				right: 0;
				top: 0;
			}

			&.lfr-portlet-used {
				cursor: default;

				.add-content-item {
					display: none;
				}
			}

			&.lfr-archived-setup {
				padding-left: 30px;
			}
		}

		.lfr-page-template {
			cursor: pointer;
			margin-bottom: 20px;

			.lfr-page-template-title{
				label {
					font-weight: bold;
					margin-bottom: 5px;
					padding: 2px;
				}

				&.toggler-header-collapsed {
					.lfr-page-template-description {
					    height: 1.6em;
					    overflow: hidden;
					    text-overflow: ellipsis;
					    white-space: nowrap;
					    width: 300px;
					}
				}
			}

			.lfr-page-template-options {
				padding: 10px;
			}
		}

		.add-content-descriptive, .add-content-icon {
			padding: 0;

			.lfr-content-item {
				padding: 2%;
			}

			.add-content-details {
				.add-content-title, .add-content-description {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					width: 100%;
				}
			}
		}

		.add-content-descriptive {
			.lfr-content-item {
				width: auto;

				&:after {
					clear: both;
					content: ".";
					display: block;
					height: 0;
					visibility: hidden;
				}
			}
		}

		.add-content-icon {
			text-align: center;

			.lfr-content-item {
				display: inline-block;
				margin-bottom: 1em;
				width: 140px;
			}

			.add-content-details {
				.add-content-description {
					display: none;
				}
			}

			.add-content-thumbnail {
				line-height: 128px;
			}
		}
	}
}

.lfr-add-content-preview {
	.add-button-preview {
		float: right;
		margin-bottom: 10px;
	}

	.asset-information {
		margin-bottom: 20px;
	}

	.asset-image-preview {
		margin-bottom: 5px;
		text-align: center;

		img {
			max-width: 230px;
		}
	}

	.asset-metadata {
		margin-bottom: 20px;

		.categories {
			margin-bottom: 5px;
		}
	}

	.asset-summary {
		margin-bottom: 20px;
	}

	.asset-title {
		margin-bottom: 5px;
	}
}

/*Skin*/

.lfr-add-panel {
	background-color: #FFF;

	.add-content-menu {
		.lfr-content-item {
			color: #3EA9DB;

			&:hover {
				background-color: #EEE;
				color: #006076;
			}

			&.lfr-portlet-used {
				color: #BBB;
			}
		}

		.lfr-page-template {
			.toggler-header {
				&.active {
					&.lfr-page-template-title label{
						background-color: #0DB5E7;
						color: #FFFFFF;
						padding: 2px;
					}
				}
			}

			&:hover {
				background-color: #F0F0F0;
			}
		}

		.portal-add-content .portlet-msg-info {
			color: #333;
		}

		.lfr-install-more {
			border-top-color: #CCC;

			a {
				background: url(@theme_image_path@/common/install_more.png) no-repeat 0 50%;
				font-weight: bold;
			}
		}
	}
}

.lfr-add-content-preview {
	.asset-information {
		font-size: 10px;

		.user-name {
			color: #369;
		}
	}

	.asset-summary {
		font-size: 12px;
	}

	.asset-title {
		color: #369;
		font-size: 14px;
	}
}