@import "compass";

.lfr-admin-sidebar {
	background-color: #FFF;
	bottom: 0;

	@include box-shadow(0 0 5px rgba(0, 0, 0, 0.5));

	left: 0;
	overflow: auto;
	padding: 10px;
	position: fixed;
	top: 0;
	z-index: 1100;
}