@import "compass";

.lfr-device-preview-panel {
	bottom: 0;
	left: 0;
	overflow: auto;
	padding: 10px;
	position: fixed;
	top: 0;
	width: 200px;
	z-index: 450;

	.device-preview-content {
		.lfr-device-item {
			cursor: pointer;
			padding: 10px;
			position: relative;
			height: 60px;

			.desktop {
				background: url(@theme_image_path@/device_preview/desktop_off.png) no-repeat;
			}

			.full {
				background: url(@theme_image_path@/device_preview/full_off.png) no-repeat;
			}

			.smartphone {
				background: url(@theme_image_path@/device_preview/smartphone_off.png) no-repeat;
			}

			.tablet {
				background: url(@theme_image_path@/device_preview/tablet_off.png) no-repeat;
			}

			&.selected {
				.desktop {
					background-image: url(@theme_image_path@/device_preview/desktop_on.png);
				}

				.full {
					background-image: url(@theme_image_path@/device_preview/full_on.png);
				}

				.smartphone {
					background-image: url(@theme_image_path@/device_preview/smartphone_on.png);
				}

				.tablet {
					background-image: url(@theme_image_path@/device_preview/tablet_on.png);
				}
			}
		}
	}
}

.lfr-device-preview {
	background-color: rgba(255, 255, 255, 0.95);
	bottom: 0;
	left: 220px;
	position: fixed;
	right: 0;
	top: 0;
}

/*Skin*/

.lfr-device-preview-panel {
	background-color: #FFF;
	color: #3EA9DB;

	h1 {
		font-size: 22px;
		line-height: 22px;
	}

	.device-preview-content {
		.lfr-device-item {
			&:hover {
				background-color: #E5F2FC;
				color: #006076;
			}

			&.selected {
				background-color: #3EA9DB;
				color: #FFFFFF;				
			}
		}
	}
}