.lfr-edit-layout-panel {
	bottom: 0;
	left: 0;
	overflow: auto;
	padding: 10px;
	position: fixed;
	top: 0;
	width: 440px;
	z-index: 1100;

	.navbar {
		margin-bottom: 0;
		margin-top: 20px;
	}

	.site-admin-link {
		bottom: 0;
		padding: 14px;
		position: fixed;
	}

	.taglib-form-navigator {
		.button-holder {
			bottom: 0;
			margin-left: -10px;
			padding: 10px;
			position: fixed;
			width: 440px;
		}

		.accordion {
			margin: 20px 0px 50px;

			.accordion-group.lfr-panel-extended {
				.accordion-heading {
					cursor: pointer;
				}

				.accordion-inner {
					padding: 15px;

					h3 {
						display: none;
					}
				}
			}
		}

		.lfr-theme-options, .lfr-inherit-theme-options {
			padding: 10px 20px;

			.lfr-current-theme {
				background: inherit;
				border-width: 0;
			}
		}
	}
}

/* Skin */

.lfr-edit-layout-panel {
	background-color: #FFF;

	h1 {
		font-size: 22px;
		line-height: 22px;
	}

	.taglib-form-navigator {
		.button-holder {
			background-color: #FFF;
		}
	}
}