.control-group-inline {
	display: inline-block;
}

.button-holder {
	margin-top: 20px;
}

.lfr-ddm-container .field-wrapper {
	position: relative;

	.aui-field-wrapper {
		margin-left: 20px;
	}

	.lfr-ddm-repeatable-add-button, .lfr-ddm-repeatable-delete-button {
		display: block;
		height: 16px;
		position: absolute;
		top: 4px;
		width: 16px;

		&.lfr-ddm-repeatable-add-button {
			right: 4px;
		}

		&.lfr-ddm-repeatable-delete-button {
			right: 24px;
		}
	}
}

.lfr-input-resource {
	width: @model_hints_constants_text_display_width@px;
}

.lfr-input-text, .form .fieldset .field.lfr-input-text-container input {
	max-width: @model_hints_constants_text_display_width@px;
	width: 100%;
}

.lfr-textarea, .form .fieldset .field.lfr-textarea-container textarea {
	height: @model_hints_constants_textarea_display_height@px;
	max-width: @model_hints_constants_textarea_display_width@px;
	width: 100%;
}