@import "compass";
@import "mixins";

.control-group-inline {
	display: inline-block;
	vertical-align: middle;
}

.button-holder {
	margin-top: 20px;
}

.lfr-ddm-container {
	.control-group label {
		margin-left: 0;
	}

	.field-wrapper {
		position: relative;

		.aui-field-wrapper {
			margin-left: 20px;
		}

		.datepicker-display {
			float: none;

			.datepicker-button-wrapper, .datepicker-select-wrapper {
				display: inline;
				float: none;
			}
		}

		.lfr-ddm-repeatable-add-button, .lfr-ddm-repeatable-delete-button {
			display: block;
			height: 16px;
			position: absolute;
			top: 4px;
			width: 16px;

			&.lfr-ddm-repeatable-add-button {
				right: 4px;
			}

			&.lfr-ddm-repeatable-delete-button {
				right: 24px;
			}
		}
	}

	.field-wrapper-content {
		margin-bottom: 6px;

		label {
			font-weight: bold;
			margin-left: 0;
		}
	}
}

.field-wrapper .btn {
	margin-top: 6px;
}

.lfr-input-resource {
	width: @model_hints_constants_text_display_width@px;
}

.lfr-input-text, .form .fieldset .field.lfr-input-text-container input {
	max-width: @model_hints_constants_text_display_width@px;
	width: 100%;
}

.lfr-textarea, .form .fieldset .field.lfr-textarea-container textarea {
	height: @model_hints_constants_textarea_display_height@px;
	max-width: @model_hints_constants_textarea_display_width@px;
	width: 100%;
}

@include respond-to(phone, tablet) {
	.aui {
		select,
		textarea,
		input[type="text"],
		input[type="password"],
		input[type="datetime"],
		input[type="datetime-local"],
		input[type="date"],
		input[type="month"],
		input[type="time"],
		input[type="week"],
		input[type="number"],
		input[type="email"],
		input[type="url"],
		input[type="search"],
		input[type="tel"],
		input[type="color"],
		.uneditable-input,
		.navbar-search .search-query {
			font-size: 18px;
			line-height: 20px;
			padding: 12px 16px;
		}

		.navbar-search .search-query {
			padding: 21px 16px;
		}
	}
}