td {
	&.lfr-center {
		text-align: center;
	}

	&.lfr-top {
		vertical-align: top;
	}

	&.lfr-middle {
		vertical-align: middle;
	}
}

.definition-of-terms {
	margin-bottom: 2em;

	dd {
		margin-left: 20em;
	}

	dl {
		margin-left: 0;
	}

	dt {
		float: left;
	}
}

.dialog-iframe-bd {
	overflow-x: hidden;
	overflow-y: auto;
}

.lfr-grid {
	width: 100%;
}

img.icon {
	vertical-align: middle;
}

#layout-grid.dragging .lfr-portlet-column.empty {
	padding: 20px;
}

.lfr-js-required {
	clip: rect(0 0 0 0);
	position: absolute;
}

.js .lfr-js-required {
	clip: rect(auto auto auto auto);
	position: static;
}

.popup-alert-close {
	margin-left: 5px;
}

.popup-alert-notice, .popup-alert-warning {
	left: 10px;
	position: fixed;
	right: 10px;
	top: 50px;
	z-index: 10000;
}

.lfr-token-list {
	clear: both;
	margin: 1em 0;
}

.lfr-token {
	border: 1px solid transparent;
	cursor: pointer;
	display: inline-block;
	line-height: 1;
	padding: 0.3em 0.5em 0.3em;
	margin: 0 0.2em;

	img {
		margin-right: 0.3em;
	}
}

.lfr-token-primary {
	border-width: 0;

	&, &:hover {
		cursor: auto;
	}
}

.lfr-token-close, .lfr-token-text {
	display: inline-block;
	vertical-align: middle;
}

.ie6 {
	.popup-alert-notice, .popup-alert-warning {
		bottom: auto;
		left: expression( ( LFR_IGNORE_ME2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) + 'px' );
		position: absolute;
		right: auto;
		top: expression( ( LFR_IGNORE_ME = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) + 'px' );
	}
}

/* Skin */

.definition-of-terms dt {
	font-weight: bold;
}

.popup-alert-notice .countdown-timer {
	font-size: 1.1em;
	font-weight: bold;
}

.lfr-token {
	background-color: #B3DAEF;
	border-color: #5FA8FF;
	color: #444;
	text-decoration: none;

	&:hover {
		background-color: #D1E5EF;
	}
}

.lfr-token-primary {
	font-weight: bold;

	&, &:hover {
		background-color: #B3DAEF;
	}
}