@import "compass";

.breadcrumbs {
	margin-bottom: 10px;
	margin-left: 0;
}

.lfr-button {
	padding: 2px 0 2px 20px;
}

.js {
	.controls-hidden {
		.lfr-meta-actions, .portlet-borderless-bar, .portlet-topper-toolbar, .lfr-configurator-visibility {
			display: none;
		}
	}

	.page-maximized .portlet-topper-toolbar {
		display: block;
	}
}

.configuration-frame, .control-panel-frame {
	border-width: 0;
	overflow: auto;
	width: 100%;
}

.float-container:after {
	clear: both;
	content: '';
	display: block;
	height: 0;
	visibility: hidden;
}

.lfr-meta-actions {
	padding-top: 1em;
}

.lfr-table {
	border-collapse: collapse;
	clear: both;

	tr td, tr th {
		padding: 0 5px;

		@include word-break(break-all);

		&:first-child, &.first-child {
			padding-left: 0;
		}

		&:last-child, &.last-child {
			padding-right: 0;
		}
	}
}

.lfr-table-grid {
	.field-hint {
		float: none;
	}
}

.lfr-control-links a {
	margin-right: 1em;
}

.portlet-toolbar {
	margin-bottom: 1.5em;
}

.ie .float-container {
	height: 1%;
}

.ie8 .lfr-portrait-preview {
	float: left;
}

.gecko .lfr-portrait-editor {
	display: table-column;
}

/* Skin */

.lfr-button {
	background: url() no-repeat 0 50%;
}

.lfr-table tr th {
	font-weight: bold;
}

.lfr-checkbox-preselected, .lfr-configurator-visibility {
	@include opacity(0.5);
}

.ie {
	.lfr-checkbox-preselected, .lfr-configurator-visibility, .lfr-configurator-visibility .portlet-topper {
		zoom: 1;
	}
}