.lfr-surface-loading .lfr-surface-loading-bar {
	display: block;
}

.lfr-surface-loading-bar {
	display: none;
	height: 2px;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 800;
}

/* Skin */

.lfr-surface-loading-bar {
	background: #2FA4F5;
}