.lfr-tags-selector-content {
	width: 100%;
}

.lfr-tag-selector-input {
	width: 300px;
}

.lfr-tags-selector-list {
	border: 0 solid transparent;
	border-width: 0 1px 1px;
	height: 265px;
	margin-bottom: 0.5em;
	overflow: auto;
}

.lfr-tag-selector-popup {
	width: 250px;

	fieldset {
		border-width: 0;
		margin: 0;
		padding: 0;
	}

	label {
		border-bottom: 1px solid transparent;
		cursor: pointer;
		display: block;
		padding: 2px;

		input {
			margin-right: 5px;
			vertical-align: middle;
		}
	}

	ul {
		margin: 0;
	}

	li li {
		list-style: none;
		margin-left: 1em;
	}

	.lfr-tag-message {
		display: none;
	}

	.aui-textfield-content {
		border-bottom: 1px solid transparent;
		padding: 5px;
	}

	.no-matches {
		padding: 3px;

		.lfr-tag-message {
			display: block;
		}
	}
}

/* Skin */

.lfr-tags-selector-list {
	border-color: #ccc;
}

.lfr-tag-selector-popup {
	label {
		border-bottom-color: #ccc;
	}

	.aui-textfield-content {
		background-color: #D3DADD;
		border-bottom-color: #AEB8BC;
	}

	.no-matches {
		color: #999;
	}
}