.lfr-tree {
	.tree-label {
		display: table-cell;
		float: none;
		padding-left: 2px;
	}

	li {
		margin-bottom: 2px;
		padding-left: 0;

		ul li, &.tree-item {
			padding-left: 0;
		}

		&.tree-item {
			padding-left: 5px;

			li {
				padding-left: 20px;
			}

			ul {
				margin-left: 0;
				margin-top: 5px;
			}
		}
	}
}

/* Skin */

.lfr-tree a {
	text-decoration: none;
}