$main-bg-color: #FAFAFA;

$main-black-color: #1F1F1F;

$main-header-color: #FFF;
$secondary-header-color: #787878;

$brand-bg-color-1: #6A00D6;
$brand-color-1: $brand-bg-color-1;

$brand-bg-color-2: #F5F5F5;
$brand-color-2: $brand-bg-color-1;

$brand-bg-color-3: #FFF;
$brand-color-3: $brand-bg-color-3;