.results-row {
	.status-installation-in-process, .status-update-ignored {
		td {
			background-color: #9CF;
		}
	}

	.status-up-to-date {
		td {
			background-color: #CFC;
		}
	}

	.status-unknown {
		td {
			background-color: #FFC;
		}
	}

	.status-update-available {
		td {
			background-color: #F99;
		}
	}
}