/src/META-INF/resources/classic/_diffs/css/alloy.css
/src/META-INF/resources/classic/css
/src/META-INF/resources/classic/images
/src/META-INF/resources/classic/javascript
/src/META-INF/resources/classic/js
/src/META-INF/resources/classic/templates