.control-menu-level-1 {
	background-color: $control-menu-level-1-bg;
	color: $control-menu-level-1-color;

	a {
		color: $control-menu-level-1-link-color;

		&:focus, &:hover {
			color: $control-menu-level-1-link-hover-color;
			text-decoration: none;
		}
	}
}

.control-menu-level-2 {
	background-color: $control-menu-level-2-bg;
	color: $control-menu-level-2-color;

	.control-menu-label {
		@include sm() {
			color: $control-menu-level-2-label-color;
		}
	}
}

.control-menu-level-2-heading {
	font-size: 18px;
	font-weight: 500;

	.close {
		color: $control-menu-level-2-color;
		opacity: 1;
	}
}

.control-menu-link {
	&.active {
		&:after {
			background-color: $control-menu-level-1-active-border;
			height: $control-menu-level-1-active-border-width;
		}
	}
}

.sidenav-transition .control-menu {
	@include transition($control-menu-css-transition);
}