.control-menu-level-1 {
	background-color: $control-menu-level-1-bg;
	color: $control-menu-level-1-color;

	li {
		position: relative;

		&.active:after {
			background-color: $control-menu-level-1-active-border;
			bottom: 0;
			content: "";
			height: $control-menu-level-1-active-border-width;
			left: 0;
			position: absolute;
			right: 0;
		}
	}
}

.control-menu-level-2 {
	background-color: $control-menu-level-2-bg;
	color: $control-menu-level-2-color;

	@media screen and (min-width: 768px) {
		left: 0;
		position: absolute;
		right: 0;
		top: 100%;
	}

	a {
		color: $control-menu-level-2-link-color;
	}

	label {
		color: $control-menu-level-2-label-color;
	}

	.staging-variation-label {
		font-weight: 500;

		@media screen and (min-width: 768px) {
			color: #869CAD;
			font-size: 14px;
		}
	}
}

.control-menu-level-2-heading {
	font-size: 18px;
	font-weight: 500;
	padding: 20px 0;
	text-align: center;

	.close {
		color: $control-menu-level-2-color;

		@include opacity(1);
	}
}

.control-menu-icon {
	color: $control-menu-level-1-nav-item-color;

	&:focus,
	&:hover {
		color: $control-menu-level-1-nav-item-hover-color;
		text-decoration: none;
	}

	&.icon-monospaced,
	.icon-monospaced {
		font-size: $control-menu-icon-font-size;
	}
}

.live-link,
.staging-link {
	a,
	a:focus,
	a:hover {
		color: #869CAD;
	}

	&.active {
		a {
			color: #FFF;
		}
	}
}

.publish-btn-group {
	@media screen and (min-width: 768px) {
		border-radius: 3px;
	}
}

.sidenav-transition .control-menu {
	@include transition($control-menu-css-transition);
}

.staging-variation-selector {
	font-weight: 500;

	@media screen and (min-width: 768px) {
		font-size: 14px;
	}
}