@import "mixins";

@include respond-to(phone) {
	body #wrapper #banner #navigation {
		font-size: 125%;

		.nav>li>a {
			border-bottom: 1px solid #E1E1E1;
			display: block;

			&.dropdown-lft {
				position: absolute;
				right: 0;
				top: 0;
			}
		}
	}
}

@include respond-to(phone, tablet) {
	#navigation, #content {
		padding: 0 20px;
	}

	.touch .modify-pages .lfr-nav-sortable>a>span {
		padding-left: -18px;
	}
}