Dear [$TO_NAME$],<br /><br />

Welcome! You recently created an account at http://[$PORTAL_URL$].

Your password is the password you had chosen when you had registered.  <br /><br />

If do not recall your password, you may return to the portal . Enjoy!<br /><br />

Sincerely,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
http://[$PORTAL_URL$]<br />