.layouts-selector {
	.card {
		&:focus {
			box-shadow: inset 0 0 0 2px #ABBCC3;
			outline: none;
		}

		margin-bottom: 0;
	}

	.card-row-padded {
		padding: 5px;
	}

	.selected .card {
		box-shadow: inset 0 0 0 2px #65B6F0;
	}

	.disabled {
		opacity: 0.7;
	}

	.treeview-node {
		margin-bottom: 0.5rem;
		position: relative;
	}

	.treeview-node-main {
		float: none;
		margin-bottom: 20px;
		padding-left: 20px;
		position: relative;

		&:not(.disabled) {
			cursor: pointer;
		}
	}

	.treeview-nodes {
		border-left: 2px solid #869CAD;
		list-style: none;
		margin-left: 40px;
		padding-left: 0;

		.treeview-nodes {
			border-left-style: dashed;
			border-left-width: 1px;
		}
	}

	.treeview-node-name {
		font-size: 1.4rem;
		margin-left: 0.8rem;
	}

	.treeview-node-toggler {
		background-color: #869CAD;
		border-radius: 3px;
		display: inline-block;
		height: 14px;
		left: 0;
		margin-left: -7px;
		margin-top: -8px;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 14px;

		&:before {
			color: #FFF;
			content: '+';
			display: block;
			line-height: 11px;

			.win & {
				line-height: 14px;
			}
		}
	}

	.treeview-node-wrapper > .treeview-nodes {
		display: none;
	}

	.expanded {
		> .treeview-node-main > .treeview-node-toggler:before {
			content: '-';
			font-size: 21px;

			.win & {
				line-height: 11px;
			}
		}

		> .treeview-nodes {
			display: block;
		}
	}

	margin-top: 20px;

	li.tree-node .tree-node-content {
		overflow: visible;
	}

	.layout-prototype-tree {
		padding-bottom: 30px;
	}

	.layouts-tree-container {
		padding-left: 10px;
	}

	.lfr-tree {
		li {
			margin-bottom: 0;
		}

		li.tree-node .tree-node-content {
			&.lfr-root-node {
				display: none;
			}

			.tree-label {
				display: inline-block;
				overflow: visible;
				padding-right: 20px;
			}
		}

		.icon-file {
			display: none;
		}
	}

	.tree-container {
		border-left: 2px solid #869CAD;
		margin-left: 10px;

		.tree-container {
			border-left: 1px dashed #869CAD;
			margin-left: 20px;

			.tree-node-content {
				&:not(.tree-node-selected) {
					.tree-node-hidden-hitarea {
						&:before {
							color: #869CAD;
							content: '\e00d';
							font-size: 0.7em;
							visibility: visible;
						}
					}
				}
			}
		}
	}

	.tree-hitarea {
		background-color: #869CAD;
		border-radius: 3px;
		display: inline-block;
		line-height: 14px;
		margin-left: -11px;
		margin-top: -8px;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 14px;
	}

	.tree-label {
		line-height: normal;
	}

	.tree-node [class^="icon-"] {
		margin-right: 0;
	}

	.tree-node-content {
		display: inline;
		padding-left: 3px;
		padding-right: 25px;
		position: relative;

		.layout-tree {
			display: block;
			padding-bottom: 12px;
			padding-top: 12px;
		}

		.tree-hitarea {
			color: #1A2126;
			padding-right: 0;
		}

		.tree-label {
			margin-left: 12px;
		}
	}

	.tree-pages .tree-node-selected .tree-label {
		.layout-tree {
			color: #65B6F0;
		}

		.layout-tree, .icon-monospaced {
			cursor: pointer;
		}
	}

	.tree-root-container {
		margin-left: -10px;
	}

	.tree-view {
		overflow: visible;
	}
}