$breakpoint_phone: 768px !default;
$breakpoint_tablet: 980px !default;

$form_text_fields: 'input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea, .uneditable-input' !default;

$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg;
$screen-lg-desktop: $screen-lg-min;

$screen-md: 992px !default;
$screen-md-min: $screen-md;
$screen-desktop: $screen-md-min;

$screen-sm: 768px !default;
$screen-sm-min: $screen-sm;
$screen-tablet: $screen-sm-min;

$screen-xs: 480px !default;
$screen-xs-min: $screen-xs;
$screen-phone: $screen-xs-min;

$screen-md-max: ($screen-lg-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-xxs-max: ($screen-xs-min - 1) !default;

$media-query-sizes: (
	xs: $screen-xs,
	sm: $screen-sm,
	md: $screen-md,
	lg: $screen-lg
);

@mixin media-query($min, $max: null) {
	$maxWidth: -1;
	$minWidth: -1;

	@if $min != null {
		@if map-has-key($media-query-sizes, $min) {
			$minWidth: map-get($media-query-sizes, $min);
		}
		@else {
			$minWidth: $min;
		}
	}

	@if $max != null {
		@if map-has-key($media-query-sizes, $max) {
			$maxWidth: map-get($media-query-sizes, $max);
		}
		@else {
			$maxWidth: $max;
		}
	}

	@if $maxWidth <= 0 and $minWidth <= 0 {
		@content;
	}
	@else if $maxWidth <= 0 {
		@media only screen and (min-width: $minWidth) {
			@content;
		}
	}
	@else if $minWidth <= 0 {
		@media only screen and (max-width: $maxWidth) {
			@content;
		}
	}
	@else {
		@media only screen and (min-width: $minWidth) and (max-width: $maxWidth) {
			@content;
		}
	}
}

@mixin respond-to($types...) {
	$maxWidth: -1;
	$minWidth: -1;

	@each $type in $types {
		@if $type == phone {
			$maxWidth: if($maxWidth == -1, $breakpoint_phone - 1, $maxWidth);
			$minWidth: 0;
		}
		@else if $type == tablet {
			@if $maxWidth != 0 {
				$maxWidth: if($maxWidth == -1, $breakpoint_tablet - 1, max($breakpoint_tablet - 1, $maxWidth));
			}

			$minWidth: if($minWidth == -1, $breakpoint_phone, min($breakpoint_phone, $minWidth));
		}
		@else if $type == desktop {
			$maxWidth: 0;
			$minWidth: if($minWidth == -1, $breakpoint_tablet, $minWidth);
		}
	}

	@if $maxWidth <= 0 and $minWidth <= 0 {
		@content;
	}
	@else if $maxWidth <= 0 {
		@media (min-width: $minWidth) {
			@content;
		}
	}
	@else if $minWidth <= 0 {
		@media (max-width: $maxWidth) {
			@content;
		}
	}
	@else {
		@media (min-width: $minWidth) and (max-width: $maxWidth) {
			@content;
		}
	}
}


// Shortcuts

@mixin xs {
	@include media-query(xs) {
		@content
	};
}

@mixin sm {
	@include media-query(sm) {
		@content
	};
}

@mixin md {
	@include media-query(md) {
		@content
	};
}

@mixin lg {
	@include media-query(lg) {
		@content
	};
}