@import "mixins";

.navbar {
	.navbar-search {
		background-color: #F3F3F3;

		@media (min-width: 768px) {
			background-color: transparent;
		}
	}

	@include respond-to(phone, tablet) {
		.container, .container-fluid {
			.navbar-btn {
				color: #000;
			}
		}
	}
}