.lfr-item-viewer {
	#cardSection {
		margin-bottom: 20px;
	}

	.image-viewer-base-image-list {
		padding-top: 30px;
	}

	.image-viewer-footer-content {
		min-height: 30px;
		padding: 5px 20px;
		text-align: center;
		width: 100%;

		.image-viewer-caption {
			position: absolute;
		}

		.image-viewer-footer-control {
			margin: 0 10px;
			position: relative;
		}

		.image-viewer-thumbnails {
			display: none;
		}
	}

	.aspect-ratio {
		margin-top: 30px;

		a.item-preview {
			height: 100%;
			position: absolute;
			width: 100%;
		}
	}

	.tabular-list-group {
		width: 100%;
	}

	.url-view {
		margin: 15px;
	}
}

.lfr-item-viewer-close {
	font-size: 24px;
	left: 20px;
	margin-top: 5px;
	text-shadow: none;

	.glyphicon {
		font-size: 0.8em;
		margin-right: 5px;
	}
}

.lfr-item-viewer-icon-info {
	float: right;
	font-size: 20px;
}

.image-viewer-base-image-info {
	float: right;
	text-align: left;
	width: 300px;
}