.portlet-social-equity-admin .social-equity-admin-configuration .col-1 {
	width: 15%;
}

.portlet-social-equity-admin .social-equity-admin-configuration .col-2, 
.portlet-social-equity-admin .social-equity-admin-configuration .col-3, 
.portlet-social-equity-admin .social-equity-admin-configuration .col-4, 
.portlet-social-equity-admin .social-equity-admin-configuration .col-5, 
.portlet-social-equity-admin .social-equity-admin-configuration .col-6,
.portlet-social-equity-admin .social-equity-admin-configuration .col-7 {
	text-align: center;
	width: 14%;
}

.portlet-social-equity-admin .social-equity-admin-ranking .col-2 {
	width: 40%;
}

.portlet-social-equity-admin .social-equity-admin-ranking .col-3,
.portlet-social-equity-admin .social-equity-admin-ranking .col-4 {
	text-align: center;
	width: 25%;
	white-space: nowrap;
}

.portlet-social-equity-admin h3 input[type=checkbox] {
	margin-top: .3em;
	margin-right: .7em;
}