Someone submitted a [$FORM_NAME$] Form in the [$SITE_NAME$] site. View all the form's entries by navigating to the Forms portlet in your portal's Sites --> Content section to manage your site's forms and their entries. Here's what someone entered into the form: 

<br /><br />
[$FORM_FIELDS_VALUES$]

<br /><br />

Sincerely,<br />
[$FROM_NAME$]<br />
[$FROM_ADDRESS$]<br />
[$PORTAL_URL$]