@import "mixins";

@mixin user-avatar-circle() {
	border-radius: 50%;
}

.portlet-user-personal-bar {
	.user-avatar-image {
		background-size: auto 26px;
		display: inline-block;
		height: 26px;
		margin: 0;
		position: relative;
		top: 2px;
		width: 26px;

		@include user-avatar-circle();
	}
}