.portlet-asset-publisher {
	.portlet-content-container > .portlet-body > div > .h2 {
		display: none;
	}

	.asset-entry-detail {
		h1.text-center {
			font-size: 50px;
			line-height: 66px;
		}

		h2.text-center {
			font-size: 30px;
			line-height: 46px;
		}

		.asset-entry-container {
			line-height: 28px;
			margin-bottom: 30px;
		}
	}
}