@import "bourbon";
@import "field-type-validation";

.ddl-form-builder-app {
	.lfr-ddm-form-page {
		> .row {
			margin-left: 18px;
			margin-right: 18px;
		}
	}
}

.lfr-ddm-form-container {
	word-break: normal;

	.form-control-feedback {
		margin-left: -20px;
	}

	.icon-angle-left {
		font-size: inherit;
	}

	.required-warning {
		margin-bottom: 25px;

		.icon-asterisk {
			margin-left: 4px;
		}
	}

	.input-group-addon .form-control-feedback {
		left: -18px;
	}

	.lfr-ddm-form-field-container {
		position: relative;

		&.has-error .liferay-ddm-form-field-date .input-group-addon {
			border-width: 0 0 2px 0;
		}

		@include keyframes(spin) {
			100% {
				transform: rotate(359deg);
			}
		}

		.icon-asterisk {
			margin-left: 4px;
		}

		.lfr-ddm-form-field-repeatable-add-button {
			position: absolute;
			right: 0;
			top: 0;
		}

		.lfr-ddm-form-field-repeatable-delete-button {
			position: absolute;
			right: 15px;
			top: 0;
		}

		.liferay-ddm-form-field-date .input-group-addon {
			cursor: pointer;
		}

		select.form-control[multiple] {
			height: auto;
		}

		textarea {
			overflow-y: hidden;
		}
	}

	.lfr-ddm-form-page {
		display: none;
		padding: 25px 0;

		&.active {
			display: block;
		}
	}

	.lfr-ddm-form-page-description {
		margin-bottom: 23px;
	}

	.lfr-ddm-form-page-title + .required-warning {
		margin-top: 0;
	}

	.lfr-ddm-form-page-title + .row {
		margin-top: 40px;
	}

	.lfr-ddm-form-pagination-controls {
		padding-top: 20px;
	}

	.row {
		min-height: auto;
	}

	.has-error select.form-control[multiple] {
		background-image: none;
	}

	.lfr-ddm-form-field-repeatable-toolbar a {
		color: #65B6F0;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}
}

.liferay-ddm-form-field-checkbox .checkbox {
	margin-bottom: 2px;
}

.liferay-ddm-form-field-paragraph, .liferay-ddm-form-field-tip {
	color: #869CAD;
	line-height: 16px;
}

.liferay-ddm-form-field-paragraph {
	font-size: 14px;
}

.liferay-ddm-form-field-numeric {
}

.liferay-ddm-form-field-tip {
	font-size: 11px;
	font-weight: 400;
}

.liferay-ddm-form-field-grid {
	th, td:not(:first-child) {
		text-align: center;
	}
}

.radio-options {
	.radio-inline {
		span {
			display: inline-block;
			height: 28px;
		}
	}
}

.multi-step-progress-bar {
	> .complete {
		color: #65B6F0;

		.divider {
			background-color: #65B6F0;
		}
	}
}

.portal-popup {
	$side-spacing: 32px;
	padding: 0;

	&.open {
		padding: 0;
	}

	.lfr-ddm-form-page-description,
	.lfr-ddm-form-page-title {
		padding-left: $side-spacing;
		padding-right: $side-spacing;
	}
}

//┌──────────────┐
//│ Select Field │
//└──────────────┘

.form-builder-select-field {
	min-width: 200px;
	position: relative;

	.select-arrow-down-container {
		color: #869CAD;
		display: block;
		margin-top: 8px;
		position: absolute;
		right: 0;
		top: 0;
	}

	.search-chosen {
		border-bottom: 1px solid #E4E9EC;
		position: relative;
	}

	.select-search-container {
		left: 8px;
		position: absolute;
		top: 2px;

		a {
			color: #869CAD;
		}
	}

	&.active .select-field-trigger {
		border-bottom: 2px solid #65B3F0;
	}

	.form-control[disabled] + a {
		cursor: not-allowed;
		opacity: 0.5;
	}

	.form-control[disabled]:focus {
		border-bottom: 2px solid #869CAD;
		text-decoration: none;
	}

	.select-field-trigger {
		border-bottom: 2px solid #869CAD;
		color: #869CAD;
		display: block;
		height: auto;
		padding: 8px 5px;
		text-decoration: none;

		.option-selected-placeholder {
			color: rgba(134, 156, 173, 0.4);
		}
	}

	.drop-chosen {
		background-color: #FFF;
		border: solid 1px #E4E9EC;
		border-radius: 0 0 4px 4px;
		box-shadow: 0 2px 14px 0 rgba(58, 75, 87, 0.1);
		left: 0;
		position: absolute;
		right: 0;
		z-index: 1010;

		input[type="text"] {
			background: transparent;
			border-width: 0;
			color: #869CAD;
			font-size: 16px;
			outline: 0;
			padding: 8px 16px;
			padding-left: 40px;
			width: 100%;
		}

		.results-chosen {
			margin: 0;
			max-height: 438px;
			overflow-x: hidden;
			overflow-y: auto;
			padding: 0;

			li {
				color: #869CAD;
				cursor: pointer;
				line-height: 15px;
				list-style: none;
				margin: 0;
				overflow: hidden;
				padding: 12px 16px;
				text-overflow: ellipsis;
				white-space: nowrap;

				&.option-selected {
					color: #65B3F0;
				}

				input[type='checkbox'] {
					margin: 0;
					margin-right: 10px;
				}
			}

			li:last-child {
				border-bottom-left-radius: 4px;
				border-bottom-right-radius: 4px;
			}

			li:hover {
				background-color: #F7FAFA;
			}

			.no-results-list {
				color: rgba(134, 156, 173, 0.4);
				cursor: default;

				&:hover {
					background-color: #FFF;
				}
			}
		}
	}

	.multiple-badge-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		list-style: none;
		margin: 0;
		padding: 0;
		padding-right: 20px;
		width: auto;

		li {
			overflow: hidden;
		}

		.multiple-badge {
			margin-bottom: 0;
			margin-right: 6px;
			margin-top: 0;
			overflow: hidden;
			padding-bottom: 3px;
			padding-right: 20px;
			position: relative;
			text-overflow: ellipsis;
			white-space: nowrap;

			a {
				position: absolute;
				right: 8px;
				top: 4px;

				.icon-monospaced.lexicon-icon {
					margin-bottom: 1px;
					margin-left: 5px;
					padding: 0;
				}
			}
		}
	}
}

//┌───────────┐
//│ Field Set │
//└───────────┘

.liferay-ddm-form-field-fieldset {
	margin-bottom: 0 !important;

	& + .lfr-ddm-form-field-repeatable-toolbar {
		.icon-minus-sign {
			right: 26px;
			top: 16px;
		}

		.icon-plus-sign {
			right: 8px;
			top: 16px;
		}
	}

	&.border-bottom {
		margin-bottom: 50px !important;

		& > fieldset {
			border-bottom-width: 1px;
		}
	}

	&.border-top > fieldset {
		border-top-width: 1px;
	}

	& > fieldset {
		border: 1px solid rgba(134, 156, 173, 0.3);
		border-bottom-width: 0;
		border-top-width: 0;
		padding: 10px 10px 0 10px;

		& > div {
			padding-left: 0;

			div div.form-group {
				margin-bottom: 20px !important;
			}
		}

		legend {
			border-width: 0;
			color: #869CAD;
			font-size: 12px;
			font-weight: bold;
			line-height: 20px;
			margin: 0;
			padding: 0 8px;
			position: relative;
			text-transform: uppercase;
			width: auto;
		}
	}
}