<div style="background: #DFF4FF; border: 1px solid #A7CEDF; color: #34404F; margin: 5px; padding: 5px;">
	By <strong>[$PAGE_USER_NAME$]</strong> ([$PAGE_DATE_UPDATE$])<br />
	Page Title: [$PAGE_TITLE$]
</div>

[$PAGE_CONTENT$]