<div style="background: #EEEEEE; border-top: 1px solid #CCCCCC; color: #999999; margin: 5px; padding: 5px; text-align: center;">
	<a href="[$PAGE_URL$]">View Page ([$PAGE_TITLE$])</a>

	<p>
		[$COMPANY_NAME$] Wiki<br />
		http://[$PORTAL_URL$]
	</p>
</div>