##
## You can use Velocity to define display templates for the Wiki portlet.
##
## A set of variables have been made available for the template developers:
##
##  $ddmTemplateId: the current template id
##
##  $entry: the wiki page that is being shown in the portlet
##
##  $formattedContent: the formatted content of the wiki page
##
##  $locale: the locale of the site
##
##  $renderRequest: the render request
##
##  $renderResponse: the render response
##
##  $taglibLiferay: object that provides access to Liferay's taglibs
##
##  $themeDisplay: the theme display
##
## It is possible to use these variables to create advanced templates to display
## your wiki pages. Here's a simple template example:
##
## #set ($wikiPage = $entry)
##
##  <h1 class="header-title">$wikiPage.getTitle()</h1>
##
##  <p>$formattedContent</p>
##
##  <h3>Children Pages</h3>
##
##  <ul>
##    #foreach ($childPage in $wikiPage.getChildPages())
##      <li>$childPage.getTitle()</li>
##    #end
##  </ul>
##