/* ---------- Main Styling ---------- */
/* ---------- Syntax highlight variables ---------- */
/* ---------- Buttons ---------- */
.btn-command-log, .btn-error, .btn-jump-to-error, .btn-screenshot, .btn-sidebar {
  font-family: 'FontAwesome'; }

.xml-log .btn, .sidebar-btn-container .btn {
  background: transparent;
  border-width: 0;
  cursor: pointer;
  font-size: 10px;
  height: 28px;
  left: 0;
  margin: auto;
  outline: none;
  padding: 2px;
  text-align: center;
  transition: all 0.2s ease;
  width: 28px; }
  .xml-log .btn:active:focus, .xml-log .btn:focus, .xml-log .btn:hover, .sidebar-btn-container .btn:active:focus, .sidebar-btn-container .btn:focus, .sidebar-btn-container .btn:hover {
    box-shadow: none;
    outline: 0; }
  .xml-log .btn .btn-content, .sidebar-btn-container .btn .btn-content {
    transition: all 0.2s ease; }
  .xml-log .btn:hover, .sidebar-btn-container .btn:hover {
    background-color: #E6DBD2; }
    .xml-log .btn:hover.btn-content, .sidebar-btn-container .btn:hover.btn-content {
      transform: scale(1.3, 1.3); }
  .xml-log .btn.toggle, .sidebar-btn-container .btn.toggle {
    background-color: #e4dbcf; }

.btn-error, .btn-screenshot {
  border-color: #FF5335;
  bottom: 0;
  color: #FF5335;
  display: inline-block;
  font-size: 17px;
  margin-top: 1px; }
  .btn-error:focus, .btn-error:hover, .btn-screenshot:focus, .btn-screenshot:hover {
    background-color: transparent;
    color: #FF5335; }
  .btn-error.toggle, .btn-screenshot.toggle {
    background: #FF5335;
    color: #EBE7DC; }
    .btn-error.toggle:hover, .btn-screenshot.toggle:hover {
      background-color: #FF5335; }

/* ---------- Sidebar buttons ---------- */
.sidebar-btn-container {
  left: -60px;
  margin-top: 10px;
  position: absolute;
  width: 28px; }
  .sidebar-btn-container .btn {
    color: #444;
    font-size: 20px;
    line-height: 25px;
    margin: 5px 15px; }
    .sidebar-btn-container .btn.toggle {
      background-color: rgba(220, 220, 220, 0.6); }
    .sidebar-btn-container .btn:hover {
      background-color: rgba(220, 220, 220, 0.7); }
  .sidebar-btn-container .btn-command-log.toggle {
    background-color: #444;
    border-color: #444;
    color: #CCC; }
  .sidebar-btn-container .btn-command-log:before {
    content: '\f126'; }
  .sidebar-btn-container .btn-sidebar:before {
    content: '\f104';
    display: block; }
  .sidebar-btn-container .btn-jump-to-error {
    display: none; }
    .sidebar-btn-container .btn-jump-to-error:before {
      content: '\f071'; }

.running .btn-command-log {
  display: none; }

.command-logger .btn.btn-jump-to-error {
  display: block; }

/* ---------- Button icons ---------- */
.btn-collapse:before {
  content: '+'; }
.btn-collapse.toggle:before {
  content: '-'; }

.btn-var:before {
  content: 'var';
  font-family: 'Menlo', 'Source Code Pro', 'Lucia Console', 'Monospace'; }

.btn-error .btn-content:before {
  content: '\f071'; }

.btn-screenshot .btn-content:before {
  content: '\f108'; }

/* ---------- Extras ---------- */
li {
  transition: background 0.2s ease-in-out; }

.command-logger .pass.macro > .line-container {
  border-radius: 5px; }

.xml-log {
  transition: width 0.6s ease-out; }
  .xml-log .current-scope:after {
    box-shadow: 4px 31px 0 0 rgba(29, 60, 75, 0.3); }

.btn {
  border-radius: 4px;
  opacity: 0.7; }
  .btn:hover {
    opacity: 1; }
  .btn.btn-sidebar:before {
    transform: rotate(180deg);
    transition: all 0.5s ease-in-out; }
  .btn.btn-sidebar.toggle:before {
    transform: rotate(0); }
  .btn.btn-command-log:hover, .btn.btn-sidebar:hover {
    opacity: 1; }

.fail .btn {
  opacity: 1; }
.fail:after {
  box-shadow: 5px 31px 0 0 rgba(29, 60, 75, 0.2); }
  .fail:after, .fail:after .current-scope:after {
    transition: all 0.2s ease; }

.function.pass > .line-container {
  border-radius: 6px; }

.console, .screenshots {
  border-radius: 13px;
  box-shadow: 14px 22px 0 0 rgba(27, 60, 75, 0.4);
  opacity: 0.9;
  transform: translateX(-50%);
  transition: max-height 0.3s ease 0.2s, padding 0.1s ease 0.2s, width 0.2s ease; }
  .console:hover, .screenshots:hover {
    opacity: 1; }

.screenshots {
  transform: translate(-50%, -100%); }
  .screenshots img {
    border-radius: 13px;
    cursor: pointer; }

.sidebar .current-scope:after {
  box-shadow: 3px 31px 0 0 rgba(29, 60, 75, 0.3); }

.fullscreen-image:before {
  opacity: 0.9;
  transition: opacity 0.5s ease; }
.fullscreen-image img {
  cursor: zoom-out;
  transform: translate(-50%, -50%);
  transition: height 0.5s ease; }
.fullscreen-image.toggle {
  transition: all 0s ease 0.5s; }
  .fullscreen-image.toggle:before {
    opacity: 0; }
  .fullscreen-image.toggle img {
    transition: all 0s ease 0.5s; }

.line-container {
  display: block;
  transition: background 0.2s ease; }

.expand-toggle {
  transition: all 0.2s ease; }
  .expand-toggle.toggle {
    transform: rotate(90deg); }

/* ---------- Global ---------- */
body {
  background-color: #EBE7DC;
  font-family: 'Menlo', 'Source Code Pro', 'Lucia Console', 'Monospace';
  font-size: 11px;
  line-height: 1.75em;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  word-wrap: break-word; }

h3 {
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  padding: 5px 0; }

li {
  display: block;
  padding: 1px; }

/* ---------- Scope selection ---------- */
.current-scope {
  background-color: rgba(232, 255, 118, 0.4);
  border: 1px solid #DEE;
  margin: -1px;
  padding: 0; }
  .current-scope .line-number {
    opacity: 0.8; }
  .current-scope.hover .line-number {
    opacity: 0.8; }
  .current-scope.hover .macro > .btn-container .line-number, .current-scope.hover .macro > .line-container .line-number .current-scope .macro > .line-container .line-number {
    opacity: 0.8; }
  .current-scope.hover .macro .line-number {
    opacity: 0.2; }
  .current-scope .macro > .btn-container .line-number {
    opacity: 0.8; }
  .current-scope .macro .line-number {
    opacity: 0.2; }
  .current-scope .macro .child-container .macro .btn-container .line-number, .current-scope .macro .child-container .macro .line-container .line-number {
    opacity: 0.2; }

.hover.current-scope {
  background-color: rgba(232, 255, 118, 0.4); }

.current-scope:after, .fail:after {
  content: ' ';
  height: 7px;
  margin-top: -30px;
  position: absolute;
  width: 100%; }

.transitioning .current-scope:after {
  opacity: 0; }

.hover {
  background-color: rgba(74, 220, 231, 0.46);
  border: 1px solid #FFF;
  margin: 0;
  padding: 0; }
  .hover > .btn-container .line-number, .hover > .line-container .line-number {
    opacity: 1; }
  .hover .line-number {
    opacity: 1; }

.pass.hover > .btn-container, .fail.hover > .btn-container {
  margin: 1px 0; }

.pending.hover > .btn-container {
  margin: 0; }

.marco.current-scope > .btn-container .line-number, .marco.current-scope > .line-container .line-number {
  opacity: 0.2; }

.current-scope .fail .line-container, .hover .fail .line-container {
  background-color: #EE6C39; }

/* ---------- Command log ---------- */
.command-log {
  font-family: 'Verdana', 'Geneva', sans-serif;
  height: 100%;
  overflow-y: scroll;
  padding: 0;
  transition: all 0.5s ease-in-out; }
  .command-log .status div {
    display: inline; }
  .command-log .current-scope {
    background-color: #FFEB7B;
    border: 2px solid #AAA;
    color: #555;
    outline-width: 0; }
    .command-log .current-scope.linkable:hover {
      background-color: #FAE841;
      color: #444; }
    .command-log .current-scope .expand-toggle {
      color: #444; }
  .command-log.collapse {
    display: block;
    height: 0; }
  .command-log.toggle {
    height: 100%; }
  .command-log .line-container {
    margin-left: 20px; }
  .command-log .linkable {
    cursor: pointer;
    transition: all 0.3s ease; }
    .command-log .linkable:hover {
      background: #648590;
      color: #FFF;
      outline: 1px solid #777; }
  .command-log .divider-line {
    background: #b1a290;
    color: #32302e;
    font-size: 12px;
    font-weight: bold;
    height: auto;
    padding: 10px; }
  .command-log .line-group {
    padding-bottom: 1px;
    position: relative; }
  .command-log .child-container {
    border: 1px dashed #EEE;
    border-right-width: 0;
    border-top-width: 0;
    color: #FFF;
    margin: 0 0 9px 24px;
    overflow: hidden; }
    .command-log .child-container .run-line:last-child {
      padding-bottom: 11px; }
  .command-log .expand-toggle {
    background: transparent;
    border-width: 0;
    color: #FFF;
    cursor: pointer;
    height: 20px;
    line-height: inherit;
    margin: 6px 0 0 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 20px; }
    .command-log .expand-toggle:hover {
      color: #f0f0f0; }
    .command-log .expand-toggle:before {
      content: '\f105';
      font-family: 'FontAwesome';
      font-size: 14px;
      height: 10px;
      width: 10px; }
  .command-log .failed {
    background-color: #E2604C; }
    .command-log .failed.current-scope {
      background-color: #EE6C39; }
    .command-log .failed:hover {
      background-color: #F0652B; }
    .command-log .failed .expand-toggle {
      color: #FBEFB4; }
  .command-log .title-line {
    display: none; }

/* ---------- Sidebar ---------- */
.command-logger .sidebar {
  width: 40%; }

.minimized-sidebar .sidebar {
  transform: translateX(100%); }

.sidebar {
  background-color: #A1978B;
  box-shadow: -7px 0 0 0 rgba(36, 33, 29, 0.2);
  color: #FFF;
  display: inline-block;
  font-family: 'Futura', 'Trebuchet MS', 'Arial', sans-serif;
  height: 100%;
  position: fixed;
  right: 0;
  transform: translateX(0%);
  transition: all 0.6s ease-out;
  width: 20%;
  z-index: 2; }
  .sidebar .title {
    display: block;
    font-size: 32px;
    font-weight: 500;
    margin: 30px 0 10px 17px;
    position: relative; }
  .sidebar .scope-type {
    margin-bottom: 60px; }
  .sidebar .scope-name {
    background-color: #A1978B;
    display: block;
    float: right;
    font-size: 15px;
    font-weight: 100;
    max-width: 100%;
    min-width: 100%;
    overflow: hidden;
    padding: 9px 0 9px 20px;
    position: relative;
    text-overflow: ellipsis;
    transition: all 0.8s ease-in-out;
    white-space: nowrap;
    width: auto; }
    .sidebar .scope-name:hover {
      box-shadow: -5px 7px 0 0 rgba(36, 33, 29, 0.2);
      max-width: 300%;
      padding-right: 20px; }
  .sidebar .parameter-name {
    font-size: 12px;
    font-weight: 500;
    margin: 15px 20px 0; }
  .sidebar .parameter-value {
    font-size: 11px;
    margin: 10px 30px; }

/* ---------- Syntax highlight ---------- */
/* ---------- Sidebar ---------- */
.command-name {
  color: #8CEFF6; }

.current-scope .command-name {
  color: #447090; }

.param-type {
  color: #CFCFCD; }

.failed .command-name {
  color: #FBF4D7; }
.failed .param-type {
  color: #FFE4C7; }
.failed .param-value {
  color: #FFE4C7; }

.command-log .child-container .command-name {
  color: #E9C993; }
.command-log .child-container .param-value {
  color: #FDBA93; }
.command-log .child-container .error-line .command-name {
  color: #FC8666; }

.action-type, .misc, .tag-type {
  margin: 2px; }

/* ---------- XML log ---------- */
.name {
  color: #111; }

.current-scope.pass .name {
  color: #446090; }

.tag-type {
  color: #333; }

.function > div .name, .macro > div .name {
  color: #663615; }

/* ---------- XML log ---------- */
.collapse, .header > .btn-container {
  display: none; }

.xml-log {
  color: #444;
  display: block;
  position: relative;
  width: 80%; }

.command-logger .xml-log {
  width: 60%; }

.minimized-sidebar .xml-log {
  width: 100%; }

.xml-log-container {
  border-width: 0;
  height: 100%;
  padding-left: 100px; }

.line-container {
  padding: 5px 3px; }

.function > .line-container, .macro > .line-container:nth-of-type(2) {
  cursor: pointer; }

.macro > .child-container {
  background-color: rgba(248, 203, 155, 0.38);
  box-shadow: inset 0 0 0 0 rgba(157, 87, 11, 0.38); }

.child-container {
  border-left: 1px solid #DDD;
  height: 0;
  list-style-type: none;
  overflow: visible;
  padding: 1px 0 1px 20px; }
  .child-container.root-container {
    border-width: 0;
    overflow: visible; }
  .child-container.transitioning {
    overflow: hidden; }

.header > .child-container {
  height: auto; }

.btn-container {
  left: 0;
  position: absolute; }

.parameter-container {
  border: 1px dashed #777;
  border-right-width: 0;
  border-top-width: 0;
  height: 0;
  margin-left: 35px;
  overflow: hidden; }
  .parameter-container .line-container {
    padding: 5px 10px; }
  .parameter-container .line-number {
    left: 0;
    position: absolute; }

.line-number {
  border-width: 0;
  color: #222;
  cursor: pointer;
  display: inline-block;
  font-size: 10px;
  margin-left: 5px;
  min-width: 26px;
  opacity: 0.2; }
  .line-number:hover {
    opacity: 1; }

/* ---------- Command-logger mode ---------- */
.command-logger .pass.conditional-failed > .line-container {
  background: transparent; }
.command-logger .pass > .line-container {
  background-color: #7FCDD1;
  margin-top: 1px;
  padding-right: 2%;
  width: 102%; }
.command-logger .pending > .line-container {
  background-color: rgba(253, 154, 7, 0.15);
  border: 3px dotted #FD9A07;
  padding: 4px; }
.command-logger .hover.pass.function {
  background: transparent;
  outline-width: 0; }
.command-logger .hover.pass > .line-container, .command-logger .hover.pass.pending > .line-container {
  background-color: #FFFBF1; }
.command-logger .function.pass .line-container:hover {
  background-color: #A3D7C9;
  border: 1px solid #FFF;
  border-right-width: 0;
  padding: 4px 2% 4px 2px; }
.command-logger .current-scope.pass.function {
  background: transparent;
  outline-width: 0; }
.command-logger .current-scope.pass > .line-container, .command-logger .current-scope.pending > .line-container {
  background-color: #A3D7C9; }
.command-logger .running .pending.function > .line-container {
  background-color: #FFB57C; }

.fail .btn-container {
  margin-top: 1px; }
.fail .line-number {
  color: #FF2600;
  font-weight: bold; }
.fail .line-container {
  background-color: #E2604C;
  border: 1px solid #FFA191;
  position: relative; }
  .fail .line-container:before {
    background-color: #FFF;
    content: '';
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.2s ease;
    width: 100vw;
    z-index: -1; }

.collapse .fail:after, .transitioning .fail:after, .transitioning .fail .line-container:before {
  opacity: 0; }

.console, .screenshots {
  border: 6px solid #F9F9EB;
  color: #F9F9EB;
  left: 50%;
  max-height: 1000px;
  overflow-Y: auto;
  position: absolute;
  width: 94%;
  z-index: 2; }
  .console.toggle, .screenshots.toggle {
    border-width: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: max-height 0.3s ease, padding 0.1s ease 0.2s, width 0.2s ease 0.3s, border-width 0.1s 0.7s;
    width: 0; }

.console {
  background-color: #EA461F;
  font-size: 12px;
  margin-top: 25px;
  padding: 10px 10px 50px;
  word-wrap: break-word; }

.screenshots {
  background-color: #333;
  margin-top: -25px;
  padding: 30px 10px;
  text-align: center; }
  .screenshots div {
    display: inline-block;
    min-width: 600px;
    width: 49%; }
  .screenshots img {
    border: 3px solid #A19C8C;
    height: auto;
    max-width: 100%; }
  .screenshots span {
    display: block;
    padding: 5px 10px;
    text-align: left; }

.fullscreen-image {
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .fullscreen-image:before {
    background: #111;
    content: '';
    height: 100%;
    position: absolute;
    width: 100%; }
  .fullscreen-image img {
    height: 95%;
    left: 0;
    left: 50%;
    position: absolute;
    right: 0;
    top: 50%; }
  .fullscreen-image.toggle, .fullscreen-image.toggle img {
    height: 0; }
