@import "bourbon";
@import "mixins";

.lfr-search-container {
	margin-top: 1.5em;
	overflow: auto;

	@include respond-to(phone) {
		.selector-button {
			width: auto;
		}
	}

	.table {
		.text-bottom {
			vertical-align: bottom;
		}

		.text-middle {
			vertical-align: middle;
		}

		.text-top {
			vertical-align: top;
		}
	}
}

.touch .lfr-search-container {
	@include experimental(overflow-scrolling, touch);

	.searchcontainer-content .table {
		max-width: none;
	}
}

.taglib-search-iterator-page-iterator-top {
	margin-bottom: 15px;
}

.taglib-page-iterator {
	clear: both;
	height: auto;
	overflow: hidden;
	width: auto;

	.lfr-pagination-buttons {
		float: right;
		margin: 0;

		@include respond-to(phone, tablet) {
			width: 100%;

			@include respond-to(phone) {
				float: none;
				margin-top: 20px;
			}

			> li {
				display: inline-block;
				float: left;
				width: 50%;

				&.first, &.last {
					display: none;
				}

				> a {
					line-height: 20px;
					padding: 11px 19px;
					width: 50%;
				}
			}
		}
	}

	.lfr-pagination-config {
		float: left;
		line-height: 46px;

		@include respond-to(phone) {
			float: none;

			.current-page-menu {
				display: block;

				.btn {
					display: block;
				}
			}
		}

		.lfr-pagination-delta-selector, .lfr-pagination-page-selector {
			display: inline;
		}

		.lfr-pagination-delta-selector {
			float: none;

			@include respond-to(phone, tablet) {
				display: none;
			}
		}
	}

	.search-results {
		float: left;
		line-height: 46px;
		margin-left: 10px;

		@include respond-to(phone, tablet) {
			display: none;
		}
	}
}

.article-entry {
	min-width: 150px;
}

.folder-entry {
	min-width: 250px;
}