.dialog-iframe-root-node .dockbar {
	.container, .container-fluid {
		> .nav.nav-add-controls .dropdown-menu .page-preview-controls {
			display: none;
		}
	}
}

.signed-out {
	.dockbar {
		.container, .container-fluid {
			> .nav-account-controls {
				position: absolute;
				right: 0;

				@include respond-to(desktop) {
					position: relative;
				}
			}
		}
	}

	&.dockbar-split .dockbar {
		.container, .container-fluid {
			> .nav-account-controls {
				position: absolute;
				right: 0;

				@include respond-to(desktop) {
					position: fixed;
					right: 5em;
				}
			}
		}
	}
}

.touch .dockbar-split, .controls-hidden.dockbar-split {
	.dockbar {
		.container, .container-fluid {
			> .nav.nav-add-controls ul.dropdown-menu > li.toggle-controls > a.toggle-controls-link {
				clip: rect(auto auto auto auto);
				position: static;
			}
		}
	}
}