##
## You can use Velocity to define display styles for the Tags Navigation
## portlet.
##
## A set of variables have been made available for the template developers:
##
##  $ddmTemplateId: the current template id
##
##  $entries: the list of tags that are being shown in the portlet
##
##  $locale: the locale of the site
##
##  $renderRequest: the render request
##
##  $renderResponse: the render response
##
##  $themeDisplay: the theme display
##
## It is possible to use these variables to create advanced templates to display
## a set of tags in your tags navigation portlet. Here's a simple template
## example:
##
##  #foreach ($entry in $entries)
##      <h1 class="tag-name">
##          $entry.getName()
##      </h1>
##  #end
##