$status-approved-border: #26C0BE;
$status-approved-text: $status-approved-border;

$status-denied-border: #FF387A;
$status-denied-text: $status-denied-border;

$status-draft-border: #577ED2;
$status-draft-text: $status-draft-border;

$status-expired-border: #9CA4AC;
$status-expired-text: $status-expired-border;

$status-pending-border: #FF6C58;
$status-pending-text: $status-pending-border;

$status-scheduled-border: #D437EF;
$status-scheduled-text: $status-scheduled-border;