@import "bourbon";

.lfr-tags-selector-list {
	border: 0 solid transparent;
	border-width: 0 1px 1px;
	margin-bottom: 0.5em;

	li {
		&.tree-node .tree-node-content {
			@include ellipsis;
		}
	}
}

.lfr-tags-selector-content {
	.lfr-tag-selector-input {
		background-color: transparent;
	}

	.toolbar {
		position: static;
	}
}

.lfr-tag-selector-popup {
	width: 250px;

	label {
		border-bottom: 1px solid transparent;
		cursor: pointer;
		display: block;
		padding: 2px;
		padding-left: 20px;

		input {
			margin-right: 5px;
			vertical-align: middle;
		}

		.lfr-tag-text {
			@include ellipsis;
		}
	}

	ul {
		margin: 0;
	}

	li li {
		list-style: none;
		margin-left: 1em;
	}

	.lfr-tag-selector-search, .lfr-tag-selector-input {
		margin-bottom: 0;
	}

	.lfr-tag-message {
		display: none;
	}

	.no-matches {
		padding: 3px;

		.lfr-tag-message {
			display: block;
		}
	}
}