@import "bourbon";

.portlet-forms {
	.aspect-ratio img {
		top: 0;
	}

	.ddl-form-name {
		font-size: 32px;
		line-height: 32px;
	}

	.ddl-form-description {
		font-size: 14px;
		line-height: 24px;
	}

	.form-builder-page-header-title,
	.lfr-ddm-form-page-title {
		font-size: 19px;
	}

	.form-builder-page-header-description,
	.lfr-ddm-form-page-description {
		font-size: 14px;
	}
}

.portal-popup, .portlet-forms-admin {
	.ddl-form-basic-info {
		background-color: #869CAD;
		min-height: 300px;
		padding-bottom: 169px;

		h1, h2, h3, h4, h5, h6  {
			margin: 0;
		}

		.alloy-editor.alloy-editor-placeholder:empty:not(:focus),
		.ddl-form-name,
		.ddl-form-description {
			border-width: 0;
			color: white;
			margin: 0;

			.help-block {
				position: absolute;
				top: -15px;
			}

			p {
				margin: 0;
			}
		}

		.ddl-form-name {
			font-weight: 300;
			padding: 52px 0 0 0;

			p {
				margin: 0;
			}
		}

		.ddl-form-description {
			font-weight: 400;
			padding: 23px 0 0 0;

			p {
				margin: 0;
			}
		}
	}

	.form-builder-page-header-title,
	.form-builder-page-header-description,
	.lfr-ddm-form-page-title,
	.lfr-ddm-form-page-description {
		color: #728694;
		font-weight: 400;
	}

	.form-builder-page-header-title,
	.lfr-ddm-form-page-title {
		margin-top: 25px;
	}

	.form-builder-tabview,
	.lfr-ddm-form-wizard {
		border-bottom: 1px solid #DEE4E9;
		padding: 20px 34px 11px 34px;
		position: relative;
	}

	.ddl-form-builder-app {
		margin-top: -120px;

		.form-builder-field-list-empty .form-builder-field-list-add-button {
			position: relative;
		}

		.icon-refresh {
			display: block;
			font-size: 60px;
			margin-top: 150px;
			text-align: center;
		}

		.form-builder-content,
		.lfr-ddm-form-content {
			background: #FFF;
			border: 1px solid #DCE0E3;
			border-radius: 1px;
			box-shadow: 0 2px 4px rgba(188, 197, 204, 0.3);
			margin: 0 auto;
			width: auto;
		}
	}
}

.lfr-ddl-field-settings-modal.form-builder-field-settings {
	width: 720px;

	.form-builder-field-settings-content {
		.auto-fields {
			.lfr-form-row {
				padding: 0;

				&:hover {
					background: transparent;
					background-color: transparent;
					border-color: transparent;
				}
			}
		}

		.modal-body {
			background-color: #FFF;
			max-height: 500px;
			overflow-x: hidden;
			overflow-y: auto;
			padding: 0;
		}

		.lfr-ddm-form-container {
			padding: 0 50px;

			.lfr-ddm-form-field-container {
				.lfr-form-row {
					border-width: 0;
					padding-bottom: 5px;
					padding-top: 5px;

					&:hover {
						padding-top: 5px;
					}

					.lfr-autorow-controls {
						bottom: 0;
						right: 0;

						.add-row {
							margin-right: 3px;
						}
					}
				}

				.toggle-switch-bar .toggle-switch-handle {
					text-transform: none;
				}
			}

			.lfr-ddm-form-page {
				display: none;

				&.active {
					display: block;
				}

				&.advanced {
					background-color: #F5F8FA;
					margin: 0 -50px;
					padding: 20px 50px;
				}
			}

			.settings-toggler {
				background-color: #F5F8FA;
				color: #879CB5;
				display: block;
				margin: 0 -50px;
				padding: 10px 50px;
				text-decoration: none;
			}
		}

		@include keyframes(spin) {
			100% {
				transform: rotate(359deg);
			}
		}

		.form-builder-field-settings-save .icon-spinner {
			@include animation(spin 1000ms infinite linear);

			display: inline-block;
			margin: -2px 0 0 4px;
		}
	}
}

.portlet-forms-admin {
	$side-spacing: 34px;

	.aspect-ratio img {
		top: 0;
	}

	.form-builder-header,
	.form-builder-header-title {
		display: none;
	}

	.form-builder-tabview {
		padding-right: 70px;
	}

	.form-builder-page-header {
		position: relative;
	}

	.form-builder-controls-trigger  {
		$height: 48px;

		display: block;
		font-size: 20px;
		height: $height;
		margin-top: - $height / 2;
		padding: 8px;
		position: absolute;
		right: 20px;
		top: 50%;
	}

	.liferay-ddm-form-renderer-wizard-navigation-allowed {
		> li {
			cursor: pointer;
		}
	}

	.form-builder-pages-header {
		margin-top: 0;
		width: auto;

		input {
			border-width: 0;

			&.form-builder-page-header-description {
				margin-bottom: 17px;
				padding-top: 0;
			}

			&.form-builder-page-header-title {
				height: auto;
				padding-bottom: 0;
				padding-top: 0;
			}

			&:focus {
				box-shadow: none;
			}
		}
	}

	.form-builder-layout {
		margin: 0 auto;
		width: auto;

		.layout-builder-add-row-area {
			margin: 0;
		}

		.layout-row-container-row {
			margin-bottom: 2px;

			.layout-row {
				border-width: 0;

				.col {
					border-radius: 0;
					border-width: 0;
					min-height: 50px;

					.form-group {
						min-height: 40px;
					}
				}
			}
		}
	}

	.lfr-ddm-repeatable-add-button {
		position: absolute;
		right: 0;
		top: 0;
	}

	.lfr-ddm-repeatable-delete-button {
		position: absolute;
		right: 15px;
		top: 0;
	}

	.form-builder-field {
		border-radius: 0;
		border-width: 0;
		box-shadow: none;
		margin: 0;
		padding: 10px $side-spacing 10px $side-spacing;
	}

	.form-builder-field-list-add-button {
		cursor: pointer;
		margin: 0 $side-spacing;
		width: auto;
	}

	.form-builder-field-list-add-button-label {
		color: #4A90E2;
		margin-bottom: 5px;
	}

	.form-builder-pages {
		padding-bottom: 0;

		li.active a {
			z-index: 0;
		}
	}

	.form-builder-content .layout-builder-layout-container {
		margin-bottom: 0;
	}

	.form-builder-pages-lexicon {
		position: relative;
		text-align: center;

		.form-builder-page-manager-content {
			border-top: 1px solid #DCE0E3;
		}

		.form-builder-pagination {
			margin: 0;
		}
	}
}

.form-builder-page-manager-popover-header.popover.left > .arrow {
	margin-left: 19px;
}

.form-builder-page-manager-popover-header  {
	.popover-content {
		padding: 7px 21px;
	}

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		color: #869CAD;
		cursor: pointer;
		font-size: 15px;
		font-weight: 400;
		line-height: 16px;
		list-style-type: none;
		padding: 11px 0 11px 0;
	}
}