.lfr-ddm-breadcrumb {
	padding-left: 0;
	padding-right: 0;
}

.lfr-ddm-pages-container {
	height: 283px;
	margin-right: -23px;
	overflow: auto;
	padding-left: 5px;
	padding-top: 50px;

	&.top-ended {
		padding-top: 0;
	}

	.loading-icon {
		display: block;
		font-size: 48px;
		margin: 0 auto;
	}

	&.nav {
	    > li {
	    	> a {
		        margin-left: 20px;
		        padding-left: 0;
		    }

		    .loading-icon {
		    	font-size: 18px;
		    	position: absolute;
		    	right: 36px;
		    	top: 12px;
		    }
	    }

	    .lfr-ddm-page-radio {
	        position: absolute;
	        top: 10px;
	    }
	}
}

.portlet-journal {
	.article-content-description, .article-content-title {
		.input-localized-content {
			display: none;
		}
	}

	.journal-article-preview {
		padding: 0 20px;
	}

	.lfr-description-column, .lfr-title-column {
		max-width: 150px;
		min-width: 150px;
	}
}