<?xml version="1.0"?>

<beans xmlns="http://xbean.org/schemas/spring/1.0" xmlns:spring="http://xbean.org/schemas/spring/1.0" xmlns:servicemix="http://servicemix.org/config/1.0" xmlns:liferay="http://www.liferay.com/servicemix/">
	<servicemix:container spring:id="jbi" rootDir="../wdir" useMBeanServer="true" createMBeanServer="true" installationDirPath="../install" deploymentDirPath="../deploy" monitorInstallationDirectory="true" dumpStats="true" statsInterval="10" transactionManager="#transactionManager">
		<servicemix:activationSpecs>
			<servicemix:activationSpec componentName="workflowInbound" service="liferay:workflowInbound" destinationService="liferay:workflowOutbound">
				<servicemix:component>
					<bean class="com.liferay.jbi.util.HttpInOutBinding" />
				</servicemix:component>
			</servicemix:activationSpec>
			<servicemix:activationSpec componentName="workflowOutbound" service="liferay:workflowOutbound">
				<servicemix:component>
					<bean class="com.liferay.jbi.util.URLTransformComponent">
						<property name="url" value="http://localhost:8080/jbpm-web/servlet" />
					</bean>
				</servicemix:component>
			</servicemix:activationSpec>
		</servicemix:activationSpecs>
	</servicemix:container>
	<bean id="transactionManager" class="org.jencks.factory.TransactionManagerFactoryBean" />
</beans>