/wiki-engine-mediawiki/src/main/resources/ApplicationResources*.properties
/wiki-engine-mediawiki/src/main/resources/jamwiki-configuration.dtd
/wiki-engine-mediawiki/src/main/resources/jamwiki-configuration.xml