/* ---------- Dialogs ---------- */

$dialog-footer-padding: 20px !default;
$dialog-iframe-padding: 20px !default;

/* ---------- Labels ---------- */

$label-circle-border-radius: 20px !default;
$label-rounded-border-radius: 3px !default;
$label-square-border-radius: 0 !default;

$label-entry-bg: #FFF !default;
$label-entry-border-color: #000 !default;
$label-entry-border-width: 1px !default;
$label-entry-button-height: $input-height-base !default;
$label-entry-button-width: $input-height-base !default;
$label-entry-color: #000 !default;
$label-entry-font-size: 14px !default;
$label-entry-padding: 0 0 0 12px !default;

/* ---------- Product menu ---------- */

$product-menu-collapse-icon-bg: #1A2126 !default;

$product-menu-header-bg: #1B2228 !default;
$product-menu-header-color: #869CAD !default;
$product-menu-header-link-color: #FFF !default;
$product-menu-header-link-hover-color: $product-menu-header-link-color !default;
$product-menu-header-logo-bg: #65B6F0 !default;
$product-menu-header-logo-border-radius: 4px !default;

$product-menu-list-group-heading-bg: transparent !default;
$product-menu-list-group-heading-border: transparent !default;
$product-menu-list-group-heading-border-width: 2px !default;

$product-menu-list-group-heading-collapsed-bg: transparent !default;
$product-menu-list-group-heading-collapsed-border: transparent !default;
$product-menu-list-group-heading-collapsed-border-width: 1px !default;

$product-menu-list-group-heading-hover-bg: $product-menu-list-group-heading-bg !default;
$product-menu-list-group-heading-hover-border: $product-menu-list-group-heading-border !default;

$product-menu-list-group-item-bg: #1A2126 !default;

$product-menu-nav-equal-height-heading-closed-collapse-icon: '\f0fe' !default;
$product-menu-nav-equal-height-heading-open-collapse-icon: '\f146' !default;

$product-menu-nav-link-active-color: #FFF !default;
$product-menu-nav-link-color: #869CAD !default;

$product-menu-site-administration-color: #FFF !default;
$product-menu-site-administration-link-active-bg: #3A4D5A !default;
$product-menu-site-administration-link-active-border-radius: 4px !default;
$product-menu-site-administration-link-active-color: #88C37C !default;
$product-menu-site-administration-link-color: $product-menu-nav-link-color !default;

$product-menu-tabs-active-bg: #3A4D5A !default;
$product-menu-tabs-active-border: transparent !default;
$product-menu-tabs-active-color: #FFF !default;
$product-menu-tabs-bg: #1C252C !default;
$product-menu-tabs-border-radius: 4px !default;
$product-menu-tabs-color: $product-menu-tabs-bg !default;
$product-menu-tabs-hover-bg: #1C252C !default;
$product-menu-tabs-hover-border: transparent !default;
$product-menu-tabs-hover-color: #869CAD !default;

$product-menu-user-signout-bg: #3A4D5A !default;
$product-menu-user-signout-border-radius: 4px !default;
$product-menu-user-signout-icon-color: #FFF !default;

/* ---------- Toggle card ---------- */

$toggle-card-height: 104px !default;
$toggle-card-width: 92px !default;

$toggle-card-padding-horizontal: 12px !default;
$toggle-card-padding-vertical: 12px !default;

$toggle-card-border-radius: 2px !default;

$toggle-card-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15) !default;

$toggle-card-icon-border-radius: 30px !default;
$toggle-card-icon-height: 32px !default;
$toggle-card-icon-width: 32px !default;

$toggle-card-border: #DCE0E3 !default;
$toggle-card-border-width: 1px !default;
$toggle-card-icon-bg: #FFF !default;
$toggle-card-icon-border: #869CAD !default;
$toggle-card-icon-border-width: 0 !default;

$toggle-card-on-border: #65B6F0 !default;
$toggle-card-on-border-width: 2px !default;
$toggle-card-on-icon-bg: #FFF !default;
$toggle-card-on-icon-border: #65B6F0 !default;
$toggle-card-on-icon-border-width: 0 !default;