new Liferay.Alert(
	{
		closeable: #closeable#,
		delay: {
			hide: #timeout#,
			show: 0
		},
		duration: #animationTime#,
		icon: '#icon#',
		message: '#message#',
		namespace: '#namespace#',
		title: '#title#',
		type: '#type#'
	}
).render(A.one('#targetNode#'));