.portlet-journal-content {
	.journal-content-article {
		img {
			max-width: 100%;
		}
	}

	.content-metadata-asset-addon-entries {
		.content-metadata-entry {
			display: block;
			margin: 3em 0;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.row-spacing {
		margin-bottom: 40px;
	}

	.row-button {
		margin-top: -30px;
	}
}