.portlet-journal-content {
	.journal-content-article {
		clear: right;

		&:after {
			clear: both;
			content: '';
			display: block;
			height: 0;
		}

		img {
			max-width: 100%;
		}
	}

	.user-tool-asset-addon-entries {
		text-align: right;

		.user-tool-asset-addon-entry {
			display: inline-block;
			margin: 0 1em 2em 0;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.content-metadata-asset-addon-entries {
		.content-metadata-asset-addon-entry {
			display: block;
			margin: 3em 0;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.portlet-configuration {
	.displaying-article-id.modified {
		color: #4DCF0C;
	}
}

.ie {
	.portlet-journal-content {
		.journal-content-article {
			zoom: 1;
		}

		.lfr-icon-actions {
			opacity: 0.2;
		}

		&:hover .lfr-icon-actions {
			opacity: 1;
		}
	}
}

.ie6 {
	.portlet-journal-content {
		.icons-container {
			height: 1%;
		}

		.lfr-icon-actions {
			opacity: 0.9;
		}
	}
}