.portlet-journal-content {
	.journal-content-article {
		clear: right;

		&:after {
			clear: both;
			content: '';
			display: block;
			height: 0;
		}

		img {
			max-width: 100%;
		}
	}

	.user-tool-asset-addon-entries {
		text-align: right;

		.user-tool-asset-addon-entry {
			display: inline-block;
			margin: 0 1em 2em 0;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.content-metadata-asset-addon-entries {
		.content-metadata-asset-addon-entry {
			display: block;
			margin: 3em 0;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.card-media-primary {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		overflow: hidden;
		padding-bottom: 100%;
		position: relative;
		width: 100%;
	}

	.template-preview {
		.media {
			margin-bottom: 20px;

			img {
				height: 48px;
			}
		}
	}

	.taglib-workflow-status {
		position: absolute;
		right: 0;
		top: 0;
	}

	.row-spacing {
		margin-bottom: 40px;
	}
}

.portlet-configuration {
	.displaying-article-id.modified {
		color: #4DCF0C;
	}
}

.ie {
	.portlet-journal-content {
		.journal-content-article {
			zoom: 1;
		}

		.lfr-icon-actions {
			opacity: 0.2;
		}

		&:hover .lfr-icon-actions {
			opacity: 1;
		}
	}
}

.ie6 {
	.portlet-journal-content {
		.icons-container {
			height: 1%;
		}

		.lfr-icon-actions {
			opacity: 0.9;
		}
	}
}