.portlet-rss {
	.feed {
		border-bottom: 1px solid #CCC;
		margin-bottom: 30px;
		padding-bottom: 20px;

		&.last {
			border-bottom-width: 0;
			margin-bottom: 0;
		}
	}

	.feed-date {
		font-size: 12px;
	}

	.feed-description {
		margin: 0 0 5px 0;
	}

	.feed-entries{
		padding-top: 10px;
	}

	.feed-entry {
		margin-bottom: 4px;
	}

	.feed-entry-author {
		font-weight: 500;
		font-size: 14px;
	}

	.feed-entry-content {
		padding-left: 20px;

		img {
			margin-right: 0.5em;
		}
	}

	.feed-entry-enclosure {
		display: block;
		font-size: 0.9em;
	}

	.feed-entry-expander {
		cursor: pointer;
		float: left;
		padding-right: 5px;
	}

	.feed-entry-title {
		font-weight: bold;
	}

	.feed-image {
		margin-bottom: 15px;
	}

	.feed-title {
		font-size: 1.2em;
		font-weight: bold;

		a:before {
			padding-right: 5px;
		}
	}

}