@import "bourbon";
@import "mixins";

$horizontal-spacing: 35px;

.ddl-form-builder-buttons .icon-spinner,
.ddl-form-settings-modal .btn-toolbar-button .icon-spinner,
.lfr-ddl-field-settings-modal .btn-toolbar-button .icon-spinner {
	line-height: 21px;
	margin-left: 10px;
	position: absolute;
}

.ddl-publish-modal {
	.alert-info {
		text-align: center;
	}

	.ddl-publish-checkbox {
		width: 100%;

		small {
			display: block;
		}
	}

	.input-checkbox-wrapper {
		float: right;
	}
}

.dynamic-data-mapping-data-providers-modal {
	max-width: 720px;

	.modal-content {
		z-index: 1;
	}
}

.form-builder-page-manager-popover-header  {
	.popover-content {
		padding: 7px 21px;
	}

	li {
		color: #869CAD;
		cursor: pointer;
		font-size: 15px;
		font-weight: 400;
		line-height: 16px;
		list-style-type: none;
		padding: 11px 0;
	}

	ul {
		margin: 0;
		padding: 0;
	}
}

.form-builder-page-manager-popover-header.popover.left > .arrow {
	margin-left: 19px;
}

.lfr-ddl-field-settings-modal.form-builder-field-settings {
	height: 100%;
	margin: 0;
	width: 100%;

	&:focus {
		outline: none;
	}

	.form-builder-field-settings-content {
		.form-group {
			margin-bottom: 40px;
		}

		.has-error .key-value-editor {
			display: none
		}

		.key-value-editor {
			&.active {
				.key-value-cancel,
				.key-value-done,
				.key-value-input {
					display: inline-block;
				}

				.key-value-output {
					display: none;
				}
			}

			.key-value-cancel,
			.key-value-done,
			.key-value-input {
				display: none;
			}

			.key-value-cancel,
			.key-value-done {
				font-weight: bold;
				margin-left: 25px;
				text-transform: uppercase;
			}

			.key-value-label {
				color: #C4CFD6;
				margin-right: 5px;
			}

			.key-value-cancel,
			.key-value-done,
			.key-value-input,
			.key-value-label,
			.key-value-output {
				font-size: 11px;
			}

			.key-value-input {
				border-width: 0;
				margin: 0;
				outline: none;
			}

			.key-value-input,
			.key-value-output {
				color: #869CAD;
			}
		}

		.liferay-ddm-form-field-checkbox,
		.lfr-ddm-form-field-validation {
			margin-bottom: 20px;

			.form-group {
				line-height: 0;
				margin-bottom: 0;
			}
		}

		.liferay-ddm-form-field-key-value {
			margin-bottom: 20px;

			.help-block {
				height: 22px;
				position: relative;
			}
		}

		.liferay-ddm-form-field-options {
			.close {
				font-size: 22px;
				position: absolute;
				right: 8px;
				top: 8px;
			}

			.drag-handle {
				color: #C3CFD8;
				cursor: pointer;
				font-size: 22px;
				position: absolute;
				top: 12px;

				&:hover {
					font-weight: bold;
				}
			}

			.drag-placeholder {
				opacity: 0.5;
			}

			.last-option .close {
				display: none;
			}

			.liferay-ddm-form-field-key-value {
				margin-left: 30px;
			}

			.lfr-ddm-form-field-repeatable-toolbar {
				display: none;
			}
		}

		.liferay-ddm-form-field-text textarea + .input-group-addon {
			vertical-align: bottom;
		}

		.lfr-ddm-form-container {
			.lfr-ddm-form-field-container {
				position: relative;

				.lfr-form-row {
					border-width: 0;
					padding-bottom: 5px;
					padding-top: 5px;

					&:hover {
						padding-top: 5px;
					}

					.lfr-autorow-controls {
						bottom: 0;
						right: 0;

						.add-row {
							margin-right: 3px;
						}
					}
				}

				.toggle-switch-bar .toggle-switch-handle {
					text-transform: none;
					word-break: break-word;
				}
			}

			.lfr-ddm-form-page {
				&.active,
				&.basic {
					padding: 25px $horizontal-spacing;
				}

				&.active.advanced {
					display: block;
				}

				&.advanced {
					background-color: #F5F8FA;
					display: none;
					padding: 20px $horizontal-spacing;
				}
			}
		}

		.settings-toggler {
			background-color: #F5F8FA;
			bottom: 81px;
			color: #879CB5;
			display: block;
			font-weight: 500;
			padding: 18px $horizontal-spacing;
			position: static;
			text-decoration: none;
			width: auto;
		}
	}

	.form-inline .checkbox label {
		padding-left: 0;
	}

	.modal-body {
		background-color: #FFF;
		height: 100%;
		max-height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 0;
	}

	.modal-title {
		text-transform: capitalize;
	}

	@include lg {
		.modal-body {
			max-height: 451px;
		}

		.modal-content.form-builder-field-settings-content {
			padding-bottom: inherit;
			padding-top: 0;
		}

		.modal-header {
			position: static;
		}
	}

	.modal-content.form-builder-field-settings-content {
		border-radius: 0;
		border-width: 0;
		height: 100%;
		padding-bottom: 85px;
		padding-top: 62px;
		z-index: 1;
	}

	@include sm {
		.modal-content.form-builder-field-settings-content {
			border-radius: 4px;
			padding-bottom: 80px;
		}
	}

	.modal-footer {
		bottom: 2px;

		.btn {
			width: auto;
		}

		.lfr-ddl-field-settings-confirmation-message {
			float: left;
			margin: 13px 20px 0 0;
		}
	}

	.modal-header {
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.lfr-ddl-field-settings-modal,
.portlet-forms {
	.form-control {
		font-size: 14px;
		height: 40px;
	}

	@include sm {
		.form-control {
			font-size: 16px;
		}
	}

	.help-block {
		font-size: 14px;
	}

	.icon-asterisk {
		margin-left: 4px;
	}

	label.radio-inline {
		margin-right: 125px;
		padding-top: 11px;

		& + .radio-inline {
			margin-left: 0;
		}
	}
}

.lfr-ddl-form-builder-field-types-modal {
	height: 100%;
	margin: 0;
	outline: none;
	width: 100%;

	&.lfr-ddl-form-builder-field-types-modal-hidden {
		display: none;
	}

	.modal-body {
		background-color: #FFF;
		padding: 25px 35px;

		.field-type {
			padding: 20px 0;

			@include md {
				float: none;
				width: auto;
			}

			.field-type-icon,
			.field-type-label {
				color: #879CAC;
			}

			.field-type-icon {
				font-size: 24px;
			}

			.field-type-label {
				font-family: inherit;
				font-size: 12px;
				font-weight: 500;
				margin-top: 8px;
				text-transform: capitalize;
			}
		}
	}

	&.modal-dialog {
		width: 100%;
	}

	@include sm {
		&.modal-dialog {
			width: 392px;
		}
	}
}

.portal-popup,
.portlet-forms-admin {
	.alert {
		margin: 0;
	}

	.asset-icon .lexicon-icon {
		height: 32px;
		width: 32px;
	}

	.record-set-id, .record-set-modified-date {
		margin-right: 20px;
	}

	.ddl-form-basic-info {
		background-color: #869CAD;
		min-height: 300px;
		padding-bottom: 169px;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin: 0;
		}

		.alloy-editor.alloy-editor-placeholder,
		.alloy-editor.alloy-editor-placeholder:empty:not(:focus),
		.ddl-form-name,
		.ddl-form-description {
			border-width: 0;
			color: white;
			margin: 0;
			padding-left: 0;

			.help-block {
				top: -15px;
			}

			p {
				margin: 0;
			}
		}

		.ddl-form-name {
			font-weight: 300;
			padding: 52px 0 0 0;

			p {
				margin: 0;
			}
		}

		.ddl-form-description {
			font-weight: 400;
			padding: 23px 0 0 0;

			p {
				margin: 0;
			}
		}
	}

	.ddl-form-builder-app {
		margin-top: -120px;

		.form-builder-content,
		.lfr-ddm-form-content {
			background: #FFF;
			border: 1px solid #DCE0E3;
			border-radius: 1px;
			box-shadow: 0 2px 4px rgba(188, 197, 204, 0.3);
			margin: 0 auto;
			width: auto;
		}

		.form-builder-field {
			border-radius: 0;
			border-width: 0;
			box-shadow: none;
			margin: 0;

			label {
				float: none;
				word-wrap: break-word;
			}
		}

		.form-builder-field-list-empty .form-builder-field-list-add-button {
			padding: 16px 0;
			position: relative;
		}

		.form-builder-field-toolbar {
			min-width: 200px;
			z-index: 750;

			.form-builder-field-toolbar-items {
				float: right;
			}
		}

		.form-builder-field-toolbar-items {
			z-index: 500;
		}

		.liferay-ddm-form-field-paragraph p {
			min-height: 65px;
		}

		.liferay-ddm-form-field-text textarea {
			resize: none;
		}

		.toggle-switch-text {
			word-break: break-word;
		}
	}

	.form-builder-tabview,
	.lfr-ddm-form-wizard {
		border-bottom: 1px solid #DEE4E9;
		padding: 20px 34px 11px 34px;
		position: relative;
	}
}

.portal-popup {
	.portlet-layout {
		margin: 0 0 75px;
	}

	.portlet-column {
		padding: 0;
	}
}

.portlet-forms {
	.aspect-ratio img {
		top: 0;
	}

	.ddl-form-builder-buttons {
		margin-bottom: 0;
	}

	.ddl-form-description {
		font-size: 16px;
		line-height: 24px;
		word-break: break-all;
	}

	.ddl-form-name {
		font-size: 32px;
		line-height: 32px;
		word-break: break-all;
	}

	.form-builder-field-list-container {
		padding: 0;
	}

	.form-builder-page-header {
		padding-top: 25px;
	}

	.form-builder-page-header-description,
	.form-builder-page-header-title,
	.lfr-ddm-form-page-description,
	.lfr-ddm-form-page-title {
		color: #728694;
		font-weight: 400;
		resize: none;
		word-break: break-all;
	}

	.form-builder-page-header-description,
	.lfr-ddm-form-page-description {
		font-size: 14px;
	}

	.form-builder-field-list-empty .form-builder-field-move-target {
		margin-top: 0;
		padding: 37px 0 36px 0;
		position: static;
	}

	.form-group {
		margin: 0;

		.input-group-container,
		.radio-options,
		.input-select-wrapper,
		.checkbox {
			margin: 0;
		}
	}

	.lfr-ddm-form-field-container {
		padding: 23px 0;
	}

	.lfr-ddm-form-page-title {
		font-size: 19px;
		margin-top: 0;
	}

	.multi-step-progress-bar .progress-bar-title {
		word-break: break-all;
	}
}

.portlet-forms,
.lfr-ddl-field-settings-modal {
	.help-block {
		font-size: 14px;
	}
}

.portlet-forms-admin {
	$side-spacing: 34px;

	.aspect-ratio img {
		top: 0;
	}

	.form-builder-content {
		.layout-builder-layout-container {
			margin-bottom: 0;
		}
	}

	.form-builder-controls-trigger  {
		display: block;
		font-size: 20px;
		height: 48px;
		padding: 12px;
		position: absolute;
		right: 0;
		text-decoration: none;
		top: 13px;

		&:hover .icon-monospaced {
			color: inherit;
		}

		.icon-monospaced {
			color: #B0BEC9;
		}
	}

	.form-builder-field {
		border-radius: 0;
		border-width: 0;
		box-shadow: none;
		margin: 0;
	}

	.form-builder-field-list-add-container,
	.form-builder-field-move-target {
		position: absolute;
	}

	.form-builder-field-list-add-button {
		cursor: pointer;
		width: 100%;
	}

	.form-builder-field-list-add-button-label {
		color: #4A90E2;
	}

	.form-builder-field-list-add-container,
	.form-builder-field + .form-builder-field-list-add-container,
	.form-builder-choose-col-move-target .form-builder-field-move-target {
		margin-top: -7px;
	}

	.form-builder-field-list-empty .form-builder-field-list-add-container,
	.form-builder-field-list-empty .form-builder-field-move-target {
		margin-top: 0;
	}

	.form-builder-header {
		display: none;
	}

	.form-builder-header-title {
		display: none;
	}

	.form-builder-layout {
		margin: 0 auto;
		width: auto;

		.form-builder-field-list-empty .form-builder-field-list-container {
			padding: 23px 0;
		}

		.layout-builder-add-row-area {
			margin: 0;
		}

		.layout-row-container-row {
			margin-bottom: 0;

			.layout-row {
				border-width: 0;

				.col {
					border-radius: 0;
					border-width: 0;
					min-height: 50px;

					.layout-col-content {
						padding-left: 34px;
						padding-right: 34px;
					}

					.form-group {
						min-height: 40px;
					}

					@include md {
						.layout-col-content {
							padding-left: 15px;
							padding-right: 15px;
						}

						&:first-of-type .layout-col-content {
							padding-left: 34px;
						}

						&.last-col .layout-col-content {
							padding-right: 34px;
						}
					}
				}
			}
		}
	}

	.form-builder-pages {
		padding-bottom: 0;

		li.active a {
			z-index: 0;
		}
	}

	.form-builder-page-header {
		padding-right: 34px;
		position: relative;
	}

	.form-builder-pages-header {
		margin-bottom: 0;
		margin-top: 0;
		padding-left: 34px;
		width: auto;

		.form-builder-page-header-description,
		.form-builder-page-header-title {
			display: block;
			overflow: hidden;
			width: 100%;
		}

		.form-builder-page-header-description {
			padding-top: 0;
		}

		.form-builder-page-header-title {
			margin-bottom: 0;
			padding-bottom: 0;
			padding-top: 0;
		}

		textarea {
			border-width: 0;
			padding-left: 0;
			padding-right: 0;

			&:focus {
				box-shadow: none;
			}
		}
	}

	.form-builder-pages-lexicon {
		position: relative;
		text-align: center;

		.form-builder-page-manager-content {
			border-top: 1px solid #DCE0E3;
		}

		.form-builder-pagination {
			margin: 0;
		}
	}

	.form-builder-field-toolbar-toggle,
	.form-builder-field-toolbar {
		z-index: 20;
	}

	.form-builder-tabview {
		padding-right: 70px;

		.form-builder-controls-trigger {
			top: 34px;
		}
	}

	.form-builder-field-list-add-button-label,
	.form-builder-field-move-target-label,
	.layout-builder-move-target-label {
		font-size: 11px;
	}

	.form-control[readonly] {
		background-color: transparent;
	}

	.lfr-ddm-repeatable-add-button {
		position: absolute;
		right: 0;
		top: 0;
	}

	.lfr-ddm-repeatable-delete-button {
		position: absolute;
		right: 15px;
		top: 0;
	}

	.liferay-ddm-form-renderer-wizard-navigation-allowed {
		> li {
			cursor: pointer;
		}
	}

	.toggle-switch {
		display: none;
	}
}

@include sm {
	.lfr-ddl-field-settings-modal.form-builder-field-settings {
		height: 670px;
		padding-top: 85px;
		width: 390px;
	}

	.lfr-ddl-form-builder-field-types-modal {
		max-height: 550px;
		padding-top: 85px;
		width: 500px;
	}
}

@include md {
	.lfr-ddl-field-settings-modal.form-builder-field-settings {
		height: 676px;
		width: 720px;
	}
}