.portlet-trash {
	.asset-ratings {
		clear: both;
		margin: 1em 0;
	}

	.asset-discussion .taglib-discussion {
		width: 100%;
	}

	.aui-search-bar {
		display: block;
		float: right;
	}
}
.trash-restore-popup {
	.aui-form {
		fieldset {
			margin-bottom: 0;
			padding: 0 15px;
		}

		.new-file-name .aui-field-input {
			width: 100%;
		}
	}

	.portlet-msg-alert {
		margin: 10px 0;
	}
}