.portlet-trash {
	.asset-ratings {
		clear: both;
		margin: 1em 0;
	}

	.asset-discussion .taglib-discussion {
		width: 100%;
	}

	.aui-search-bar {
		display: block;
		float: right;
	}

	.lfr-header-row {
		.aui-icon-delete {
			background-image: url(@theme_image_path@/common/delete.png);
		}

		.aui-icon-undo {
			background-image: url(@theme_image_path@/common/undo.png);
		}
	}

	.trash-root-entry {
		color: #999;
		float: right;
	}
}

.trash-restore-popup {
	.aui-form {
		fieldset {
			margin-bottom: 0;
			padding: 0 15px;
		}
	}

	.portlet-msg-alert {
		margin: 10px 0;
	}
}