@import "mixins";

.portlet-asset-publisher {
	.asset-abstract {
		overflow: auto;
	}

	.asset-actions {
		@include sm {
			position: absolute;
			right: 10px;
			z-index: 1;
		}
	}

	.asset-full-content {
		img {
			max-width: 100%;
		}
	}
}