<?xml version="1.0"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
	<context-param>
		<param-name>company_id</param-name>
		<param-value>liferay.com</param-value>
	</context-param>
	<servlet>
		<servlet-name>CMSServlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortalServletWrapper</servlet-class>
		<init-param>
			<param-name>servlet-class</param-name>
			<param-value>com.liferay.portal.cms.servlet.CMSServlet</param-value>
		</init-param>
		<init-param>
			<param-name>redirects_conf</param-name>
			<param-value>cms-redirects</param-value>
		</init-param>
		<init-param>
			<param-name>redirects_enabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>CMSServlet</servlet-name>
		<url-pattern>/servlet/*</url-pattern>
	</servlet-mapping>
</web-app>