@import "compass";

.journal-article-component-list {
	margin: 10px 0 0 0;
}

.portlet-journal {
	.add-article-selector {
		display: inline-block;
		vertical-align: top;

		.lfr-meta-actions {
			padding-top: 0;
		}
	}

	.add-permission-button-row {
		float: left;
	}

	.article-separator {
		clear: both;
	}

	.article-toolbar {
		margin-bottom: 1em;
	}

	.form-section h3 {
		border-bottom: 1px solid #666;
	}

	.journal-metadata {
		min-height: 1.8em;
	}

	.article-structure-template-toolbar, .article-translation-toolbar {
		color: #34404F;
		display: block;
		margin: 0 auto;
		padding: 0;
	}

	.article-structure-template-toolbar {
		.article-structure-toolbar, .article-template-toolbar {
			display: inline;
			margin-bottom: 0;
			margin-left: 0.5em;
		}

		.article-template-image {
			max-height: 50px;
			max-width: 50px;
			vertical-align: middle;
		}
	}

	.article-translation-toolbar {
		.add-translations-menu {
			display: inline;
			float: none;
			margin-left: 2em;
			padding: 0.4em 0;

			li {
				display: inline;

				strong {
					display: inline;
				}
			}
		}

		.contains-translations {
			margin-top: 1em;
		}
	}

	.article-translation-toolbar {
		padding: 1em 0 0 0;
	}

	.journal-article-header-edit {
		background: #FCFCFC;
		border: solid #DDD;
		border-width: 1px 0;
		margin: 0 0 1em;
		padding: 1em;
	}

	.lfr-panel-basic {
		.lfr-panel-title {
			border-bottom: 1px solid #CCC;
			float: none;
			position: relative;
			top: -0.5em;

			span {
				background: #FFF;
				padding: 0 8px 0 4px;
				position: relative;
				top: 0.55em;
			}
		}

		.lfr-panel-content {
			background-color: #F0F5F7;
			padding: 10px;
		}

		.lfr-tag-selector-input {
			width: 100%;
		}
	}

	.lfr-app-column-view .lfr-app-column-view-content {
		background-color: #FAFAFA;
	}

	.journal-article-container {
		ul {
			margin: 0;
		}
	}

	.move-list {
		.move-article, .move-folder {
			background: #F0FAF0 url() no-repeat 5px 50%;
			border-bottom: 1px solid #CCC;
			display: block;
			font-weight: bold;
			margin-bottom: 1px;
			padding: 5px;
			position: relative;
		}

		.move-error {
			background-color: #FDD;
			font-weight: normal;

			@include opacity(0.6);

			.error-message {
				position: absolute;
				right: 5px;
			}
		}

		.list-unstyled {
			margin: 0;
		}
	}

	.journal-breadcrumb ul {
		margin-bottom: 0;
	}

	.move-list-info {
		margin: 5px 0;

		h4 {
			font-size: 1.3em;
		}
	}

	.subscribe-action {
		margin-bottom: 10px;
		margin-right: 10px;
		margin-top: 5px;
		text-align: right;
	}

	.journal-article-variable-name {
		float: right;

		.field-label {
			font-weight: normal;
			margin-right: 5px;
		}
	}

	.journal-container {
		.group-info {
			dl {
				margin: 0 0 0 20px;

				dt {
					float: left;
					margin-right: 3px;
				}
			}
		}

		.search-info {
			background-color: #D3E8F1;
			padding: 10px;
			padding-right: 50px;
			position: relative;

			.keywords {
				float: none;
				font-size: 1.4em;
				font-weight: bold;
			}

			.change-search-folder {
				font-size: 0.8em;
				font-weight: normal;
			}

			.close-search {
				margin-top: -8px;
				position: absolute;
				right: 15px;
				top: 50%;
			}
		}
	}

	.journal-container, .article-entries-pagination {
		clear: both;
	}

	.article-entries-pagination {
		margin: 10px 0;
		text-align: center;

		.pagination-content {
			margin: 0;
		}
	}

	.lfr-header-row-content {
		padding-left: 0;
		padding-top: 0;
	}

	.lfr-journal-small-image-content img {
		margin-right: 1em;
	}

	.context-pane .context-pane-content {
		border-left: 1px solid #7B7B7B;
		position: relative;
	}

	.taglib-search-iterator-page-iterator-top, .taglib-search-iterator-page-iterator-bottom, .paginator-container {
		clear: both;
		padding: 5px;
		position: relative;
	}

	.taglib-search-iterator-page-iterator-top.page-iterator-bottom, .lfr-app-column-view .taglib-search-iterator-page-iterator-bottom {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
	}

	.entry-thumbnail .taglib-workflow-status {
		left: 6px;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 4px;

		.workflow-status {
			margin: 0;
			padding: 0;
		}
	}

	.app-view-entry-taglib.entry-display-style.display-icon {
		.entry-title {
			@include ellipsis;

			position: relative;
		}
	}

	.journal-article-instructions-container {
		display: normal;
	}

	.journal-container {
		margin-top: 5px;
	}

	.journal-field-template {
		display: none;
	}

	.journal-fieldmodel-container {
		display: none;
	}

	.journal-icon-button {
		cursor: pointer;
	}

	.portlet-section-header td {
		background: #CFE5FF;
	}

	.journal-form-presentation-label {
		color: #0E3F6F;
		padding-top: 3px;
	}

	.journal-icon-button span img {
		margin-bottom: 3px;
	}

	.journal-article-instructions-message {
		margin: 5px 0 0 0;
	}

	.taglib-workflow-status {
		margin: 0 0 1em 0;
	}

	.lfr-textarea {
		width: 350px;
	}

	.journal-article-buttons {
		display: none;
	}

	.form-navigator {
		.article-info {
			font-weight: bold;
			margin-bottom: 15px;

			.article-name {
				color: #036;
				display: block;

				@include ellipsis;

				font-size: 14px;
			}

			.article-image {
				float: left;
				margin-right: 10px;
				padding: 0;
				width: 35px;
			}
		}
	}

	.display-page-item-container {
		margin-bottom: 1em;
		margin-top: 1em;

		.display-page-item {
			background-color: #DEE7F8;
			border: 1px solid #CAD8F3;
			padding: 5px 28px 5px 11px;
			position: relative;

			.display-page-item-remove {
				cursor: pointer;
				display: block;
				height: 16px;
				overflow: hidden;
				position: absolute;
				right: 8px;
				top: 3px;
				width: 16px;

				&:hover {
					background-color: #CAD8F3;
				}
			}
		}
	}

	.display-page-toolbar {
		margin-top: 0.5em;
	}

	.ddm-image-preview img {
		max-width: 600px;
	}
}

.display-page-dialog {
	.tree-label {
		a {
			color: black;
		}

		.layout-page-invalid {
			color: #AAA;
			font-style: italic;
		}
	}

	.selected-page-message {
		margin: 5px 0;
	}
}

.structure-message {
	margin-top: 5px;
}

.journal-template-error {
	.scroll-pane {
		border: 1px solid #BFBFBF;
		max-height: 200px;
		min-height: 50px;
		overflow: auto;
		width: 100%;

		.inner-scroll-pane {
			min-width: 104%;
		}

		.error-line {
			background: #FDD;
		}

		pre {
			margin: 0;
			white-space: pre;

			span {
				background: #B5BFC4;
				border-right: 1px solid #BFBFBF;
				display: block;
				float: left;
				margin-right: 4px;
				padding-right: 4px;
				text-align: right;
				width: 40px;
			}
		}
	}
}

.active-area-proxy {
	background-color: #FFFFE0;
	font-size: 1.2em;
	padding: 0.3em;
}