<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Member_AssertViewTest</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">Member_AssertViewTest</td></tr>
</thead><tbody>
<tr>
	<td>open</td>
	<td>/web/guest/home/</td>
	<td></td>
</tr>
<tr>
	<td>waitForVisible</td>
	<td>link=Document Library Permissions Page</td>
	<td>Document Library Permissions Page</td>
</tr>
<tr>
	<td>clickAtAndWait</td>
	<td>link=Document Library Permissions Page</td>
	<td>Document Library Permissions Page</td>
</tr>
<tr>
	<td>assertText</td>
	<td>//span[@class='portlet-title-text']</td>
	<td>Documents and Media</td>
</tr>
<tr>
	<td>assertText</td>
	<td>//div[@class='portlet-msg-info']</td>
	<td>There are no documents or media files in this folder.</td>
</tr>

</tbody></table>
</body>
</html>