@import "compass";

.aui-document-library-file-entry-cell-editor-hidden {
	display: none;
}

.portlet-document-library, .portlet-dynamic-data-mapping {
	.aui-diagram-builder-drop-container {
		overflow: auto;
	}

	.aui-field-labels-inline {
		clear: both;
		display: block;

		.aui-field-label {
			margin-top: 0;
		}
	}

	.aui-field {
		.aui-field-content {
			clear: both;
		}
	}

	.lfr-structure-entry-details-container {
		margin-top: 10px;
	}

	.lfr-translation-manager {
		margin-bottom: 15px;
	}

	.lfr-ddm-link-icon {
		background-image: url(@theme_image_path@/aui/hyperlink.png);
	}

	.lfr-ddm-link-to-page a {
		clear: both;
		display: block;
	}

	.lfr-ddm-small-image-preview {
		background-color: #FFF;
		border: 1px solid #CCC;
		padding: 4px;
		max-width: 120px;
	}

	.lfr-ddm-small-image-preview div {
		background: #CCC;
		height: 80px;
		width: 80px;
	}

	.lfr-ddm-small-image-content {
		background-color: #F5F5F5;
		padding: 5px;

		th {
			padding: 5px;
			white-space: nowrap;
			width: 1%;
		}

		.aui-field-input-text {
			margin: 5px;
			width: 350px;
		}
	}

	.lfr-ddm-small-image-content img {
		margin-right: 1em;
	}

	.lfr-ddm-text-html, .lfr-ddm-text-html-icon {
		background-image: url(@theme_image_path@/aui/textarea.png);
	}

	.lfr-ddm-text-html {
		background-position: 4px;
		background-repeat: no-repeat;
	}

	.lfr-ddm-types-form-column .aui-column-content-first {
		margin-right: 10px;
	}

	.lfr-ddm-search-form .aui-column {
		margin-right: 10px;
	}

	.lfr-document-library-add-menu {
		margin-bottom: 10px;
	}

	.lfr-template-editor-container {
		position: relative;

		.lfr-template-palette-container {
			float: left;
			position: relative;
			width: 200px;

			.minimize-panels {
				@include opacity(0);

				a {
					background-position: 1px 0;
				}
			}

			.lfr-template-palette {
				border: 1px solid #A1A2A4;
				height: 400px;
				overflow: auto;
				width: 100%;

				.palette-item-header {
					font-weight: bold;

					.palette-item-header-icon {
						background: url() no-repeat 50%;
						display: inline-block;
						height: 10px;
						width: 9px;
					}
				}

				.aui-toggler-header-collapsed .palette-item-header-icon {
					background-image: url(@theme_image_path@/arrows/05_right.png);
				}

				.aui-toggler-header-expanded .palette-item-header-icon {
					background-image: url(@theme_image_path@/arrows/05_down.png);
					vertical-align: middle;
				}

				.palette-item-header {
					cursor: pointer;
					font-style: italic;
					margin: 0.5em;
				}

				.palette-item-content {
					list-style: none;
					margin: 0 1.5em;

					.palette-item-container {
						cursor: pointer;
						line-height: 1.8em;
					}
				}
			}
		}

		.lfr-template-palette-container-minimized {
			width: 13px;

			.minimize-panels {
				right: 1px;

				a {
					background-position: 1px -34px;
					@include opacity(1);
				}
			}
		}

		.lfr-editor-container {
			position: relative;
			margin-left: 200px;

			.lfr-template-editor {
				.aui-field-element, .aui-field-content, .aui-field-input-text {
					display: block;
				}

				.aui-field-input-text {
					height: 400px;
				}

				.lfr-rich-editor {
					padding-left: 0.2em;
				}
			}
		}

		.lfr-editor-container-full {
			margin-left: 0;
		}

		.lfr-editor-container-palette-minimized {
			margin-left: 13px;
		}
	}

	.lfr-wcm-image {
		background: url(@theme_image_path@/aui/image.png) no-repeat 0 20px;
		padding-top: 35px;
	}

	.lfr-wcm-image-icon {
		background-position: 50%;
		padding: 0;
	}

	.aui-form-builder-source-wrapper {
		height: 600px;
		position: relative;

		.aui-form-builder-source {
			position: relative;
		}
	}
}

.ie6, .ie7 {
	.lfr-editor-container {
		zoom: 1;
	}
}