.aui-document-library-file-entry-cell-editor-hidden {
	display: none;
}

.portlet-document-library, .portlet-dynamic-data-mapping {
	.aui-diagram-builder-drop-container {
		overflow: auto;
	}

	.aui-field-labels-inline {
		clear: both;
		display: block;

		.aui-field-label {
			margin-top: 0;
		}
	}

	.aui-field {
		.aui-field-content {
			clear: both;
		}
	}

	.lfr-structure-entry-details-container {
		margin-top: 10px;

		.lfr-panel-content {
			padding: 10px;
		}
	}

	.lfr-translation-manager {
		margin-bottom: 15px;
	}

	.lfr-ddm-link-icon {
		background-image: url(@theme_image_path@/aui/hyperlink.png);
	}

	.lfr-ddm-link-to-page a {
		clear: both;
		display: block;
	}

	.lfr-ddm-small-image-preview {
		background-color: #FFF;
		border: 1px solid #CCC;
		padding: 4px;
		max-width: 120px;
	}

	.lfr-ddm-small-image-preview div {
		background: #CCC;
		height: 80px;
		width: 80px;
	}

	.lfr-ddm-small-image-content {
		background-color: #F5F5F5;
		padding: 5px;

		th {
			padding: 5px;
			white-space: nowrap;
			width: 1%;
		}

		.aui-field-input-text {
			margin: 5px;
			width: 350px;
		}
	}

	.lfr-ddm-text-html, .lfr-ddm-text-html-icon {
		background-image: url(@theme_image_path@/aui/textarea.png);
	}

	.lfr-ddm-text-html {
		background-position: 4px;
		background-repeat: no-repeat;
	}

	.lfr-ddm-types-form-column .aui-column-content-first {
		margin-right: 10px;
	}

	.lfr-ddm-search-form .aui-column {
		margin-right: 10px;
	}

	.lfr-template-editor {
		.aui-field-element, .aui-field-content, .aui-field-input-text {
			display: block;
		}

		.aui-field-input-text {
			height: 400px;
		}
	}
}