h1 {
	color: #124680;
}

h2 {
	color: #1B75BB;
}

h3 {
	color: #1B75BB;
}

#toc {
	border: 1px solid #555;
	color: #555;
	padding: 20px;
	width: 700px;
}

#toc li {
	font-size: 14px;
}

.defaults {
	background-color: #8BB8E8;
}

.examples {
	background-color: #E3E4E5;
}