.app-view-navigation-taglib {
	.lfr-header-row-content .parent-title {
		color: #FFF;
		font-weight: bold;
		padding: 6px 10px 6px 25px;
		text-shadow: -1px -1px #505050;
	}

	.lfr-list-view-content {
		ul .expand-folder {
			height: 10px;
			overflow: hidden;
			padding-left: 5px;
			padding-right: 5px;
			position: absolute;
			right: 0;
			top: 5px;
			width: 10px;

			.expand-folder-arrow {
				left: 2px;
				position: absolute;
				top: 1px;
			}
		}
	}

	.lfr-list-view-data-container {
		background-color: #FAFAFA;
		height: 100%;
		position: absolute;
		width: 100%;
		z-index: 9999;
	}
}