.app-view-entry-taglib.entry-display-style {
	a {
		color: #333;
	}

	.entry-thumbnail {
		img {
			background: #EAEAEA;
			border: 1px solid #CCC;
			margin: 0;
			padding: 5px;
		}
	}

	&:hover .entry-thumbnail img {
		background-color: #B0D2E1;
		border-color: #7ABFDD;
	}

	&.selected .entry-thumbnail img {
		background-color: #B0D2E1;
		border-color: #057CB0;
	}

	.folder-action .direction-down, .entry-action .direction-down {
		height: 20px;
	}

	&.selected a {
		color: #FFF;
	}

	&.active-area, &.active-area.hover, &.active-area td {
		background-color: #5AD300 !important;
	}

	.overlay.folder-action a, .overlay.entry-action a {
		display: block;
		float: right;
		min-height: 15px;
	}

	&:hover, &.hover {
		background-color: #D3E8F1;
	}

	&:hover .overlay, &.hover .overlay, &.selected .entry-selector {
		clip: rect(auto auto auto auto);
	}

	.overlay {
		clip: rect(0, 0, 0, 0);
	}

	&.display-icon {
		display: inline-block;
		float: left;
		margin: 5px;
		padding: 10px 0;
		position: relative;
		vertical-align: top;
		width: 200px;
		height: 160px;

		.entry-title {
			clear: both;
			display: block;
			padding: 0 10px;
			word-wrap: break-word;
		}

		.entry-link {
			display: block;
			text-align: center;
			text-decoration: none;
		}

		.folder-action, .entry-action {
			overflow: hidden;
			position: absolute;
			right: 5px;
			width: 22px;
		}

		.entry-selector {
			left: 10px;
			position: absolute;
			top: 10px;
		}

		.entry-thumbnail {
			display: inline-block;
			position: relative;
			text-align: center;
		}

		&.selected, &.selected:hover {
			background-color: #00A2EA;
		}

		.entry-selector, &:hover .entry-selector, &.selected .entry-selector {
			position: absolute;
		}
	}

	&.display-descriptive {
		display: block;
		margin: 5px;
		padding: 5px 0;
		padding-left: 20px;
		position: relative;
		text-align: left;

		&:after {
			clear: both;
			content: ".";
			display: block;
			height: 0;
			visibility: hidden;
		}

		.entry-title {
			display: block;
			font-size: 1.15em;
			font-weight: bold;
			padding: 5px 0 0;
		}

		.entry-description {
			display: block;
			overflow: hidden;
			word-wrap: break-word;
		}

		.entry-link {
			display: block;
			text-align: center;
			text-decoration: none;
		}

		.folder-action, .entry-action {
			height: 20px;
			overflow: hidden;
			position: absolute;
			right: 6px;
			top: 10px;
			width: 22px;
		}

		.entry-selector {
			left: 5px;
			position: absolute;
			top: 10px;
		}

		.entry-thumbnail {
			display: inline-block;
			float: left;
			margin: 5px 10px 5px 5px;
			position: relative;
			text-align: center;
		}

		.entry-link {
			display: block;
			text-align: left;
			text-decoration: none;
		}

		&:hover .entry-selector, &.selected .entry-selector {
			clip: rect(auto auto auto auto);
			position: absolute;
		}

		&.selected, .selected:hover {
			background-color: #00A2EA;
		}
	}

	.categories {
		margin-top: 10px;
	}

	.tags {
		margin-top: 5px;
	}
}

.ie6, .ie7 {
	.entry-display-style.display-descriptive {
		zoom: 1;
	}
}