@import "compass";
@import "mixins";

.app-view-taglib {
	.display-style .icon {
		background-image: url(@theme_image_path@/application/layouts.png);
		background-repeat: no-repeat;
	}

	.form-search {
		@include respond-to(phone, tablet) {
			margin-top: 5px;
		}
	}

	.icon-display-descriptive {
		background-position: -32px 0;
	}

	.icon-display-icon {
		background-position: -16px 0;
	}

	.icon-display-list {
		background-position: 0 0;
	}

	.state-active {
		.icon-display-descriptive {
			background-position: -32px 100%;
		}

		.icon-display-icon {
			background-position: -16px 100%;
		}
	}

	.lfr-header-row-content {
		position: relative;

		.display-style {
			float: right;
		}

		.select-all-entries {
			left: 7px;
			position: absolute;
			top: 15px;

			@include respond-to(phone, tablet) {
				top: 17px;
			}
		}
	}
}

.navbar {
	.nav-display-style-buttons {
		float: right;
		margin: 8px 0 8px 15px;

		@include respond-to(phone) {
			float: none;
			margin: 7.5px -15px;
		}

		.display-style-buttons {
			> .dropdown {
				@include respond-to(phone) {
					> .dropdown-menu {
						background-color: transparent;
						border-width: 0;

						@include box-shadow(none);

						display: block;
						float: none;
						margin-top: 0;
						position: static;
						width: auto;
					}

					> .dropdown-toggle {
						display: none;
					}
				}
			}
		}

		.display-style-buttons-container .dropdown-toggle .caret {
			border-bottom-color: #333;
			border-top-color: #333;
		}
	}
}

.ie6 {
	.app-view-taglib.lfr-header-row .lfr-header-row-content {
		.toolbar {
			position: relative;

			.field-choice {
				width: 24px;
			}
		}

		.display-style {
			position: relative;
		}
	}
}