.app-view-taglib {
	.display-style .icon {
		background-image: url(@theme_image_path@/application/layouts.png);
		background-repeat: no-repeat;
	}

	.icon-display-descriptive {
		background-position: -32px 0;
	}

	.icon-display-icon {
		background-position: -16px 0;
	}

	.icon-display-list {
		background-position: 0 0;
	}

	.state-active {
		.icon-display-descriptive {
			background-position: -32px 100%;
		}

		.icon-display-icon {
			background-position: -16px 100%;
		}
	}

	.lfr-header-row-content {
		position: relative;

		.display-style {
			float: right;
		}

		.select-all-entries {
			position: absolute;
			left: 10px;
			top: 10px;
		}
	}
}

.ie6 {
	.app-view-taglib.lfr-header-row .lfr-header-row-content {
		.toolbar {
			position: relative;

			.field-choice {
				width: 24px;
			}
		}

		.display-style {
			position: relative;
		}
	}
}
