.diff-version-comparator {
	.language-selector {
		.control-group {
			margin-bottom: 10px;
		}
	}

	.legend {
		border: #ccc solid 1px;
		display: inline-block;
		margin-bottom: 10px;
		padding: 10px;

		.info {
			margin-left: 20px;

			.add .icon-stop {
				color: #CFC;
			}

			.delete .icon-stop {
				color: #FDC6C6;
				text-decoration: line-through;
			}
		}
	}

	.toolbar {
		background: #EEE;
		border-top: 1px solid #CCC;
		margin: 15px 0 20px;
		overflow: hidden;
		padding: 5px;

		.central-info {
			float: left;
			padding-left: 10px;
			padding-right: 10px;
			text-align: center;
			width: 66%;

			a.change-mode {
				font-weight: bold;
			}

			span.change-mode {
				color: #999;
				font-weight: bold;
			}
		}

		.central-title {
			font-weight: bold;
			padding-right: 20px;
		}

		.central-username {
			font-weight: bold;
		}

		.next {
			float: right;
			padding-right: 15px;
		}

		.previous {
			float: left;
			padding-left: 15px;
		}
	}
}