@import "compass";

.diff-version-comparator {
	.diff-version-head {
		border-bottom: 1px solid;
		margin-bottom: 40px;
		padding-bottom: 10px;

		.diff-selector-version {
			margin-bottom: 0;
			margin-top: 0;
			position: static;
			vertical-align: baseline;

			a {
				.lfr-icon-menu-icon {
					display: none;
				}
			}

			.caret {
				margin-top: -4px;
			}
		}

		.diff-source-selector {
			padding-right: 20px;

			.diff-selector {
				overflow: hidden;
			}

			.diff-selector-version-info {
				margin-right: 16px;
			}
		}

		.diff-target-selector {
			border-left: 1px solid;
			padding-left: 40px;
		}

		.diff-source-selector, .diff-target-selector {
			padding-bottom: 20px;
		}
	}

	.search-container-column {
		padding-left: 10px;

		.language-selector {
			.control-group {
				margin-bottom: 10px;
			}
		}

		.search-panels {
			padding: 0;
			position: relative;

			.search-panels-bar {
				.control-group {
					margin-bottom: 10px;
				}

				.search-panel-icon {
					height: 18px;
					margin-left: 8px;
					margin-top: 6px;
					position: absolute;
					width: 27px;
				}

				input {
					padding-left: 40px;
				}
			}
		}

		.version-item {
			border-bottom: 1px solid;
			cursor: pointer;
			margin-top: 10px;
			overflow: hidden;
			padding: 10px;

			&.last {
				border-width: 0;
			}

			.version-avatar {
				padding-right: 5px;

				.avatar {
					width: 45px;
				}
			}

			.version-title {
				display: block;
				margin-bottom: 5px;
			}

			.version-info {
				margin-top: 14px;

				.user-info {
					display: block;
					line-height: 13px;
				}
			}
		}
	}

	.diff-container-column {
		border: 1px solid;
		padding: 25px;

		.diff-container {
			border: 1px solid;
			min-height: 400px;
			padding: 25px 20px;
			position: relative;

			.legend-info {
				bottom: 0;
				padding-bottom: 10px;
				position: absolute;

				.legend-item {
					margin-right: 15px;
				}
			}
		}

		.diff-version-filter {
			border: 1px solid;
			border-bottom-width: 0;
			padding: 10px 15px;

			.close-version-filter {
				cursor: pointer;
			}

			.user-name {
				margin-right: 5px;
			}
		}
	}

	.diff-version-title {
		display: block;
		margin-bottom: 10px;
	}
}

/* Skin */

.diff-version-comparator {
	.diff-version-head {
		border-bottom-color: #E5E5E5;

		.diff-selector-version {
			font-size: inherit;

			a {
				text-decoration: none;

				.lfr-icon-menu-text {
					&:hover, &:focus {
						text-decoration: underline;
					}
				}
			}

			.caret {
				border-top-color: #FFF;
			}
		}

		.diff-target-selector {
			border-left-color: #E5E5E5;
		}

		.diff-source-selector, .diff-target-selector {
			font-size: 20px;
			font-weight: 200;

			.diff-selector-version-info {
				color: #8C8C8C;
				font-size: 12px;
			}
		}
	}

	.search-container-column {
		.language-selector {
			.control-group {
				select {
					font-size: 13px;
				}
			}
		}

		.search-panels {
			.search-panels-bar {
				.control-group {
					.search-panels-input {
						@include border-radius(0);
					}
				}

				.search-panel-icon {
					background: url(@theme_image_path@/custom/search_panel_icon.png) no-repeat 0 50%;
					color: #D4D4D4;
					font-size: 0;
				}

				input {
					font-size: 14px;
				}
			}
		}

		.version-item {
			border-bottom-color: #E5E5E5;

			&.selected {
				.version-title {
					color: #555;
				}

				.version-info {
					.user-info, .date-info {
						color: #555;
					}
				}
			}

			.version-title {
				color: #009AE5;
				font-weight: 400;
			}

			.version-info {
				.user-info {
					color: #009AE5;
					font-size: 13px;
					line-height: 13px;
				}

				.date-info {
					color: #8C8C8C;
					font-size: 10px;
				}
			}
		}
	}

	.diff-container-column {
		background-color: #F1F1F1;
		border-color: #EBEBEB;

		.diff-container {
			background-color: #FFF;
			border-color: #E5E5E5;

			.legend-info {
				.add.icon-stop {
					color: #CFC;
				}

				.delete.icon-stop {
					color: #FDC6C6;
				}
			}
		}

		.diff-version-filter {
			background-color: #F9F9F9;
			border-color: #E5E5E5;

			.close-version-filter {
				color: #CCC;
			}

			.display-date {
				color: #8C8C8C;
				font-size: 10px;
			}

			.user-name {
				color: #009AE5;
				font-size: 13px;
			}

			.version {
				color: #555;
				font-weight: 400;
			}
		}
	}

	.diff-version-title {
		color: #8C8C8C;
		font-size: 12px;
	}
}