.taglib-diff-html span {
	&.diff-html-added img, &.diff-html-removed img {
		border: 2px solid transparent;
	}

	&.diff-html-changed img {
		border: 2px dotted transparent;
	}
}

.taglib-diff-html {
	div.diff-removed-imagei, div.diff-added-image {
		height: 300px;
		margin: 2px;
		position: absolute;
		width: 200px;
	}
}
