@import "bourbon";
@import "mixins";

.taglib-discussion {
	.alloy-editor-placeholder {
		min-height: 90px;

		p {
			margin-bottom : 0;
		}
	}

	.add-comment {
		.row {
			margin-top: 30px;
		}
	}

	.lfr-discussion {
		border-top: 1px solid transparent;
		padding-top: 24px;
		position: relative;
		width: auto;

		.lfr-discussion {
			margin-left: 100px;

			.lfr-discussion {
				.lfr-discussion-form-reply {
					margin-left: 0;
				}

				.lfr-discussion {
					margin-left: 0;
				}
			}
		}

		&:after {
			clear: both;
			content: '';
			display: block;
			height: 0;
			visibility: hidden;
		}

		&.last {
			border-top-width: 0;
		}

		&:hover .lfr-discussion-actions li a, .lfr-discussion-actions li a:focus {
			clip: rect(auto auto auto auto);
			position: static;
		}
	}

	.lfr-discussion-details {
		float: left;
		padding-left: 0;
		padding-right: 0;
		width: 100px;

		.column-content {
			padding: 0;
		}

		.taglib-user-display {
			padding-bottom: 0;
			padding-top: 0;

			.user-details .user-name {
				line-height: 1em;
			}

			.user-details .user-name, .user-profile-image {
				clear: none;
				text-align: center;
				vertical-align: top;
			}

			.user-profile-image .avatar {
				background-size: 50px;
				height: 50px;
				width: 50px;
			}
		}
	}

	.lfr-discussion-body {
		margin-bottom: 30px;
		overflow: hidden;
		padding-left: 0;

		.lfr-discussion-actions {
			float: right;
			margin: -10px 10px 0;

			li {
				&, a {
					display: inline-block;
					list-style: none;
					vertical-align: top;
				}

				a {
					clip: rect(0 0 0 0);
					position: absolute;

					@include respond-to(phone, tablet) {
						position: static;
					}
				}
			}

			a.rating-element {
				margin: 0 1px;
			}
		}

		.lfr-discussion-controls .taglib-ratings .rating-label-element {
			padding-left: 0;
		}

		.lfr-discussion-message {
			padding-bottom: 1em;

			@include word-wrap(break-all);

			.lfr-discussion-message-author {
				margin-bottom: 12px;
			}
		}
	}

	.lfr-discussion-body-content {
		padding: 5px 0 0 0.5em;
	}

	.taglib-ratings {
		display: inline-block;
		margin-right: 1em;
	}

	.lfr-discussion-form-container {
		clear: both;
		overflow: hidden;

		.lfr-discussion-form {
			display: inline-block;
			padding: 5px 5px 5px 50px;
			position: relative;

			&.lfr-discussion-form-edit, &.lfr-discussion-form-reply {
				left: 0;
				margin-left: 0;
				padding: 5px;

				textarea {
					max-width: 100%;
					width: 100%;
				}
			}

			&.lfr-discussion-form-reply {
				margin-left: 100px;
			}

			.taglib-user-display {
				.user-profile-image {
					left: 5px;
					position: absolute;
					top: 5px;

					.avatar {
						background-size: 40px;
						height: 40px;
						width: 40px;
					}
				}

				.user-details .user-name {
					display: none;
				}
			}

			.button-holder {
				margin: 5px 0 0;
			}
		}
	}
}

.lfr-discussion-reply.popover {
	max-width: none;

	.lfr-discussion-reply-user-avatar {
		float: left;
		margin-right: 15px;
		margin-top: 3px;
	}

	.lfr-discussion-reply-user-name {
		font-weight: bold;
	}

	.lfr-discussion-reply-content {
		margin-top: 5px;
	}
}

.lfr-discussion-controls:after {
	clear: both;
	content: '';
	display: block;
	height: 0;
}

.ie6, .ie7 {
	.taglib-discussion .lfr-discussion {
		zoom: 1;
	}
}

/* Skin */

.taglib-discussion {
	.lfr-discussion {
		border-top-color: transparentize(#B0B4BB, 0.5);

		&.depth-0 {
			border-top-color: #B0B4BB;
		}
	}

	.lfr-discussion-details {
		.taglib-user-display {
			@include respond-to(desktop, tablet) {
				word-wrap: break-word;
			}

			.user-details .user-name {
				font-weight: bold;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.lfr-discussion-actions li a {
		&, span {
			text-decoration: none;
		}

		&:hover, &:focus {
			span {
				text-decoration: underline;
			}
		}
	}

	.lfr-discussion-form-container .lfr-discussion-form {
		background: #DDD;
		border-radius: 4px;
	}
}