@import "compass";
@import "mixins";

.taglib-form-navigator {
	ul.form-navigator.well {
		float: right;
	}

	.error-notice, .modified-notice {
		display: none;
	}

	> .form-steps {
		position: relative;

		> ul.form-navigator.well {
			@include box-shadow(none);

			background: transparent;
			border: none;
			clear: both;
			float: none;
			overflow: visible;
			padding: 0;
			width: 100%;

			@include respond-to(phone, tablet) {
				overflow: auto;
				white-space: nowrap;
			}

			.tab {
				display: inline-block;
				overflow: visible;
				position: relative;
				text-align: center;
				white-space: nowrap;
				z-index: 50;

				&.active {
					@include opacity(1);

					&:last-child .tab-label .tab-icon {
						display: none;
					}

					.tab-label {
						position: relative;

						&:hover, &:focus {
							background: transparent;
						}

						.message {
							@include opacity(.7);

							color: #000;
							display: inline-block;
						}

						.number {
							@include opacity(1);

							background: #60BFEF;
							font-size: 18px;
						}

						.tab-icon {
							color: #60BFEF;
							display: inline-block;
						}
					}
				}

				&.section-error .tab-label {
					.message {
						color: #B50303;
					}

					.number {
						@include box-shadow(0px 0px 10px 0px #B50303);

						transition-duration: .25s;
						transition-property: box-shadow;
						transition-timing-function: ease-out;
					}
				}

				&.section-success .tab-label {
					.number {
						@include box-shadow(0px 0px 10px 0px #488f06);

						transition-duration: .25s;
						transition-property: box-shadow;
						transition-timing-function: ease-out;
					}
				}

				.tab-label {
					background: transparent;
					display: block;
					margin: 0 5px 0 -5px;
					outline: 0;
					padding: 0;

					&:hover, &:focus {
						text-decoration: none;

						.number {
							@include box-shadow(0px 0px 5px 0px #60BFEF);
							@include opacity(1);

							transition-duration: .25s;
							transition-property: box-shadow;
							transition-timing-function: ease-out;
						}
					}

					.error-notice {
						display: none;
					}

					.number {
						@include border-radius(50%);
						@include opacity(.6);

						background: #CCC;
						clear: both;
						color: #FFF;
						display: inline-block;
						font-size: 14px;
						font-weight: bold;
						margin: 5px;
						text-decoration: none;
						width: 30px;
					}

					.message {
						color: #000;
						font-size: 12px;
						margin-left: -5px;
					}

					.modified-notice {
						display: none;
					}

					.tab-icon {
						display: none;
					}
				}
			}
		}
	}

	.form-navigator-content {
		overflow: visible;

		&[class*="span"] {
			margin-left: 0;
		}

		.form-section {
			display: none;

			&.active {
				display: block;
			}
		}
	}

	.section-modified .modified-notice {
		display: inline-block;
	}

	.section-error .error-notice {
		display: inline-block;
		margin-right: 5px;
	}
}