@import "compass";

.taglib-header {
	border-bottom: 1px solid transparent;
	margin-bottom: 1em;

	.header-title {
		@include ellipsis;

		margin: 0.1em;
		padding-bottom: 5px;
	}

	.header-back-to a {
		float: left;
		padding: 0 0.5em 0 0;
	}
}

/* Skin */

.taglib-header {
	border-bottom-color: #C8C9CA;
	color: #555;

	.header-back-to a {
		font-size: 1.5em;
		font-weight: bold;
		text-decoration: none;
	}
}