.taglib-header {
	border-bottom: 1px solid transparent;
	margin-bottom: 1em;

	.header-title {
		margin: 0.1em;
	}

	.header-back-to a {
		float: right;
		padding: 1em 0.2em;
	}
}

/* Skin */

.taglib-header {
	border-bottom-color: #C8C9CA;
	color: #555;

	.header-back-to a {
		font-weight: bold;
		text-decoration: none;
	}
}