@import "bourbon";

.taglib-header {
	border-bottom: 1px solid transparent;
	margin-bottom: 1em;

	.header-title {
		@include ellipsis;

		margin: 0.1em;
		padding-bottom: 5px;
	}

	.header-back-to a {
		float: left;
		padding: 0.25em 0.5em 0 0;
	}
}