a.taglib-icon {
	&, &:focus, &:hover {
		text-decoration: none;
	}

	&:focus, &:hover {
		.taglib-text {
			text-decoration: underline;
		}
	}
}

.btn.modify-link {
	a {
		color: #333;
		text-decoration: none;

		&:hover {
			color: #333;
		}

		i, .taglib-text {
			text-decoration: none;
		}
	}
}
