.lfr-menu-list-overflow {
	overflow: auto;
	overflow-x: hidden;
}

.lfr-menu-list-search-container {
	overflow: hidden;
}

.lfr-menu-list-search {
	border: 1px solid transparent;
	padding: 2px;
	width: 100%;
}

.lfr-menu-list {
	float: none;
	position: relative;
}

.lfr-menu-list.direction-left, .lfr-menu-list.direction-right {
	margin: 0 2px;
}

.ie6, .ie7 {
	.lfr-menu-list-search {
		width: auto;
	}
}

/* Skin */

.lfr-menu-list-search {
	border-color: #FC0;
}