a.taglib-icon {
	text-decoration: none;

	&:hover {
		text-decoration: none;

		.taglib-text {
			text-decoration: underline;
		}
	}

	.taglib-text {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}