@import "compass";

.taglib-image-selector {
	height: 100%;
	position: relative;
	text-align: center;

	.browse-image-controls, .current-image {
		@include transform(translate(0, -50%));

		left: 0;
		margin: auto;
		max-height: 100%;
		max-width: 100%;
		position: absolute;
		right: 0;
		top: 50%;
	}

	.browse-image-controls {
		padding: 10px;
		width: 100%;
	}

	.change-image-controls {
		bottom: 5px;
		left: 0;
		position: absolute;
		right: 0;
	}

	.yui3-uploader-content {
		display: none;
	}

	&.drop-enabled, &.drop-active {
		outline: 1px dashed #CCC;
	}

	&.drop-active {
		outline-color: #118ADE;
	}
}