@import "bourbon";

.taglib-image-selector {
	height: 100%;
	min-height: 100px;
	position: relative;
	text-align: center;

	&.drop-enabled {
		outline: 2px dashed transparent;
	}

	.drop-here-info {
		height: 100%;
		min-height: 115px;
		position: absolute;
		text-align: center;
		top: 0;
		visibility: hidden;
		width: 100%;

		.drop-here-indicator {
			@include transform(translate(0, -50%));

			height: 115px;
			left: 0;
			margin: auto;
			position: absolute;
			right: 0;
			top: 50%;
		}

		.drop-icons {
			display: inline-block;
			position: relative;
			width: 160px;

			span {
				position: absolute;
				text-align: center;
			}

			span:nth-of-type(1) {
				height: 60px;
				left: 50px;
				line-height: 60px;
				top: 0;
				width: 60px;
				z-index: 1;
			}

			span:nth-of-type(2) {
				height: 80px;
				left: 40px;
				line-height: 80px;
				width: 80px;
				z-index: 2;
			}

			span:nth-of-type(3) {
				display: block;
				font-size: 45px;
				height: 70px;
				left: 50px;
				line-height: 70px;
				position: relative;
				top: 0;
				width: 70px;
				z-index: 1;
			}
		}

		.drop-text {
			display: block;
			margin-left: 0;
			margin-top: 20px;
		}
	}

	&.drop-enabled .drop-here-info {
		.drop-here-indicator {
			height: 90px;
		}

		.drop-text {
			display: inline-block;
			margin-left: 20px;
			margin-top: 0;
		}
	}

	.glyphicon-ok {
		left: 50%;
		padding: 20px;
		position: absolute;
		top: 50%;

		@include transform(translate(-50%, -50%));
	}

	.progress-wrapper {
		display: none;
		left: 50%;
		max-width: 450px;
		position: absolute;
		top: 50%;

		@include transform(translate(-50%, -50%));

		width: 50%;

		button {
			margin-top: 20px;
		}

		p {
			margin: 0;
			text-align: left;
		}

		.progressbar {
			height: 6px;
			margin: 5px auto;
			width: 100%;
		}
	}

	&.drop-active {
		outline-width: 0;

		.change-image-controls {
			display: none;
		}

		.progress-wrapper {
			display: none;
		}

		.drop-here-info {
			visibility: visible;

			span:nth-of-type(1) {
				left: 0;
				opacity: 1;
				top: 10px;
			}

			span:nth-of-type(3) {
				left: 90px;
				opacity: 1;
				top: 8px;
			}
		}
	}

	&.draggable-image {
		&.vertical .current-image {
			max-height: inherit;
			min-width: 100%;
		}

		&.horizontal .current-image {
			max-width: inherit;
		}

		&.both .current-image {
			max-height: 100%;
			max-width: 100%;
		}

		&.drop-enabled {
			.image-wrapper {
				height : 100px;
			}
		}

		.image-wrapper {
			height : 400px;
			overflow: hidden;
			position: relative;
			width: 100%;
		}
	}

	&.progress-active {
		.change-image-controls {
			display: none;
		}

		.progress-wrapper {
			display: block;
		}
	}

	.browse-image-controls, .current-image {
		margin: auto;
		max-height: 100%;
		max-width: 100%;
	}

	.browse-image-controls {
		left: 0;
		padding: 10px;
		position: absolute;
		right: 0;
		top: 50%;

		@include transform(translate(0, -50%));

		width: 100%;
	}

	.browse-image-controls {
		.drag-drop-label {
			line-height: 35px;
		}

		.file-validation-info {
			margin-top: 15px;
		}

		z-index: 1;
	}

	.change-image-controls {
		bottom: 10px;
		position: absolute;
		right: 10px;
	}

	.current-image {
		margin-bottom: 5px;
	}

	.error-wrapper {
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 2;
	}

	.yui3-uploader-content {
		display: none;
	}
}

/* Skin */

.taglib-image-selector {
	&.drop-enabled, &.drop-active {
		outline-color: rgba(176, 180, 187, 0.5)
	}

	.drop-here-info {
		@include transition(all 0.2s ease-in-out);

		font-size: 25px;
		opacity: 0;

		.drop-icons {
			@include transition(all 0.2s ease-in-out);

			span{
				@include transition(all 0.3s ease-in-out);

				border-radius: 3px;
			}

			span:nth-of-type(1) {
				@include transform(rotate(25deg));

				background: #E8E6E8;
				box-shadow: 5px 4px 0 0 rgba(0, 0, 0, 0.08);
				color: #A5A6AC;
				font-size: 40px;
				opacity: 0;
			}

			span:nth-of-type(2) {
				@include transform(scale(0.8));

				background: #00C2FF;
				box-shadow: 0 6px 0 -2px rgba(0, 0, 0, 0.15);
				color: #FFF;
				font-size: 50px;
			}

			span:nth-of-type(3) {
				@include transform(rotate(-25deg));

				background: #E8E6E8;
				box-shadow: -5px 4px 0 0 rgba(0, 0, 0, 0.08);
				color: #A5A6AC;
				font-size: 45px;
				opacity: 0;
			}
		}

		.drop-text {
			color: #FFF;
			font-size: 20px;
		}
	}

	.glyphicon-ok {
		background: #FFF;

		opacity: 0;
	}

	.progress-wrapper {
		p {
			font-size: 18px;

			&.size {
				font-size: 14px;
			}
		}

		.progressbar {
			background: #B0B4BB;

			opacity: 0.7;
		}
	}

	&.check-active .glyphicon-ok{
		opacity: 1;
	}

	&.drop-active {
		.browse-image-controls {
			opacity: 0;
		}

		.drop-here-info {
			background-color: rgba(0, 0, 0, 0.4);
			opacity: 1;

			span:nth-of-type(1){
				@include transform(rotate(-20deg));

				opacity: 1;
			}

			span:nth-of-type(2) {
				@include transform(scale(1));
			}

			span:nth-of-type(3) {
				@include transform(rotate(15deg));

				opacity: 1;
			}
		}

		.glyphicon-ok {
			opacity: 0;
		}

		.image-wrapper {
			opacity: 0.15;
		}

		.error-wrapper {
			opacity: 0;
		}
	}

	&.progress-active {
		.image-wrapper {
			opacity: 0.15;
		}

		.browse-image-controls {
			opacity: 0;
		}

		.drop-here-info {
			opacity: 0;
		}

		.glyphicon-ok {
			opacity: 0;
		}
	}

	.browse-image-controls .drag-drop-label, .browse-image-controls .browse-image {
		font-size: 16px;
	}
}