@import "compass";

.taglib-image-selector {
	height: 100%;
	min-height: 100px;
	position: relative;
	text-align: center;

	&.drop-enabled, &.drop-active {
		outline: 1px dashed #CCC;
	}

	&.drop-active {
		outline-color: #118ADE;
	}

	&.draggable-image {
		&.vertical .current-image {
			max-height: inherit;
		}

		&.horizontal .current-image {
			max-width: inherit;
		}

		&.both .current-image {
			max-height: inherit;
			max-width: inherit;
		}

		.image-wrapper {
			height : 400px;
			overflow: hidden;
			position: relative;
			width: 100%;
		}
	}

	.browse-image-controls, .current-image {
		margin: auto;
		max-height: 100%;
		max-width: 100%;
	}

	.browse-image-controls {
		left: 0;
		padding: 10px;
		position: absolute;
		right: 0;
		top: 50%;

		@include transform(translate(0, -50%));

		width: 100%;
	}

	.current-image {
		margin-bottom: 5px;
	}

	.yui3-uploader-content {
		display: none;
	}
}