.taglib-move-boxes {
	margin-bottom: 1em;

	.arrow-button img {
		border-width: 0;
		height: 16px;
		width: 16px;
	}

	.choice-selector {
		select {
			min-width: 150px;
		}

		label {
			border-bottom: 1px solid transparent;
			display: block;
			margin-bottom: 5px;
			padding: 5px;
		}

		.field-content {
			margin-bottom: 0;
		}
	}

	.move-arrow-buttons {
		margin-top: 5em;

		.arrow-button {
			display: block;
		}
	}
}

.ie .taglib-move-boxes .choice-selector select {
	width: expression(this.currentStyle.getAttribute('minWidth') || 150 + 'px');
}

/* Skin */

.taglib-move-boxes .choice-selector label {
	background: #ebf1f9;
	border-bottom-color: #8db2f3;
}