@import "compass";

.input-localized {
	.palette-item-inner img {
		@include opacity(0.5);
	}

	&.input-localized-focused .palette-item-inner img {
		@include opacity(1);
	}

	.input-localized-content {
		margin-left: 6px;
	}

	&.input-localized-editor {
		.input-localized-content {
			margin-top: 0;
		}

		.language-value {
			margin-bottom: 7px;
		}
	}

	.lfr-input-localized-default a {
		margin-right: 14px;
	}

	.palette-items-container {
		font-size: 0;
		margin: 0;
		white-space: normal;
	}

	.palette-item {
		border-width: 0;
		padding: 0;
	}

	.palette-item-inner {
		border: 1px solid #666;
		margin-right: 4px;
		width: 16px;

		img {
			display: block;
		}
	}

	.palette-item, .palette-item-inner, .palette-item-hover, .palette-item-hover .palette-item-inner {
		border-color: transparent;
	}

	.lfr-input-localized-state {
		height: 4px;
		margin: 3px 5px;
		width: 4px;
	}

	.lfr-input-localized .lfr-input-localized-state {
		background: #DDD;

		&.lfr-input-localized-state-error {
			background: #FF0047;
		}
	}

	.palette-item-selected .lfr-input-localized-state {
		background: #27C1F2;
	}

	&.input-localized-focused {
		.palette-item-selected .lfr-input-localized-state {
			height: 6px;
			width: 6px;
		}
	}

	.palette-item-inner {
		display: block;
		height: 16px;
		width: 16px;
	}
}

.input-group {
	.input-localized .input-localized-content {
		margin-top: 3px;
	}
}