@import "compass";

.input-localized {
	.palette-item {
		border-width: 0;
	}

	.palette-item-inner {
		width: 16px;

		img {
			display: block;
		}
	}

	.palette-item, .palette-item-inner, .palette-item-hover, .palette-item-hover .palette-item-inner {
		border-color: transparent;
	}

	.lfr-input-localized-state {
		height: 6px;
		margin: 3px 5px;
		width: 6px;
		@include border-radius(3px);
	}

	.lfr-input-localized .lfr-input-localized-state {
		background: #ddd;
		@include box-shadow(0 0 3px #ddd);
	}

	.palette-item-selected .lfr-input-localized-state {
		background: #27c1f2;
		@include box-shadow(0 0 3px #27c1f2);
	}

	.palette-container {
		margin-bottom: 12px;
	}
}