.taglib-logo-selector {
	text-align: center;

	.portrait-icons {
		margin: 1em 0;
	}

	.lfr-change-logo {
		display: inline;

		&.show-background {
			display: block;
			line-height: 0;
			padding: 10px;
			text-align: center;
		}
	}
}