@import "compass";
@import "mixins";

.navbar {
	.navbar-collapse {
		&:after, &:before {
			display: inline;
		}
	}

	.navbar-search {
		background-color: #F3F3F3;
		border-top-width: 0;
		margin-left: -15px;
		position: absolute;
		top: 0;
		width: 100%;

		@media (min-width: 768px) {
			background-color: transparent;
			border-top-width: 1px;
			margin-left: 0;
			position: static;
			top: auto;
			width: auto;
		}

		.form-search {
			margin: 9px 0;

			@media (min-width: 768px) {
				float: right;
				margin: 8px 0;
				max-width: 275px;
			}

			.input-group {
				width: 100%;

				@media (min-width: 768px) {
					width: auto;
				}
			}
		}
	}
}

@include respond-to(phone, tablet) {
	.navbar {
		.container, .container-fluid {
			.navbar-btn {
				color: #000;
				margin-bottom: 5px;
				width: 45px;

				> .icon-bar {
					&:first-child {
						margin-top: 6px;
					}

					&:last-child {
						margin-bottom: 5px;
					}
				}
			}

			.navbar-collapse {
				&.open {
					border-width: 0;
					display: block;
					height: auto;
					overflow: visible;
				}
			}
		}
	}
}