.taglib-ratings {
	&.stars {
		overflow: hidden;
		padding-top: 10px;

		.liferay-rating-score {
			padding-left: 15px;
		}

		.liferay-rating-vote, .liferay-rating-score {
			float: left;
		}
	}

	.aui-rating-content {
		display: block;
	}

	&.score {
		white-space: nowrap;
	}

	&.thumbs {
		float: left;
		margin: 0;

		.aui-thumbrating {
			height: 20px;

			.aui-rating-label-element {
				padding: 0 5px;
			}
		}
	}
}

.js .taglib-ratings .liferay-rating-vote .aui-field {
	display: none;
}

.ie6 .taglib-ratings {
	.aui-rating-content {
		display: inline;
	}

	&.stars {
		display: inline-block;
	}
}