@import "mixins";

.taglib-ratings {
	&.stars {
		margin: 1.5em 0 0;

		.liferay-rating-score {
			padding-left: 15px;
		}

		.liferay-rating-vote, .liferay-rating-score {
			display: inline-block;
		}
	}

	.rating-content {
		display: block;
	}

	&.score {
		white-space: nowrap;
	}

	&.like, &.thumbs {
		float: left;
		margin-bottom: 0;
		margin-top: 0;

		.thumbrating {
			height: 20px;

			@include respond-to(phone, tablet) {
				a {
					font-size: 1.5em;
				}
			}

			.rating-element:before {
				padding-right: 4px;
			}
		}
	}

	.rating-element {
		padding-right: 4px;

		&.rating-thumb-down {
			margin-left: 5px;
		}
	}

	.rating-input-container .rating-input {
		margin-left: 1px;
	}
}

.js .taglib-ratings .liferay-rating-vote .rating-input-container {
	display: none;
}

.ie6 .taglib-ratings {
	.rating-content {
		display: inline;
	}

	&.stars {
		display: inline-block;
	}
}