@import "compass";

.taglib-search-toggle {
	.inline-control {
		float: none;
	}

	.toggle-link {
		clear: both;
	}
}

.taglib-search-toggle-advanced .aui-fieldset {
	margin-bottom: 0;

	.aui-field {
		display: inline-block;
		width: 30%;
	}
}