.taglib-search-iterator {
	border-collapse: collapse;
	width: 100%;

	td {
		padding: 4px;

		&.align-center {
			text-align: center;
		}

		&.align-left {
			text-align: left;
		}

		&.align-right {
			text-align: right;
		}

		&.valign-bottom {
			vertical-align: bottom;
		}

		&.valign-middle {
			vertical-align: middle;
		}

		&.valign-top {
			vertical-align: top;
		}
	}
}

.taglib-search-iterator-page-iterator-top {
	padding-bottom: 5px;
}

.taglib-search-iterator-page-iterator-bottom {
	padding-top: 5px;
}

.taglib-page-iterator {
	clear: both;
	height: auto;
	overflow: hidden;
	width: auto;

	.search-results {
		float: left;
	}

	.search-pages {
		float: right;

		.delta-selector, .page-selector, .page-links {
			float: left;
		}

		.page-links {
			a, span {
				border-left: 1px solid transparent;
				display: inline-block;
				line-height: 1;
				padding: 2px 15px;

				&.first {
					border-left-width: 0;
				}

				&.first, &.previous {
					padding-right: 5px;
				}

				&.next, &.last {
					padding-left: 5px;
				}
			}
		}

		.page-selector {
			margin-left: 10px;
			margin-right: 10px;
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}

.ie6 .taglib-page-iterator .search-pages {
	.page-selector, .delta-selector {
		.aui-field-content {
			display: inline;
		}
	}
}

/* Skin */

.taglib-search-iterator-highlighted {
	font-weight: bold;
}

.taglib-page-iterator {
	.search-results {
		color: #555;
	}

	.search-pages .page-links {
		a, span {
			background: url() no-repeat 0 0;
			border-left-color: #ccc;

			&.first, &.previous, &.next, &.last {
				background-repeat: no-repeat;
			}

			&.first {
				background-image: url(@theme_image_path@/arrows/paging_first.png);
			}

			&.previous {
				background-image: url(@theme_image_path@/arrows/paging_previous.png);
			}

			&.next {
				background-image: url(@theme_image_path@/arrows/paging_next.png);
			}

			&.last {
				background-image: url(@theme_image_path@/arrows/paging_last.png);
			}

			&.next, &.last {
				background-position: 100% 0;
			}
		}

		span {
			&, &.first, &.previous {
				background-position: 0 100%;
			}

			&.next, &.last {
				background-position: 100% 100%;
			}
		}
	}
}