.taglib-search-toggle-advanced-wrapper .taglib-search-toggle-advanced {
	border: 1px solid transparent;
	margin-top: 5px;
}

.navbar .navbar-inner {
	.taglib-search-toggle-advanced-wrapper {
		margin: 0 -20px;

		&, .toggler-content-wrapper {
			clear: both;
		}

		.btn.close {
			margin-top: 0;
			position: static;
		}

		.taglib-search-toggle-advanced {
			border-width: 1px 0 0;
			height: 100%;
			margin-top: 0;
		}
	}
}

/*Skin*/

.taglib-search-toggle .toggle-advanced {
	color: inherit;

	&, &:hover, &:focus {
		text-decoration: none;
	}
}

.taglib-search-toggle-advanced-wrapper .taglib-search-toggle-advanced {
	background-color: #FCFCFC;
	border-color: #DDD;

	.btn.close {
		margin-right: 5px;
	}

	.taglib-search-toggle-advanced-content {
		margin: 20px;
		position: relative;
	}
}