.taglib-trash-undo {
	.trash-undo-form {
		display: inline;
	}

	.trash-undo-link {
		display: none;
	}
}

.js .taglib-trash-undo {
	.trash-undo-form {
		display: none;
	}

	.trash-undo-link {
		display: inline;
	}
}