<li class="control-menu-nav-item ${cssClass}">
	<a class="control-menu-icon lfr-portal-tooltip product-menu-toggle sidenav-toggler" data-content="body" data-qa-id="productMenu" data-target="#${portletNamespace}sidenavSliderId" data-title="${title}" data-toggle="sidenav" data-type="fixed-push" data-type-mobile="fixed" ${dataURL} href="javascript:;" id="${portletNamespace}sidenavToggleId">
		<div class="toast-animation">
			<div class="pm"></div>

			<div class="cn"></div>
		</div>
	</a>
</li>