#set ( $is_selected = ($selectable && ($page && ($plid.equals($nav_item.getLayoutId()) || $nav_item.getLayoutId().equals($ancestor_layout_id)))) )
#set ( $item_url = $portal.getLayoutURL($nav_item, $themeDisplay) )

#if ( $is_selected && $layoutTypePortlet.hasStateMax() )
	#set ( $curPortletId = "$arrayUtil.getValue($stringUtil.split($layoutTypePortlet.getStateMax()), 0)" )
	#set ( $curPortletURLImpl = $portletURLFactory.create($request, $curPortletId, $plid, false) )

	$curPortletURLImpl.setWindowState("normal")
	$curPortletURLImpl.setPortletMode("view")
	$curPortletURLImpl.setAnchor(false)

	#set ( $tabHREF = $curPortletURLImpl.toString() )
#end

#set ( $item_target = $portalUtil.getLayoutTarget($nav_item) )
#set ( $item_text = $nav_item.getName($locale) )
#set ( $is_first_child = $nav_item.isFirstChild() )
#set ( $is_first_parent = $nav_item.isFirstParent() )
#set ( $nav_children = $nav_item.getChildren() )
#set ( $has_children = ($nav_children.size() > 0) )