#parse("$fullTemplatesPath/init_portal.vm")

<html>

<head>
	<title>$tilesTitle</title>
	$theme.include("/html/common/themes/top_head.jsp")
</head>

<body>

$theme.include($portlet_include)

</body>

</html>
