<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

#parse("$fullTemplatesPath/init_portal.vm")

<html dir="#language("lang.dir")">

<head>
	<title>$the_title</title>

	$theme.include($top_head_include)

	#css($css_main_file)
	#js($js_main_file)
</head>

<body class="portal-popup">

$theme.include($content_include)

</body>

</html>