@import "bourbon";

.portlet-document-library-display {
	.entry-metadata .entry-title, .entry-thumbnail {
		font-size: 1.15em;
	}

	.entry-metadata {
		.entry-title {
			display: block;

			@include ellipsis;

			font-weight: bold;
		}

		.entry-description {
			@include hyphens;
		}
	}

	.view-folders .repository-error {
		background-color: #FDD;
		color: #5B677D;

		td {
			background-color: #FDD;
		}
	}

	.file-entry-tags {
		margin-top: 5px;
	}

	.folder-search {
		float: right;
		margin: 0 0 0.5em 0.5em;
	}

	.search-root-entry {
		color: #999;
		float: right;
	}

	.entry-thumbnail {
		float: left;
		margin-right: 1em;
		position: relative;

		.thumbnail {
			max-height: 128px;
			max-width: 128px;
		}
	}

	.taglib-webdav {
		margin-top: 3em;
	}

	.taglib-workflow-status {
		margin-bottom: 5px;
	}
}