.freeform .portlet {
	margin-bottom: 0;
}

body.portlet {
	border-width: 0;
}

.portlet-topper {
	position: relative;

	.portlet-topper-toolbar {
		margin: 0;
		padding: 2px;
		position: absolute;
		right: 3px;
		text-align: right;
		top: 3px;
		z-index: 300;

		&.portlet-title-menu {
			display: inline-block;
			position: relative;
		}

		a {
			color: inherit;

			&, &:hover {
				text-decoration: none;
			}

			i {
				font-size: 19px;
			}
		}

		.nobr {
			display: block;
			float: left;
			padding: 1px;
		}

		.portlet-icon-back {
			background: url(../images/arrows/12_left.png) no-repeat 0 50%;
			color: #FFF;
			font-weight: bold;
			padding: 5px 5px 5px 18px;

			&:hover {
				color: #FFF;
			}
		}

		.portlet-options .lfr-icon-menu-text {
			color: transparent;
			font-size: 0;
		}
	}
}

.portlet-title {
	display: inline;

	img {
		vertical-align: middle;
	}
}

.portlet-title-editable {
	cursor: pointer;
}

.portlet-title-text {
	display: inline-block;

	@include ellipsis;

	max-width: 95%;
	vertical-align: top;
}

.panel-page-content, .panel-page-body {
	.portlet-title-text {
		cursor: auto;
	}
}

.portlet-content, .portlet-minimized .portlet-content-container {
	padding: 12px 10px 10px;
}

.portlet-minimized .portlet-content {
	padding: 0;
}

.portlet-nested-portlets .portlet-boundary {
	left: 0 !important;
	position: relative !important;
	top: 0 !important;
}

.portlet-draggable {
	.portlet-topper {
		cursor: move;
	}

	.portlet-title-default {
		background: url(../images/portlet/draggable_borderless.png) no-repeat 5px 3px transparent;
		cursor: move;
		padding-left: 25px;

		@include md {
			background-color: #333;
			background-position: 0 50%;
			padding-left: 20px;
		}
	}
}