.portlet-borderless-container {
	min-height: 2.5em;
	position: relative;
}

.portlet-borderless-bar {
	background-color: #333;
	font-size: 10px;
	height: auto;

	opacity: 0.3;

	overflow: auto;
	padding: 0;
	position: static;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 200;

	@include respond-to(desktop) {
		background-color: transparent;
		height: 0;
		overflow: visible;
		position: absolute;
	}

	a {
		background: url() no-repeat 0 50%;
		display: inline-block;
		height: 20px;
		margin-left: 5px;
		text-indent: -9999px;
		width: 16px;
	}

	.portlet-actions {
		float: right;
		overflow: hidden;
		padding: 0 5px;

		.portlet-action, .portlet-options {
			display: inline-block;
		}
	}

	.portlet-actions, .portlet-title-default {
		background-color: transparent;
		min-height: 20px;

		@include respond-to(desktop) {
			background-color: #333;
		}
	}

	.portlet-action-separator {
		display: none;
	}

	.portlet-back a {
		color: #FFF;
		height: auto;
		text-indent: 0;
		width: auto;
	}

	.portlet-close {
		display: inline-block;
		vertical-align: middle;

		a {
			background-image: url(../images/portlet/close_borderless.png);
		}
	}

	.portlet-options li.lfr-trigger strong a {
		background-image: url(../images/portlet/options_borderless.png);
	}
}

.portlet-borderless-container:hover .portlet-borderless-bar {
	@extend %portlet-action-bar-hover;

	.portlet-actions {
		@extend %portlet-action-bar-hover-text;
	}
}

.portlet-borderless-container, .portlet-content {
	&:hover {
		.lfr-icon-actions {
			@extend %portlet-action-bar-hover;

			.taglib-text {
				@extend %portlet-action-bar-hover-text;
			}
		}
	}

	.icons-container {
		clear: both;
		height: auto;
		margin-top: 1em;
		overflow: hidden;
		width: auto;
	}
}

@include respond-to(desktop) {
	.portlet-borderless-container .portlet-title-default {
		float: right;
	}
}