#set ($preferences = $renderRequest.getPreferences())

#set ($assetLinkBehaviour = $preferences.getValue("assetLinkBehavior", ''))

#foreach ($entry in $entries)
	#set ($assetRenderer = $entry.getAssetRenderer())

	#set ($viewURL = $assetPublisherHelper.getAssetViewURL($renderRequest, $renderResponse, $entry))

	#if ($assetLinkBehaviour != 'showFullContent')
		#set ($viewURL = $assetRenderer.getURLViewInContext($renderRequest, $renderResponse, $viewURL))
	#end

	<div class="asset-abstract">
		<div class="asset-actions lfr-meta-actions">
			<span>
				<a class="taglib-icon" href="$assetRenderer.getURLEdit($renderRequest, $renderResponse)">
					<img alt="#language("edit")" class="icon" src="$themeDisplay.getPathThemeImages()/common/edit.png" />

					<span class="taglib-text">#language("edit") <span class="aui-helper-hidden-accessible">$entry.getTitle($locale)</span></span>
				</a>
			</span>
		</div>

		<h3 class="asset-title">
			<a href="$viewURL"><img alt="" src="$assetRenderer.getIconPath($renderRequest)" /> $entry.getTitle($locale)</a>
		</h3>

		<div class="asset-content">
			<div class="asset-summary">
				$assetRenderer.getSummary($locale)
			</div>

			<div class="asset-more">
				<a href="$viewURL">#language("read-more") <span class="aui-helper-hidden-accessible">#language("about") $entry.getTitle($locale)</span> &raquo; </a>
			</div>
		</div>
	</div>
#end