## Sample Display Style for the Asset Publisher

## Read portlet preferences

#set ($preferences = $renderRequest.getPreferences())
#set ($assetLinkBehaviour = $preferences.getValue("assetLinkBehavior", ''))

## Iterate the asset entries

<ul class="title-list">
	#foreach($asset_entry in $assetEntries)
		#set ($assetRenderer = $asset_entry.getAssetRenderer())
		#set ($assetRendererFactory = $asset_entry.getAssetRendererFactory())
		#set ($iconPath = $assetRenderer.getIconPath($renderRequest))
		#set ($editURL = $assetRenderer.getURLEdit($renderRequest, $renderResponse))
		#set ($viewNoContext = $assetPublisherHelper.getAssetViewURL($renderRequest, $renderResponse, $asset_entry))

		#if ($assetLinkBehaviour == 'showFullContent')
			#set ($viewUrl = $viewNoContext)
		#else
			#set ($viewUrl = $assetRenderer.getURLViewInContext($renderRequest, $renderResponse, $viewNoContext))
		#end

		<li class="title-list document">
			<a class="taglib-icon" href="$viewUrl">
				<img alt="$asset_entry.getTitle($locale)" class="icon" src="$iconPath" />
				<span class="taglib-text">$asset_entry.getTitle($locale)</span>
			</a>

			<div class="lfr-meta-actions asset-actions">
				<a class="taglib-icon" href="$editURL">
					<img alt="$languageUtil.get($company_id, $locale, "edit") $asset_entry.getTitle($locale)" class="icon" src="$themeDisplay.getPathThemeImages()/common/edit.png" title="$languageUtil.get($company_id, $locale, "edit") $asset_entry.getTitle($locale)" />
				</a>
			</div>
		</li>
	#end
</ul>