.form-builder-field-toolbar {
	min-width: 200px;
	z-index: 750;

	.lexicon-icon {
		margin-top: -3px;
	}
}

.form-builder-field-toolbar-items {
	float: right;
	z-index: 500;
}

.form-builder-field-toolbar-item {
	width: 48px;

	.lexicon-icon {
		height: 12px;
		width: 12px;
	}
}