@import "bourbon";
@import "mixins";

@import url(common_main.css);

.portlet-blogs {
	.taglib-custom-attributes-list {
		margin-bottom: 1em;
	}

	.taglib-custom-attributes-list label {
		display: block;
	}

	.edit-entry {
		h3 {
			color: #2B4259;
			font-size: 22px;
			margin-top: 0;
		}

		.explanation {
			font-weight: normal;
		}
	}

	.display-date-wrapper {
		padding-top: 40px;
	}

	.entry-author {
		border-right: 1px solid #999;
		color: #999;
		float: left;
		font-weight: bold;
		line-height: 20px;
		margin-right: 10px;
		padding-right: 10px;
	}

	.entry-body {
		margin-bottom: 10px;
	}

	.edit-actions {
		padding-left: 0;
	}

	.entry-abstract-wrapper {
		color: #2B4259;

		.entry-abstract-options {
			margin-top: 20px;
		}

		.entry-abstract {
			margin-bottom: 30px;
			margin-top: 40px;

			.lfr-blogs-small-image-selector {
				float: left;
				width: 200px;

				.taglib-image-selector {
					min-height: 150px;

					.drag-drop-label {
						font-size: 15px;
					}

					.file-validation-info {
						font-size: 13px;
					}
				}
			}

			.entry-description {
				font-size: 16px;
				overflow: hidden;
				padding-left: 24px;
			}
		}
	}

	.read-more {
		font-size: 14px;
		margin-bottom: 40px;
	}

	.entry-footer:after {
		clear: both;
		content: '';
		display: block;
		height: 0;
		visibility: hidden;
	}

	.taglib-asset-categories-summary, .taglib-asset-tags-summary {
		border-left: 1px solid #999;
		padding-left: 10px;
	}

	.edit-entry {
		.entry-status {
			padding-left: 30px;
		}

		.entry-title, .entry-subtitle, .entry-body {
			margin-left: 24px;
		}

		.entry-body {
			padding-bottom: 60px;
		}

		.entry-subtitle {
			margin-bottom: 30px;
		}
	}

	.entry-title {
		display: block;

		h2 {
			font-size: 26px;
			font-weight: bold;
			margin-bottom: 24px;

			.alloy-editor-placeholder {
				color: #32A8E6;

				p {
					margin-bottom: 0;
				}
			}
		}

		a {
			font-weight: bold;
		}
	}

	.categorization-wrapper, .custom-attributes-wrapper, .display-date-wrapper, .email-entry-updated-wrapper, .entry-abstract-wrapper, .permissions-wrapper, .pingback-enabled-wrapper, .related-assets-wrapper, .trackback-enabled-wrapper {
		margin-bottom: 55px;
	}

	.entry.draft, .entry.pending, .entry.scheduled {
		background: #EEE;
		border: 1px solid #CCC;
		color: #555;
		padding: 5px;

		h3 {
			margin-top: 0;
		}
	}

	.entry-navigation {
		margin: 40px 0;
		width: 100%;

		h2 {
			color: #868896;
			font-size: 20px;
			font-weight: 400;

			@include ellipsis;
		}

		h3 {
			font-size: 20px;
			margin-top: 0;

			a {
				color: #2B4259;
				font-weight: bold;
			}

			@include ellipsis;
		}

		.entry-content {
			font-size: 18px;
			font-weight: 400;
		}

		.small-image-wrapper {
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			float: right;
			height: 140px;
			margin-left: 60px;
			width: 140px;
		}

		.next-entry-wrapper {
			padding-left: 30px;
		}

		.previous-entry-wrapper {
			.previous-entry {
				border-right: 1px solid #CCC;
				padding-right: 60px;
			}
		}

		.next-entry, .previous-entry {
			margin-top: 5px;
			padding-bottom: 10px;
		}

		.entry-content-wrapper {
			overflow: hidden;
		}

		@include respond-to(phone) {
			.next-entry-wrapper {
				margin-top: 20px;
				padding: 0;
			}

			.previous-entry-wrapper {
					padding: 0;

				.previous-entry {
					border-right-width: 0;
				}
			}
		}
	}

	.lfr-blogs-cover-image-selector {
		margin: 0 0 60px;
		padding-top: 10px;
	}

	.preview {
		background: #FFC;
		border: 1px dotted gray;
		padding: 3px;
	}

	.search-form {
		float: right
	}

	.search-root-entry {
		color: #999;
		float: right;
	}

	.stats {
		color: #999;
		float: left;
		padding-right: 10px;
	}

	.subscribe {
		margin-bottom: 1.5em;
		text-align: right;
	}

	.taglib-flags {
		border-left: 1px solid #999;
		color: #999;
		padding-left: 10px;
		padding-right: 10px;
	}

	.taglib-page-iterator .lfr-pagination {
		margin-top: 25px;
	}

	.taglib-ratings.stars {
		float: left;
	}

	.taglib-social-bookmarks {
		float: right;
	}

	.form-search:after {
		clear: both;
		content: '';
		display: block;
		height: 0;
		visibility: hidden;
	}

	#blogsCommentsPanelContainer {
		border-width: 0;
	}
}

.firefox .portlet-blogs fieldset.input-container {
	display: table-column;
}

.social-boomarks-options {
	margin-left: 2em;
}