.portlet-blogs {
	.taglib-custom-attributes-list {
		margin-bottom: 1em;
	}

	.taglib-custom-attributes-list label {
		display: block;
	}

	.entry-author {
		border-right: 1px solid #999;
		color: #999;
		float: left;
		font-weight: bold;
		line-height: 20px;
		margin-right: 10px;
		padding-right: 10px;
	}

	.entry-body {
		margin-bottom: 10px;
	}

	.entry-abstract {
		margin-bottom: 30px;

		.lfr-blogs-small-image-selector {
			float: left;
			margin-bottom: 30px;
			width: 200px;
		}

		.entry-description {
			overflow: hidden;
			padding-left: 20px;
		}
	}

	.entry-date {
		color: #999;
	}

	.entry-footer:after {
		clear: both;
		content: '';
		display: block;
		height: 0;
		visibility: hidden;
	}

	.taglib-asset-categories-summary, .taglib-asset-tags-summary {
		border-left: 1px solid #999;
		padding-left: 10px;
	}

	.alloy-editor-placeholder {
		color: #222D3E;
		min-height: 40px;
		padding-left: 10px;

		&:empty:not(:focus) {
			background: transparent;
			border-left: 2px solid #DBDDE1;
			color: #868B96;
		}

		&.readonly {
			color: #CCC;
		}
	}

	.entry-title {
		display: block;
		font-weight: bold;
		margin-top: 10px;

		h2 {
			font-size: 26px;
			line-height: 40px;
		}
	}

	.entry-subtitle {
		font-size: 22px;
		line-height: 30px;
		margin-top: 15px;
	}

	.entry-content {
		font-size: 18px;
		margin: 25px 0 45px;
	}

	.entry.draft, .entry.pending, .entry.scheduled {
		background: #EEE;
		border: 1px solid #CCC;
		color: #555;
		padding: 5px;

		h3 {
			margin-top: 0;
		}
	}

	.entry-navigation {
		background: #EEE;
		border-top: 1px solid #CCC;
		margin: 15px 0 0;
		overflow: hidden;
		padding: 5px;

		.previous {
			float: left;
		}

		.next {
			float: right;
		}
	}

	.preview {
		background: #FFC;
		border: 1px dotted gray;
		padding: 3px;
	}

	.search-form {
		float: right
	}

	.search-root-entry {
		color: #999;
		float: right;
	}

	.stats {
		color: #999;
		float: left;
		padding-right: 10px;
	}

	.subscribe {
		margin-bottom: 1.5em;
		text-align: right;
	}

	.taglib-flags {
		border-left: 1px solid #999;
		color: #999;
		padding-left: 10px;
		padding-right: 10px;
	}

	.taglib-page-iterator .lfr-pagination {
		margin-top: 25px;
	}

	.taglib-ratings.stars {
		float: left;
	}

	.taglib-social-bookmarks {
		float: right;
	}

	.form-search:after {
		clear: both;
		content: '';
		display: block;
		height: 0;
		visibility: hidden;
	}

	#blogsCommentsPanelContainer {
		border-width: 0;
	}
}

.social-boomarks-options {
	margin-left: 2em;
}