.portlet-blogs {
	.taglib-custom-attributes-list {
		margin-bottom: 1em;
	}

	.taglib-custom-attributes-list label {
		display: block;
	}

	.entry-author {
		border-right: 1px solid #999;
		color: #999;
		float: left;
		font-weight: bold;
		line-height: 20px;
		margin-right: 10px;
		padding-right: 10px;
	}

	.entry-body {
		margin-bottom: 10px;
	}

	.entry-abstract-wrapper {
		color: #2B4256;

		h3 {
			border-top: 1px solid #CCC;
			color: #2B4256;
			font-size: 22px;
			margin-top: 0;
			padding-top: 40px;
		}

		.entry-abstract-options {
			margin-top: 20px;
		}

		.abstract-explanation {
			font-weight: normal;
		}

		.entry-abstract {
			margin-bottom: 30px;
			margin-top: 40px;

			.lfr-blogs-small-image-selector {
				float: left;
				margin-bottom: 30px;
				width: 200px;
			}

			.entry-description {
				font-size: 16px;
				overflow: hidden;
				padding-left: 24px;
			}
		}
	}

	.entry-date {
		color: #999;
	}

	.entry-footer:after {
		clear: both;
		content: '';
		display: block;
		height: 0;
		visibility: hidden;
	}

	.taglib-asset-categories-summary, .taglib-asset-tags-summary {
		border-left: 1px solid #999;
		padding-left: 10px;
	}

	.alloy-editor-placeholder {
		color: #2B4256;
		padding-left: 10px;

		&:empty:not(:focus) {
			background: transparent;
			border-left: 2px solid #DBDDE1;
			color: #B0B4BB;
		}

		&.readonly {
			color: #CCC;
		}
	}

	.entry-title {
		display: block;
		font-weight: bold;

		h2 {
			font-size: 30px;
			margin-bottom: 30px;

			.alloy-editor-placeholder {
				color: #32A8E6;

				p {
					margin-bottom: 0;
				}
			}
		}
	}

	.entry-subtitle {
		color: #2B4256;
		font-size: 27px;
		margin-bottom: 30px;
	}

	.entry-content {
		font-size: 21px;
		padding-bottom: 60px;

		p {
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.entry.draft, .entry.pending, .entry.scheduled {
		background: #EEE;
		border: 1px solid #CCC;
		color: #555;
		padding: 5px;

		h3 {
			margin-top: 0;
		}
	}

	.entry-navigation {
		background: #EEE;
		border-top: 1px solid #B0B4BB;
		margin: 15px 0 0;
		overflow: hidden;
		padding: 5px;

		.previous {
			float: left;
		}

		.next {
			float: right;
		}
	}

	.preview {
		background: #FFC;
		border: 1px dotted gray;
		padding: 3px;
	}

	.search-form {
		float: right
	}

	.search-root-entry {
		color: #999;
		float: right;
	}

	.stats {
		color: #999;
		float: left;
		padding-right: 10px;
	}

	.subscribe {
		margin-bottom: 1.5em;
		text-align: right;
	}

	.taglib-flags {
		border-left: 1px solid #999;
		color: #999;
		padding-left: 10px;
		padding-right: 10px;
	}

	.taglib-page-iterator .lfr-pagination {
		margin-top: 25px;
	}

	.taglib-ratings.stars {
		float: left;
	}

	.taglib-social-bookmarks {
		float: right;
	}

	.form-search:after {
		clear: both;
		content: '';
		display: block;
		height: 0;
		visibility: hidden;
	}

	#blogsCommentsPanelContainer {
		border-width: 0;
	}
}

.social-boomarks-options {
	margin-left: 2em;
}