<?xml version="1.0" encoding="UTF-8"?>

<settings
	xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd"
>
	<localRepository>[$LOCAL_REPOSITORY_DIR$]</localRepository>
	<mirrors>
		<mirror>
			<mirrorOf>*</mirrorOf>
			<url>[$REPOSITORY_URL$]</url>
		</mirror>
	</mirrors>
	<proxies>
		<proxy>
			<host>[$HTTP_PROXY_HOST$]</host>
			<port>[$HTTP_PROXY_PORT$]</port>
			<username>[$HTTP_PROXY_USERNAME$]</username>
			<password>[$HTTP_PROXY_PASSWORD$]</password>
			<nonProxyHosts>[$HTTP_PROXY_NON_PROXY_HOSTS$]</nonProxyHosts>
		</proxy>
	</proxies>
</settings>