.document-library-file-entry-cell-editor-hidden, .fileupload-cell-editor-hidden, .password-cell-editor-hidden {
	display: none;
}

.portlet-dynamic-data-lists {
	.lfr-spreadsheet-add-rows-buttons {
		padding: 5px;

		.field-label {
			text-transform: lowercase;
		}
	}
}

.portlet-dynamic-data-lists, .portlet-dynamic-data-list-display {
	.add-record-button-row {
		margin: 10px 0;
	}

	.record-toolbar {
		margin-bottom: 5px;
	}
}

.yui3-skin-sam .lfr-spreadsheet-container {
	.yui3-datatable td {
		border: {
			color: #CCC;
			style: solid;
			width: 0 1px 1px 0;
		}
		outline: 0;

		&:after {
			content: '\0000a0';
		}
	}

	.yui3-datatable-scrollable .yui3-datatable-bd {
		background-color: #F2F2F2;
	}

	tr {
		&.yui3-datatable-even, &.yui3-datatable-odd {
			td {
				background-color: #FFF;

				&.yui3-datatable-asc, &.yui3-datatable-desc {
					background-color: #EDF5FF;
				}

				&.datatable-cell-selected {
					background-color: #68E;
				}
			}
		}
	}
}

.basecelleditor {
	z-index: 999 !important;

	.buttonitem-content {
		padding: 3px 3px 2px 1px;
	}

	[class~="form-validator-message"] {
		clip: rect(auto auto auto auto);
		width: auto;
	}
}

.webkit .basecelleditor .buttonitem-label-only {
	padding-bottom: 2px;
}