@media (min-width: 1400px) {
	.dockbar-split {
		.dockbar .page-customization-bar-container {
			width: 963px;
		}

		&.staging-ready .page-customization-bar-container {
			width: 722px;
		}
	}
}

@media (min-width: 1152px) and (max-width: 1399px) {
	.dockbar-split {
		.dockbar .page-customization-bar-container {
			width: 715px;
		}

		&.staging-ready .page-customization-bar-container {
			width: 475px;
		}
	}
}

@media (min-width: 980px) and (max-width: 1151px) {
	.dockbar-split {
		.dockbar .page-customization-bar-container {
			width: 542px;
		}

		&.staging-ready .page-customization-bar-container {
			width: 302px;
		}
	}
}

@include respond-to(phone, tablet) {
	.dockbar, .dockbar-split .dockbar {
		.info-link-container {
			padding: 0;
			width: auto;

			.diamond {
				display: none;
			}

			.info-button {
				right: auto;
				top: auto;
			}

			.info-link {
				color: #333;
				display: block;
				margin: 0 0 0 5px;
				padding: 12px 18px;
				position: relative;

				&:focus, &:hover {
					background-color: #555;
					text-decoration: none;
				}
			}
		}
	}

	.dockbar-split .dockbar {
		.info-link-container.open .info-button a {
			background-color: #FFF;
		}

		.container, .container-fluid {
			> .nav > li.info-items {
				left: 0;
				top: 100%;
			}
		}

		.page-customization-bar-container {
			position: static;
			width: 100%;
		}
	}

	.portlet-staging-bar .layout-revision-actions {
		a.taglib-icon {
			padding: 9px 15px;
		}
	}

	.dockbar .staging-controls {
		padding: 0;

		.staging-bar li.dropdown .dropdown-menu {
			background-color: $navbar-default-bg;
			margin: 0;
			padding: 10px;
		}
	}
}

@include respond-to(phone, tablet) {
	#navigation {
		border-width: 0;
		display: none;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 400;

		&.open {
			display: block;

			li a {
				font-size: 16px;
				font-weight: 300;
				line-height: 27px;
				margin: 0;
				max-width: none;
				padding: 9px 15px;

				b {
					position: absolute;
					right: 5px;
				}
			}
		}

		.nav {
			margin: 0;
		}

		.navbar-nav {
			background-color: $navbar-default-bg;

			&, > li {
				float: none;
			}

			> li {
				&.active a {
					background-color: $navbar-default-link-active-bg;
				}

				a {
					color: $navbar-default-link-color;

					&:focus, &:hover {
						color: $navbar-default-link-hover-color;
					}
				}
			}

			.dropdown-menu > li > a {
				&:focus, &:hover {
					background-color: $nav-link-hover-bg;
				}
			}
		}
	}
}