.dockbar {
	.nav {
		> li.staging-toggle {
			&.active {
				> a {
					background-color: $navbar-default-link-active-bg;
				}

				a, > a {
					color: $navbar-default-link-active-color;
				}
			}

			a {
				text-decoration: none;

				&:focus {
					z-index: 1;
				}
			}

			.dropdown-menu a {
				color: $dropdown-link-color;

				@include respond-to(phone, tablet) {
					color: $navbar-default-link-color;
				}

				&:focus, &:hover {
					color: $link-hover-color;
				}

				&.btn-success {
					color: $btn-success-color;
				}
			}

			.dropdown-toggle:focus {
				outline: thin dotted;
				outline: 5px auto -webkit-focus-ring-color;
				outline-offset: -2px;
			}
		}

		.staging-controls {
			position: static;
		}
	}

	.staging-controls .staging-bar li.dropdown {
		&.live-link.open .dropdown-menu {
			&:after {
				left: 73px;
			}

			&:before {
				left: 72px;
			}
		}

		.dropdown-menu {
			left: 0;
			margin-left: 10px;
			width: 100%;
		}
	}

	.staging-bar {
		&, li.staging-toggle {
			position: static;
		}

		.layout-revision-info {
			max-width: 50%
		}
	}
}

.variation-selector {
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	margin: 1em;
}

.layout-revision-container {
	margin: 1em 0 0 1em;
	padding: 0;

	.current-version {
		color: #41801D;
		display: block;
	}

	.layout-variation-name {
		color: #666;
		font-size: 1.15em;
		margin-bottom: 0.1em;
		text-transform: uppercase;
	}

	.taglib-workflow-status .workflow-status {
		background: none;
		padding-left: 0;

		.workflow-status-ready-for-publication {
			color: #41801D;
			font-weight: bold;
		}
	}
}

.layout-revision-container-root {
	margin: 0;
}

.staging-controls {
	padding-left: 5px;
	padding-right: 25px;

	select {
		width: 100%;
	}

	.staging-bar {
		.dropdown-menu {
			font-size: 13px;
			position: absolute;
			top: 100%;
			width: 100%;

			.btn-link {
				float: left;
				font-size: 11px;
				margin: 0 5px 0 0;
				padding: 0;
				text-decoration: underline;

				text-shadow: none;

				&:hover {
					text-decoration: none;
				}

				&.history {
					float: right;
				}
			}

			.workflow-status .status {
				color: #FFF;

				&.approved {
					background-color: $status-approved-text;
				}

				&.draft {
					background-color: $status-draft-text;
				}

				&.expired {
					background-color: $status-expired-text;
				}

				&.pending {
					background-color: $status-pending-text;
				}
			}
		}
	}
}