@import "compass";
@import "compass/css3/user-interface";

.portlet-staging-bar {
	button.history {
		float: right;
	}

	button.mark-as-ready {
		float: left;
	}

	.button-holder {
		margin: 20px 0 10px;
	}

	.layout-actions .taglib-workflow-status {
		margin: 0;

		.workflow-id, .workflow-version {
			color: inherit;
		}

		.workflow-status {
			color: inherit;
			padding: 0;
		}
	}

	.page-variation-label, .site-pages-variation-label {
		font-weight: 300;
	}

	.page-variations-options, .site-pages-variation-options, .staging-details {
		padding: 0 15px;
	}

	.publish-link-container {
		clear: both;
		padding: 15px 0 5px;
		text-align: center;

		.publish-link {
			margin: 0;
		}
	}

	.site-pages-variation-options {
		position: relative;

		.icon-angle-right {
			font-size: 30px;
			position: absolute;
			right: -14px;
			top: 38px;
		}
	}

	.status-message {
		float: left;
		line-height: 20px;
	}

	.toolbar-spacer {
		display: none;
	}

	.variations-content {
		clear: both;
	}
}