@import "compass";
@import "compass/css3/user-interface";

.portlet-staging-bar {
	button.history {
		float: right;
	}

	button.mark-as-ready {
		float: left;
	}

	.button-holder {
		margin: 20px 0 10px;
	}

	.page-variation-label, .site-pages-variation-label {
		font-weight: 300;
	}

	.page-variations-options, .site-pages-variation-options, .staging-details {
		padding: 0 15px;
	}

	.publish-link-container {
		clear: both;
		margin-bottom: 15px;
		text-align: center;
	}

	.site-pages-variation-options {
		position: relative;

		.icon-angle-right {
			font-size: 30px;
			position: absolute;
			right: -14px;
			top: 38px;
		}
	}

	.status-message {
		float: left;
		line-height: 20px;
	}

	.toolbar-spacer {
		display: none;
	}

	.variations-content {
		clear: both;
	}
}

.staging-bar {
	select {
		width: 100%;
	}

	span.dropdown-toggle {
		cursor: pointer;

		@include user-select(none);
	}

	.dropdown-menu.site-variations {
		font-size: 13px;
		width: 100%;

		.btn-link {
			float: left;
			font-size: 11px;
			margin: 0 5px 0 0;
			padding: 0;
			text-decoration: underline;

			@include text-shadow(none);

			&:hover {
				text-decoration: none;
			}

			&.history {
				float: right;
			}
		}
	}

	.staging-nav-items {
		li {
			&.active {
				> a, > span {
					display: block;
					padding: 10px 15px;
				}
			}
		}
	}
}