@import "compass";
@import "compass/css3/user-interface";

.portlet-staging-bar {
	button.history {
		float: right;
	}

	button.mark-as-ready {
		float: left;
	}

	.button-holder {
		margin: 20px 0 10px;
	}

	.layout-actions .taglib-workflow-status {
		margin: 0;

		.workflow-id, .workflow-version, .workflow-status {
			color: inherit;
			display: block;
			padding: 0;
		}
	}

	.row-fluid .layout-revision-info {
		float: right;
		line-height: 16px;

		&.incomplete {
			float: none;
			padding: 0 15px;
		}

		.layout-revision-version {
			display: block;
			font-size: 0.8em;

			label {
				color: #CCC;
				display: inline;
				font-size: 0.9em;
			}
		}

		.submit-link {
			margin-left: 1em;
		}

		.workflow-status {
			margin: 0;
			padding: 0;
		}
	}

	.layout-branch-selector, .layout-set-branch-selector {
		font-size: inherit;
	}

	.page-variation-label, .site-pages-variation-label {
		font-weight: 300;
	}

	.page-variations-options {
		padding: 0 15px 0 0;
	}

	.site-pages-variation-options, .staging-details {
		padding: 0 15px;
	}

	.publish-link-container {
		padding: 15px 0 5px;
		text-align: center;

		.publish-link {
			margin: 0;
		}
	}

	.site-pages-variation-options {
		position: relative;

		.icon-angle-right {
			font-size: 30px;
			position: absolute;
			right: -14px;
			top: 38px;
		}
	}

	.status-message {
		float: left;
		line-height: 20px;
	}

	.toolbar-spacer {
		display: none;
	}

	.variations-content {
		clear: both;
	}
}