$addContentPanelWidth: 330px;
$devicePreviewPanelWidth: 330px;
$editLayoutPanelWidth: 330px;

$control-menu-css-transition: all 0.5s ease !default;

$control-menu-icon-font-size: 1.125em !default; // 18px

$control-menu-level-1-bg: rgba(31, 40, 46, 0.95) !default;
$control-menu-level-1-border: rgb(31, 40, 46) !default;
$control-menu-level-1-nav-item-color: #FFF !default;

$control-menu-level-1-nav-item-hover-color: $control-menu-level-1-nav-item-color !default;

$control-menu-level-1-nav-item-active-color: $control-menu-level-1-nav-item-hover-color !default;

$control-menu-level-2-bg: rgba(31, 40, 46, 0.85) !default;
$control-menu-level-2-border: rgb(31, 40, 46) !default;

$control-menu-level-2-nav-item-color: #869CAD !default;

$control-menu-level-2-nav-item-hover-color: $control-menu-level-2-nav-item-color !default;

$control-menu-level-2-nav-item-active-bg: #3A4D5A !default;
$control-menu-level-2-nav-item-active-border-radius: 4px !default;
$control-menu-level-2-nav-item-active-color: #88C37C !default;
$control-menu-level-2-nav-item-active-label-color: #FFF !default;

$control-menu-level-2-label-color: $control-menu-level-2-nav-item-color !default;

$control-menu-level-2-checkbox-default-label-color: #FFF !default;
$control-menu-level-2-form-control-color: #FFF !default;

$product-menu-collapse-icon-bg: #1A2126 !default;

$product-menu-nav-active-link-color: #FFF !default;
$product-menu-nav-link-color: #869CAD !default;

$product-menu-header-bg: #1B2228 !default;
$product-menu-header-color: #869CAD !default;

$product-menu-header-link-color: #FFF !default;
$product-menu-header-link-hover-color: $product-menu-header-link-color !default;

$product-menu-header-logo-bg: #65B6F0 !default;

$product-menu-list-group-heading-bg: transparent !default;
$product-menu-list-group-heading-border: transparent !default;
$product-menu-list-group-heading-border-width: 2px !default;

$product-menu-list-group-heading-hover-bg: $product-menu-list-group-heading-bg !default;
$product-menu-list-group-heading-hover-border: $product-menu-list-group-heading-border !default;

$product-menu-list-group-heading-collapsed-bg: transparent !default;
$product-menu-list-group-heading-collapsed-border: transparent !default;
$product-menu-list-group-heading-collapsed-border-width: 1px !default;

$product-menu-list-group-item-bg: #1A2126 !default;

$product-menu-nav-equal-height-heading-closed-collapse-icon: '\f0fe' !default;
$product-menu-nav-equal-height-heading-open-collapse-icon: '\f146' !default;

$product-menu-site-administration-color: #FFF !default;
$product-menu-site-administration-link-active-bg: #3A4D5A !default;
$product-menu-site-administration-link-active-border-radius: 4px !default;
$product-menu-site-administration-link-active-color: #88C37C !default;
$product-menu-site-administration-link-color: $product-menu-nav-link-color !default;

$product-menu-tabs-bg: #1C252C !default;
$product-menu-tabs-border-radius: 4px !default;
$product-menu-tabs-color: $product-menu-tabs-bg !default;

$product-menu-tabs-active-bg: #3A4D5A !default;
$product-menu-tabs-active-border: transparent !default;
$product-menu-tabs-active-color: #FFF !default;

$product-menu-tabs-hover-bg: #1C252C !default;
$product-menu-tabs-hover-border: transparent !default;
$product-menu-tabs-hover-color: #869CAD !default;

$product-menu-user-signout-bg: #3A4D5A !default;
$product-menu-user-signout-border-radius: 4px !default;
$product-menu-user-signout-icon-color: #FFF !default;