@import "custom_responsive";

$bg-color: #F5F7F8;
$solid-color: #47647A;

body {
	background-color: $bg-color;
}

.container-fluid-1280 .row {
	margin-left: 15px;
	margin-right: 15px;
}

.form-control {
	background-color: transparent;
}

#navigation .input-container {
	position: relative;
}

#wrapper {
	padding: 0;

	#banner {
		position: relative;

		a:active, a:hover, a:focus {
			text-decoration: none;
		}

		#heading .site-name {
			color: $solid-color;
			font-size: 150%;
			letter-spacing: 2px;
			margin-left: 20px;
			vertical-align: middle;
		}

		.navbar-toggle {
			margin: 12px;
		}

		.navbar-form {
			@include sm {
				margin-left: 30px;
			}

			.form-control {
				border-bottom-width: 1px;
				border-color: #D6DCE2;
				margin-top: 2px;
			}

			.search-select {
				margin-right: 40px;
				padding-right: 20px;
			}

			.field-wrapper {
				position: absolute;
				right: 0;
				top: 0;

				.search-button {
					background-color: transparent;
					border-width: 0;
					margin-top: 0;

					.lfr-btn-label {
						display: none;
					}
				}
			}
		}

		#navigation .nav > li {
			& > a {
				color: $solid-color;
			}

			&:hover > a, &.hover > a, &.active > a {
				background-color: none;
				color: #000;
			}

			.dropdown-menu .active > a {
				color: #FFF;
			}
		}

		.user-personal-bar {
			@include sm {
				position: absolute;
				right: 20px;
				top: 0;
			}

			.sign-in > a, .user-avatar-link {
				display: block;
				line-height: 28px;
				padding: 8px 4px 14px 14px;
			}

			.user-avatar-image {
				background-size: auto 32px;
				border-radius: 50%;
				display: inline-block;
				height: 32px;
				overflow: hidden;
				vertical-align: text-bottom;
				width: 32px;
			}

			@include sm {
				.icon-caret-down, .user-full-name {
					display: none;
				}
			}
		}
	}

	#content {
		.navbar-nav > li {
			& > a {
				color: $solid-color;
			}

			&:hover > a, &.hover > a, &.active > a {
				background-color: none;
				color: #000;
			}

			.dropdown-menu .active > a {
				color: #FFF;
			}
		}

		.row {
			margin-left: -15px;
			margin-right: -15px;
		}
	}

	.portlet-layout {
		min-height: 500px;
	}

	#footer {
		background-color: $solid-color;
		color: #FFF;
		margin-bottom: 60px;
		padding: 40px 20px;

		a {
			color: #FFF;
		}
	}
}

.modify-pages .delete-tab {
	height: 20px;
	top: 22px;
}

.add-page-editor {
	margin-top: 20px;

	.btn {
		padding: 3px 10px;
	}
}

.lfr-portlet-title-editable .btn {
	padding: 3px 10px;
}