#wrapper #banner {
	padding: 20px 0;

	@include sm {
		padding: 40px 0 30px;
	}

	.navbar-form {
		.field-wrapper .search-button {
			@include media-query(null, $screen-xs-max) {
				padding: 0 14px;
			}
		}

		.search-input {
			font-size: 16px;
			padding-right: 40px;

			@include sm {
				height: auto;
				max-width: 200px;
			}
		}
	}
}

#navigationCollapse {
	@include media-query(null, $screen-xs-max) {
		font-size: 125%;
	}

	.nav > li > a {
		@include media-query(null, $screen-xs-max) {
			border-bottom: 1px solid #E1E1E1;
		}
	}

	.navbar-form .input-text-wrapper {
		@include media-query(null, $screen-xs-max) {
			display: block;
		}
	}
}

.modify-pages .lfr-nav-item .lfr-nav-child-toggle, .user-personal-bar .icon-caret-down {
	line-height: 28px;
	margin-top: -14px;
	padding-left: 15px;
	padding-right: 15px;
	position: absolute;
	right: 4px;
	top: 50%;

	@include sm {
		display: none;
	}
}

.display-style-buttons > .dropdown > .dropdown-menu {
	&:after, &:before {
		@include media-query(null, $screen-xs-max) {
			border-width: 0;
		}
	}
}