/* ---------- Main ---------- */

.results-grid {
}

.context-pane-content .results-grid {
}

.taglib-search-iterator .results-row {
	td, th {
		&.first {
		}

		&.last {
		}
	}
}

/* ---------- Dragging/sorting indicators ---------- */

.portlet-layout.dragging {
}

.drop-area {
}

.active-area {
}

.portlet-boundary.yui3-dd-dragging {
	.portlet {
	}
}

.aui-sortable-layout-proxy {
	.portlet-topper {
	}
}

.aui-proxy {
	&.generic-portlet {
		.portlet-title {
		}
	}

	&.not-intersecting .forbidden-action {
	}
}

.aui-resizable-proxy {
}

.aui-sortable-proxy {
}

.lfr-freeform-layout-drag-indicator {
}

.aui-sortable-layout-drag-target-indicator {
}

/* ---------- Portal tool tips ---------- */

.aui-tooltip {
}

/* ---------- Tags ---------- */

.aui-tagselector-content {
	.aui-textboxlistentry-holder {
	}
}

.aui-tagselector {
	.lfr-tag-selector-input {
	}

	.aui-field .aui-field-content {
	}

	.aui-toolbar {
	}

	.aui-textboxlist-input-container {
	}
}

.aui-tagselector-focused .aui-textboxlistentry-holder {
}

.aui-categoriesselector-content .aui-textboxlistentry-holder {
}

/* ---------- Tag cloud and tag list ---------- */

.tag-items {
	li {
	}

	a {
	}
}

.tag-selected {
}

.tag-cloud {
	.tag-asset-count {
	}

	@for $i from 1 through 6 {
		.tag-popularity-#{$i} {
		}
	}
}

/* ---------- Underlay ---------- */

.aui-underlay {
	.yui3-widget-hd {
	}

	.lfr-portlet-item {
	}
}

.aui-underlay-hidden {
}

.aui-underlay-content {
}

.aui-underlay-close {
}

/* ---------- Tabs ---------- */

.aui-tab-active strong {
}

.aui-tab-back {
}

.aui-tab-back-content {
}

/* ---------- Misc. ---------- */

.lfr-panel-container {
}

.lfr-panel-content {
}

.lfr-panel-basic .lfr-panel-content {
}

.aui-dialog-bd {
}

.aui-dialog-content {
}

.aui-panel-hd {
}

.app-view-drop-active {
}

/* ---------- Menus ---------- */

.lfr-menu-list {
}

.lfr-page-templates li {
	a {
		label {
		}
	}
}

.aui-menu {
	.notice-message {
	}
}

.aui-menu-content {
	li {
		.disabled {
		}
	}
}

.aui-menu-content, .lfr-menu-list ul {
}

.aui-menugroup-content .aui-menu-label {
}

.aui-menugroup-content ul, .lfr-menu-list ul ul {
}

.aui-menu-content li, .lfr-menu-list ul li {
	&.first {
	}

	&.last {
	}
}

.aui-menu-content li a, .lfr-menu-list ul li .taglib-icon, .aui-menu-content li .disabled {
}

.lfr-menu-list ul li.disabled .taglib-icon {
}

.aui-menu-content li a.aui-focus, .lfr-menu-expanded li a:focus, .lfr-menu-list ul .taglib-icon.aui-focus {
}

.aui-menu-content a, .lfr-menu-list li .taglib-icon, .aui-menu-content .disabled {
}

/* ---------- Toolbar ---------- */

.aui-toolbar li {
}

.aui-toolbar-separator {
}

/* ---------- Loading Mask ---------- */

.aui-loadingmask-content {
}

.aui-loadingmask-message {
}

/* ---------- Tree View ---------- */

.aui-tree-node-selected .aui-tree-label {
}

/* ---------- Page Customization ---------- */

.aui-dragging .portlet-column.customizable {
}

.customizable-layout-column-content {
	&.yui3-widget-content-expanded {
	}
}

.customizable .customizable-layout-column-content {
}

.layout-customizable-controls {
}

/* ---------- Pagination ---------- */

.aui-paginator-link {
}

.aui-paginator-page-link {
}

.aui-paginator-current-page {
}

.aui-paginator-first-link {
}

.aui-paginator-prev-link {
}

.aui-paginator-last-link {
}

.aui-paginator-next-link {
}

.aui-paginator-current-page-report, .aui-paginator-total {
}

.aui-paginator-current-page-report {
}

.taglib-page-iterator .search-pages .page-links {
}

/* ---------- Application Column View ---------- */

.lfr-app-column-view {
	.aui-layout-content {
	}

	.aui-column:before {
	}

	.aui-column-content {
		.lfr-message-response {
		}
	}
}

/* ---------- Header row ---------- */

.lfr-header-row {
	.aui-toolbar {
		.aui-toolbar-content {
		}

		.aui-toolbar-item {
		}

		.aui-toolbar-last {
		}
	}
}

.ie {
	.portlet-boundary.yui3-dd-dragging {
	}

	.aui-proxy {
	}

	.aui-proxy.not-intersecting .forbidden-action {
	}

	.layout-customizable-controls {
	}
}

.ie7 {
	.aui-menu-content li {
	}

	.aui-paginator-link {
	}

	.aui-paginator-page-link {
	}

	.aui-paginator-current-page {
	}
}

.ie6, .ie7 {
	.aui-toolbar li {
	}

	.lfr-header-row .aui-buttonitem-content {
		.aui-buttonitem-label {
		}
	}
}