/* ---------- Main ---------- */

.ui-wrapper {
}

.ui-wrapper input, .ui-wrapper textarea {
}

.results-grid {
}

.results-header {
}

.results-header th, .results-header td {
}

.results-header th a, .results-header td a {
}

.results-header .sort-column .result-column-name {
}

.results-header .sort-desc .result-column-name {
}

.results-row td {
}

.results-row.alt td {
}

.results-row.hover td {
}

/* ---------- Asset Categories ---------- */

.ui-asset-categories {
}

.ui-asset-categories:after {
}

.ie .ui-asset-categories {
}

.ui-asset-categories.empty {
}

.ui-asset-categories .ui-asset-category {
}

.ui-asset-categories .ui-asset-category:hover {
}

.ui-asset-categories .ui-asset-category-delete {
}

.ui-asset-categories .ui-asset-category-delete span {
}

.ui-asset-categories .ui-asset-category-delete:hover span {
}

.ui-asset-categories-input {
}

.tags-vocabulary-name span {
}

/* ---------- Breadcrumbs ---------- */

.breadcrumbs {
}

.breadcrumbs li {
}

.breadcrumbs .last {
}

.breadcrumbs .last a {
}

/* ---------- Site breadcrumbs ---------- */

.site-breadcrumbs {
}

.site-breadcrumbs ul {
}

.site-breadcrumbs li {
}

.site-breadcrumbs li a {
}

.site-breadcrumbs .last {
}

.site-breadcrumbs .last a {
}

/* ---------- Dragging/sorting indicators ---------- */

.lfr-grid.dragging {
}

.lfr-grid.dragging .lfr-column {
}

.drop-area {
}

.active-area {
}

.exp-proxy {
}

.ie .exp-proxy {
}

.exp-proxy.generic-portlet {
}

.exp-proxy.generic-portlet .portlet-title {
}

.exp-proxy.not-intersecting .forbidden-action {
}

.ie .exp-proxy.not-intersecting .forbidden-action {
}

.exp-resizable-proxy {
}

.navigation-sort-helper {
}

.portlet-sort-helper {
}

/* ---------- Resizables ---------- */

.exp-resizable {
}

.ie6 .exp-resizable {
}

.ie6 .exp-resizable-wrap {
}

.exp-resizable-handle {
}

.exp-resizable .exp-resizable-handle {
}

.exp-resizable-handle-t, .exp-resizable-handle-b {
}

.exp-resizable-handle-t {
}

.exp-resizable-handle-b {
}

.ie6 .exp-resizable-handle-t, .ie6 .exp-resizable-handle-b {
}

.exp-resizable-handle-l, .exp-resizable-handle-r {
}

.exp-resizable-handle-r {
}

.exp-resizable-handle-l {
}

.exp-resizable-handle-tr, .exp-resizable-handle-tr {
}

.exp-resizable-handle-tr {
}

.exp-resizable-handle-tl {
}

.exp-resizable-handle-bl, .exp-resizable-handle-br {
}

.exp-resizable-handle-br {
}

.exp-resizable-handle-bl {
}

.exp-resizable-hover .exp-resizable-handle, .exp-resizable-hidden .exp-resizable-handle {
}

.ie .exp-resizable-hover .exp-resizable-handle, .ie .exp-resizable-hidden .exp-resizable-handle {
}

.exp-resizable-ghost {
}

.ie .exp-resizable-ghost {
}

.exp-resizable-knob .exp-resizable-handle {
}

.exp-resizable-knob .exp-resizable-handle-t {
}

.exp-resizable-knob .exp-resizable-handle-r {
}

.exp-resizable-knob .exp-resizable-handle-b {
}

.exp-resizable-knob .exp-resizable-handle-l {
}

.exp-resizable-knob .exp-resizable-handle-tr {
}

.exp-resizable-knob .exp-resizable-handle-tl {
}

.exp-resizable-knob .exp-resizable-handle-bl {
}

.exp-resizable-knob .exp-resizable-handle-br {
}

.exp-resizable-status {
}

.exp-resizable-status strong, .exp-resizable-status em {
}

.ie6 .exp-resizable-status, .ie6 .exp-resizable-status strong, .ie6 .exp-resizable-status em {
}

.freeform .portlet-boundary .exp-resizable-handle {
}

/* ---------- Slider ---------- */

.ui-slider {
}

.ui-slider-handle {
}

.ui-slider-disabled .ui-slider-handle {
}

.ie .ui-slider-disabled .ui-slider-handle {
}

.ui-slider-range {
}

.ie .ui-slider-range {
}

/* ---------- Tabs ---------- */

.exp-tabs {
}

.exp-tabs:after {
}

.ie .exp-tabs {
}

.ie6 .exp-tabs {
}

.exp-tabs li {
}

.exp-tabs li.last {
}

.exp-tabs li a, .exp-tabs li span {
}

.ie6 .exp-tabs li a, .ie6 .exp-tabs li span {
}

.exp-tabs li a:hover {
}

.exp-tabs li a:hover, .exp-tabs li span:hover {
}

.exp-tabs li.exp-selected {
}

.exp-tabs li.exp-selected a, .exp-tabs li.exp-selected span {
}

.ie6 .exp-tabs li.exp-selected a, .ie6 .exp-tabs li.exp-selected span {
}

.exp-tabs li.exp-selected:hover, .exp-tabs li.exp-selected a:hover {
}

.exp-tabs .exp-disabled a {
}

.exp-tabs .exp-disabled {
}

.ie .exp-tabs .exp-disabled {
}

.exp-tabs .exp-disabled a:link, .exp-tabs .exp-disabled a:visited {
}

.exp-hidden {
}

.exp-tabs .last.toggle {
}

/* ---------- Container ---------- */

.exp-overlay, .exp-panel-container {
}

.exp-panel {
}

.exp-panel .exp-header {
}

.ie6 .exp-panel .exp-header {
}

.exp-panel .container-close {
}

.exp-panel .exp-body {
}

.exp-panel.exp-resizable .exp-body {
}

.ie6 body.masked select {
}

.ie6 div.exp-panel-container select {
}

.ie6 div.drag select {
}

.ie6 div.hide-select select {
}

.exp-mask {
}

.ie .exp-mask {
}

.hide-scrollbars, .hide-scrollbars * {
}

.hide-scrollbars select {
}

.show-scrollbars {
}

.exp-panel-container.show-scrollbars {
}

.exp-panel-container.show-scrollbars .underlay {
}

/* ---------- Portal tool tips ---------- */

.exp-tooltip {
}

/* ---------- Date picker ---------- */

.exp-calendar-container {
}

.ie6 .exp-calendar-container {
}

.exp-calendar-container iframe {
}

.ie6 .exp-calendar-container iframe.fixedsize {
}

.exp-calendar-container.exp-calendar-multiple {
}

.exp-calendar-container.exp-calendar-multiple .groupcal {
}

.exp-calendar-container .exp-calendar-title {
}

.exp-calendar-container.exp-calendar-multiple .exp-calendar-title {
}

.exp-calendar-container .exp-calendar-close {
}

.exp-calendar-container .exp-calendar-close {
}

img.exp-datepicker-button {
}

.exp-calendar {
}

.exp-calendar.withtitle {
}

.exp-calendar .exp-calendar-nav-left, .exp-calendar .exp-calendar-nav-right {
}

.exp-calendar .exp-calendar-nav-left {
}

.exp-calendar .exp-calendar-nav-right {
}

.exp-calendar td.exp-calendar-cell {
}

.exp-calendar td.exp-calendar-cell a {
}

.exp-calendar td.exp-calendar-today a {
}

.exp-calendar td.exp-calendar-oom {
}

.exp-calendar td.exp-calendar-selected a {
}

.exp-calendar td.exp-calendar-cell-hover a {
}

.exp-calendar td.exp-calendar-restricted {
}

.exp-calendar td.exp-calendar-previous {
}

.exp-calendar td.exp-calendar-highlight1 {
}

.exp-calendar td.exp-calendar-highlight2 {
}

.exp-calendar td.exp-calendar-highlight3 {
}

.exp-calendar td.exp-calendar-highlight4 {
}

.exp-calendar .exp-calendar-head {
}

.exp-calendar .exp-calendar-header {
}

.exp-calendar .exp-calendar-header img {
}

.exp-calendar .exp-calendar-weekday-row {
}

.exp-calendar .exp-calendar-weekday-row th {
}

.exp-calendar .exp-calendar-foot {
}

.exp-calendar .exp-calendar-rowhead, .exp-calendar .exp-calendar-rowfoot {
}

.exp-calendar .exp-calendar-rowhead, .exp-calendar .exp-calendar-rowfoot {
}

.exp-calendar .exp-calendar-rowhead {
}

.exp-calendar .exp-calendar-rowfoot {
}

.exp-calendar a.exp-calendar-nav {
}

.ie .exp-calendar a.exp-calendar-nav {
}

.ie .exp-calendar a.exp-calendar-nav {
}

.exp-calendar-container .exp-calendar-navigator-mask {
}

.ie .exp-calendar-container .exp-calendar-navigator-mask {
}

.ie6 .exp-calendar-container .exp-calendar-navigator-mask {
}

.exp-calendar-container .exp-calendar-navigator {
}

.exp-calendar-container.withtitle .exp-calendar-navigator {
}

.exp-calendar-container.exp-calendar-multiple .exp-calendar-navigator {
}

.exp-calendar-container .exp-calendar-navigator-year, .exp-calendar-container .exp-calendar-navigator-month, .exp-calendar-container .exp-calendar-navigator-buttons {
}

.exp-calendar-container .exp-calendar-navigator-buttons {
}

.exp-calendar-container .exp-calendar-navigator-error {
}

.exp-calendar-container .exp-calendar-navigator label {
}

.exp-calendar-container .exp-calendar-navigator-month-control {
}

.ie6 .exp-calendar-container .exp-calendar-navigator-month-control {
}

/* ---------- Color picker ---------- */

.exp-picker-panel .exp-panel {
}

.exp-picker-panel .exp-header, .exp-picker-panel .exp-footer {
}

.exp-picker-panel .exp-body {
}

.exp-picker-panel .container-close {
}

.yui-picker {
}

.yui-picker-bg {
}

.yui-picker-controls {
}

.yui-picker-controls ul, .yui-picker-controls li {
}

.yui-picker-controls .hd {
}

.yui-picker-controls .bd {
}

.yui-picker-controls ul {
}

.yui-picker-controls li {
}

.exp-picker-panel .yui-picker-controls input {
}

.yui-picker-hex-controls {
}

.yui-picker-hue-thumb {
}

.yui-picker-hue-bg {
}

.yui-picker-mask {
}

.yui-picker-swatch {
}

.yui-picker-thumb {
}

/* ---------- Autocomplete ---------- */

.exp-autocomplete-input {
}

.exp-autocomplete-container {
}

.exp-autocomplete-content {
}

.exp-autocomplete-shadow {
}

.ie .exp-autocomplete-shadow{
}

.exp-autocomplete-iframe {
}

.ie6 .exp-autocomplete-iframe {
}

.exp-autocomplete-content ul {
}

.exp-autocomplete-content li {
}

.ie .exp-autocomplete-content li {
}

.exp-autocomplete-content li strong {
}

.exp-autocomplete-highlight {
}

li.exp-autocomplete-highlight strong {
}

.exp-autocomplete-loading, .exp-autocomplete-loading.focus {
}

/* ---------- Tags ---------- */

.ui-tags {
}

.ui-tags:after {
}

.ie .ui-tags {
}

.ui-tags.empty {
}

.ui-tags .ui-tag {
}

.ui-tags .ui-tag:hover {
}

.ui-tags .ui-tag-delete {
}

.ui-tags .ui-tag-delete span {
}

.ui-tags .ui-tag-delete:hover span {
}

.ui-tags-input {
}

.tags-vocabulary-name span {
}

/* ---------- Tag cloud and Tag list ---------- */

.tag-cloud, .tag-list {
}

.tag-cloud {
}

.tag-cloud li, .tag-list li {
}

.tag-cloud a, .tag-list a {
}

.tag-cloud .tag-asset-count {
}

.tag-cloud .tag-popularity-1 {
}

.tag-cloud .tag-popularity-2 {
}

.tag-cloud .tag-popularity-3 {
}

.tag-cloud .tag-popularity-4 {
}

.tag-cloud .tag-popularity-5 {
}

.tag-cloud .tag-popularity-6 {
}
/* ---------- Treeview ---------- */

.treeview {
}

.treeview, .treeview ul {
}

.treeview ul {
}

.treeview .hitarea {
}

.ie6 .hitarea {
}

.treeview li {
}

.treeview a.selected {
}

.treeview-control {
}

.treeview .hover {
}

.treeview li.collapsable, .treeview li.expandable {
}

.treeview .expandable-hitarea {
}

.treeview li.last {
}

.treeview li.lastCollapsable, .treeview li.lastExpandable {
}

.treeview li.lastCollapsable {
}

.treeview li.lastExpandable {
}

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea {
}

.treeview .placeholder {
}

.treeview span {
}

.filetree li {
}

.filetree span.folder, .filetree span.file {
}

.filetree span.folder {
}

.filetree li.expandable span.folder {
}

.filetree span.file {
}