/* ---------- Main ---------- */

.yui3-aui-state-default {
}

.yui3-aui-state-hover {
}

.yui3-aui-state-active {
}

.results-header {
}

.results-header th, .results-header td {
}

.results-header .sort-column .result-column-name {
}

.results-header .sort-desc .result-column-name {
}

.results-row td {
}

.results-row.alt td {
}

.results-row.hover td {
}

/* ---------- Dragging/sorting indicators ---------- */

.portlet-layout.dragging {
}

.drop-area {
}

.active-area {
}

.portlet-boundary.yui3-aui-dd-dragging {
}

.ie .portlet-boundary.yui3-aui-dd-dragging {
}

.portlet-boundary.yui3-aui-dd-dragging .portlet {
}

.yui3-aui-portal-layout-proxy {
}

.yui3-aui-portal-layout-proxy .portlet-topper {
}

.yui3-aui-proxy {
}

.ie .yui3-aui-proxy {
}

.yui3-aui-proxy.generic-portlet {
}

.yui3-aui-proxy.generic-portlet .portlet-title {
}

.yui3-aui-proxy.not-intersecting .forbidden-action {
}

.ie .yui3-aui-proxy.not-intersecting .forbidden-action {
}

.yui3-aui-resizable-proxy {
}

.yui3-aui-sortable-proxy {
}

.lfr-freeform-layout-drag-indicator {
}

.yui3-aui-portal-layout-drag-target-indicator {
}

/* ---------- Portal tool tips ---------- */

.yui3-aui-tooltip {
}

/* ---------- Tags ---------- */

.yui3-aui-tagselector-content {
}

.yui3-aui-tagselector-content .yui3-aui-textboxlistentry-holder {
}

.yui3-aui-tagselector .lfr-tag-selector-input {
}

.yui3-aui-tagselector-focused .yui3-aui-textboxlistentry-holder {
}

.yui3-aui-tagselector .yui3-aui-field .yui3-aui-field-content {
}

.yui3-aui-tagselector .yui3-aui-toolbar {
}

.yui3-aui-tagselector .yui3-aui-textboxlist-input-container {
}

.yui3-aui-categoriesselector-content .yui3-aui-textboxlistentry-holder {
}

/* ---------- Tag cloud and tag list ---------- */

.tag-cloud, .tag-list {
}

.tag-cloud {
}

.tag-cloud li, .tag-list li {
}

.tag-cloud a, .tag-list a {
}

.tag-cloud .tag-asset-count {
}

.tag-cloud .tag-popularity-1 {
}

.tag-cloud .tag-popularity-2 {
}

.tag-cloud .tag-popularity-3 {
}

.tag-cloud .tag-popularity-4 {
}

.tag-cloud .tag-popularity-5 {
}

.tag-cloud .tag-popularity-6 {
}

/* ---------- Underlay ---------- */

.yui3-aui-underlay {
}

.yui3-aui-underlay-hidden {
}

.yui3-aui-underlay-content {
}

.yui3-aui-underlay .yui3-widget-hd {
}

.yui3-aui-underlay-close {
}

.yui3-aui-underlay .lfr-portlet-item {
}

/* ---------- Tabs ---------- */

.yui3-aui-tabview-list {
}

.ie7 .yui3-aui-tabview-list {
}

.yui3-aui-tab {
}

.yui3-aui-tab-content {
}

.yui3-aui-tab-active {
}

.yui3-aui-tab-active, .yui3-aui-tab-active a {
}

.yui3-aui-tabview-list .toggle {
}

/* ---------- Misc. ---------- */

.lfr-panel-container {
}

.lfr-panel-container {
}

.yui3-aui-dialog-bd {
}

.yui3-aui-dialog-content {
}

.yui3-aui-panel-hd {
}

/* ---------- Menus ---------- */

.lfr-actions.portlet-options .lfr-trigger strong span, .visible.portlet-options .lfr-trigger strong span {
}

.lfr-actions.portlet-options:hover, .lfr-actions.portlet-options:hover ul {
}

.lfr-menu-list {
}

.yui3-aui-menu .notice-message {
}

.yui3-aui-menu {
}

.yui3-aui-menu-content {
}

.yui3-aui-menu-content li {
}

.yui3-aui-menu-content, .lfr-menu-list ul {
}

.yui3-aui-menugroup-content .yui3-aui-menu-label {
}

.yui3-aui-menugroup-content ul, .lfr-menu-list ul ul {
}

.yui3-aui-menu-content li, .lfr-menu-list ul li {
}

.ie7 .yui3-aui-menu-content li {
}

.yui3-aui-menu-content li.first, .lfr-menu-list ul li.first {
}

.yui3-aui-menu-content li.last, .lfr-menu-list ul li.last {
}

.yui3-aui-menu-content li a, .lfr-menu-list ul li .taglib-icon, .yui3-aui-menu-content li .disabled {
}

.yui3-aui-menu-content li .disabled {
}

.yui3-aui-menu-content li a.yui3-aui-focus, .lfr-menu-list ul .taglib-icon.yui3-aui-focus, .lfr-menu-expanded li a:focus {
}

.yui3-aui-menu-content a, .lfr-menu-list li .taglib-icon, .yui3-aui-menu-content .disabled, .lfr-actions .lfr-trigger, .lfr-actions .lfr-trigger strong {
}

/* ---------- Toolbar ---------- */

.yui3-aui-toolbar li {
}

.ie6 .yui3-aui-toolbar li, .ie7 .yui3-aui-toolbar li {
}

.yui3-aui-toolbar-separator {
}

/* ---------- Loading Mask ---------- */

.yui3-aui-loadingmask-content {
}

.yui3-aui-loadingmask-message {
}

/* ---------- Tree View ---------- */

.yui3-aui-tree-node-selected .yui3-aui-tree-label {
}

/* ---------- Page Personalization ---------- */

.controls-visible .portlet-column.personalizable {
}

.customizable-layout-column-content.yui3-widget-content-expanded {
}

.customizable-layout-column-content {
}

.personalizable .customizable-layout-column-content {
}

.layout-personalizable-controls {
}

.ie .layout-personalizable-controls {
}