fieldset {
}

.aui-fieldset {
}

.aui-dialog-iframe-popup .aui-fieldset {
}

.aui-button-holder, .aui-field-row, .aui-field-wrapper-content, .aui-fieldset .aui-field-content {
}

.aui-field-inline, .aui-field-row {
	.aui-field-content {
	}
}

.aui-search-bar {
	.aui-field-content {
	}

	.aui-button-content, .aui-field-content {
	}
}

.aui-field-choice .aui-field-label {
}

.aui-field-date .aui-field-content {
}

.aui-text-placeholder {
}

legend {
}

.aui-fieldset-legend {
}

.aui-legend {
}

input {
}

button, input[type="button"], input[type="file"], input[type="password"], input[type="reset"], input[type="submit"], input[type="text"], select, textarea, .textarea, .aui-field-input-text {
}

select {
}

input[type="image"] {
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
	&:hover {
	}

	&:focus {
	}
}

input, textarea {
	&.focus {
	}
}

.aui-button-disabled {
	button, input[type] {
		&, &:focus, &:hover {
		}
	}
}

.aui-buttonitem-disabled {
}

input.aui-form-validator-error, select.aui-form-validator-error, textarea.aui-form-validator-error {
}

/* ---------- IE6 chokes on attribute selectors in a chain, so we separate them into their own rule ---------- */

.ie {
	fieldset {
	}

	.aui-button-disabled input {
	}
}

.ie7 {
	.aui-fieldset {
	}
}

.ie6 {
	button, input.button, input.file, input.password, input.submit, input.text {
	}

	button, input.button, input.submit, .aui-button-disabled button, .aui-button-disabled input.button, .aui-button-disabled input.submit {
	}

	.aui-button-disabled {
		button, input.button, input.submit {
		}
	}

	input, textarea {
		&.focus {
		}
	}
}