/* ---------- Portlet wrapper and icons ---------- */

.freeform .portlet {
}

body.portlet {
}

.portlet-topper {
}

.portlet-title {
	img {
	}
}

.portlet-title-text {
}

.panel-page-content, .panel-page-body {
	.portlet-title-text {
	}
}

.portlet-topper-toolbar {
	.nobr {
	}
}

.portlet-content, .portlet-minimized .portlet-content-container {
}

.portlet-minimized .portlet-content {
}

.portlet-icon-back {
}

.portlet-nested-portlets .portlet-boundary {
}

.portlet-borderless-bar, .portlet-journal-content .icon-actions {
	a {
	}
}

.portlet-journal-content .icon-actions {
	.taglib-text {
	}

	.icon-action a {
		.icon {
		}
	}

	.icon-action-add a {
	}

	.icon-action-edit a {
	}

	.icon-action-edit-template a {
	}

	.icon-action-configuration a {
	}
}

/* ---------- Borderless portlet ---------- */

.portlet-borderless-container {
}

.portlet-borderless-bar {
	a {
	}

	.portlet-actions {
	}

	.portlet-title-default, .portlet-actions {
	}

	.portlet-action-separator {
	}

	.portlet-back a {
	}

	.portlet-close a {
	}
}

.lfr-configurator-visibility {
	.portlet-borderless-bar {
	}

	&.portlet-journal-content .icon-actions {
	}
}

.portlet-borderless-container:hover .portlet-borderless-bar, .portlet-journal-content:hover .icon-actions {
}

.portlet-borderless-container:hover .portlet-borderless-bar .portlet-actions, .portlet-journal-content:hover .icon-actions .taglib-text {
}

.portlet-title-default {
}

.portlet-draggable {
	.portlet-topper {
	}

	.portlet-title-default {
	}
}

/* ---------- Panel Page ---------- */

.lfr-panel-page {
	.portlet-title {
	}

	.lfr-add-content h2 span {
	}
}

/* ---------- Standard styles defined in the JSR 168 ---------- */

/* ---------- Fonts ---------- */

/* ---------- Font attributes for the 'normal' fragment font ---------- */

.portlet-font {
}

/* ---------- Font attributes similar to the .portlet-font but the color is lighter ---------- */

.portlet-font-dim {
}

/* ---------- Messages ---------- */

.portlet-msg {
}

/* ---------- Status of the current operation ---------- */

.portlet-msg-status {
}

/* ---------- Help messages, general additional information, etc. ---------- */

.lfr-message-info, .portlet-msg-info {
}

.lfr-message-help, .portlet-msg-help {
}

.lfr-message-progress, .portlet-msg-progress {
}

/* ---------- Error messages ---------- */

.lfr-message-error, .portlet-msg-error {
}

/* ---------- Warning messages ---------- */

.lfr-message-alert, .portlet-msg-alert {
}

/* ---------- Success messages ---------- */

.lfr-message-success, .portlet-msg-success {
}

/* ---------- Message labels ---------- */

.portlet-msg-alert-label, .portlet-msg-error-label, .portlet-msg-info-label, .portlet-msg-progress-label, .portlet-msg-success-label {
}

.portlet-msg-alert-label {
}

.portlet-msg-error-label {
}

.portlet-msg-help-label, .portlet-msg-info-label, .portlet-msg-progress-label {
}

.portlet-msg-help-label {
}

.portlet-msg-progress-label {
}

.portlet-msg-success-label {
}

/* ---------- Liferay Messages ---------- */

.lfr-message-alert, .lfr-message-content, .lfr-message-error, .lfr-message-help, .lfr-message-info, .lfr-message-success {
}

.lfr-message {
	.lfr-message-control {
	}

	.lfr-message-controls {
	}

	.lfr-message-close {
	}

	.lfr-message-close-all {
		a {
		}
	}

	.lfr-message-controls-hover .lfr-message-close-all {
	}

	&.pending {
	}
}

.lfr-message-dismissible.lfr-message-hover {
	.lfr-message-content {
	}

	.lfr-message-controls {
	}
}

.lfr-message-close, .lfr-message-trigger {
}

/* ---------- Sections ---------- */

/* ---------- Table or section header ---------- */

.portlet-section-header {
	th {
	}
}

/* ---------- Normal text in a table cell ---------- */

.portlet-section-body {
	td {
	}
}

/* ---------- Text in every other row in the cell ---------- */

.portlet-section-alternate {
	td {
	}
}

.portlet-section-alternate-hover td, .portlet-section-body-hover td {
}

.portlet-section-body td td, .portlet-section-body-hover td td {
}

.portlet-section-alternate td td, .portlet-section-alternate-hover td td {
}

/* ---------- Text in a selected cell range ---------- */

.portlet-section-selected {
	&, a {
	}

	a:hover, a:focus {
	}
}

/* ---------- Text of a subheading ---------- */

.portlet-section-subheader {
}

/* ---------- Table or section footnote ---------- */

.portlet-section-footer {
}

/* ---------- Text that belongs to the table but does not fall in one of the other categories (e.g. explanatory or help text that is associated with the section) ---------- */

.portlet-section-text {
}

/* ---------- Forms ---------- */

/* ---------- Text used for the descriptive label of the whole form (not the labels for fields) ---------- */

.portlet-form-label {
}

/* ---------- Text of the user-input in an input field ---------- */

.portlet-form-input-field {
}

/* ---------- Text on a button ---------- */

.portlet-form-button {
}

/* ---------- Text that appears beside a context dependent action icon ---------- */

.portlet-icon-label {
}

/* ---------- Text that appears beside a 'standard' icon (e.g. Ok, or Cancel) ---------- */

.portlet-dlg-icon-label {
}

/* ---------- Text for a separator of fields (e.g. checkboxes, etc.) ---------- */

.portlet-form-field-label {
}

/* ---------- Text for a field (not input field, e.g. checkboxes, etc.) ---------- */

.portlet-form-field {
}

/* ---------- Menus ---------- */

/* ---------- General menu settings such as background color, margins, etc. ---------- */

.portlet-menu {
}

/* ---------- Normal, unselected menu item ---------- */

.portlet-menu-item {
}

/* ---------- Selected menu item ---------- */

.portlet-menu-item-selected {
}

/* ---------- Normal, unselected menu item when the mouse hovers over it ---------- */

.portlet-menu-item-hover {
}

/* ---------- Selected menu item when the mouse hovers over it ---------- */

.portlet-menu-item-hover-selected {
}

/* ---------- Normal, unselected menu item that has sub-menus ---------- */

.portlet-menu-cascade-item {
}

/* ---------- Selected sub-menu item that has sub-menus ---------- */

.portlet-menu-cascade-item-selected {
}

/* ---------- Descriptive text for the menu (e.g. in a help context below the menu) ---------- */

.portlet-menu-description {
}

/* ---------- Menu caption ---------- */

.portlet-menu-caption {
}

/* ---------- Miscellaneous portlet styles ---------- */

.restricted {
	&, & td {
	}

	* {
	}
}

.alt.restricted td {
}

.hover.restricted td {
}

.restricted, .alt.restricted {
	td.col-1 {
	}
}

/* ---------- Permissions ---------- */

.results-row, .results-row.hover {
	&.lfr-role .col-1 {
	}

	&.lfr-role-guest .col-1 {
	}

	&.lfr-role-regular .col-1 {
	}

	&.lfr-role-site .col-1 {
	}

	&.lfr-role-organization .col-1 {
	}

	&.lfr-role-team .col-1 {
	}
}

/* ---------- Miscellaneous component styles ---------- */

/* ---------- Add content dialog ---------- */

.lfr-portlet-item {
	&, & p a {
	}
}

/* ---------- Breadcrumbs taglib ---------- */

.breadcrumbs {
	&:after, &:before {
	}

	&:after {
	}
}

.breadcrumbs-vertical {
}

.breadcrumbs-horizontal li {
}

/* ---------- Calendar taglib ---------- */

.taglib-calendar {
	tr {
		&.portlet-section-header th, & td {
		}

		td {
			a {
				&:hover {
				}
			}

			&.calendar-inactive {
			}
		}

		th {
		}
	}

	table td {
	}

	.calendar-current-day {
		&, & a {
		}

		a {
		}
	}
}

.ie {
	.portlet-borderless-bar, .portlet-journal-content .icon-actions {
	}

	.portlet-borderless-container:hover .portlet-borderless-bar, .portlet-journal-content .icon-actions:hover {
	}

	.taglib-calendar tr td.first a {
	}
}

.ie6, .ie7 {
	.portlet-journal-content {
		.icons-container {
		}

		.icon-actions .taglib-text {
		}
	}

	.portlet-borderless-bar .portlet-actions {
	}

	.portlet-title-default {
	}

	.breadcrumbs-horizontal li, .breadcrumbs-vertical {
	}

	.lfr-message .lfr-message-close {
	}
}

.ie6 {
	.portlet-topper-toolbar .icon {
	}

	.portlet-borderless-container {
	}

	.portlet-borderless-bar {
		.portlet-actions {
		}
	}

	.breadcrumbs {
	}
}