@import "bourbon";

.lfr-ddm-form-container {
	.icon-angle-left {
		font-size: inherit;
	}

	.lfr-ddm-form-field-container {
		position: relative;

		@include keyframes(spin) {
			100% {
				transform: rotate(359deg);
			}
		}

		.icon-spinner {
			@include animation(spin 1000ms infinite linear);
		}

		.lfr-ddm-form-field-repeatable-add-button {
			position: absolute;
			right: 0;
			top: 0;
		}

		.lfr-ddm-form-field-repeatable-delete-button {
			position: absolute;
			right: 15px;
			top: 0;
		}
	}

	.lfr-ddm-form-page {
		display: none;

		&.active {
			display: block;
		}
	}

	.lfr-ddm-form-page-description {
		margin-bottom: 73px;
	}

	.row {
		min-height: auto;
	}

	.lfr-ddm-form-pagination-controls {
		padding-top: 20px;
	}
}

.portal-popup {
	$side-spacing: 34px;
	padding: 0;

	&.open {
		padding: 0;
	}

	.lfr-ddm-form-page-title,
	.lfr-ddm-form-page-description {
		padding-left: $side-spacing;
		padding-right: $side-spacing;
	}

	.lfr-ddm-form-page {
		padding-bottom: $side-spacing;
	}
}