.portlet-polls {
	.choice, .add-choice{
		clear: both;
		display: block;
	}

	.last-choice {
		button {
			float: left;
			margin-bottom: 10px;
			margin-left: -2px;
		}

		input.language-value {
			float: left;
		}

		.control-group {
			margin-bottom: 0;
		}
	}
}