/* ---------- Buttons ---------- */

.btn-command-log, .btn-error, .btn-jump-to-error, .btn-screenshot, .btn-sidebar {
	font-family: 'FontAwesome' !important;
}

.xml-log, .sidebar-btn-container {
	.btn {
		background-color: transparentize($off-white, 0.84);
		border: 1px solid $button-border-color;
		border-radius: 4px;
		color: $neutral;
		cursor: pointer;
		font-size: 10px;
		height: 32px;
		left: 0;
		line-height: 1em;
		margin-right: 5px;
		opacity: 0.6;
		outline: none;
		padding: 0;
		text-align: center;
		transition: opacity 0.2s ease;
		width: 32px;

		&:active:focus, &:focus, &:hover {
			box-shadow: none;
			outline: 0;
		}

		.btn-content {
			transition: transform 0.2s ease;
		}

		&:hover {
			opacity: 1;
		}

		&.toggle {
			background-color: $button-toggle-bg-color;
		}

		&.btn-sidebar {
			&:before {
				transform: rotate(180deg);
				transition: transform 0.5s ease-in-out;
			}

			&.toggle:before {
				transform: rotate(0);
			}
		}
	}
}

.xml-log {
	.btn-error, .btn-screenshot {
		background-color: transparentize($failed-color, 0.84);
		border-color: $button-error-color;
		bottom: 0;
		color: $button-error-border-color;
		display: inline-block;
		font-family: $monospaced-font;
		font-size: 17px;

		&.toggle {
			background: $button-error-toggle-bg-color;
		}
	}
}

/* ---------- Sidebar buttons ---------- */

.sidebar-btn-container {
	left: -60px;
	margin-top: 10px;
	position: absolute;
	width: 28px;

	.btn {
		font-size: 20px;
		line-height: 1em;
		margin: 5px 15px;
	}

	.btn-command-log {
		&:before {
			content: '\f126';
		}
	}

	.btn-sidebar:before {
		content: '\f104';
		display: block;
	}

	.btn-jump-to-error {
		display: none;

		&:before {
			content: '\f071';
		}
	}
}

.running .btn-command-log {
	display: none;
}

.command-logger .btn.btn-jump-to-error {
	display: block;
}

/* ---------- Button icons ---------- */

.btn-collapse {
	&:before {
		content: '+';
	}

	&.toggle:before {
		content: '-';
	}
}

.btn-var:before {
	content: 'var';
	font-family: $monospaced-font;
}

.btn-error .btn-content:before {
	content: '!';
}

.btn-screenshot .btn-content:before {
	content: '\f108';
}

.btn-screenshot {
	display: none !important;
}