/* ---------- Buttons ---------- */

.btn-command-log, .btn-error, .btn-jump-to-error, .btn-screenshot, .btn-sidebar {
	font-family: 'FontAwesome';
}

.xml-log .btn, .sidebar-btn-container .btn {
	background: transparent;
	border-width: 0;
	cursor: pointer;
	font-size: 10px;
	height: 28px;
	left: 0;
	margin: auto;
	outline: none;
	padding: 2px;
	text-align: center;
	transition: all 0.2s ease;
	width: 28px;

	&:active:focus, &:focus, &:hover {
		box-shadow: none;
		outline: 0;
	}

	.btn-content {
		transition: all 0.2s ease;
	}

	&:hover {
		background-color: $button-hover-bg-color;

		&.btn-content {
			transform: scale(1.3, 1.3);
		}
	}

	&.toggle {
		background-color: $button-toggle-bg-color;
	}
}

.btn-error, .btn-screenshot {
	border-color: $button-error-color;
	bottom: 0;
	color: $button-error-color;
	display: inline-block;
	font-size: 17px;
	margin-top: 1px;

	&:focus, &:hover {
		background-color: transparent;
		color: $button-error-color;
	}

	&.toggle {
		background: $button-error-color;
		color: $body-bg-color;

		&:hover {
			background-color: $button-error-color;
		}
	}
}

/* ---------- Sidebar buttons ---------- */

.sidebar-btn-container {
	left: -60px;
	margin-top: 10px;
	position: absolute;
	width: 28px;

	.btn {
		color: $global-button-color;
		font-size: 20px;
		line-height: 25px;
		margin: 5px 15px;

		&.toggle {
			background-color: $global-button-toggle-bg-color;
		}

		&:hover {
			background-color: $global-button-hover-bg-color;
		}
	}

	.btn-command-log {
		&.toggle {
			background-color: $global-button-color;
			border-color: $global-button-color;
			color: $command-log-toggle-button-toggle-color;
		}

		&:before {
			content: '\f126';
		}
	}

	.btn-sidebar:before {
		content: '\f104';
		display: block;
	}

	.btn-jump-to-error {
		display: none;

		&:before {
			content: '\f071';
		}
	}
}

.running .btn-command-log {
	display: none;
}

.command-logger .btn.btn-jump-to-error {
	display: block;
}

/* ---------- Button icons ---------- */

.btn-collapse {
	&:before {
		content: '+';
	}

	&.toggle:before {
		content: '-';
	}
}

.btn-var:before {
	content: 'var';
	font-family: $xml-log-font;
}

.btn-error .btn-content:before {
	content: '\f071';
}

.btn-screenshot .btn-content:before {
	content: '\f108';
}
