/* ---------- Main Styling ---------- */

//Xml-log

$body-font-size: 11px;

$body-bg-color: #EBE7DC;

$xml-log-font: 'Menlo', 'Source Code Pro', 'Lucia Console', 'Monospace';
$xml-log-default-text-color: #444;

$child-container-left-border-color: #DDD;

$line-number-text-color: #222;

$parameter-container-border-color: #777;

$macro-child-container-bg-color: rgba(248, 203, 155, 0.38);
$macro-child-container-box-shadow: inset 0 0 0 0 darken($macro-child-container-bg-color, 46);

$scoped-line-bg-color: rgba(232, 255, 118, 0.4);

//Command-logger mode

$passed-line-bg-color: #7FCDD1;

$pending-border-color: #FD9A07;
$pending-border-bg-color: transparentize($pending-border-color, 0.85);

$passed-function-hover-bg-color: #A3D7C9;
$passed-function-hover-border-color: #FFF;

$logger-mode-hover-line-bg-color: #FFFBF1;
$logger-mode-scoped-line-bg-color: $passed-function-hover-bg-color;

$running-line-bg-color: #FFB57C;

//Error console & screenshot

$error-panel-border-color: #F9F9EB;
$error-panel-text-color: $error-panel-border-color;

$console-error-bg-color: #EA461F;
$screenshot-error-bg-color: #333;

$screenshot-img-border-color: #A19C8C;

//Sidebar

$sidebar-bg-color: #A1978B;
$sidebar-box-shadow-color: transparentize(darken($sidebar-bg-color, 46), 0.8);
$sidebar-font: 'Futura', 'Trebuchet MS', 'Arial', sans-serif;
$sidebar-default-text-color: #FFF;

//Command-log

$command-log-font: 'Verdana', 'Geneva', sans-serif;

$command-log-divider-bg-color: saturate(lighten($sidebar-bg-color, 4), 7);
$command-log-divider-text-color: desaturate(darken($sidebar-bg-color, 40), 6);

$scoped-command-bg-color: #FFEB7B;
$scoped-command-border: 2px solid #AAA;
$scoped-command-text-color: #555;
$scoped-command-expand-toggle-color: #444;

$scoped-command-hover-bg-color: #FAE841;
$scoped-command-hover-text-color: #444;

$command-hover-bg-color: #648590;
$command-hover-text-color: #FFF;
$command-hover-outline-color: #777;

$command-child-container-border-color: #EEE;
$command-child-container-text-color: $sidebar-default-text-color;

$command-log-expand-toggle-hover-color: #FFF;
$command-log-expand-toggle-color: darken($command-log-expand-toggle-hover-color, 6);

$failed-command-bg-color: #E2604C;
$failed-command-scoped-bg-color: #EE6C39;
$failed-command-hover-bg-color: #F0652B;
$failed-expand-toggle-color: #FBEFB4;

//Buttons

$button-hover-bg-color: #E6DBD2;
$button-toggle-bg-color: adjust_hue(darken($button-hover-bg-color, 1), 7);

$button-error-color: #FF5335;

$global-button-color: #444; //These are the buttons floating on the top right
$global-button-toggle-bg-color: rgba(220, 220, 220, 0.6);
$global-button-hover-bg-color: rgba(220, 220, 220, 0.7);

$command-log-toggle-button-toggle-color: #CCC;

/* ---------- Syntax highlight variables ---------- */

//Xml-log

$xml-name-color: #111;
$xml-scoped-name-color: #446090;
$xml-tag-type-color: #333;
$xml-selectable-name-color: #663615;

//Sidebar

$command-name-color: #8CEFF6;
$param-type-color: #3D4E58;
$param-value-color: $param-type-color;

$failed-command-name-color: #FBF4D7;
$failed-param-type-color: #FFE4C7;
$failed-param-value-color: $failed-param-type-color;

$scoped-command-name-color: #447090;
$scoped-child-container-command-name-color: #715D3B;
$scoped-child-container-param-value-color: #B56F28;
$scoped-child-container-text-color: #359AB6;

$sub-command-name-color: #E9C993;
$sub-param-value-color: #FDBA93;
$sub-failed-command-name-color: #FC8666;