/* Main Nav
-----------------------------------------------------------------*/
#navigation {
	background:transparent url(../images/custom/nav_bkg.gif) no-repeat 100% 100%;
	margin:0 auto 2em;
	min-height:2em;
	padding:0.5em 2em;
	position:relative;
	width:93%;
}
	#navigation ul {
		background:transparent url(../images/custom/nav_bkg.gif) no-repeat 0 100%;
		float:left;
		left:0;
		min-height:2em;
		padding:0.5em 2em;
		position:absolute;
		top:0;
	}
	/*------ IE Specific Hacks ------*/
	.ie6 #navigation,
	.ie6 #navigation ul {
		height:2em;
	}
		
	#navigation li {
		float:left;
		display:inline;
		margin-right:1.5em;
	}
	#navigation li a {
		display:block;
		background:url(../images/custom/nav_bullet.gif) no-repeat 0 50%;
		padding-left: 17px;
		text-decoration:none;
	}
		#navigation li a:hover {
			background:url(../images/custom/nav_bullet_over.gif) no-repeat 0 50%;
		}
		/*------ IE Specific Hacks ------*/
		.ie #navigation li a {
			padding-top:0.2em;	
		}
	/*------ Nav Dark ------*/
		
/* Account Navigation
-----------------------------------------------------------------*/
.nav-account {
	position:absolute;
	right:10px;
	top:10px;
}
	.nav-account h2 {
		margin-bottom: 0.5em;
		text-align:right;
		font-size:1.2em;
		background: url(../images/custom/welcome_message.png) no-repeat 0 50%;
		padding-left: 2em;
	}
	.nav-account ul {
		float:left;
		display:inline;
	}
		.nav-account li {
			float:left;
			display:inline;
			margin-left: 15px;
		}
			.nav-account li a {
				padding: 2px 0 2px 20px;
				background: url() no-repeat 0 50%;
			}
			.nav-account li.home a {
				background-image: url(../images/custom/home.gif);
			}
			.nav-account li.my-account a {
				background-image: url(../images/custom/my_account.gif);
			}
			.nav-account li.sign-out a {
				background-image: url(../images/custom/sign_in.gif);
			}
			.nav-account li.sign-out a {
				background-image: url(../images/custom/sign_out.gif);
			}
			.nav-account li.add-content a {
				background-image: url(../images/custom/add_content.gif);
			}
			.nav-account li.layout a {
				background-image: url(../images/custom/layout.gif);
			}
			.nav-account li.page-settings a {
				background-image: url(../images/custom/page_settings.gif);
			}
			.nav-account li.my-places a {
				background-image: url(../images/custom/my_places.gif);
			}
		.nav-account li.my-places{
			display: none;
		}
/* Javascript enabled Nav Menu
-----------------------------------------------------------------*/
.js .nav-account {
	right:10px;
	top:10px;
	position:relative;
	float:right;
	min-width: 150px;
}
	.js .nav-account h2 {
		padding: 0 29px 0 0;
		font-size:1.2em;
		background: url(../images/custom/widget_bar.png) no-repeat 100% -30px;
		margin-bottom: 0;
		position: relative;
		z-index: 82;
	}
			.js .nav-account h2 span{
				padding:0.5em 0.5em 0.5em 2em;
				display: block;
				font-size:1.2em;
				color: #fff;
				background: url(../images/custom/widget_bar.png) no-repeat 0 0;
				margin-bottom: 0;
			}
		.js .nav-account.expanded .nav-widget-container{
			background: #60738c;
			border: 1px solid #b5b9bb;
			border-top: none;
			position: relative;
			top:  -2px;
		}
	.js .nav-account ul {
		margin-tops: 0.25em;
		border-left: 20px solid #DAE3EF;
		background: url(../images/custom/widget_menu_bkg.gif) no-repeat 0 0;
		display:none;
		float: none;
	}
		.js .nav-account li {
			display:block;
			float: none;
			margin-bottom:0pt;
			margin-left:0.2em;
		}
			.js .nav-account li a {
				background-position:0.5em 50%;
				border-top:1px solid #ccc;
				margin-left:0.3em;
				display:block;
				padding:0.5em 0pt 0.5em 2.5em;
				text-decoration:none;
			}
			.js .nav-account li:first-child a {
				
				border-top:none;
				
			}
				.js .nav-account li a:hover {
					border-top:1px solid #e0d79f;
					background-color: #FFF5BA;
					padding-left: 3.5em;
					background-position: 1.5em 50%;
				}
					.js .nav-account li:first-child a,
					.js .nav-account li:first-child a:hover {
						border-top: none;
					}
			.js .my-places {
				display: none;
				position: relative;
			}
				.js .nav-account li.my-places  li a {
					background-image: none;
				}
			.js .my-places .show-my-places {
				position: absolute;
				display: block;
				min-width: 200px;
				top: 0;
				right: 100%;
				border: 1px solid #ccc;
				background: #fff;
			}
				.js .my-places.send-right .show-my-places {
					top: -10px;
					left: 100%;
				}
				.js .my-places.send-down .show-my-places {
					top: 100%;
					left: 0;
				}
				.js .my-places .show-my-places li {
					background: url() no-repeat 3px 50%;
				}
					.js .my-places .show-my-places li.public,
					.js .my-places .show-my-places li.public a:hover {
						background-image: url(../images/custom/my_place_public.gif);
					}
					.js .my-places .show-my-places li.private,
					.js .my-places .show-my-places li.private a:hover {
						background-image: url(../images/custom/my_place_private.gif);
					}
			/*------ IE Specific Hacks ------*/
			.ie6.js .nav-account {
				width: 150px;
				white-space:nowrap;
			}
				.ie6.js .nav-account h2{
					
				}
					.ie6.js .nav-account.expanded .nav-widget-container{
						zoom:1;
					}
				.ie6.js .my-places .show-my-places{
					width:200px;
				}
					
			.ie6.js .nav-account li {
				zoom:1;
			}
			.ie6.js .nav-account li a{
				zoom:1;
			}
			