.dockbar-split {
	.dockbar {
		@include respond-to(phone, tablet) {
			height: auto;
			position: relative;
		}

		&.navbar-default {
			.nav-account-controls {
				border: solid $navbar-default-border;
				border-width: 0 1px 1px 1px;

				@include respond-to(phone, tablet) {
					border-width: 0;
				}
			}

			.nav-add-controls {
				.dropdown-menu > li > a {
					&, &:focus, &:hover {
						border: 1px solid $navbar-default-border;

						@include respond-to(phone, tablet) {
							border-width: 0;
						}
					}
				}

				.nav-item-label {
					border: 1px solid $navbar-default-border;

					@include respond-to(phone, tablet) {
						border-width: 0;
					}
				}
			}
		}

		.diamond {
			border: $diamondSize solid transparent;
			border-bottom-color: #1485EB;
			display: block;
			height: 0;
			position: relative;
			top: -$diamondSize;
			width: 0;

			&:after {
				border: $diamondSize solid transparent;
				border-top-color: #1485EB;
				content: '';
				height: 0;
				left: -$diamondSize;
				position: absolute;
				top: $diamondSize;
				width: 0;
			}
		}

		.info-button {
			right: 12px;
			top: 10px;

			a {
				color: #FFF;
				display: inline;
				font-size: 14px;
				padding: 2px 10px;
				position: absolute;

				&:focus, &:hover {
					background-color: transparent;
				}
			}
		}

		.info-link-container {
			position: relative;
			width: 0;

			&.open .info-button a {
				background-color: transparent;
			}
		}

		.staging-controls {
			.staging-bar {
				margin: 6px 0;

				li.dropdown .dropdown-menu {
					color: $dropdown-link-color;
					left: 0;
					margin-left: 0;
					width: 100%;

					@include respond-to(phone, tablet) {
						color: $navbar-default-link-color;
					}
				}
			}

			.staging-toggle.active > a {
				background-color: $navbar-default-link-active-bg;
				color: $navbar-default-link-active-color;
			}
		}

		.divider-vertical {
			display: none;
		}

		.info-items {
			left: auto;
			position: static;
		}

		.nav > li.staging-toggle > a {
			padding: 6px 10px;
		}

		.container, .container-fluid {
			z-index: 400;

			&.open {
				overflow: visible;
			}

			> .nav {
				&.nav-account-controls {
					left: auto;
					margin-right: 0;
					padding: 0;
					position: fixed;
					right: 5em;
					z-index: 325;

					@include respond-to(phone, tablet) {
						position: static;
						right: auto;
					}
				}

				&.nav-account-controls-notice {
					top: 50px;
				}

				&.nav-add-controls {
					@include respond-to(phone, tablet) {
						.open ul.dropdown-menu {
							display: block;
						}
					}

					ul.dropdown-menu {
						display: block;
						min-width: 0;
						position: fixed;
						right: auto;
						top: 10%;
						z-index: 350;

						@include respond-to(phone, tablet) {
							display: none;
							position: absolute;
							top: 100%;
						}

						> li {
							display: block;
							float: none;
							margin: 10px;
							position: relative;

							@include respond-to(phone, tablet) {
								margin: 0;

								&.page-preview-controls {
									display: none;
								}
							}

							&.toggle-controls a {
								clip: rect(0 0 0 0);
								position: absolute;

								@include respond-to(phone, tablet) {
									clip: rect(auto auto auto auto);
									position: static;
								}

								&:focus {
									clip: rect(auto auto auto auto);
									position: static;
								}
							}

							> a {
								padding: 6px 8px;
								text-align: center;

								@include respond-to(phone, tablet) {
									padding: 9px 15px;
									text-align: left;
								}

								.nav-item-icon {
									font-size: 25px;
									margin-right: 0;
									position: relative;
									vertical-align: middle;

									@include respond-to(phone, tablet) {
										font-size: inherit;
										margin-top: 0;
									}
								}

								.nav-item-label {
									display: none;
									left: 100%;
									margin-left: 0.5em;
									margin-top: -1em;
									padding: 0 20px;
									position: absolute;
									top: 50%;
									white-space: nowrap;

									@include respond-to(phone, tablet) {
										display: inline-block;
										margin-left: 0;
										margin-top: 0;
										padding: 0;
										position: static;
									}
								}

								&:hover .nav-item-label {
									display: block;

									@include respond-to(phone, tablet) {
										display: inline-block;
									}
								}
							}
						}

						&:hover > li.toggle-controls a {
							clip: rect(auto auto auto auto);
							position: static;
						}
					}
				}

				> li {
					> a {
						line-height: 31px;
						padding: 6px 15px;
					}

					&.info-items {
						left: auto;
						top: auto;
					}
				}
			}
		}

		.page-customization-bar-container {
			position: absolute;
			right: 100%;
			top: 0;
			width: 320px;
		}

		.staging-nav-items {
			li > span {
				color: #FFF;
				display: block;
				line-height: 31px;
				padding: 10px 15px;
			}
		}
	}

	.info-items {
		height: 1px;

		a, .btn-link {
			color: #FFF;
			text-decoration: underline;

			&:hover {
				text-decoration: none;

				.taglib-text {
					text-decoration: none;
				}
			}
		}

		.btn-link {
			border-width: 0;
			font-size: 14px;
			font-weight: 300;
			margin: 0 0 0 6px;
			padding: 0;

			text-shadow: none;
		}
	}

	&.controls-hidden .dockbar .nav-add-controls li.toggle-controls > .toggle-controls-link {
		background: #F5AF45;
	}

	&.lfr-has-add-content .nav-add-controls ul.dropdown-menu {
		left: $addContentPanelWidth;
	}

	&.lfr-has-device-preview .nav-add-controls ul.dropdown-menu {
		left: $devicePreviewPanelWidth;
	}

	&.lfr-has-edit-layout .nav-add-controls ul.dropdown-menu {
		left: $editLayoutPanelWidth;
	}
}