buildscript {
	dependencies {
		classpath group: "com.liferay", name: "com.liferay.gradle.plugins.defaults", version: "latest.release"
	}

	repositories {
		mavenLocal()

		maven {
			url "[$REPOSITORY_URL$]"
		}
	}
}

apply plugin: "com.liferay.settings.plugin"

apply from: "settings-ext.gradle"