buildscript {
	dependencies {
[$BUILDSCRIPT_DEPENDENCIES$]
	}

	repositories {
		mavenLocal()

		maven {
			url "https://cdn.lfrs.sl/repository.liferay.com/nexus/content/groups/public"
		}
	}
}

apply plugin: "com.liferay.app.defaults.plugin"

configure(subprojects.findAll {!it.childProjects}) {
	apply plugin: "com.liferay.defaults.plugin"
}

apply from: "build-ext.gradle"