/* ---------- Main ---------- */

.ui-wrapper {
	border: 2px solid #828F95;
}

.ui-wrapper input, .ui-wrapper textarea {
	border: 0;
}

.results-grid {
	border: 1px solid #DEDEDE;
	border-left: none;
	border-right: none;
	padding: 5px 0;
}

.results-header {
	background: #727C81;
}

.results-header th, .results-header td {
	color: #FFF;
	padding: 5px 10px;
}

.results-header th a, .results-header td a {
	color: #FFF;
}

.results-header .sort-column .result-column-name {
	background: url(../images/arrows/06_up.png) no-repeat 100% 50%;
	font-style: italic;
	padding-right: 15px;
}

.results-header .sort-desc .result-column-name {
	background-image: url(../images/arrows/06_down.png);
}

.results-row td {
	background: #F0F5F7;
	padding: 5px 10px;
}

.results-row.alt td {
	background: #D3DADD;
}

.results-row.hover td {
	background: #A8D6ED;
}

/* ---------- Asset Categories ---------- */

.ui-asset-categories {
	display: block;
	padding: 5px 0 2px;
}

.ui-asset-categories:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.ie .ui-asset-categories {
	height: 1%;
}

.ui-asset-categories.empty {
	display: none;
}

.ui-asset-categories .ui-asset-category {
	background: #DFF4FF;
	border: 1px solid #A7CEDF;
	float: left;
	margin-bottom: 3px;
	margin-right: 3px;
	padding: 3px 20px 3px 6px;
	padding-right: 20px;
	position: relative;
}

.ui-asset-categories .ui-asset-category:hover {
	border-color: #AEB8BC;
}

.ui-asset-categories .ui-asset-category-delete {
	display: block;
	padding: 6px;
	position: absolute;
	right: 0;
	top: 3px;
}

.ui-asset-categories .ui-asset-category-delete span {
	background: url(../images/application/close_small.png) no-repeat 0 0;
	cursor: pointer;
	display: block;
	font-size: 0;
	height: 7px;
	text-indent: -9999em;
	width: 7px;
}

.ui-asset-categories .ui-asset-category-delete:hover span {
	background-position: 0 100%;
}

.ui-asset-categories-input {
	width: 200px;
}

.tags-vocabulary-name span {
	font-weight: bold;
	padding-bottom: 3px;
}

/* ---------- Breadcrumbs ---------- */

.breadcrumbs {
	margin-bottom: 1.5em;
}

.breadcrumbs li {
	background: url(../images/arrows/05_right.png) no-repeat 100% 50%;
	display: inline;
	padding-right: 15px;
	margin-right: 5px;
}

.breadcrumbs .last {
	background-image: none;
	font-weight: bold;
	margin-top: 0.2em;
}

.breadcrumbs .last a {
	color: #555;
}

/* ---------- Site breadcrumbs ---------- */

.site-breadcrumbs {
	margin: 0 auto;
	width: 90%;
}

.site-breadcrumbs ul {
 	border: 1px solid #dedede;
 	height: 2.3em;
	margin: 0;
}

.site-breadcrumbs li {
	background-image: none;
	float: left;
	line-height: 2.3em;
	margin-right: 0;
	padding-left: 0.75em;
	padding-right: 0;
}

.site-breadcrumbs li a {
	background: url(../images/common/breadcrumbs.png) no-repeat right center;
	display: block;
	padding: 0 15px 0 0;
	text-decoration:none;
}

.site-breadcrumbs .last {
	display: inline;
	font-size: 1em;
	margin-top: 0;
	padding-right: 0;
}

.site-breadcrumbs .last a {
	background-image: none;
	padding: 0;
}

/* ---------- Dragging/sorting indicators ---------- */

.lfr-grid.dragging {
	border-collapse: separate;
}

.lfr-grid.dragging .lfr-column {
	border: 3px double #828F95;
}

.drop-area {
	background-color: #D3DADD;
}

.active-area {
	background: #FFC;
}

.exp-proxy {
	cursor: move;
	opacity: 0.65;
	position: relative;
}

.ie .exp-proxy {
	filter: alpha(opacity=65);
}

.exp-proxy.generic-portlet {
	height: 200px;
	width: 300px;
}

.exp-proxy.generic-portlet .portlet-title {
	padding: 10px;
}

.exp-proxy.not-intersecting .forbidden-action {
	background: url(../images/application/forbidden_action.png) no-repeat;
	display: block;
	height: 32px;
	position: absolute;
	right: -15px;
	top: -15px;
	width: 32px;
}

.ie .exp-proxy.not-intersecting .forbidden-action {
	right: 2px;
	top: 2px;
}

.exp-resizable-proxy {
	border: 1px dashed #828F95;
	position: absolute;
	visibility: hidden;
}

.navigation-sort-helper {
	background: #727C81;
	margin-top: 1px;
}

.portlet-sort-helper {
}

/* ---------- Resizables ---------- */

.exp-resizable {
	position: relative;
	z-index: 0;
}

.ie6 .exp-resizable {
	zoom: 1;
}

.ie6 .exp-resizable-wrap {
	zoom: 1;
}

.exp-resizable-handle {
	background: transparent url() no-repeat 50% 50%;
	font-size: 0.1px;
	position: absolute;
}

.exp-resizable .exp-resizable-handle {
	display: block;
}

.exp-resizable-handle-t, .exp-resizable-handle-b {
	background-image: url(../images/application/handle_horizontal.png);
	height: 14px;
	left: 0;
	right: 0;
	width: 100%;
}

.exp-resizable-handle-t {
	cursor: n-resize;
	top: 0;
}

.exp-resizable-handle-b {
	bottom: 0;
	cursor: s-resize;
}

.ie6 .exp-resizable-handle-t, .ie6 .exp-resizable-handle-b {
	zoom: 1;
}

.exp-resizable-handle-l, .exp-resizable-handle-r {
	background-image: url(../images/application/handle_vertical.png);
	background-position: center center;
	bottom: 0;
	top: 0;
	width: 14px;
}

.exp-resizable-handle-r {
	cursor: e-resize;
	right: 0;
}

.exp-resizable-handle-l {
	cursor: w-resize;
	left: 0;
}

.exp-resizable-handle-tr, .exp-resizable-handle-tr {
	height: 14px;
	top: 0;
	width: 14px;
}

.exp-resizable-handle-tr {
	background-image: url(../images/application/handle_ne.png);
	cursor: ne-resize;
	right: 0;
}

.exp-resizable-handle-tl {
	background-image: url(../images/application/handle_nw.png);
	cursor: nw-resize;
	left: 0;
}

.exp-resizable-handle-bl, .exp-resizable-handle-br {
	bottom: 0;
	height: 14px;
	width: 14px;
}

.exp-resizable-handle-br {
	background-image: url(../images/application/handle_se.png);
	cursor: se-resize;
	right: 0;
}

.exp-resizable-handle-bl {
	background-image: url(../images/application/handle_sw.png);
	cursor: sw-resize;
	left: 0;
}

.exp-resizable-hover .exp-resizable-handle, .exp-resizable-hidden .exp-resizable-handle {
	opacity: 0;
}

.ie .exp-resizable-hover .exp-resizable-handle, .ie .exp-resizable-hidden .exp-resizable-handle {
	filter: alpha(opacity=0);
}

.exp-resizable-ghost {
	opacity: .5;
}

.ie .exp-resizable-ghost {
	filter: alpha(opacity=50);
}

.exp-resizable-knob .exp-resizable-handle {
	height: 6px;
	width: 6px;
}

.exp-resizable-knob .exp-resizable-handle-t {
	left: 45%;
	top: -3px;
}

.exp-resizable-knob .exp-resizable-handle-r {
	right: -3px;
	top: 45%;
}

.exp-resizable-knob .exp-resizable-handle-b {
	bottom: -3px;
	left: 45%;
}

.exp-resizable-knob .exp-resizable-handle-l {
	left: -3px;
	top: 45%;
}

.exp-resizable-knob .exp-resizable-handle-tr {
	right: -3px;
	top: -3px;
}

.exp-resizable-knob .exp-resizable-handle-tl {
	left: -3px;
	top: -3px;
}

.exp-resizable-knob .exp-resizable-handle-bl {
	bottom: -3px;
	left: -3px;
}

.exp-resizable-knob .exp-resizable-handle-br {
	bottom: -3px;
	right: -3px;
}

.exp-resizable-status {
	background: #fff;
	display: none;
	left: -999px;
	padding: 2px;
	position: absolute;
	top: -999px;
	z-index: 99999;
}

.exp-resizable-status strong, .exp-resizable-status em {
	padding: 1px;
}

.ie6 .exp-resizable-status, .ie6 .exp-resizable-status strong, .ie6 .exp-resizable-status em {
	zoom: 1;
}

.freeform .portlet-boundary .exp-resizable-handle {
	margin: 3px;
}

/* ---------- Slider ---------- */

.ui-slider {
	position: relative;
}

.ui-slider-handle {
	position: absolute;
}

.ui-slider-disabled .ui-slider-handle {
	opacity: 0.5;
}

.ie .ui-slider-disabled .ui-slider-handle {
	filter: alpha(opacity=50);
}

.ui-slider-range {
	background: #1E2529;
	height: 100%;
	opacity: 0.3;
	position: absolute;
	width: 100%;
}

.ie .ui-slider-range {
	filter: alpha(opacity=30);
}

/* ---------- Tabs ---------- */

.exp-tabs {
	border-bottom: 1px solid #DEDEDE;
	margin: 0 0 18px 0;
	padding: 0 0 0 10px;
}

.exp-tabs:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.ie .exp-tabs {
	overflow: hidden;
}

.ie6 .exp-tabs {
	height: 1%;
}

.exp-tabs li {
	display: inline;
	float: left;
	line-height: 1;
	padding: 0;
	text-decoration: none;
}

.exp-tabs li.last {
	border-right: none;
}

.exp-tabs li a, .exp-tabs li span {
	background: #878F93 url(../images/application/tabs_bg.png) repeat-x 0 100%;
	border-right: 1px solid #304049;
	color: #FFF;
	display: block;
	float: left;
	padding: 10px;
	position: relative;
	text-decoration: none;
	top: 1px;
}

.ie6 .exp-tabs li a, .ie6 .exp-tabs li span {
	background-image: none;
	border-bottom: 3px solid #304049;
	padding-bottom: 7px;
}

.exp-tabs li a:hover {
	text-decoration: underline;
}

.exp-tabs li a:hover, .exp-tabs li span:hover {
	background: #1E2529;
	color: #9EBAC8;
}

.exp-tabs li.exp-selected {
}

.exp-tabs li.exp-selected a, .exp-tabs li.exp-selected span {
	background: #FFF;
	border: 1px solid #DEDEDE;
	border-bottom: none;
	color: #369;
	font-weight: bold;
}

.ie6 .exp-tabs li.exp-selected a, .ie6 .exp-tabs li.exp-selected span {
	padding-bottom: 10px;
}

.exp-tabs li.exp-selected:hover, .exp-tabs li.exp-selected a:hover {
	background-color: #FFF;
}

.exp-tabs .exp-disabled a {
	cursor: text;
}

.exp-tabs .exp-disabled {
	opacity: 0.4;
}

.ie .exp-tabs .exp-disabled {
	filter: alpha(opacity=40);
}

.exp-tabs .exp-disabled a:link, .exp-tabs .exp-disabled a:visited {
	color: #000;
}

.exp-hidden {
	display: none;
}

.exp-tabs .last.toggle {
	float: right;
}

/* ---------- Container ---------- */

.exp-overlay, .exp-panel-container {
	position: absolute;
	visibility: hidden;
	z-index: 2;
}

.exp-panel {
	background-color: #FFF;
	border: 2px solid #828F95;
	left: 0;
	padding: 4px;
	top: 0;
}

.exp-panel .exp-header {
	background: #1E2529 url(../images/arrows/04_right.png) no-repeat 7px 50%;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
	padding-left: 20px;
	position: relative;
	z-index: 1;
}

.ie6 .exp-panel .exp-header {
	height: 29px;
}

.exp-panel .container-close {
	background: url(../images/application/close.png) no-repeat;
	cursor: pointer;
	height: 15px;
	margin: 0px;
	overflow: hidden;
	padding: 0px;
	position: absolute;
	right: 10px;
	text-decoration: none;
	text-indent: -9999em;
	top: 10px;
	visibility: inherit;
	width: 15px;
	z-index: 6;
}

.exp-panel .exp-body {
	padding: 7px;
}

.exp-panel.exp-resizable .exp-body {
	padding: 14px;
}

.ie6 body.masked select {
	visibility: hidden;
}

.ie6 div.exp-panel-container select {
	visibility: inherit;
}

.ie6 div.drag select {
	visibility: hidden;
}

.ie6 div.hide-select select {
	visibility: hidden;
}

.exp-mask {
	background-color: #000;
	display: none;
	left: 0;
	opacity: 0.5;
	position: absolute;
	top: 0;
	z-index: 400;
}

.ie .exp-mask {
	filter: alpha(opacity=25);
}

.hide-scrollbars, .hide-scrollbars * {
	overflow: hidden;
}

.hide-scrollbars select {
	display: none;
}

.show-scrollbars {
	overflow: auto;
}

.exp-panel-container.show-scrollbars {
	overflow: visible;
}

.exp-panel-container.show-scrollbars .underlay {
	overflow: auto;
}

/* ---------- Portal tool tips ---------- */

.exp-tooltip {
	background: #FFF url(../images/forms/button.png) repeat-x 0 100%;
	border: 1px solid;
	border-color: #DEDEDE #BFBFBF #BFBFBF #DEDEDE;
	color: #1E2529;
	max-width: 200px;
	padding: 6px 4px;
}

/* ---------- Date picker ---------- */

.exp-calendar-container {
	background: #fff;
	border: 2px solid #828F95;
	float: left;
	padding: 3px;
	position: relative;
}

.ie6 .exp-calendar-container {
	overflow: hidden;
}

.exp-calendar-container iframe {
	border-width: 0;
	height: 100%;
	left: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}

.ie6 .exp-calendar-container iframe.fixedsize {
	height: 50em;
	left: -1px;
	top: -1px;
	width: 50em;
}

.exp-calendar-container.exp-calendar-multiple {
	padding: 0 5px;
}

.exp-calendar-container.exp-calendar-multiple .groupcal {
	background-color: transparent;
	border-width: 0;
	float: left;
	margin: 0;
	padding: 10px 5px;
	position: relative;
	z-index: 1;
}

.exp-calendar-container .exp-calendar-title {
	border-bottom: 1px solid #ccc;
	color: #000;
	font-weight: bold;
	height: auto;
	left: 0;
	margin-bottom: 0 -10px 10px;
	padding: 0.4em;
	text-align: left;
	top: 0;
	z-index: 1;
}

.exp-calendar-container.exp-calendar-multiple .exp-calendar-title {
	margin: 0 -5px;
}

.exp-calendar-container .exp-calendar-close {
	border-width: 0;
	overflow: hidden;
	position: absolute;
	right: 3px;
	text-indent: -9999em;
	top: 3px;
	z-index: 1;
}

.exp-calendar-container .exp-calendar-close {
	background: url(../images/application/close.png) no-repeat;
	cursor: pointer;
	height: 16px;
	width: 16px;
}

img.exp-datepicker-button {
	margin: 2px;
	vertical-align: middle;
}

.exp-calendar {
	border-collapse: collapse;
	border-spacing: 0;
	position: relative;
	text-align: center;
}

.exp-calendar.withtitle {
	padding-top: 0;
}

.exp-calendar .exp-calendar-nav-left, .exp-calendar .exp-calendar-nav-right {
	background: url() no-repeat;
	bottom: 0;
	cursor: pointer;
	height: 16px;
	overflow: hidden;
	position: absolute;
	text-indent: -9999em;
	top: 6px;
	width: 16px;
	z-index: 1;
}

.exp-calendar .exp-calendar-nav-left {
	background-image: url(../images/application/datepicker_previous.png);
	left: 2px;
}

.exp-calendar .exp-calendar-nav-right {
	background-image: url(../images/application/datepicker_next.png);
	right: 2px;
}

.exp-calendar td.exp-calendar-cell {
	background-color: #fff;
	height: 1.6em;
	line-height: 1.6em;
	text-align: center;
	white-space: nowrap;
}

.exp-calendar td.exp-calendar-cell a {
	background-color: #F0F5F7;
	border: 1px solid #fff;
	color: #06c;
	display: block;
	height: 100%;
	text-decoration: none;
	width: 23px;
}

.exp-calendar td.exp-calendar-today a {
	background-color: #fff;
	border-color: #727C81;
}

.exp-calendar td.exp-calendar-oom {
	color: #B5BFC4;
	cursor: default;
}

.exp-calendar td.exp-calendar-selected a {
	border-color: #727C81;
	color: #000;
}

.exp-calendar td.exp-calendar-cell-hover a {
	background-color: #727C81;
	color: #fff;
}

.exp-calendar td.exp-calendar-restricted {
	text-decoration: line-through;
}

.exp-calendar td.exp-calendar-previous {
	color: #E0E0E0;
}

.exp-calendar td.exp-calendar-highlight1 {
	background-color: #cf9;
}

.exp-calendar td.exp-calendar-highlight2 {
	background-color: #9cf;
}

.exp-calendar td.exp-calendar-highlight3 {
	background-color: #fcc;
}

.exp-calendar td.exp-calendar-highlight4 {
	background-color: #cf9;
}

.exp-calendar .exp-calendar-head {
	border-width: 0;
	margin-bottom: 1px;
	vertical-align: middle;
}

.exp-calendar .exp-calendar-header {
	background-color: #727C81;
	font-weight: bold;
	padding: 5px 0;
	position: relative;
	text-align: center;
	width: 100%;
}

.exp-calendar .exp-calendar-header img {
	border-width: 0;
}

.exp-calendar .exp-calendar-weekday-row {
	height: 2em;
}

.exp-calendar .exp-calendar-weekday-row th {
	border-width: 0;
	color: #000;
	font-weight: bold;
	padding: 0;
	text-align: center;
	width: 2em;
}

.exp-calendar .exp-calendar-foot {
	background-color: #eee;
}

.exp-calendar .exp-calendar-rowhead, .exp-calendar .exp-calendar-rowfoot {
	color: #666;
	font-size: 9px;
	font-style: italic;
	font-weight: bold;
	width: 15px;
}

.exp-calendar .exp-calendar-rowhead, .exp-calendar .exp-calendar-rowfoot {
	border-width: 0;
	color: #A6A6A6;
	font-size: 8px;
	font-style: normal;
	font-weight: normal;
}

.exp-calendar .exp-calendar-rowhead {
	border-right-width: 2px;
	padding: 0 2px 0 0;
	text-align: right;
}

.exp-calendar .exp-calendar-rowfoot {
	border-right-width: 2px;
	padding: 0 0 0 2px;
	text-align: left;
}

.exp-calendar a.exp-calendar-nav {
	color: #fff;
	padding: 0 4px;
}

.ie .exp-calendar a.exp-calendar-nav {
	zoom: 1;
}

.ie .exp-calendar a.exp-calendar-nav {
	position: relative;
}

.exp-calendar-container .exp-calendar-navigator-mask {
	background-color: #000;
	display: none;
	height: 100%;
	left: 0;
	margin: 0;
	opacity: 0.25;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 2;
}

.ie .exp-calendar-container .exp-calendar-navigator-mask {
	filter: alpha(opacity=25);
}

.ie6 .exp-calendar-container .exp-calendar-navigator-mask {
	height: 0;
	width: 0;
}

.exp-calendar-container .exp-calendar-navigator {
	background-color: #F2F2F2;
	border: 1px solid #808080;
	display: none;
	font-size: 9px;
	left: 50%;
	margin-left: -8.5em;
	padding: 0;
	position: absolute;
	top: 4em;
	width: 17em;
	z-index: 3;
}

.exp-calendar-container.withtitle .exp-calendar-navigator {
	top: 4.5em;
}

.exp-calendar-container.exp-calendar-multiple .exp-calendar-navigator {
	margin-left: -8em;
	width: 16em;
}

.exp-calendar-container .exp-calendar-navigator-year, .exp-calendar-container .exp-calendar-navigator-month, .exp-calendar-container .exp-calendar-navigator-buttons {
	padding: 5px 10px;
}

.exp-calendar-container .exp-calendar-navigator-buttons {
	text-align: center;
}

.exp-calendar-container .exp-calendar-navigator-error {
	background-color: #EDF5FF;
	border-top: 1px solid #000;
	display: none;
	margin-top: 5px;
	padding: 5px;
}

.exp-calendar-container .exp-calendar-navigator label {
	display: block;
	font-weight: bold;
}

.exp-calendar-container .exp-calendar-navigator-month-control {
	width: 100%;
}

.ie6 .exp-calendar-container .exp-calendar-navigator-month-control {
	width: auto;
}

/* ---------- Color picker ---------- */

.exp-picker-panel .exp-panel {
	background: url(../images/color_picker/picker_container_bg.png) no-repeat;
	border-width: 0;
	padding: 0;
}

.exp-picker-panel .exp-header, .exp-picker-panel .exp-footer {
	display: none;
}

.exp-picker-panel .exp-body {
	height: 192px;
	padding: 0;
	position: relative;
	width: 305px;
}

.exp-picker-panel .container-close {
	background: url(../images/color_picker/close.png) no-repeat 0 0;
	height: 23px;
	right: 3px;
	top: 3px;
	width: 23px;
}

.yui-picker {
	position: relative;
}

.yui-picker-bg {
	background: #f00 url(../images/color_picker/picker_bg.png);
	background-color: #f00;
	height: 184px;
	left: 5px;
	outline: 0 none;
	position: absolute;
	top: 5px;
	width: 184px;
}

.yui-picker-controls {
	left: 226px;
	position: absolute;
	top: 95px;
}

.yui-picker-controls ul, .yui-picker-controls li {
	margin: 0;
	padding: 0;
}

.yui-picker-controls .hd {
	background: transparent;
	border-width: 0 !important;
}

.yui-picker-controls .bd {
	border-width: 0 !important;
	height: 100px;
}

.yui-picker-controls ul {
	float: left;
	padding: 0;
}

.yui-picker-controls li {
	list-style: none;
}

.exp-picker-panel .yui-picker-controls input {
	padding: 3px 1px;
}

.yui-picker-hex-controls {
	clear: both;
	padding: 2px;
}

.yui-picker-hue-thumb {
	cursor: default;
	height: 7px;
	left: -2px;
	position: absolute;
	top: -2px;
	width: 18px;
	z-index: 9;
}

.yui-picker-hue-bg {
	background: url(../images/color_picker/hue.png) no-repeat -2px -2px;
	height: 186px;
	left: 200px;
	outline: 0 none;
	position: absolute;
	top: 5px;
	width: 14px;
}

.yui-picker-mask {
	left: 0;
	position: absolute;
	top: 0;
}

.yui-picker-swatch {
	border: 2px solid #727C81;
	height: 60px;
	left: 226px;
	position: absolute;
	top: 28px;
	width: 60px;
}

.yui-picker-thumb {
	cursor: default;
	height: 11px;
	left: -4px;
	position: absolute;
	top: -4px;
	width: 11px;
}

/* ---------- Autocomplete ---------- */

.exp-autocomplete-input {
	width: 100%;
}

.exp-autocomplete-container {
	position: absolute;
	top: 1.6em;
	width: 100%;
}

.exp-autocomplete-content {
	background: #fff;
	border: 1px solid;
	border-color: #bfbfbf #dedede #dedede #bfbfbf;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 100%;
	z-index: 300;
}

.exp-autocomplete-shadow {
	background: #000;	
	margin: 0.3em;
	opacity: 0.10;
	position: absolute;
	width: 100%;
	z-index: 299;
}

.ie .exp-autocomplete-shadow{
	filter: alpha(opacity=10);
}

.exp-autocomplete-iframe {
	opacity: 0;
	padding-bottom: 0.3em;
	padding-right: 0.3em;
}

.ie6 .exp-autocomplete-iframe {
	filter: alpha(opacity=0);
}

.exp-autocomplete-content ul {
	list-style: none;
	list-style-position: outside;
	margin: 0;
	padding: 0;
	width: 100%;
}

.exp-autocomplete-content li {
	cursor: pointer;
	display: block;
	line-height: 16px;
	margin: 0;
	overflow: hidden;
	padding: 2px 5px;
	white-space: nowrap;
}

.ie .exp-autocomplete-content li {
	zoom: 1;
}

.exp-autocomplete-content li strong {
	color: #06c;
	font-weight: bold;
}

.exp-autocomplete-highlight {
	background: #06c;
	color: #fff;
}

li.exp-autocomplete-highlight strong {
	color: #fff;
}

.exp-autocomplete-loading, .exp-autocomplete-loading.focus {
	background-image: url(../images/application/loading_indicator.gif);
	background-position: right center;
	background-repeat: no-repeat;
}

/* ---------- Tags ---------- */

.ui-tags {
	display: block;
	padding: 5px 0 2px;
}

.ui-tags:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.ie .ui-tags {
	height: 1%;
}

.ui-tags.empty {
	display: none;
}

.ui-tags .ui-tag {
	background: #DFF4FF;
	border: 1px solid #A7CEDF;
	float: left;
	margin-bottom: 3px;
	margin-right: 3px;
	padding: 3px 20px 3px 6px;
	padding-right: 20px;
	position: relative;
}

.ui-tags .ui-tag:hover {
	border-color: #AEB8BC;
}

.ui-tags .ui-tag-delete {
	display: block;
	padding: 6px;
	position: absolute;
	right: 0;
	top: 3px;
}

.ui-tags .ui-tag-delete span {
	background: url(../images/application/close_small.png) no-repeat 0 0;
	cursor: pointer;
	display: block;
	font-size: 0;
	height: 7px;
	text-indent: -9999em;
	width: 7px;
}

.ui-tags .ui-tag-delete:hover span {
	background-position: 0 100%;
}

.ui-tags-input {
	width: 200px;
}

.tags-vocabulary-name span {
	font-weight: bold;
	padding-bottom: 3px;
}

/* ---------- Tag cloud and Tag list ---------- */

.tag-cloud, .tag-list {
	list-style: none;
	margin: 0 1em 0 0;
	padding: 0 1em 0.5em 1em;
	white-space: normal;
}

.tag-cloud {
	line-height: 2.5em;
}

.tag-cloud li, .tag-list li {
	display: inline;
	float: left;
	list-style: none;
	margin: 0 1em 0 0;
}

.tag-cloud a, .tag-list a {
	white-space: nowrap;
}

.tag-cloud .tag-asset-count {
	left: -999px;
	position: absolute;
	top: -990px;
	z-index: 99999;
}

.tag-cloud .tag-popularity-1 {
	font-size: 1em;
}

.tag-cloud .tag-popularity-2 {
	font-size: 1.3em;
}

.tag-cloud .tag-popularity-3 {
	font-size: 1.6em;
}

.tag-cloud .tag-popularity-4 {
	font-size: 1.9em;
}

.tag-cloud .tag-popularity-5 {
	font-size: 2.2em;
}

.tag-cloud .tag-popularity-6 {
	font-size: 2.5em;
}

/* ---------- Treeview ---------- */

.treeview {
	cursor: pointer;
}

.treeview, .treeview ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.treeview ul {
	background-color: #FFF;
	margin-top: 4px;
}

.treeview .hitarea {
	background: url(../images/trees/treeview_bg.png) -64px -25px no-repeat;
	cursor: pointer;
	float: left;
	height: 16px;
	margin-left: -16px;
	margin-top: 3px;
	width: 16px;
}

.ie6 .hitarea {
	display: inline;
}

.treeview li {
	background: url(../images/trees/treeview_line.png) 0 0 no-repeat;
	list-style-type: none;
	margin: 0;
	padding: 0 0 3px 16px;
}

.treeview a.selected {
	background-color: #EEE;
}

.treeview-control {
	display: none;
	margin: 1em 0;
}

.treeview .hover {
	cursor: pointer;
}

.treeview li.collapsable, .treeview li.expandable {
	background-position: 0 -176px;
}

.treeview .expandable-hitarea {
	background-position: -80px -3px;
}

.treeview li.last {
	background-position: 0 -1766px;
}

.treeview li.lastCollapsable, .treeview li.lastExpandable {
	background-image: url(../images/trees/treeview_bg.png);
}

.treeview li.lastCollapsable {
	background-position: 0 -111px;
}

.treeview li.lastExpandable {
	background-position: -32px -67px;
}

.treeview div.lastCollapsable-hitarea, .treeview div.lastExpandable-hitarea {
	background-position: 0;
}

.treeview .placeholder {
	background: url(../images/application/loading_indicator.gif) 0 0 no-repeat;
	display: block;
	height: 16px;
	width: 16px;
}

.treeview span {
	padding-left: 3px;
}

.filetree li {
	padding: 3px 0 2px 16px;
}

.filetree span.folder, .filetree span.file {
	display: block;
	padding: 1px 0 1px 16px;
}

.filetree span.folder {
	background: url(../images/trees/minus.png) 0 0 no-repeat;
}

.filetree li.expandable span.folder {
	background: url(../images/trees/plus.png) 0 0 no-repeat;
}

.filetree span.file {
	background: url(../images/trees/page.png) 0 0 no-repeat;
}