$FontAwesomePath: "aui/alloy-font-awesome/font" !default;

@import "aui/alloy-font-awesome/scss/variables";
@import "aui/alloy-font-awesome/scss/mixins-alloy";
@import "aui/alloy-font-awesome/scss/path-alloy";

.aui {
	@import "aui_variables";

	@import "aui/bootstrap";
	@import "aui_custom";
	@import "liferay_custom";

	@import "aui/alloy-font-awesome/scss/core";
	@import "aui/alloy-font-awesome/scss/bootstrap";
	@import "aui/alloy-font-awesome/scss/extras";
	@import "aui/alloy-font-awesome/scss/icons-alloy";
	@import "aui/alloy-font-awesome/scss/icons-alloy-extra";

	background-color: $body-bg;
	color: $text-color;
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	margin: 0;
}