@import "compass";
@import "mixins";
@import "variables";

/* ---------- Logo ---------- */

.logo {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
}

/* ---------- HTML editor ---------- */

body.html-editor {
	background: #FFF;
	color: #000;
	padding: 1em;
}

.html-editor.portlet-message-boards {
	@include hyphenation;

	word-wrap: break-word;

	blockquote {
		background: #EEF0F2 url(../images/message_boards/quoteleft.png) no-repeat 5px 5px;
		border: 1px solid #777;
		padding: 5px 45px;

		&:after {
			background: url(../images/message_boards/quoteright.png) no-repeat 50%;
			content: '';
			display: block;
			float: right;
			height: 24px;
			margin-right: -35px;
			margin-top: -25px;
			width: 31px;
			z-index: 999;
		}

		cite {
			display: block;
			font-weight: bold;
		}
	}

	pre {
		background: #F9F9F9;
		border: 1px solid #777;
		padding: 0.5em;
	}
}

/* ---------- Table styles ---------- */

@include respond-to(phone, tablet) {
	.responsive-table-horizontal {
		display: block;
		position: relative;
		width: 100%;

		&:after {
			clear: both;
			content: '';
			display: block;
			font-size: 0;
			height: 0;
			visibility: hidden;
		}

		tbody {
			display: block;
			overflow-x: auto;
			position: relative;
			white-space: nowrap;
			width: auto;

			tr {
				display: inline-block;
				vertical-align: top;

				td {
					display: block;
					margin-bottom: 20px;

					&:first-child {
						text-align: left;
					}
				}
			}
		}

		thead {
			display: block;
			float: left;
			margin-right: 10px;

			&:after {
				clear: both;
				content: "";
				display: block;
				font-size: 0;
				height: 0;
				visibility: hidden;
			}

			th {
				display: block;
				margin-bottom: 20px;
				text-align: right;

				&:first-child {
					text-align: right;
				}
			}
		}
	}

	.ie9 {
		.responsive-table-horizontal thead {
			float: none;
		}
	}
}

/* ---------- Text formatting ---------- */

.important {
	font-weight: bold;
}

/* ---------- Main content body ---------- */

.portal-iframe #main-content {
	width: 100%;
}

/* ---------- Loading animation ---------- */

.loading-animation {
	background: url(../images/progress_bar/loading_animation.gif) no-repeat top center;
	margin-top: 10px;
	padding-top: 40px;
	text-align: left;
}

/* ---------- Separator ---------- */

.separator {
	border-top: 1px dotted #BFBFBF;
}

/* ---------- Update manager ---------- */

.update-available {
	margin-top: 10px;
	padding: 2px;
	text-align: left;
}

/* ---------- Text highlighting ---------- */

.highlight {
	background: #FFC;
	font-weight: bold;
	margin: 0 1px;
}

/* ---------- Miscellaneous ---------- */

.quick-access-nav {
	position: absolute;
	top: -$quickAccessNavOffset;
	width: 100%;
	z-index: 1000;
}