@import "compass";

/* ---------- Browser normalization ---------- */

/* ---------- Links ---------- */

/* ---------- Headers ---------- */

/* ---------- Logo ---------- */

.logo {
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
}

/* ---------- HTML Editor ---------- */

body.html-editor {
	background: #FFF;
	color: #000;
}

.html-editor.portlet-message-boards {
	@include hyphenation;
	word-wrap: break-word;

	blockquote {
		background: #EEF0F2 url(../images/message_boards/quoteleft.png) no-repeat 5px 5px;
		border: 1px solid #777;
		position: relative;
		padding: 5px 45px;

		&:after {
			background: url(../images/message_boards/quoteright.png) no-repeat 50%;
			bottom: 5px;
			content: '';
			display: block;
			height: 24px;
			position: absolute;
			right: 5px;
			width: 31px;
			z-index: 999;
		}

		cite {
			display: block;
			font-weight: bold;
		}
	}

	pre {
		background: #F9F9F9;
		border: 1px solid #777;
		padding: 0.5em;
	}
}

/* ---------- Text formatting ---------- */

.important {
	font-weight: bold;
}

/* ---------- Main content body ---------- */

.portal-iframe #main-content {
	width: 100%;
}

/* ---------- Alerts and popups ---------- */

.alert-background {
	background: #000;
}

.popup-alert-notice {
	background-color: #FFC;
	border-bottom-color: #FC0;
}

.popup-alert-warning {
	background-color: #FDD;
	border-bottom-color: #F00;
}

/* ---------- Portal add content ---------- */

.portal-add-content {
	a {
		text-decoration: none;
	}
}

/* ---------- Loading animation ---------- */

.loading-animation {
	background: url(../images/progress_bar/loading_animation.gif) no-repeat top center;
	margin-top: 10px;
	padding-top: 40px;
	text-align: left;
}

/* ---------- Separator ---------- */

.separator {
	border-top: 1px dotted #BFBFBF;
}

/* ---------- Update Manager ---------- */

.update-available {
	margin-top: 10px;
	padding: 2px;
	text-align: left;
}

/* ---------- Text highlighting ---------- */

.highlight {
	background: #FFC;
	font-weight: bold;
	margin: 0 1px;
}

@-webkit-keyframes highlight {
 	0% {
 		background-color: #ffc;
 	}
 	100% {
 		background-color: none;
 	}
}

@-moz-keyframes highlight {
 	0% {
 		background-color: #ffc;
 	}
 	100% {
 		background-color: none;
 	}
}

@-o-keyframes highlight {
 	0% {
 		background-color: #ffc;
 	}
 	100% {
 		background-color: none;
 	}
}

@keyframes highlight {
 	0% {
 		background-color: #ffc;
 	}
 	100% {
 		background-color: none;
 	}
}

.highlight-animation {
	-moz-animation: highlight .7s;
	-webkit-animation: highlight .7s;
	-o-animation: highlight .7s;
	-ms-animation: highlight .7s;
	-khtml-animation: highlight .7s;
	animation: highlight .7s;
}