.dockbar {
	background: #f1f8ff;
	border-bottom: 1px solid #9fccff;
	font-size: 13px;
	padding: 1px 5px;
	position: relative;
	z-index: 300;
}

.dockbar:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.ie7 .dockbar {
	zoom: 1;
}

.ie6 .dockbar, .ie6 .lfr-dockbar-pinned .dockbar {
	height: 10px;
	left: 0;
	position: relative;
	top: 0;
}

.dockbar .user-avatar .sign-out {
	font-size: 0.8em;
	padding-left: 0;
}

.dockbar ul {
	margin: 0;
	padding: 0;
}

.dockbar li li {
	margin-left: 0;
}

html > .lfr-dockbar-pinned {
	padding-top: 3.45em;
}

.lfr-dockbar-pinned .dockbar {
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

.dockbar .pin-dockbar {
	margin-left: 0;
}

.ie6 .dockbar .pin-dockbar {
	display: none;
}

.pin-dockbar img {
	background: url(../images/dockbar/pin.png) no-repeat 0 0;
	height: 27px;
	vertical-align: middle;
	width: 27px;
}

.lfr-dockbar-pinned .pin-dockbar img {
	background-image: url(../images/dockbar/unpin.png);
}

.dockbar .user-avatar img {
	vertical-align: middle;
	width: 25px;
}

.dockbar .impersonating-user {
	background: url(../images/messages/alert.png) no-repeat 0 50%;
	padding-left: 20px;
}

.dockbar .impersonating-user .user-links a {
	color: #999;
}

.aui-menu .notice-message {
	background-image: none;
	margin: 3px;
	padding: 6px;
}

.aui-menu {
	position: absolute;
	width: auto;
}

.aui-menu-content {
	background: #fff;
}

.aui-menu-content li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.aui-dockbarmenu-hidden {
	visibility: hidden;
}

.dockbar .aui-toolbar {
	float: left;
}

.dockbar .user-toolbar {
	float: right;
}

.aui-toolbar li {
	display: inline-block;
	margin: 0;
	margin-left: 10px;
	padding: 0;
}

.ie6 .aui-toolbar li, .ie7 .aui-toolbar li {
	display: inline;
}

.aui-toolbar-separator {
	background: url(../images/dockbar/separator.png) no-repeat 100% 50%;
	border-width: 0;
	cursor: default;
	font-size: 1px;
	height:16px;
	margin:0 2px;
	overflow:hidden;
	vertical-align: middle;
	width:4px;
}

.aui-underlay {
	clear: both;
	top: 100%;
}

.aui-underlay-hidden {
	display: none;
}

.aui-underlay-content {
	background: #eee url(../images/common/message_panel_shadow.png) repeat-x 0 0;
	border: 1px solid #ccc;
	border-width: 0 1px 1px;
}

.aui-underlay .aui-widget-hd {
	padding-bottom: 20px;
}

.aui-underlay-close {
	position: absolute;
	right: 5px;
	top: 5px;
}

.aui-underlay .portal-add-content {
	background-color: transparent;
	font-size: 11px;
}

.aui-underlay .lfr-portlet-item {
	border-width: 0;
}

.add-application .aui-widget-bd {
	padding: 10px;
}

.add-application {
	left: 5px;
}

.manage-layouts {
	left: 50px;
}

.my-places-menu {
	max-width: 350px;
}

.my-places-menu ul, .my-places-menu li {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.my-places-menu a {
	overflow: hidden;
	text-align: right;
	white-space: nowrap;
	display: block;
}

.my-places-menu .current-site a {
	background: #A8D6ED url(../images/arrows/01_right.png) no-repeat scroll 2px 30%;
	padding-left: 20px;
}

.my-places-menu .site-name {
	cursor: pointer;
	float: left;
}

.my-places-menu .site-type {
	color: #777;
	float: right;
	font-size: 0.8em;
	font-weight: normal;
	margin-left: 10px;
}

.my-places-menu a:hover .site-type {
	color: #fff;
}

.ie7 .my-places-menu a {
	overflow: visible;
	text-align: left;
}

.ie7 .my-places-menu .site-name {
	float: none;
}

.ie7 .my-places-menu .site-type {
	float: none;
}

.ie6 .my-places-menu {
	width: 200px;
}

.ie6 .my-places-menu a {
	height: 1%;
}

.dockbar .toggle-controls a {
	background: url(../images/dockbar/checked.png) no-repeat 0 50%;
	padding-left: 20px;
}

.controls-hidden .toggle-controls a {
	background-image: url(../images/dockbar/unchecked.png);
}

.dockbar .menu-button {
	background: url(../images/arrows/05_down.png) no-repeat 93% 50%;
	display: inline-block;
	padding: 5px 20px 5px 5px;
	text-decoration: none;
}

.dockbar .menu-button span {
	background: url() no-repeat 0 50%;
	padding-left: 20px;
}

.dockbar .add-content .menu-button span {
	background-image: url(../images/common/add.png);
}

.dockbar .manage-content .menu-button span {
	background-image: url(../images/dockbar/settings.png);
}

.dockbar .my-places .menu-button span {
	background-image: url(../images/dockbar/places.png);
}

.dockbar .staging-options .menu-button span {
	background-image: url(../images/dockbar/staging.png);
}

.dockbar-messages-container {
	left: 50%;
	margin-left: -150px;
}

.dockbar-messages {
	width: 300px;
}

.showing-messages .dockbar-messages {
	display: block;
}

.multiple-messages .dockbar-message {
	border-top: 1px solid #ccc;
	padding: 5px 0;
}

.multiple-messages .first {
	border-top-width: 0;
	padding-top: 0;
}