@import "compass";

.dockbar {
	left: 0;
	right: 0;
	top: 0;

	.impersonating-user {
		.alert-icon{
			margin-right: 9px;
		}

		.alert-info {
			@include border-radius(0);

			border: none;
			margin-bottom: 6px;
		}
	}

	.navbar-inner {
		padding-left: 20px;
		padding-right: 20px;

		.container {
			margin-left: 0;
			margin-right: 0;
			width: 100%;
		}
	}

	.user-avatar img {
		margin-top: -2px;
		text-decoration: none;
		vertical-align: middle;
		width: 18px;
	}
}

/* ---------- Staging Dockbar ---------- */

.variation-selector {
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	margin: 1em;
}

.layout-revision-container {
	margin: 1em 0 0 1em;
	padding: 0;

	.approximate-date {
		color: #999;
		font-weight: bold;
	}

	.current-version {
		color: #41801d;
		display: block;
	}

	.current-version-pointer {
		display: inline-block;
		width: 0;

		img {
			left: -25px;
			position: relative;
		}
	}

	.layout-variation-name {
		color: #666;
		font-size: 1.15em;
		margin-bottom: 0.1em;
		text-transform: uppercase;
	}

	.layout-revision-current {
		color: #666;
	}

	.real-date {
		color: #999;
		display: block;
		text-align: right;
	}

	.taglib-workflow-status .workflow-status {
		background: none;
		padding-left: 0;

		.workflow-status-ready-for-publication {
			color: #41801d;
			font-weight: bold;
		}
	}
}

.layout-revision-container-root {
	margin: 0;
}

.staging-details {
	background: url() no-repeat 0 0;
	min-height: 50px;
	padding-left: 65px;
}

.staging {
	.staging-details {
		background-image: url(../images/staging_bar/staging.png);
	}

	.staging-tabview-list {
		background-color: #FFDBA6;
	}
}

.live-view {
	.staging-details {
		background-image: url(../images/staging_bar/live.png);
	}

	.staging-tabview-list {
		background-color: #C4F0BC;
	}
}

/* ---------- Add Content ---------- */
.lfr-has-add-content {
	padding-left: 340px;
}

/* ---------- Menus ---------- */

.my-sites-menu {
	min-width: 200px;

	.site-type {
		color: #FFF;
		display: none;
		float: right;
		font-size: 0.8em;
		font-weight: normal;
		margin-right: 10px;
		position: absolute;
		right: 100%;
	}

	a:hover .site-type {
		color: #FFFFFF;
		display: inline-block;
	}
}

.ie.rtl .dockbar .menu-button span {
	background-position-x: -25px;
}

.ie7 {
	.dockbar {
		zoom: 1;
	}

	.my-sites-menu {
		a {
			overflow: visible;
			text-align: left;
		}

		.site-name {
			float: none;
		}

		.site-type {
			float: none;
		}
	}
}

.ie6 {
	.dockbar, .lfr-dockbar-pinned .dockbar {
		height: 10px;
		left: 0;
		position: relative;
		top: 0;
	}

	.dockbar .pin-dockbar {
		display: none;
	}

	.my-sites-menu {
		width: 200px;

		a {
			zoom: 1;
		}
	}

	.menu-scroll {
		height: 300px;
		overflow-y: auto;
	}
}

/* ---------- Customization Bar ---------- */

.page-customization-bar {
	background-color: #999;
	color: #FFF;
	font-size: 1.2em;
	font-weight: bold;
	min-height: 30px;
	padding: 5px;
}

.controls-hidden .page-customization-bar {
	display: none;
}

.page-customization-bar {
	.customized-icon {
		margin: 5px;
		vertical-align: middle;
	}

	.page-customization-actions {
		padding-left: 5em;
	}

	.page-customization-actions a {
		color: #EEE;
		font-size: 0.8em;
		padding: 0 1em;
	}

	.reset-prototype {
		display: inline;
		padding-left: 1em;
	}
}