@import "compass";
@import "mixins";

.dockbar {
	left: 0;
	right: 0;
	top: 0;

	.impersonating-user {
		.alert-icon{
			margin-right: 9px;
		}

		.alert-info {
			@include border-radius(0);

			border: none;
			margin-bottom: 6px;
		}
	}

	.navbar-inner {
		padding-left: 20px;
		padding-right: 20px;

		.brand {
			h1 {
				display: inline-block;
				font-size: inherit;
				line-height: 1;
				margin-bottom: 0;
				margin-top: 0;
			}
		}

		.container {
			margin-left: 0;
			margin-right: 0;
			width: 100%;

			.nav-account-controls {
				float: right;
			}
		}

		.site-administration-menu li {
			list-style: none;

			a {
				color: #000;
				display: block;
				padding: 3px 5px 3px 40px;

				&:hover {
					background: #0DB5E7;
					color: #FFF;
					text-decoration: none;
				}

				i {
					font-size: 0.8em;
				}
			}
		}
	}

	.user-avatar img {
		margin-top: -2px;
		text-decoration: none;
		vertical-align: middle;
		width: 27px;
	}
}

.dockbar-split {
	.dockbar {
		height: 0;
		position: absolute;

		.divider-vertical {
			display: none;
		}

		.navbar-inner {
			background-color: transparent;
			border-width: 0;
			color: #FFF;
			padding: 0;
			width: 0;

			.nav {
				background-color: #333;
				border-bottom-width: 0;
				color: #FFF;

				> li {
					> a {
						color: #FFF;
						line-height: 31px;

						&:focus, &:hover {
							color: #FFF;
						}

						[class^="icon-"], [class*=" icon-"] {
							margin-top: 3px;
						}
					}

					&.active > a {
						color: #FFF;

						&, &:hover, &:focus {
							background: #333;
						}
					}
				}

				li.dropdown {
					&.open, &.active, &.open.active {
						> .dropdown-toggle {
							background-color: #555;
							color: #FFF;
						}
					}
				}
			}

			.nav-account-controls {
				left: auto;
				margin-right: 0;
				padding: 0 5px;
				position: fixed;
				right: 5em;
				z-index: 325;

				> li > a {
					padding: 6px 15px;
				}
			}

			.nav-add-controls {
				background: transparent;
				position: fixed;
				top: 10%;
				z-index: 350;

				> li {
					float: none;
					margin: 10px;
					position: relative;

					&.toggle-controls a {
						clip: rect(0 0 0 0);
						position: absolute;

						&:focus {
							clip: rect(auto auto auto auto);
							position: static;
						}
					}

					&.page-preview-controls {
						@include respond-to(phone) {
							display: none;
						}

						@include respond-to(tablet) {
							display: none;
						}
					}

					> a {
						background: #333;
						color: #FFF;
						padding: 6px 8px;
						text-align: center;

						&:hover {
							background: #555;
						}

						[class^="icon-"], [class^="icon-"], [class*=" icon-"] {
							font-size: 25px;
							position: relative;
							vertical-align: middle;
						}

						&.toggle-controls-link {
							background: #92F545;

							[class^="icon-"], [class^="icon-"], [class*=" icon-"] {
								color: #000;
							}
						}

						.nav-item-label {
							background: #333;
							display: none;
							left: 100%;
							margin-left: 0.5em;
							margin-top: -1em;
							padding: 0 20px;
							position: absolute;
							top: 50%;
							white-space: nowrap;
						}

						&:hover .nav-item-label {
							display: block;
						}

						.icon-caret-down {
							display: none;
						}
					}
				}

				&:hover > li.toggle-controls a {
					clip: rect(auto auto auto auto);
					position: static;
				}
			}
		}
	}

	&.controls-hidden .dockbar .navbar-inner .nav-add-controls > li.toggle-controls > .toggle-controls-link {
		background: #F5AF45;
	}
}

.touch .dockbar-split, .controls-hidden.dockbar-split {
	.dockbar .navbar-inner .nav-add-controls > li.toggle-controls > .toggle-controls-link {
		clip: rect(auto auto auto auto);
		position: static;
	}
}

/* ---------- Staging Dockbar ---------- */

.variation-selector {
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	margin: 1em;
}

.layout-revision-container {
	margin: 1em 0 0 1em;
	padding: 0;

	.approximate-date {
		color: #999;
		font-weight: bold;
	}

	.current-version {
		color: #41801d;
		display: block;
	}

	.current-version-pointer {
		display: inline-block;
		width: 0;

		img {
			left: -25px;
			position: relative;
		}
	}

	.layout-variation-name {
		color: #666;
		font-size: 1.15em;
		margin-bottom: 0.1em;
		text-transform: uppercase;
	}

	.layout-revision-current {
		color: #666;
	}

	.real-date {
		color: #999;
		display: block;
		text-align: right;
	}

	.taglib-workflow-status .workflow-status {
		background: none;
		padding-left: 0;

		.workflow-status-ready-for-publication {
			color: #41801d;
			font-weight: bold;
		}
	}
}

.layout-revision-container-root {
	margin: 0;
}

.staging-details {
	background: url() no-repeat 0 0;
	min-height: 50px;
	padding-left: 65px;
}

.staging {
	.staging-details {
		background-image: url(../images/staging_bar/staging.png);
	}

	.staging-tabview-list {
		background-color: #FFDBA6;
	}
}

.live-view {
	.staging-details {
		background-image: url(../images/staging_bar/live.png);
	}

	.staging-tabview-list {
		background-color: #C4F0BC;
	}
}

/* ---------- Add Content ---------- */

.lfr-has-add-content {
	padding-left: 350px;
}

.lfr-has-device-preview {
	padding-left: 220px;
}

.lfr-has-edit-layout {
	padding-left: 460px;
}

/* ---------- Menus ---------- */

.my-sites-menu {
	.site-type {
		color: #FFF;
		display: none;
		float: right;
		font-size: 0.8em;
		font-weight: normal;
		margin-right: 10px;
		position: absolute;
		right: 100%;
	}

	a:hover .site-type {
		color: #FFFFFF;
		display: inline-block;
	}
}

.ie.rtl .dockbar .menu-button span {
	background-position-x: -25px;
}

.ie7 {
	.dockbar {
		zoom: 1;
	}

	.my-sites-menu {
		a {
			overflow: visible;
			text-align: left;
		}

		.site-name {
			float: none;
		}

		.site-type {
			float: none;
		}
	}
}

.ie6 {
	.dockbar, .lfr-dockbar-pinned .dockbar {
		height: 10px;
		left: 0;
		position: relative;
		top: 0;
	}

	.dockbar .pin-dockbar {
		display: none;
	}

	.my-sites-menu {
		width: 200px;

		a {
			zoom: 1;
		}
	}

	.menu-scroll {
		height: 300px;
		overflow-y: auto;
	}
}

/* ---------- Customization Bar ---------- */

.page-customization-bar {
	background-color: #999;
	color: #FFF;
	font-size: 1.2em;
	font-weight: bold;
	min-height: 30px;
	padding: 5px;
}

.controls-hidden .page-customization-bar {
	display: none;
}

.page-customization-bar {
	.customized-icon {
		margin: 5px;
		vertical-align: middle;
	}

	.page-customization-actions {
		padding-left: 5em;
	}

	.page-customization-actions a {
		color: #EEE;
		font-size: 0.8em;
		padding: 0 1em;
	}

	.reset-prototype {
		display: inline;
		padding-left: 1em;
	}
}