/* This CSS sets the CSS3 progressive enhancement styles for components */

input[type="submit"], input[type="button"], input[type="reset"], button, .lfr-actions, .lfr-actions ul {
}

.aui-menu-content, body > .lfr-menu-list ul, .aui-underlay-content, .aui-dialog-content {
	-moz-box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.5);
}

.dockbar .menu-button-active .menu-button {
	-moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.7);
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.7);
}

.my-places-menu .current-site a {
	-moz-box-shadow: inset 0 5px 15px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: inset 0 5px 15px rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 5px 15px rgba(255, 255, 255, 0.5);
}

.logo .current-community {
	-moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5), 1px 1px 0 #FFF;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5), 1px 1px 0 #FFF;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5), 1px 1px 0 #FFF;
}

#navigation li.selected a {
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.8);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.8);
}

.portlet-topper, .aui-dialog-hd {
	-moz-box-shadow: 1px 1px 0 #FFF;
	-webkit-box-shadow: 1px 1px 0 #FFF;
	box-shadow: 1px 1px 0 #FFF;
}

.aui-context-panel {
	-moz-border-radius: 4px;
	-moz-box-shadow: 4px 4px 14px #777;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 4px 4px 14px #777;
	border-radius: 4px;
	box-shadow: 4px 4px 14px #777;
}

.aui-tabview-list, .aui-tab-active, body > .lfr-menu-list ul, .aui-dialog-content, .aui-dialog .aui-widget-hd, input[type="submit"], input[type="button"], input[type="reset"], button {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.aui-menu-content {
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.aui-underlay-content {
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.lfr-hudcrumbs ul {
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.portlet-borderless-bar {
	-moz-border-radius: 20px;
	-moz-box-shadow: inset 0 1px 3px #000;
	-webkit-border-radius: 20px;
	-webkit-box-shadow: inset 0 1px 3px #000;
	border-radius: 20px;
	box-shadow: inset 0 1px 3px #000;
}

