@import "compass";

.aui-menu-content, body > .lfr-menu-list ul, .aui-underlay-content, .aui-dialog-content {
	@include box-shadow(2px 4px 7px rgba(0, 0, 0, 0.5));
}

.lfr-preview-file-image img, .lfr-translation-manager {
	@include box-shadow(0 3px 5px -3px rgba(0, 0, 0, 0.8));
}

.lfr-preview-file-image-current-column {
	@include box-shadow(inset 0 0 3px rgba(0, 0, 0, 0.8));
}

.lfr-preview-file-image-current-column {
	@include box-shadow(inset 0 0 5px rgba(0, 0, 0, 0.8));
}

.dockbar .menu-button-active .menu-button {
	@include box-shadow(inset 0 1px 5px rgba(0, 0, 0, 0.7));
}

.my-sites-menu .current-site a {
	@include box-shadow(inset 0 5px 15px rgba(255, 255, 255, 0.5));
}

.aui-dialog-hd {
	@include box-shadow(1px 1px 0 #FFF);
}

.portlet-document-library, .portlet-dynamic-data-mapping {
    .lfr-ddm-small-image-preview {
        @include box-shadow(0 1px 3px #ccc);
    }
}

.portlet-journal .lfr-table .journal-metadata {
	@include box-shadow(inset 1px 1px 8px #CCC);
}

.lfr-translation-manager-translation.lfr-translation-manager-translation-editing {
	@include box-shadow(inset 0 0 2px #224FA8);
}

.lfr-search-combobox-item, .portlet-journal .lfr-search-combobox .search input {
	@include border-radius(1px);
}

.lfr-search-combobox {
	.aui-field-input-text {
		@include border-radius(4px 1px 1px 4px);
	}

	.aui-button-input {
		@include border-radius(1px 4px 4px 1px);
	}
}

.lfr-upload-container {
	 .progress-bar, .progress {
		@include border-radius(10px);
	 }
}

body > .lfr-menu-list, body > .lfr-menu-list ul, button, input[type="button"], input[type="submit"], input[type="reset"], .active-area-proxy, .aui-dialog .yui3-widget-hd, .aui-dialog-content, .aui-paginator-link, .entry-display-style .entry-thumbnail img, .lfr-actions, .lfr-api-results, .lfr-header-row .aui-toolbar-only, .lfr-translation-manager, .lfr-translation-manager-translation, .lfr-upload-container .cancel-button .modify-pages .delete-tab, .portlet-image-gallery-display .image-thumbnail img, .portlet-journal .lfr-table .journal-metadata, .portlet-search .search-facet .facet-value, .rule-group-instance-container .rule-group-instance, .select-documents, .select-files, .staging-icon-menu-container.staging-icon-menu.lfr-actions .lfr-trigger strong a, .taglib-logo-selector .lfr-change-logo.show-background, .taglib-ratings.stars:hover, .taglib-ratings.stars:hover .liferay-rating-vote, .tags-search-combobox .aui-field-input-text {
	@include border-radius(4px);
}

.entry-display-style, .lfr-header-row .aui-toolbar-content, .lfr-search-combobox, .lfr-upload-container .upload-file, .lfr-upload-container .upload-target, .portlet-document-library .common-file-metadata-container.selected, .portlet-document-library-display .common-file-metadata-container.selected, .portlet-image-gallery-display .image-icon, .select-documents, .select-files {
	@include border-radius(5px);
}

.portlet-journal .structure-tree .structure-field {
	@include border-radius(6px);
}

.portlet-journal .display-page-item-container .display-page-item, .portlet-journal .display-page-item-container .display-page-item .display-page-item-remove {
	@include border-radius(14px);
}

.aui-menu-content {
	@include border-bottom-left-radius(4px);
	@include border-bottom-right-radius(4px);
}

.aui-underlay-content {
	@include border-bottom-left-radius(8px);
	@include border-bottom-right-radius(8px);
}

.lfr-hudcrumbs ul {
	@include border-top-left-radius(0);
	@include border-top-right-radius(0);
}

.lfr-message .lfr-message-control {
	@include border-radius(10px);
}

.lfr-token, .layout-customizable-controls, .lfr-translation-manager-delete-translation {
	@include border-radius(8px);
}

.customizable-layout-column-content {
	@include border-radius(6px);
}

.live-view .staging-tabview-list {
	@include filter-gradient(#E3F8DF, #C4F0BC);
}

.staging-tabview-list {
	@include border-radius(0);
}

.staging-bar {
	@include box-shadow(inset 0 3em 1em rgba(0, 0, 0, 0.8));
}

.site-variations-tabview-list .aui-tab-content, .staging-tabview-list .aui-tab-active .aui-tab-content {
	@include box-shadow(none);
}

.taglib-logo-selector .lfr-change-logo.show-background {
	@include box-shadow(inset 0 0 3px #000, 0 1px 0 #FFF);
}

.staging-tabview-list {
	@include border-radius(0);
	@include box-shadow(inset 0 0.75em 0.75em rgba(255, 255, 255, 0.55));
	@include background-image(linear-gradient(0 0, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.06) 50%, rgba(0, 0, 0, 0.06) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0)));
	@include filter-gradient(#FFEED4, #FFDBA6);
	background-size: 100px 100px;
}

.portlet-staging-bar .staging-bar .site-variations-tabview-list {
	@include box-shadow(0 1px 5px rgba(0, 0, 0, 0.8) inset, 1px 3px 8px rgba(0, 0, 0, 0.8));
	@include background-image(linear-gradient(center bottom , #777, #333 80%, #333));
}

.rule-group-instance-container .rule-group-instance {
	@include box-shadow(1px 1px 2px #999);
}

.lfr-action-label {
	@include border-radius(2px);
}

.lfr-api-service-search .aui-field-input {
	@include box-sizing("border-box");
}

@mixin aui-progress-bar-stripes {
	from {
		background-position: 40px 0;
	}
	to {
		background-position: 0 0;
	}
}

@-webkit-keyframes aui-progress-bar-stripes {
	@include aui-progress-bar-stripes;
}

@-moz-keyframes aui-progress-bar-stripes {
	@include aui-progress-bar-stripes;
}

@-ms-keyframes aui-progress-bar-stripes {
	@include aui-progress-bar-stripes;
}

@-o-keyframes aui-progress-bar-stripes {
	@include aui-progress-bar-stripes;
}

@keyframes aui-progress-bar-stripes {
	@include aui-progress-bar-stripes;
}

.lfr-progress-active .aui-progress-bar-status, .lfr-upload-container .file-uploading .progress-bar .progress {
	$transparent: rgba(255, 255, 255, 0);

	@include background-image(linear-gradient(-45deg, rgba(255, 255, 255, 0.3) 25%, $transparent 25%, $transparent 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 75%, $transparent 75%, $transparent));
	@include background-size(40px 40px);
	@include experimental(animation, aui-progress-bar-stripes 0.5s linear infinite);
	@include single-transition(width, 0.5s, ease-out);
}

body:first-of-type {
	.portlet-borderless-bar, .portlet-journal-content .icon-actions {
		@include single-transition(opacity, 0.5s, ease, 0.15s);
	}

	.portlet-borderless-container:hover .portlet-borderless-bar, .portlet-journal-content:hover .icon-actions {
		@include single-transition(opacity, 0.5s, ease, 0s);
	}

	.portlet-borderless-bar .portlet-actions, .portlet-journal-content .icon-actions .taglib-text {
		display: inline-block;
		max-width: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;

		@include single-transition(max-width, 0.3s, ease-in, 0.2s);
	}

	.portlet-borderless-bar .portlet-actions, .portlet-journal-content:hover .icon-actions .taglib-text {
		@include single-transition(max-width, 0.3s, ease, 0s);
	}

	.portlet-journal-content:hover .icon-actions .taglib-text {
		max-width: 200px;
	}

	.portlet-borderless-container:hover .portlet-borderless-bar .portlet-actions {
		max-width: 500px;
	}
}

.portlet-boundary.yui3-dd-dragging {
	@include transform(scale(0.8));
	@include transition(scale 0.3s ease);
}

@mixin lfr-drop-active {
	0% {
		background-color: #EBEBEB;
		border-color: #DDD;
	}
	50% {
		background-color: #DDEDDE;
		border-color: #7D7;

		@include scale(1.1);
	}
	75% {
		background-color: #DDEDDE;
		border-color: #7D7;
	}
	100% {
		background-color: #EBEBEB;
		border-color: #DDD;
	}
}

@-webkit-keyframes lfr-drop-active {
	@include lfr-drop-active;
}

@-moz-keyframes lfr-drop-active {
	@include lfr-drop-active;
}

@-ms-keyframes lfr-drop-active {
	@include lfr-drop-active;
}

@-o-keyframes lfr-drop-active {
	@include lfr-drop-active;
}

@keyframes lfr-drop-active {
	@include lfr-drop-active;
}

.upload-drop-intent .lfr-upload-container .upload-target {
	@include experimental(animation, lfr-drop-active 1s ease 0.2s infinite);
}

.upload-drop-active .lfr-upload-container .upload-target {
	@include experimental(animation, none);
}