.aui-menu-content, body > .lfr-menu-list ul, .aui-underlay-content, .aui-dialog-content {
	-moz-box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.5);
	box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.5);
}

.lfr-preview-file-image img, .lfr-translation-manager {
	-moz-box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.8);
	box-shadow: 0 3px 5px -3px rgba(0, 0, 0, 0.8);
}

.lfr-preview-file-image-current-column {
	-moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.8);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.8);
}

.lfr-preview-file-image-current-column {
	-moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
}

.dockbar .menu-button-active .menu-button {
	-moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.7);
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.7);
}

.my-places-menu .current-site a {
	-moz-box-shadow: inset 0 5px 15px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: inset 0 5px 15px rgba(255, 255, 255, 0.5);
	box-shadow: inset 0 5px 15px rgba(255, 255, 255, 0.5);
}

.aui-dialog-hd {
	-moz-box-shadow: 1px 1px 0 #FFF;
	-webkit-box-shadow: 1px 1px 0 #FFF;
	box-shadow: 1px 1px 0 #FFF;
}

.lfr-translation-manager-translation.lfr-translation-manager-translation-editing {
	-moz-box-shadow: inset 0 0 2px #224FA8;
	-webkit-box-shadow: inset 0 0 2px #224FA8;
	box-shadow: inset 0 0 2px #224FA8;
}

.lfr-search-combobox-item {
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
}

.lfr-search-combobox .aui-field-input-text {
	-moz-border-radius: 4px 1px 1px 4px;
	-webkit-border-radius: 4px 1px 1px 4px;
	border-radius: 4px 1px 1px 4px;
}

.lfr-search-combobox .aui-button-input {
	-moz-border-radius: 1px 4px 4px 1px;
	-webkit-border-radius: 1px 4px 4px 1px;
	border-radius: 1px 4px 4px 1px;
}

body > .lfr-menu-list, body > .lfr-menu-list ul, .lfr-actions, .aui-dialog-content, .aui-dialog .yui3-widget-hd, .modify-pages .delete-tab, input[type="submit"], input[type="button"], input[type="reset"], button, .tags-search-combobox .aui-field-input-text, .staging-icon-menu-container .staging-icon-menu.lfr-actions .lfr-trigger strong a {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.aui-paginator-link, .lfr-header-row .aui-toolbar-only, .lfr-translation-manager, .lfr-translation-manager-translation, .select-documents, .taglib-ratings.stars:hover, .taglib-ratings.stars:hover .liferay-rating-vote {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.lfr-header-row .aui-toolbar-content, .lfr-search-combobox, .select-documents, .portlet-document-library .document-display-style {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.aui-menu-content {
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.aui-underlay-content {
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}

.lfr-hudcrumbs ul {
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.portlet-journal .journal-article-default-translation, .portlet-journal .journal-article-translation, .layout-customizable-controls, .lfr-translation-manager-delete-translation {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

.customizable-layout-column-content {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.staging-tabview-list {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.staging-bar {
	-moz-box-shadow: inset 0 3em 1em rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: inset 0 3em 1em rgba(0, 0, 0, 0.8);
	box-shadow: inset 0 3em 1em rgba(0, 0, 0, 0.8);
}

.staging-tabview-list {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-box-shadow: inset 0 0.75em 0.75em rgba(255, 255, 255, 0.55);
	-webkit-box-shadow: 0 0.75em 0.75em rgba(255, 255, 255, 0.55);
	box-shadow: inset 0 0.75em 0.75em rgba(255, 255, 255, 0.55);
	background-image: -moz-linear-gradient( 0 0, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.06) 50%, rgba(0, 0, 0, 0.06) 75%, transparent 75%, transparent);
	background-image: -webkit-gradient( linear, 0 0, 100% 100%, from(rgba(0, 0, 0, 0.06)), color-stop(0.25, rgba(0, 0, 0, 0.06)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(0, 0, 0, 0.06)), color-stop(0.75, rgba(0, 0, 0, 0.06)), color-stop(0.75, transparent), to(transparent));
	background-image: linear-gradient( 0 0, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.06) 50%, rgba(0, 0, 0, 0.06) 75%, transparent 75%, transparent); 
	background-size: 100px 100px;
}