Hello!<br><br>

Your friend [$FROM_NAME$] has sent you an invitation to view <b>Liferay</b> portal!

<br><br>

Click on the following link to view it and register to be a member:

<br><br>

<a href="[$PORTAL_URL$]">[$PORTAL_URL$]</a>