.taglib-social-bookmarks {
	margin-top: 1.5em;

	.horizontal, .simple {
		.taglib-social-bookmark {
			display: inline-block;
			vertical-align: top;

			img {
				vertical-align: baseline;
			}
		}
	}

	a.social-bookmark-link {
		padding-left: 20px;
	}
}