<?xml version="1.0"?>

<project
	xmlns="http://maven.apache.org/POM/4.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd"
>
	<modelVersion>4.0.0</modelVersion>
	<groupId>com.liferay</groupId>
	<artifactId>com.liferay.portal.tools.theme.builder.test</artifactId>
	<version>1.0.0</version>
	<build>
		<plugins>
			<plugin>
				<groupId>com.liferay</groupId>
				<artifactId>com.liferay.portal.tools.theme.builder</artifactId>
				<version>[$THEME_BUILDER_VERSION$]</version>
				<configuration>
					<diffsDir>[$THEME_BUILDER_DIFFS_DIR$]</diffsDir>
					<name>[$THEME_BUILDER_NAME$]</name>
					<outputDir>[$THEME_BUILDER_OUTPUT_DIR$]</outputDir>
					<parentDir>[$THEME_BUILDER_PARENT_DIR$]</parentDir>
					<parentName>[$THEME_BUILDER_PARENT_NAME$]</parentName>
					<templateExtension>[$THEME_BUILDER_TEMPLATE_EXTENSION$]</templateExtension>
					<unstyledDir>[$THEME_BUILDER_UNSTYLED_DIR$]</unstyledDir>
				</configuration>
			</plugin>
		</plugins>
	</build>
</project>