@import "bourbon";
@import "mixins";

@import url(common_main.scss);

.portlet-blogs {
	a.dropdown-toggle {
		background-color: #FFF;
		color: #869CB0;
		padding: 5px 15px;
		position: absolute;
		right: 0;
		top: 0;
	}

	.taglib-custom-attributes-list {
		margin-bottom: 1em;
	}

	.taglib-custom-attributes-list label {
		display: block;
	}

	.edit-entry {
		h3 {
			color: #2B4259;
			font-size: 22px;
			margin-top: 0;
		}

		.explanation {
			font-weight: normal;
		}
	}

	.display-date-wrapper {
		padding-top: 40px;
	}

	.entry-author {
		float: left;
		line-height: 20px;
		margin-right: 30px;
		vertical-align: middle;
	}

	.entry-info {
		color: #999;
		margin-top: 15px;
	}

	.taglib-user-display {
		color: #999;
		display: inline;
		padding: 0;
	}

	.edit-actions {
		padding-left: 0;
	}

	.entry-abstract-wrapper {
		color: #2B4259;

		.entry-abstract-options {
			margin-top: 20px;
		}

		.entry-abstract {
			margin-bottom: 30px;
			margin-top: 40px;

			.lfr-blogs-small-image-selector {
				float: left;
				width: 200px;

				.taglib-image-selector {
					min-height: 150px;

					.drag-drop-label {
						font-size: 15px;
					}

					.file-validation-info {
						font-size: 13px;
					}
				}
			}

			.entry-description {
				font-size: 16px;
				overflow: hidden;
				padding-left: 24px;
			}
		}
	}

	.entry-footer {
		vertical-align: middle;

		&.border {
			border-top: 1px solid #EDEEF0;
			margin-top: 30px;
			padding-top: 20px;
		}

		.entry-social, .flags, .social-bookmarks {
			display: inline-block;
		}

		.entry-social {
			& > div {
				display: inline-block;
				margin-top: 0;
				vertical-align: top;
			}

			.comments {
				margin-right: 10px;
			}

			.ratings .taglib-ratings {
				display: inline-block;
				vertical-align: middle;

				&.stars {
					margin-top: 0;

					.liferay-rating-score {
						padding-left: 0;
					}
				}
			}

			.taglib-flags {
				color: #999;
				vertical-align: middle;
			}

			.taglib-social-bookmarks {
				display: inline-block;
				margin-top: 0;
				vertical-align: middle;
			}

			@include respond-to(phone, tablet) {
				clear: both;
				display: block;

				&:before {
					display: none;
				}
			}
		}

		&:after {
			content: '';
			display: inline;
			line-height: 60px;
		}
	}

	.comments {
		margin-top: 60px;
	}

	.edit-entry {
		.entry-status {
			padding-left: 30px;
		}

		.entry-title, .entry-subtitle, .entry-body {
			margin-left: 24px;
		}

		.entry-body {
			padding-bottom: 60px;
		}

		.entry-subtitle {
			margin-bottom: 30px;
		}

		.entry-cover-image-caption {
			font-size: 12px;
			margin-bottom: 35px;

			.alloy-editor {
				color: #868889;
				padding-left: 0;

				&.alloy-editor-placeholder:empty:not(:focus) {
					border-left-width: 0;
				}
			}
		}
	}

	.entry-title {
		display: block;

		h2 .alloy-editor-placeholder {
			color: #32A8E6;

			p {
				margin-bottom: 0;
			}
		}

		a {
			font-weight: bold;
		}
	}

	.categorization-wrapper, .custom-attributes-wrapper, .display-date-wrapper, .email-entry-updated-wrapper, .entry-abstract-wrapper, .permissions-wrapper, .pingback-enabled-wrapper, .related-assets-wrapper, .trackback-enabled-wrapper {
		margin-bottom: 55px;
	}

	.entry.draft, .entry.pending, .entry.scheduled {
		background: #EEE;
		border: 1px solid #CCC;
		color: #555;
		padding: 5px;

		h3 {
			margin-top: 0;
		}
	}

	.entry-navigation, .entry-metadata {
		h2 {
			margin-bottom: 15px;
			margin-top: 0;
		}
	}

	.entry-tags, .entry-categories, .entry-links {
		margin-bottom: 60px;
	}

	.entry-navigation {
		padding: 60px 0;
		width: 100%;

		.small-image {
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			height: 140px;
		}
	}

	.lfr-blogs-cover-image-selector {
		margin: 0 0 10px;
		padding-top: 10px;
	}

	.search-form {
		float: right
	}

	.search-root-entry {
		color: #999;
		float: right;
	}

	.separator {
		border-color: transparent;
	}

	.subscribe {
		margin-bottom: 1.5em;
		text-align: right;
	}

	.taglib-page-iterator .lfr-pagination {
		margin-top: 25px;
	}

	.form-search:after {
		clear: both;
		content: '';
		display: block;
		height: 0;
		visibility: hidden;
	}

	#blogsCommentsPanelContainer {
		border-width: 0;
	}
}

.firefox .portlet-blogs fieldset.input-container {
	display: table-column;
}

.social-boomarks-options {
	margin-left: 2em;
}