<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<display-name>sample-json-portlet</display-name>
	<context-param>
		<param-name>company_id</param-name>
		<param-value>liferay.com</param-value>
	</context-param>
	<listener>
		<listener-class>com.liferay.portal.kernel.servlet.PortletContextListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>sample_json_portlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortletServlet</servlet-class>
		<init-param>
			<param-name>portlet-class</param-name>
			<param-value>com.sample.json.portlet.JSONPortlet</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Sample JSON Servlet</servlet-name>
		<servlet-class>com.sample.json.servlet.JSONServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sample_json_portlet</servlet-name>
		<url-pattern>/sample_json_portlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Sample JSON Servlet</servlet-name>
		<url-pattern>/servlet/*</url-pattern>
	</servlet-mapping>
	<taglib>
		<taglib-uri>http://java.sun.com/portlet</taglib-uri>
		<taglib-location>/WEB-INF/tld/liferay-portlet.tld</taglib-location>
	</taglib>
</web-app>