@import "compass";
@import "mixins";

@include respond-to(phone, tablet) {
	.aui {
		.dockbar .navbar-inner .container {

			#_145_navAddControlsNavbarBtn, #_145_navSiteNavigationNavbarBtn {
				display: none;
			}

			.brand {
				font-size: 16px;
				padding: 18px 0 0 0;

				.control-panel-site-selector, .divider {
					display: none;
				}
			}

			.btn-navbar {
				float: right;
			}
		}
	}
}
