/* ---------- Breadcrumbs ---------- */

.breadcrumbs-horizontal {
	margin-bottom: 1.5em;
}

.breadcrumbs-horizontal li {
	background: url(../images/arrows/05_right.png) no-repeat 100% 50%;
	margin-right: 5px;
	max-width: 50%;
	padding-right: 15px;
}

.breadcrumbs-vertical li {
	background: url(../images/arrows/07_down.png) no-repeat 50% 100%;
	padding: 0 0 9px;
	max-width: auto;
}

.breadcrumbs a {
	display: block;
}

.breadcrumbs-vertical a {
	text-align: center;
	text-decoration: none;
}

.breadcrumbs .last {
	background-image: none;
}

.breadcrumbs-horizontal .last {
	margin-top: 0.2em;
}

.breadcrumbs-vertical .last {
	font-weight: bold;
}

.breadcrumbs-horizontal .last a, .aui-tree-node-selected a {
	color: #555;
}