/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

/* ---------- Base styles ---------- */

body {
	font-size: 11px;
}

/* ---------- Main content body ---------- */

#wrapper {
	background: none;
}

#content-wrapper {
	margin: 20px auto;
	width: 976px;
}

/* ---------- Control panel ---------- */

.lfr-ctrl-panel {
	width: 100%;
}

.lfr-ctrl-panel #content-wrapper {
	margin: 0;
	width: auto;
}

.lfr-ctrl-panel .panel-menu {
	background-color: #DBE1E3;
	width: 225px;
}

.lfr-ctrl-panel .portal-add-content {
	background: none;
}

.lfr-ctrl-panel .user-greeting {
	background: transparent url(../images/common/admin.png) no-repeat 8px 50%;
	font-size: 12px;
	line-height: 34px;
	margin: 0;
	padding: 0;
	padding-left: 30px;
}

.lfr-ctrl-panel .user-greeting .sign-out {
	color: #600;
	font-size: 10px;
	font-weight: normal;
	margin-left: 25px;
}

.lfr-ctrl-panel .current-community {
	font-size: 14px;
	font-weight: normal;
}

.lfr-ctrl-panel .current-community span {
	font-weight: bold;
}

.lfr-ctrl-panel .panel-content.panel-frontpage h2 {
	margin-top: 0;
}

.lfr-ctrl-panel .panel-content.panel-frontpage .portlet-msg-info {
	margin-left: 15px;
}

.lfr-ctrl-panel .panel-content-menu {
	background-color: #F3F5F5;
	margin-bottom: 10px;
	width: 100%;
}

.lfr-ctrl-panel .panel-content-menu td {
	line-height: 34px;
	padding: 0 15px;
}

.lfr-ctrl-panel .lfr-add-content {
	background: url(../images/common/category_bg.png) repeat-x 0 0;
	margin: 0;
}

.lfr-ctrl-panel .lfr-add-content h2 {
	background: url(../images/arrows/05_down.png) no-repeat 5px 50%;
	font-size: 14px;
}

.lfr-ctrl-panel .lfr-add-content h2 span {
	background: url(../images/common/category_menu_icon.png) no-repeat right 50%;
	display: block;
	line-height: 26px;
	margin: 0 5px 0 0;
}

.lfr-ctrl-panel .panel-category h2 {
	font-size: 14px;
	margin: 0;
	overflow: hidden;
	padding: 3px 0;
}

.lfr-ctrl-panel .panel-category.closed li ul {
	display: none;
}

.lfr-ctrl-panel .panel-category {
	background: transparent url(../images/common/category_bg.png) repeat-x scroll 0 0;
	margin: 0;
}

.lfr-ctrl-panel .panel-category .category-portlets a {
	color: #888;
	display: block;
	font-size: 12px;
	line-height: 22px;
	padding: 0 20px;
}

.js .lfr-ctrl-panel .toggle-menu {
	background: url(../images/arrows/05_down.png) no-repeat scroll 5px 50%;
	display: block;
	float: left;
	height: 20px;
	padding: 0;
	width: 20px;
}

.lfr-ctrl-panel .panel-category h2 span {
	float: left;
	line-height: 20px;
}

.js .lfr-ctrl-panel .panel-category.closed .toggle-menu {
	background-image: url(../images/arrows/05_right.png);
	display: block;
}

.js .lfr-ctrl-panel .panel-category .drag-handle {
	background: url(../images/common/category_menu_icon.png) no-repeat scroll right 50%;
	display: block;
	float: right;
	height: 20px;
	margin-right: 5px;
	padding: 0;
	width: 16px;
}

.lfr-ctrl-panel .portal-add-content.ui-sortable {
	position: relative;
}

.ui-sortable-helper.panel-category {
	width: 100%;
}

.lfr-ctrl-panel .panel-category.selected a {
	color: #000;
}

.lfr-ctrl-panel .panel-category .selected-portlet {
	background: #BCC7CA url(../images/common/selected_portlet_bg.png) repeat-x 0 0;
	border-bottom: 1px solid #ECF0F1;
}

.lfr-ctrl-panel .panel-category .selected-portlet a {
	background: transparent url(../images/common/selected_portlet_arrow.png) no-repeat right 50%;
	border: 1px solid #7A8487;
	border-left: none;
	border-right: none;
	color: #000;
	font-weight: bold;
}

.lfr-ctrl-panel .portlet {
	border: none;
	padding: 0 0 10px 15px;
}

.lfr-ctrl-panel .portlet-topper {
	background-color: #BCC7CA;
	border-bottom: none;
	margin: 0;
}

.lfr-ctrl-panel .portlet-title {
	font-size: 18px;
	font-weight: 500;
	line-height: 34px;
	padding: 0 10px;
}

.lfr-ctrl-panel .portlet-title img {
	display: none;
}

.lfr-ctrl-panel .portlet-icons {
	display: none;
}

.lfr-ctrl-panel .portlet-content {
	padding: 0;
	padding-top: 10px;
}

/* ---------- Manage portal ---------- */

.lfr-ctrl-panel #panel-manage-portal {
	background: url(../images/common/category_portal_bg.png) repeat-x 0 0;
}

.lfr-ctrl-panel #panel-manage-portal .selected-portlet a {
	background-color: #9BAA95;
}

.lfr-ctrl-panel.panel-manage-portal .panel-menu {
	background-color: #DCE3DB;
}

.lfr-ctrl-panel.panel-manage-portal .portlet-topper {
	background-color: #9BAA95;
}

/* ---------- Manage server ---------- */

.lfr-ctrl-panel #panel-manage-server {
	background: url(../images/common/category_server_bg.png) repeat-x 0 0;
}

.lfr-ctrl-panel #panel-manage-server .selected-portlet a {
	background-color: #CABCC9;
}

.lfr-ctrl-panel.panel-manage-server .panel-menu {
	background-color: #E3DBE3;
}

.lfr-ctrl-panel.panel-manage-server .portlet-topper {
	background-color: #CABCC9;
}