@import "compass";

@import url(../../classic/css/custom_common.css);

$dockbarGradientEnd: #1273C7;
$dockbarGradientStart: #118ADE;

$dockbarOpenGradientEnd: #0993DD;
$dockbarOpenGradientStart: #0EA6F9;

.aui {
	/* ---------- Main ---------- */

	h2 {
		color: #555;
		font-size: 24px;
		font-weight: normal;
	}

	h3 {
		color: #8D8D8D;
		font-size: 20px;
		font-weight: normal;
	}

	legend {
		color: #8D8D8D;
		font-size: 18px;
		font-weight: lighter;
	}

	#banner {
		display: none;
	}

	#wrapper {
		padding: 1.1em 0 0;
	}

	.container-fluid.panel-manage-frontpage {
		padding: 0;
	}

	.panel-manage-apps, .panel-manage-configuration, .panel-manage-sites, .panel-manage-users {
		padding: 0 3em;

		.panel-page-application {
			margin: 0;
		}
	}

	.panel-manage-frontpage {
		.control-panel-bar-secondary {
			margin-bottom: 1px;
			margin-left: 20px;
		}
	}

	.control-panel-home-actions-category .btn {
		margin-bottom: 0.5em;
	}

	/* ---------- Control Panel Secondary Nav ---------- */

	.control-panel-bar-secondary.nav-pills {
		li {
			margin-right: 20px;

			a {
				font-size: 15px;
				font-weight: normal;
				margin: 0;
				padding: 10px 10px 11px;

				&:hover {
					background: #E5F5FC;
				}
			}
		}

		> .active > a {
			background: #009AE5;
			color: #FFF;

			&:hover {
				background: #009AE5;
			}
		}
	}

	/* ---------- Control Panel Home ---------- */

	.control-panel-home-menu {
		margin-top: 40px;

		a {
			color: #009AE5;
			font-size: 16px;
			text-decoration: none;

			&:active {
				color: #009AE5;
			}

			&:hover {
				color: #009AE5;
				text-decoration: underline;
			}

			&.taglib-icon .taglib-text {
				text-decoration: none;
			}
		}

		ul {
			padding-left: 47px;

			li {
				list-style: none;
				margin-bottom: 5px;

				a {
					font-weight: normal;
				}

				.control-panel-home-link img {
					display: none;
				}
			}
		}

		.control-panel-bar-main {
			font-size: 1.2em;
			font-weight: bold;
			margin-bottom: 5px;
		}

		.control-panel-bar-secondary {
			margin-bottom: 5px;
		}

		.control-panel-home-actions {
			margin-top: 100px;

			.control-panel-home-actions-category {
				color: #8D8D8D;
				padding-top: 10px;
			}
		}

		/* ---------- Control Panel Home Category Header ---------- */

		.control-panel-home-category-header {
			background: none no-repeat 0 50%;
			border-bottom: 1px solid #D4D4D4;
			color: #009AE5;
			font-size: 24px;
			font-weight: 200;
			margin-bottom: 30px;
			padding-left: 47px;
		}

		#control-panel-home-category-headerapps {
			background-image: url(../images/custom/home_apps.png);
		}

		#control-panel-home-category-headerconfiguration {
			background-image: url(../images/custom/home_configuration.png);
		}

		#control-panel-home-category-headersites {
			background-image: url(../images/custom/home_sites.png);
		}

		#control-panel-home-category-headerusers {
			background-image: url(../images/custom/home_users.png);
		}
	}

	.input-localized .input-localized-content {
		margin-left: 6px;
		margin-top: 0;
	}

	/* ---------- Dockbar ---------- */

	.dockbar {
		border-top: 1px solid #00AEFF;
		font-size: 13px;
		font-weight: lighter;
		letter-spacing: 1px;
		position: relative;

		.nav > li > a {
			margin: 3px 0;
			padding: 2px 15px;
		}

		.navbar-inner {
			background-color: $dockbarGradientEnd;
			color: #FFF;
			padding-left: 0;
			padding-right: 0;

			.nav-account-controls {
				float: right;

				li.open > .dropdown-toggle {
					margin: 0;
					padding: 5px 15px;
					background-color: $dockbarOpenGradientEnd;
				}
			}

			.nav-add-controls {
				> li {
					&.active a {
						border-radius: 4px;

						&:hover {
							background: #0066B3;
							color: #FFF;
						}
					}

					a:hover {
						background: #0993DD;
					}
				}

				li {
					margin-right: 5px;


					/* ---------- Menu Icons ---------- */

					[class^="icon-"], [class*=" icon-"] {
						vertical-align: top;

						&:before {
							content: '';
						}
					}

					.icon-cog, .icon-globe, .icon-list, .icon-th, .icon-user, .icon-arrow-left {
						background: none no-repeat 50%;
						height: 21px;
						width: 24px;
					}

					.icon-cog, .icon-globe, .icon-th, .icon-user {
						height: 26px;
						width: 29px;
					}

					.icon-arrow-left {
						background-image: url(../images/custom/dockbar_back.png);
						margin-top: 4px;
					}

					.icon-cog {
						background-image: url(../images/custom/dockbar_configuration.png);
					}

					.icon-globe {
						background-image: url(../images/custom/dockbar_sites.png);
					}

					.icon-list {
						background-image: url(../images/custom/dockbar_home.png);
						height: 24px;
						margin-top: 3px;
					}

					.icon-th {
						background-image: url(../images/custom/dockbar_apps.png);
					}

					.icon-user {
						background-image: url(../images/custom/dockbar_users.png);
						width: 40px;
					}
				}
			}

			.site-administration-menu li {
				list-style: none;

				a {
					display: block;
					padding: 3px 5px 3px 40px;

					&:hover {
						text-decoration: none;
					}

					i {
						font-size: 0.8em;
					}
				}
			}
		}
	}

	/* ---------- General Nav ---------- */

	.nav-list {
		li > a {
			&:focus, &:hover {
				background: #E5F5FC;
				color: #009AE5;
			}
		}

		> .active > a {
			&, &:focus, &:hover {
				background: #60BFEF;
			}
		}
	}

	.lfr-control-panel-help-content.alert {
		border-width: 1px 0;
		margin-bottom: 1em;
	}

	.portlet-title {
		font-size: 25px;
		font-weight: lighter;

		.taglib-icon-help {
			margin-left: -7px;
		}
	}

	/* ---------- Panel Page Menu (Site Pages Side Navigation) ---------- */

	.panel-page-menu {
		.portlet-borderless-container {
			background: #FCFCFC;
			border-right: 1px solid #D1D1D1;
			padding: 15px 0 0;

			.accordion {
				background: #FFF;
				margin-bottom: 0;

				.accordion-group {
					background: #FFF;
					border: solid #D1D1D1;
					border-width: 1px 0 0;
					margin-bottom: 0;

					&:last-child {
						.toggler-header-collapsed {
							border-bottom: 1px solid #D1D1D1;
						}
					}

					.accordion-heading {
						cursor: pointer;

						.accordion-toggle {
							font-size: 16px;
							font-weight: 300;
							padding: 0;
							text-transform: capitalize;
						}
					}

					.accordion-inner {
						background: #FCFCFC;
						border: solid #D1D1D1;
						border-width: 1px 0 0;
						padding: 6px 0 15px;
					}

					.category-portlets {
						list-style: none;
						margin: 0;

						li {
							a {
								display: block;
								font-size: 14px;
								padding: 3px 15px;
								text-decoration: none;

								&:focus, &:hover {
									background: #E5F5FC;
									color: #009AE5;
								}
							}

							&.selected-portlet {
								a {
									background: #60BFEF;
									color: #FFF;
								}
							}
						}
					}

					.toggler-header {
						background: #F2F2F2;
						padding: 6px 10px;
					}

					.toggler-header-collapsed {
						.accordion-toggle {
							background: #F2F2F2 url(../images/custom/arrow_option.png) no-repeat right 0;
						}
					}

					.toggler-header-expanded {
						.accordion-toggle {
							background: #F2F2F2 url(../images/custom/arrow_option.png) no-repeat right -20px;
						}
					}
				}
			}
		}

		.search-panels {
			padding: 0 10px 13px;
			position: relative;

			.cancel-search {
				color: #f88;
				display: none;
				margin-top: -1em;
				position: absolute;
				right: 15px;
				top: 50%;

				&:hover {
					color: #F55;
					text-decoration: none;
				}
			}

			.search-panels-bar {
				.control-group {
					margin: 0;

					.search-panels-input {
						border-color: #CACACA;
						margin-bottom: 0;

						&:focus {
							border-color: rgba(0, 172, 255, 0.8);
						}
					}
				}

				.search-panel-icon {
					background: url(../images/custom/iconinfield.png) no-repeat left center;
					background-size: 100%;
					color: #D4D4D4;
					font-size: 0;
					height: 18px;
					margin-left: 8px;
					margin-top: 6px;
					position: absolute;
					width: 27px;
				}

				input {
					padding-left: 40px;
				}
			}
		}

		.search-panel-active .search-panels .cancel-search {
			display: inline-block;
		}
	}

	/* ---------- Single site admin ---------- */

	.panel-manage-frontpage {
		#controlPanelSiteHeading {
			border-bottom: 1px solid #CFCFCF;
			padding: 17px 20px 5px;
			position: relative;
			z-index: 10;

			a:hover {
				text-decoration: none;
			}

			.control-panel-back-link {
				color: #30C8EE;
				display: inline-block;
				float: left;
				font-size: 20px;
				height: auto;
				line-height: 20px;
				margin-right: 5px;
				text-decoration: none;
				vertical-align: middle;
				width: auto;

				.control-panel-back-text {
					display: none;
				}
			}

			.site-title {
				display: inline-block;
				font-size: 25px;
				font-weight: 300;
				line-height: 20px;
				margin: 0;
				padding: 0 28px 0 5px;
				text-transform: capitalize;
				vertical-align: middle;

				.control-panel-site-selector {
					.dropdown-toggle {
						i.caret {
							background: url(../images/custom/arrow_option_down.png) no-repeat 0 0;
							border-width: 0;
							height: 20px;
							margin: 0;
							width: 20px;
						}
					}

					&.open {
						.dropdown-toggle {
							i.caret {
								background: url(../images/custom/arrow_option_down.png) no-repeat 0 -20px;
							}
						}
					}
				}
			}

			.visit-links {
				color: #8D8D8D;
				font-size: 12px;
				list-style: none;
				margin: 0;
				padding: 0 0 0 25px;

				li {
					display: inline-block;
					margin-left: 0;
					margin-right: 5px;
				}

				ul {
					color: #8D8D8D;
					list-style: none;
					margin: 0;

					li {
						float: left;

						&.divider:before {
							content: '/';
							margin: 0 5px;
						}
					}
				}
			}
		}

		.form-navigator.well {
			background: #FCFCFC;
			border: 1px solid #D1D1D1;
			border-width: 0 0 0 1px;

			.nav-header {
				background: #F3F3F3;
				font-size: 14px;
				font-weight: lighter;
				text-transform: capitalize;
			}
		}
	}

	/* ---------- Control Panel General ---------- */

	.control-panel-site-selector .caret {
		border-width: 6px;
		margin-top: 5px;
		vertical-align: middle;
	}

	.lfr-ctrl-panel {
		.lfr-meta-actions {
			margin-right: 0;
		}
	}

	/* ---------- Vocabularies select box in sites categories ---------- */

	.portlet-asset-category-admin {
		.categories-admin-select-search {
			margin: 0 10px 0 0;
		}

		.control-group {
			margin-bottom: 0;
		}
	}

	.textboxlistentry-holder {
		margin-left: 0;
	}

	/* ---------- My Account Popup ---------- */

	button {
		&.delete-logo, &.edit-logo {
			background: #EEE;
			color: #777;
		}
	}

	.datepicker-button-wrapper {
		margin: 0 5px;

		button {
			background: #EEE;
			border: 1px solid #DDD;
			color: #777;
			line-height: normal;
			margin-top: 6px;
			padding: 7px;

			&:hover {
				background: #F4F4F4;
				color: #333;
			}
		}
	}

	/* ---------- Extras ---------- */

	button {
		&.delete-logo, &.edit-logo {
			@include box-shadow(0 2px 2px -1px #CBCBCB);
		}

		.datepicker-button-wrapper & {
			@include border-radius(4px);
		}
	}

	.dropdown-menu {
		@include box-shadow(none);
	}

	.panel-page-menu .portlet-borderless-container {
		&:after {
				@include background-image(linear-gradient(#FFF, #D1D1D1));

				content: '';
				display: block;
				height: 15px;
				position: absolute;
				right: -1px;
				top: 0;
				width: 1px;
		}

		.accordion .accordion-group {
			@inclucd border-radius(0);
			@include box-shadow(-3px 0px 2px -2px #F5F5F5);

			.accordion-heading {
				&.toggler-header-collapsed, &.toggler-header-expanded {
					@include border-radius(0);
				}
			}
		}

		.search-panels-input {
			@include border-radius(0);
		}
	}

	.lfr-control-panel-help-content {
		@include border-radius(0);
	}

	.control-panel-bar-secondary.nav-pills li a {
		@include border-radius(4px);
	}

	/* ---------- Dockbar ---------- */

	.dockbar {
		.navbar-inner {
			@include background-image(linear-gradient(top, $dockbarGradientStart, $dockbarGradientEnd));
			@include filter-gradient($dockbarGradientStart, $dockbarGradientEnd, vertical);

			ul.nav-account-controls {
				li.open > .dropdown-toggle {
					@include background-image(linear-gradient(top, $dockbarOpenGradientStart, $dockbarOpenGradientEnd));
					@include box-shadow(none);
					@include filter-gradient($dockbarOpenGradientStart, $dockbarOpenGradientEnd, vertical);
				}
			}

			ul.nav-add-controls {
				> li a:hover {
					@include border-radius(4px);
				}
			}
		}
	}

	.nav-list {
		> .active > a {
			@include text-shadow(none);
		}
	}

	.panel-page-menu .portlet-static.portlet-static-end {
		@include box-shadow(3px 0px 2px -2px #F5F5F5);
	}

	.panel-manage-frontpage {
		#controlPanelSiteHeading {
			@include box-shadow(0 3px 4px -3px #DFDFDF);
		}

		.form-navigator.well {
			@include border-radius(0);
			@include box-shadow(-3px 0px 2px -2px #F5F5F5);
		}
	}
}