@import "compass";
@import "mixins";

@include respond-to(phone, tablet) {
	.aui {
		.dockbar .navbar-inner .container {

			#_145_navAddControlsNavbarBtn, #_145_navSiteNavigationNavbarBtn {
				display: none;
			}

			.nav-account-controls {
				text-align: top;
			}

			.brand {
				padding: 12px 0 0 0;

				@include respond-to(phone, tablet) {
					line-height: 16px;
				}

				.control-panel-back-link {
					float: left;
					margin-top: 6px;

					@include respond-to(phone) {
						margin: 0;
						padding: 6px 8px;
					}
				}

				h1 {
					@include respond-to(phone) {
						height: 51px;
						margin-top: -5px;
						max-width: 165px;
						position: relative;

						a {
							display: inline-block;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							width: 75px;
						}

						.control-panel-site-selector, .site-administration-title {
							@include ellipsis;
						}

						.control-panel-site-selector {
							position: static;

							i {
								bottom: 4px;
								position: absolute;
								right: -12px;
							}
						}

						.divider {
							display: none;
						}
					}

					@include respond-to(tablet) {
						line-height: 32px;
					}
				}
			}

			.btn-navbar {
				float: right;
			}

			.nav-account-controls > li:hover {
				background-color: transparent;
			}
		}
	}
}

@include respond-to(phone) {
	.aui{
		.control-panel-home-actions {
			display: none;
		}
	}
}