@import "mixins";

@include respond-to(phone, tablet) {
	.btn-group, .button-holder {
		@include respond-to(phone) {
			width: 100%;
		}

		> .btn + .dropdown-toggle {
			padding-left: 12px;
			padding-right: 12px;
		}
	}

	.btn {
		font-size: 17.5px;

		.caret {
			border-left-width: 5px;
			border-right-width: 5px;
			border-top-width: 5px;
		}

		[class^="icon-"], [class*=" icon-"] {
			margin-top: 4px;
		}

		@include respond-to(phone) {
			display: block;
			margin-top: 5px;
			width: 100%;
		}
	}

	.form-search .input-group .btn {
		display: inline-block;
		padding: 5px 19px 6px;

		@include respond-to(phone) {
			margin-top: 0;
			width: auto;
		}
	}

	.dropup .btn .caret {
		border-bottom-width: 5px;
	}

	button.close, button.btn.close {
		font-size: 2em;
		width: auto;
	}
}