.taglib-empty-result-message {
	.taglib-empty-result-message-header {
		background: url(@theme_image_path@/emoticons/happy_wink.gif) no-repeat 50% 50%;
		background-size: 200px;
		min-width: 200px;
		padding-top: 250px;
	}
}