.management-bar-container {
	position: relative;

	.management-bar {
		padding: 0;

		> .container-fluid-1280 {
			padding-left: 0;

			> .management-bar-header .checkbox {
				padding-left: 30px;
			}
		}

		&.management-bar-no-collapse {
			height: 0;
			left: 0;
			min-height: 0;
			overflow: hidden;
			position: absolute;
			right: 0;
			top: 0;
			@include transition(all 300ms ease);

			&.on {
				height: 48px;
				min-height: 48px;
				top: 0;

				@include md() {
					height: 62px;
					min-height: 62px;
				}
			}
		}

		.management-bar-center {
			left: 50%;
			margin-top: 16px;
			position: absolute;
			transform: translate(-50%);

			@include sm() {
				margin-top: 20px;
			}
		}

		.form-group {
			margin-bottom: 0;
		}

		.input-select-wrapper {
			margin-top: 10px;

			select {
				border-bottom-width: 0;
			}
		}
	}
}