@import "bourbon";

.taglib-vertical-card {
	.icon-vertical-card-container {
		background-color: #F1F5FA;
	}

	.icon-vertical-card-image .lexicon-icon {
		height: 80px;
		width: 80px;
	}

	.icon-vertical-card-image, .user-vertical-card-initials {
		left: 50%;
		position: absolute;
		top: 50%;

		@include transform(translate(-50%, -50%));
	}


	.user-vertical-card-initials {
		color: #FFF;
	}
}