@import "mixins";


body.open,
body.sidenav-transition {
	@include sm() {
		overflow-x: hidden;
	}
}

body.open {
	@include sm() {
		padding-left: 320px;
	}
}

.lfr-product-menu-panel.sidenav-menu-slider {
	z-index: 501;

	&, .sidenav-menu {
		width: 320px;
	}
}