@import "bourbon";
@import "mixins";

.control-menu-nav {
	.staging-bar {
		position: static;
	}
}

.control-menu-nav {
	@include display(flex);

	font-size: 16px;
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;

	> li {
		@include align-self(center);

		display: block;
		float: left;
		margin-left: 16px;
	}
}

.control-menu .staging-links {
	display:inline-block;
	line-height: 25px;
	position: static;

	&:nth-last-of-type(2) {
		@include flex(0 1 auto);

		+ .edit-layout-link {
			@include flex(1);
		}
	}
}

.control-menu-level-1 .toolbar-group-expand-text {
	overflow: visible;
}

.control-menu-level-2 {
	@include media-query(0, $screen-xs-max) {
		bottom: 0;
		display: none;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 1;
	}

	&.open {
		@include media-query(0, $screen-xs-max) {
			display: block;
			overflow: auto;
		}
	}
}

.control-menu-nav-level-2 {
	@include flex-wrap(wrap);
	@include justify-content(space-between);

	> li {
		margin-bottom: 5px;
		margin-left: 0;
		padding-bottom: 8px;
		padding-top: 8px;

		@include sm {
			margin-bottom: 0;
		}

		@include media-query(0, $screen-xs-max) {
			display: block;
			float: none;
			padding: 10px 0;
			text-align: left;
			width: 100%;
		}
	}

	.control-menu-nav {
		@include media-query(0, $screen-xs-max) {
			display: block;
		}

		li {
			@include media-query(0, $screen-xs-max) {
				margin-left: 0;
				width: 100%;
			}
		}
	}
}

.staging-options-toggle {
	padding: 15px 5px 15px 2px;
}

.live-link {
	margin-right: 24px;
}

.live-link,
.staging-link,
.staging-options-toggle {
	padding: 15px 5px 15px 2px;
}

.publish-btn-group {
	@include sm {
		border-radius: 4px;
		overflow: hidden;
	}
}

.staging-ready {
	@include sm {
		padding-top: 70px;
	}
}