.freeform .portlet {
	margin-bottom: 0;
}

body.portlet {
	border-width: 0;
}

.portlet-topper {
	position: relative;

	.portlet-topper-toolbar {
		margin: 0;
		padding: 2px;
		position: absolute;
		right: 3px;
		text-align: right;
		top: 3px;
		z-index: 300;

		&.portlet-title-menu {
			display: inline-block;
			position: relative;
		}

		a {
			color: inherit;

			&, &:hover {
				text-decoration: none;
			}

			i {
				font-size: 19px;
			}
		}

		.nobr {
			display: block;
			float: left;
			padding: 1px;
		}

		.portlet-icon-back {
			background: url(../images/arrows/12_left.png) no-repeat 0 50%;
			color: #FFF;
			font-weight: bold;
			padding: 5px 5px 5px 18px;

			&:hover {
				color: #FFF;
			}
		}

		.portlet-options .lfr-icon-menu-text {
			color: transparent;
			font-size: 0;
		}
	}
}

.portlet-title {
	display: inline;

	img {
		vertical-align: middle;
	}
}

.portlet-title-editable {
	cursor: pointer;
}

.portlet-title-text {
	display: inline-block;

	@include ellipsis;

	max-width: 95%;
	vertical-align: top;
}

.panel-page-content, .panel-page-body {
	.portlet-title-text {
		cursor: auto;
	}
}

.portlet-content, .portlet-minimized .portlet-content-container {
	padding: 12px 10px 10px;
}

.portlet-minimized .portlet-content {
	padding: 0;
}

.portlet-nested-portlets .portlet-boundary {
	left: 0 !important;
	position: relative !important;
	top: 0 !important;
}

%portlet-action-bar {
	background: #333;
	color: #FFF;

	text-shadow: -1px -1px #000;

	a {
		color: #3AF;
	}
}

%portlet-action-bar-hover {
	opacity: 1;
}

%portlet-action-bar-hover-text {
	display: inline-block;
}

.portlet-borderless-bar {
	@extend %portlet-action-bar;

	.portlet-options, .portlet-options.open {
		.dropdown-toggle {
			background-image: url(../images/portlet/options_borderless.png);
		}
	}
}

.portlet-borderless-container, .portlet-content {
	.lfr-icon-actions {
		@extend %portlet-action-bar;
	}
}

.portlet-borderless-container, .portlet-content {
	.lfr-icon-actions {
		float: left;
		margin: 1px 10px 1px 1px;

		opacity: 0.5;

		padding: 2px 7px;

		.lfr-icon-menu-text, .taglib-text {
			color: #FFF;
			display: none;
			font-weight: bold;
			margin-right: 1em;
			text-decoration: none;
			vertical-align: middle;
		}

		.lfr-icon-action {
			a {
				color: #FFF;
				display: inline-block;
				margin-left: 5px;
				vertical-align: top;

				&:hover {
					text-decoration: none;

					span {
						text-decoration: underline;
					}
				}
			}

			&.lfr-icon-menu .btn.dropdown-toggle {
				text-align: left;
			}
		}
	}
}

.portlet-title-default {
	display: block;

	@include ellipsis;

	float: left;
	font-weight: bold;
	height: 0;
	line-height: 19px;
	max-width: 74%;
	padding-right: 5px;
	padding-top: 1px;
	text-transform: uppercase;

	@include respond-to(desktop) {
		max-width: 50%;
		padding: 0 10px;
	}
}

.portlet-draggable {
	.portlet-topper {
		cursor: move;
	}

	.portlet-title-default {
		background: url(../images/portlet/draggable_borderless.png) no-repeat 5px 3px transparent;
		cursor: move;
		padding-left: 25px;

		@include respond-to(desktop) {
			background-color: #333;
			background-position: 0 50%;
			padding-left: 20px;
		}
	}
}