<html>
<head>
	<title>Directory listing for $directoryPath</title>
	<style type="text/css">
		table {
			font-family: Courier;
		}
		td {
			text-align: left;
		}
	</style>
</head>

<body>
	<h1>Directory listing for $directoryPath</h1>

	<hr noshade="noshade" size="1" />

	<table cellpadding="5" cellspacing="0" width="100%">
	<tr>
		<td>
			<strong>Name</strong>
		</td>
		<td>
			<strong>Modified</strong>
		</td>
		<td>
			<strong>Size</strong>
		</td>
		<td>
			<strong>Description</strong>
		</td>
	</tr>

	#foreach ($entry in $entries)
		#set ($path = $entry.getObject(0))
		#set ($name = $entry.getObject(1))
		#set ($date = $entry.getObject(2))
		#set ($size = $entry.getObject(3))
		#set ($description = $entry.getObject(4))

		<tr>
			<td>
				<a href="$path">$name</a>
			</td>
			<td>
				$date
			</td>
			<td>
				$size
			</td>
			<td>
				$description
			</td>
		</tr>
	#end

	</table>

	<hr size="1" noshade="noshade" />

	<i>$serverInfo</i>
</body>

</html>