#*
/**
 * Copyright (c) 2000-2007 Liferay, Inc. All rights reserved.
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 *
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */
*#

<div id="layout-desktop-icons-box">
	<div id="layout-desktop-icons-outer-decoration">
		<div id="layout-desktop-icons-inner-decoration">
			<span id="layout-desktop-icons"></span>
		</div>
	</div>
</div>

<div class="lfr-dock interactive-mode">
	<h2 class="user-greeting">
		<span>$user_greeting</span>
	</h2>

	<ul class="lfr-dock-list">
		#if ( $show_home )
			<li class="home">
				<a href="$home_url">$home_text</a>
			</li>
		#end

		#if ( $show_sign_in )
			<li class="sign-in">
				<a href="$sign_in_url">$sign_in_text</a>
			</li>
		#end

		#if ( $show_my_account )
			<li class="my-account">
				<a href="$my_account_url">$my_account_text</a>
			</li>
		#end

		#if ( $show_sign_out )
			<li class="sign-out">
				<a href="$sign_out_url">$sign_out_text</a>
			</li>
		#end

		#if ( $show_add_content )
			<li class="add-content">
				<a href="javascript: void(0);" onclick="$add_content_url">$add_content_text</a>
			</li>
			<li class="layout">
				<a href="javascript: void(0);" onclick="$layout_url">$layout_text</a>
			</li>
		#end

		#if ( $show_page_settings )
			<li class="page-settings">
				<a href="$page_settings_url">$page_settings_text</a>
			</li>
		#end

		$theme.myPlaces()
	</ul>
</div>