@import "bourbon";
@import "mixins";

body {
	&.open #wrapper {
		@include sm() {
			padding-left: 320px;
		}
	}

	&.open, &.sidenav-transition {
		@include sm() {
			overflow-x: hidden;
		}
	}

	&.sidenav-transition #wrapper {
		@include transition(padding 0.5s ease);
	}
}

.lfr-product-menu-panel.sidenav-menu-slider {
	z-index: 501;

	&, .sidenav-menu {
		width: 320px;
	}
}

.product-menu {
	.sidebar-header {
		line-height: 32px;
		padding-bottom: 10px;
		padding-top: 12px;

		@include sm() {
			padding: 16px 24px;
		}

		.sidenav-close {
			float: right;
			margin-right: -8px;
			margin-top: -4px;
		}
	}

	.sidebar-header-logo {
		margin-right: 10px;
	}

	.sidebar-body {
		bottom: 0;
		left: 0;
		padding: 0;
		position: absolute;
		right: 0;
		top: 55px;

		@include sm() {
			top: 64px;
		}

		@include media-query(null, 320px) {
			overflow: visible;
			position: static;
		}
	}

	.lfr-product-menu-sidebar .panel-group {
		overflow: hidden;
	}

	small {
		display: block;
	}

	.collapse-icon:before {
		right: 5px;
		top: auto;
	}

	.list-group {
		> .collapse,
		> .collapsing {
			> .list-group-item > .tabular-list-group {
				margin-bottom: -10px;
				margin-top: -10px;
			}
		}
	}

	.list-group-heading {
		h1, h2, h3, h4, h5, h6 {
			margin-bottom: 0;
			margin-top: 0;
		}
	}

	.list-group-item {
		border-top-width: 0;
		padding: 10px 20px;
	}

	.lfr-icon-menu {
		.btn-default {
			border-width: 0;
			height: 32px;
			line-height: 32px;
			padding: 0;
			width: 32px;
		}
	}

	.collapse-icon {
		.panel-notifications-count {
			display: none;
		}

		&.collapsed .panel-notifications-count {
			display: inline-block;
			font-weight: bold;
			min-width: 32px;
			padding: 0 5px;
			position: absolute;
			right: 46px;
			text-align: center;
			width: auto;
		}
	}

	.nav-equal-height-heading {
		.collapse-icon {
			&:after,
			&.collapsed:after {
				content: '';
				display: block;
				height: 12px;
				left: -6px;
				position: absolute;
				right: auto;
				top: 14px;
				width: 9px;
			}

			&:before {
				left: -8px;
				right: auto;
				z-index: 1;
			}
		}
	}

	.nav-nested-margins > li .nav > li {
		.nav > li {
			margin-bottom: 1px;
		}
	}

	&.popover {
		background-color: #FFF;
	}

	.impersonation-message {
		font-size: 12px;
	}

	.manage-sites-link {
		padding: 1em;
	}

	.site-selector {
		box-shadow: none;

		.selectable-site {
			color: #333;
			height: auto;
		}

		.list-group-item-content, .list-group-item-field {
			vertical-align: middle;
		}

		.site-link {
			color: #333;

			&.selected-site {
				color: #999;
			}
		}

		.site-logo-container {
			padding: 2em;
		}
	}

	.staging-links {
		font-size: 12px;
		margin: 10px 22px 4px 16px;
	}

	/* Layouts Tree */

	li.tree-node .tree-node-content {
		z-index: 1;

		&.lfr-root-node {
			display: none;
		}

		&:hover, &:focus, &.tree-node-selected {
			&.tree-node-content:before {
				background: #3A4D5A;
				bottom: 0;
				content: '';
				height: 42px;
				left: -1000px;
				opacity: 0.3;
				position: absolute;
				right: -40px;
				top: 0;
				z-index: -1;
			}
		}
	}

	.tree-container {
		.layout-tree-delete {
			left: -40px;
		}

		.tree-container {
			.layout-tree-delete {
				left: -60px;
			}

			.tree-container {
				.layout-tree-delete {
					left: -80px;
				}

				.tree-container {
					.layout-tree-delete {
						left: -100px;
					}

					.tree-container {
						.layout-tree-delete {
							left: -120px;
						}

						.tree-container {
							.layout-tree-delete {
								left: -140px;
							}

							.tree-container {
								.layout-tree-delete {
									left: -160px;
								}

								.tree-container {
									.layout-tree-delete {
										left: -180px;
									}

									.tree-container {
										.layout-tree-delete {
											left: -200px;
										}

										.tree-container {
											.layout-tree-delete {
												left: -220px;
											}

											.tree-container {
												.layout-tree-delete {
													left: -240px;
												}

												.tree-container {
													.layout-tree-delete {
														left: -260px;
													}

													.tree-container {
														.layout-tree-delete {
															left: -280px;
														}

														.tree-container {
															.layout-tree-delete {
																left: -300px;
															}

															.tree-container {
																.layout-tree-delete {
																	left: -320px;
																}

																.tree-container {
																	.layout-tree-delete {
																		left: -340px;
																	}

																	.tree-container {
																		.layout-tree-delete {
																			left: -360px;
																		}

																		.tree-container {
																			.layout-tree-delete {
																				left: -380px;
																			}

																			.tree-container {
																				.layout-tree-delete {
																					left: -400px;
																				}

																				.tree-container {
																					.layout-tree-delete {
																						left: -420px;
																					}

																					.tree-container {
																						.layout-tree-delete {
																							left: -440px;
																						}
																					}
																				}
																			}
																		}
																	}
																}
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	.tree-node-content {
		.layout-tree-add, .layout-tree-delete, .layout-tree-edit, .layout-set-tree-add, .layout-set-tree-edit {
			opacity: 0;

			&:focus {
				opacity: 1;
			}
		}

		.layout-tree-delete {
			position: absolute;
		}

		&.tree-node-selected, &:active, &.active, &:hover {
			.tree-label {
				> .layout-tree-add, > .layout-tree-delete, > .layout-tree-edit {
					opacity: 1;
				}
			}
		}

		.layout-tree:focus, .layout-tree-add:focus, .layout-tree-delete:focus, .layout-tree-edit:focus {
			~ .layout-tree-add, ~ .layout-tree-delete, ~ .layout-tree-edit {
				opacity: 1;
			}
		}

		.layout-tree-add[data-parentable="false"], .layout-tree-delete[data-deleteable="false"], .layout-tree-edit[data-updateable="false"] {
			display: none;
		}
	}

	.layout-set-tabs {
		display: table;
		font-size: 1em;
		padding: 0 0 2em 0;
		width: 100%;

		.layout-set-tree-add, .layout-set-tree-edit {
			opacity: 0;

			&:focus {
				opacity: 1;
			}
		}

		.layout-set-tab {
			a {
				&:hover {
					text-decoration: none;
				}

				@include ellipsis(87px);
			}

			display: table-cell;
			margin-right: 10px;
			padding-bottom: 4px;
		}

		.layout-set-tab:not(.selected-layout-set) {
			&:first-child {
				padding-left: 0;
			}

			margin-right: 0;
			padding-left: 10px;
			width: 97px;
		}

		.lexicon-icon {
			height: 16px;
			width: 16px;
		}

		.selected-layout-set {
			border-bottom: 1px solid;

			a {
				max-width: 108px;
			}
		}

		.selected-layout-set, .layout-set-tab:hover {
			.layout-set-tree-add, .layout-set-tree-edit {
				margin-left: 10px;
				opacity: 1;
			}
		}

		.layout-set-link:focus, .layout-set-tree-add:focus, .layout-set-tree-edit:focus {
			~ .layout-set-tree-add, ~ .layout-set-tree-edit {
				opacity: 1;
			}
		}
	}
}

/* Icon Animation */

.toast-animation {
	height: 20px;
	margin: 10px 4px 0 4px;
	position: relative;
	width: 20px;

	.pm {
		border-left: 1px solid #FFF;
		border-radius: 1px;
		height: 16px;
		left: 0;
		position: absolute;
		top: 1px;

		@include transition(all 0.6s $ease-out-quart);
		@include transition-delay(0.2s);
	}

	.cn {
		border: 1px solid #FFF;
		border-radius: 1px;
		content: '';
		height: 18px;
		position: absolute;
		right: 0;

		@include transition(all 0.3s $ease-out-quart);
		@include transition-delay(0.2s);

		width: 15px;
	}
}

body.open .toast-animation {
	.pm {
		border-left-width: 6px;
		height: 18px;
		left: 4px;
		top: 0;
	}

	.cn {
		border-left-width: 5px;
		width: 19px;
	}
}