<?xml version="1.0"?>

<project
	xmlns="http://maven.apache.org/POM/4.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/maven-v4_0_0.xsd"
>
	<modelVersion>4.0.0</modelVersion>
	<groupId>com.liferay</groupId>
	<artifactId>com.liferay.portal.tools.bundle.support.test</artifactId>
	<version>1.0.0</version>
	<build>
		<plugins>
			<plugin>
				<groupId>com.liferay</groupId>
				<artifactId>com.liferay.portal.tools.bundle.support</artifactId>
				<version>[$BUNDLE_SUPPORT_VERSION$]</version>
				<configuration>
					<cacheDir>[$BUNDLE_SUPPORT_CACHE_DIR$]</cacheDir>
					<configs>[$BUNDLE_SUPPORT_CONFIGS$]</configs>
					<deployFile>[$BUNDLE_SUPPORT_DEPLOY_FILE$]</deployFile>
					<emailAddress>[$BUNDLE_SUPPORT_EMAIL_ADDRESS$]</emailAddress>
					<environment>[$BUNDLE_SUPPORT_ENVIRONMENT$]</environment>
					<fileName>[$BUNDLE_SUPPORT_FILE_NAME$]</fileName>
					<liferayHome>[$BUNDLE_SUPPORT_LIFERAY_HOME$]</liferayHome>
					<outputFileName>[$BUNDLE_SUPPORT_OUTPUT_FILE_NAME$]</outputFileName>
					<password>[$BUNDLE_SUPPORT_PASSWORD$]</password>
					<stripComponents>[$BUNDLE_SUPPORT_STRIP_COMPONENTS$]</stripComponents>
					<tokenFile>[$BUNDLE_SUPPORT_TOKEN_FILE$]</tokenFile>
					<tokenUrl>[$BUNDLE_SUPPORT_TOKEN_URL$]</tokenUrl>
					<url>[$BUNDLE_SUPPORT_URL$]</url>
					<userName>[$BUNDLE_SUPPORT_USER_NAME$]</userName>
				</configuration>
			</plugin>
		</plugins>
	</build>
</project>