@import "mixins";

@include respond-to(phone) {
	body #wrapper #banner {
		padding: 20px 0;

		.navbar-form .field-wrapper .search-button {
			height: 32px;
			padding: 0 10px;
		}
	}

	#navigationCollapse {
		font-size: 125%;

		.nav > li > a {
			border-bottom: 1px solid #E1E1E1;
		}

		.navbar-form .input-text-wrapper {
			display: block;
		}
	}

	.modify-pages .lfr-nav-item .lfr-nav-child-toggle, .user-personal-bar .icon-caret-down {
		line-height: 28px;
		padding: 14px;
		position: absolute;
		right: 0;
		top: 0;
	}
}

@include respond-to(phone, tablet) {
	.touch .modify-pages .lfr-nav-sortable > a > span {
		padding-left: -18px;
	}
}