.status-up-to-date td {
	background-color: #ccffcc;
	border-top: 1px solid #BFBFBF;
	padding: 0.3em 1em;
}

.status-update-available td {
	background-color: #ff9999;
	border-top: 1px solid #BFBFBF;
	padding: 0.3em 1em;
}

.status-unknown td {
	background-color: #ffffcc;
	border-top: 1px solid #BFBFBF;
	padding: 0.3em 1em;
}

.status-installation-in-process td {
	background-color: #99ccff;
	border-top: 1px solid #BFBFBF;
	padding: 0.3em 1em;
}