@import "portlet_decorator";
@import "portlet_hello_world";

body {
	background-color: $bg-color;
}

.container-fluid-1280 .row {
	margin-left: 15px;
	margin-right: 15px;
}

#wrapper {
	padding: 0;
}

#banner {
	padding: 20px 0;
	position: relative;

	a:active, a:hover, a:focus {
		text-decoration: none;
	}

	.portlet-topper {
		z-index: 1;
	}

	.navbar-toggle {
		margin: 12px;
	}

	#heading .site-name {
		color: $solid-color;
		font-size: 150%;
		letter-spacing: 2px;
		margin-left: 20px;
		vertical-align: middle;
	}

	#navigationCollapse {
		@include media-query(null, $screen-xs-max) {
			font-size: 125%;
		}

		#navigation {
			.input-container {
				position: relative;
			}

			.portlet {
				&, .portlet-body > .navbar {
					margin-bottom: 0;
				}
			}
		}

		.navbar-blank > li {
			& > a {
				color: $solid-color;
			}

			&:hover, &.hover, &.active, .dropdown-menu .active {
				& > a {
					color: #000;
				}
			}
		}

		@include media-query(null, $screen-xs-max) {
			.nav > li {
				> a {
					border-bottom: 1px solid #E1E1E1;
				}

				&:last-child > a {
					border-bottom-width: 0;
				}
			}
		}
	}

	.navbar-form {
		@include sm {
			margin-left: 30px;
		}

		.input-text-wrapper {
			@include media-query(null, $screen-xs-max) {
				display: block;
			}
		}

		.form-control {
			background-color: transparent;
			border-bottom-width: 1px;
			border-color: #D6DCE2;
			margin-top: 2px;

			@include media-query(null, $screen-xs-max) {
				border-width: 0;
			}
		}

		.search-select {
			margin-right: 40px;
			padding-right: 20px;
		}

		.search-input {
			font-size: 16px;
			padding-right: 32px;

			@include sm {
				height: auto;
				max-width: 200px;
			}
		}

		.field-wrapper {
			position: absolute;
			right: 0;
			top: 0;

			a {
				color: $complementary-color;
			}
		}
	}

	.user-personal-bar {
		@include sm {
			position: absolute;
			right: 20px;
			top: 0;
		}

		.panel-notifications-count {
			top: 50%;

			@include transform(translateY(-50%));

			@include sm {
				right: -15px;
			}
		}

		.sign-in > a, .user-avatar-link {
			display: block;
		}

		.sign-in > a {
			line-height: 28px;
			padding: 8px 4px 14px 14px;
		}

		.user-avatar-image {
			background-size: auto 32px;
			border-radius: 50%;
			display: inline-block;
			height: 32px;
			overflow: hidden;
			vertical-align: text-bottom;
			width: 32px;
		}

		.user-avatar-link {
			line-height: 0;
			padding: 8px 4px 8px 14px;
		}

		.user-full-name {
			@include sm {
				display: none;
			}
		}
	}

	.navbar-nav {
		@include media-query(null, $screen-xs-max) {
			margin: 0 0;
		}
	}

	.lfr-nav-item .lfr-nav-child-toggle, .user-personal-bar .icon-caret-down {
		line-height: 28px;
		margin-top: -14px;
		padding-left: 15px;
		padding-right: 15px;
		position: absolute;
		right: 4px;
		top: 50%;

		@include sm {
			display: none;
		}
	}

	@include sm {
		padding: 40px 0 30px;
	}
}

#content .row {
	margin-left: -15px;
	margin-right: -15px;
}

#footer {
	background-color: $solid-color;
	color: #FFF;
	margin-bottom: 60px;
	padding: 40px 20px;

	a {
		color: #FFF;
	}
}

.modify-pages .delete-tab {
	height: 20px;
	top: 22px;
}

.display-style-buttons > .dropdown > .dropdown-menu {
	&:after, &:before {
		@include media-query(null, $screen-xs-max) {
			border-width: 0;
		}
	}
}