@import "compass";

@import url(custom_common.css);

/* ---------- Base styles ---------- */

.aui {
	.separator {
		border-color: #BFBFBF transparent #FFF;
		border-style: solid;
		border-width: 1px 0;
	}

	#wrapper {
		background: none;
		margin: 0 auto;
		position: relative;
	}

	h1.site-title {
		margin: 0;
	}

	.site-title .site-name {
		background: #555 url(../images/common/site_icon.png) no-repeat 15px 50%;
		color: #FFF;
		display: block;
		float: right;
		font-size: 1em;
		font-weight: bold;
		margin: 15px 0 0 20px;
		padding: 7px 17px 7px 40px;
		position: relative;
		text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
	}

	.page-template .site-title .site-name {
		background-image: url(../images/common/page_template.png);
	}

	.site-template .site-title .site-name {
		background-image: url(../images/common/site_template.png);
	}

	.company-site .site-title .site-name {
		background-image: url(../images/common/folder.png);
	}

	.organization-site .site-title .site-name {
		background-image: url(../images/common/organization_icon_white.png);
	}

	.user-site .site-title .site-name {
		background-image: url(../images/common/user_icon_white.png);
	}

	.private-page .site-title .site-name:after {
		background-image: url(../images/common/key_small.png);
		content: '';
		display: block;
		height: 10px;
		left: 24px;
		position: absolute;
		top: 50%;
		width: 10px;
	}

	#skip-to-content:focus {
		clip: rect(auto auto auto auto);
		margin-top: 35px;
		right: 5px;
		z-index: 200;
	}

	#sign-in {
		background: url(@theme_image_path@/common/key.png) no-repeat 3px 50%;
		font-weight: bold;
		padding: 5px 5px 5px 25px;
		position: absolute;
		right: 0;
		top: -1.2em;
	}

	.site-navigation {
		margin-bottom: 6px;
	}

	/* ---------- Main navigation ---------- */

	#navigation {
		.brand {
			padding: 0;
			padding-right: 20px;
			margin-left: 0;

			img {
				height: 40px;
				width: auto;
			}
		}
	}

	/* ---------- Portlet wrapper and icons ---------- */

	.portlet-topper {
		background: #3EA9DB none repeat scroll 0 0;
		border: 1px solid #1794C7;
		border-bottom-color: #1584B8;
		color: #FFF;
		padding: 0;
		text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);

		.lfr-configurator-visibility & {
			background-color: #7E7E7E;
			border-color: #959595;
			color: #222;
		}

		.portlet-title {
			font-size: 1em;
			line-height: 2.2;
			margin: 0;

			img.icon {
				display: none;
			}
		}

		.portlet-topper-toolbar {
			font-size: 0.8em;
			margin: -10px 0 0;
			padding: 0;
			right: 10px;
			top: 50%;
		}
	}

	.portlet-borderless-bar .portlet-options {
		.dropdown-toggle {
			background-image: url(../images/portlet/options_borderless.png);
		}
	}

	.signed-in.controls-visible .portlet-title {
		padding-right: 80px;
	}

	.lfr-portlet-title-editable {
		margin-top: -4px;
		z-index: 9999;
	}

	.lfr-portlet-title-editable-content {
		padding: 0;
	}

	.portlet-asset-publisher .asset-content, .portlet-asset-publisher .asset-summary, .portlet-asset-publisher .asset-title, .portlet-asset-publisher .header-title, .portlet-asset-publisher li.title-list, .portlet-blogs .entry-body, .portlet-blogs .entry-title, .portlet-blogs .header-title, .portlet-journal-content .journal-content-article, .portlet-message-boards .header-title, .portlet-message-boards .thread-body {
		@include hyphenation;
	}

	.portlet-icons {
		float: none;

		.portlet-close-icon {
			border-width: 0;
		}
	}

	.page-maximized .portlet-icons {
		font-size: 11px;
	}


	/* ---------- Footer ---------- */

	#footer {
		text-align: right;
	}

	/* ---------- Hudcrumbs ---------- */

	.lfr-hudcrumbs {
		position: fixed;
		top: 0;
		z-index: 440;

		ul {
			background: #414445;
			background: rgba(0, 0, 0, 0.8);
			border-top-left-radius: 0;
			border-top-right-radius: 0;
		}

		.breadcrumb li {
			a, span {
				color: #FFF;
				text-shadow: -1px -1px #000;
			}
		}
	}

	/* ---------- Misc. ---------- */

	.lfr-panel-container {
		background-color: transparent;
	}

	.lfr-portlet-title-editable-content .field {
		display: inline;
		float: none;
	}

	.portlet-journal-content .lfr-icon-actions {
		margin-bottom: 3px;
	}

	/* ---------- Extras ---------- */

	%portlet-action-bar-custom {
		border-radius: 20px;
		box-shadow: inset 0 1px 3px #000;
	}

	.portlet-borderless-bar {
		@extend %portlet-action-bar-custom;
	}

	.portlet-dynamic-data-list-display, .portlet-journal-content, .portlet-polls-display {
		.lfr-icon-actions {
			@extend %portlet-action-bar-custom;
		}
	}

	.portlet {
		border-radius: 2px;
		box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.35);
	}

	.portlet-nested-portlets .portlet-body {
		.portlet, .portlet-borderless-container {
			box-shadow: none;
		}
	}

	.portlet-topper {
		background-image: linear-gradient(#3EA9DB, #2796CA);
		border-radius: 2px 2px 0 0;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);

		.lfr-configurator-visibility & {
			background-image: linear-gradient(#BABABA, #7E7E7E);
		}
	}
}