@import "compass";

.aui {
	a {
		color: #009AE5;

		[class^="icon-"], [class*=" icon-"] {
			display: inline-block;
		}
	}

	body {
		color: #555;
		font-weight: lighter;
	}

	form .accordion-heading .accordion-toggle {
		padding-left: 0;
	}

	input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], select, textarea, .uneditable-input {
		border: 1px solid #DDD;
		margin-left: 6px;
		margin-top: 6px;

		&:focus {
			border-color: rgba(0, 172, 255, 0.8);
		}
	}

	input[type="submit"] {
		margin-bottom: 11px;
		margin-top: 6px;
	}

	input[type="text"].search-query {
		margin-top: 0;
	}

	label {
		margin-left: 6px;
	}

	select:focus {
		border: 1px solid rgba(0, 172, 255, 0.8);
		outline: 5px auto rgba(82, 168, 236, 0.6);
		outline-offset: -2px;
	}

	ul {
		margin: 0 0 11px 0;
	}

	.btn-link {
		color: #555;
		text-decoration: none;

		&:focus, &:hover {
			text-decoration: none;
		}

		> i {
			height: auto;
			margin: 0;
			padding: 0;
			width: auto;
		}
	}

	.control-group {
		margin-bottom: 30px;
	}

	.input-append {
		padding-right: 12px;
	}

	/* ---------- Main ---------- */

	#wrapper {
		padding: 1em 3em 0;
	}

	.portlet, .portlet-borderless-container {
		background: #FFF;
		margin-bottom: 10px;
		padding: 0;
	}

	.portlet-title {
		padding: 0 10px;
	}

	.portlet-nested-portlets .portlet-body {
		.portlet {
			border: 1px solid #E5E5E5;
		}
	}

	.portlet-borderless-container {
		padding: 10px 0;
	}

	.portlet-options {
		&, &.open {
			.dropdown-toggle {
				background: url(../images/portlet/options.png) no-repeat;
				display: inline-block;
				height: 16px;
				vertical-align: middle;
				width: 16px;

				.caret {
					display: none;
				}
			}
		}
	}

	/* ---------- Dockbar ---------- */

	.dockbar {
		.navbar-inner {
			background: #333;
		}

		.nav {
			> li {
				> a {
					color: #FFF;
					line-height: 31px;

					&:focus, &:hover {
						color: #FFF;
					}

					[class^="icon-"], [class*=" icon-"] {
						margin-top: 3px;
					}
				}

				&.active > a {
					color: #FFF;

					&, &:hover, &:focus {
						background: #005BA7;
					}

					&:focus, &:hover {
						color: #3EA9DB;
					}
				}
			}

			%dockbar-caret {
				&, &:hover {
					.caret {
						border-bottom-color: #FFF;
						border-top-color: #FFF;
					}
				}
			}

			li.dropdown {
				> .dropdown-toggle {
					@extend %dockbar-caret;
				}

				&.open, &.active, &.open.active {
					> .dropdown-toggle {
						background-color: #3EA9DB;
						color: #FFF;

						@extend %dockbar-caret;
					}
				}

				.dropdown-menu {
					background: #00ACFF;
					border-width: 0;
					left: 0;
					margin: 0;
					right: auto;

					li a {
						color: #FFF;
						font-size: 0.9em;
						font-weight: lighter;

						&:hover {
							background: transparent;
						}

						[class^="icon-"], [class*=" icon-"] {
							margin-right: 3px;
						}

						.icon-spacer {
							margin-right: 17px;
						}
					}

					li.active > a {
						background: transparent;
					}
				}

				.dropdown-menu {
					&:after, &:before {
						border-width: 0;
					}
				}
			}

			li.dropdown.user-avatar {
				.dropdown-menu {
					right: 0;
					left: auto;
				}

				.user-avatar-link > img {
					border: 2px solid #5594E0;
					width: 27px;
				}
			}
		}

		.nav-account-controls {
			float: right;

			li ul {
				li a {
					&:hover {
						text-decoration: underline;

						i {
							background-image: none;
							text-decoration: none;
						}
					}
				}
			}
		}

		.divider-vertical {
			border-left-color: #222;
			border-right-color: #555;
			display: none;
		}
	}

	.navbar {
		.icon-caret-down {
			background: #27A7EB;
			background: rgba(255, 255, 255, 0.2);
			font-size: 14px;
			height: auto;
			margin-left: 5px;
			padding: 1px 4px;
			width: auto;
		}

		.nav > li.open > a {
			background-color: #FFF;
			color: #555;
			text-decoration: none;
		}
	}

	/* ---------- Nav#Navigation ---------- */

	.modify-pages .delete-tab {
		background: #555;
		border: 2px solid #FFF;
		color: #FFF;
		font-size: 16px;
		padding: 4px;
		right: -10px;
		top: 0;
		z-index: 300;

		&:hover {
			@include box-shadow(0 1px 1px -1px #000)
		}
	}

	/* ---------- Breadcrumbs ---------- */

	.breadcrumb {
		padding: 7px 15px 4px;

		li {
			span.divider {
				background: url(../images/common/breadcrumbs.png) no-repeat;
				background-size: 25px;
				display: inline-block;
				height: 25px;
				position: relative;
				text-indent: -9000px;
				top: -4px;
				width: 16px;
			}
		}

		li.last {
			a {
				color: #676767;
			}

			span.divider {
				display: none;
			}
		}

		.only .divider {
			display: none;
		}
	}

	/* ---------- Hidden Accessible ---------- */

	#banner h2, #banner h3, .site-breadcrumbs h1, #skip-to-content {
		clip: rect(0 0 0 0);
		position: absolute;
	}

	.opens-new-window-accessible {
		background: url(@theme_image_path@/common/open_window.png) no-repeat 0 50%;
		display: inline-block;
		font-size: 0;
		height: 11px;
		margin-left: 2px;
		overflow: hidden;
		text-indent: -9999px;
		vertical-align: top;
		width: 11px;
	}

	.nav-header {
		background-color: #E5E5E5;
		border: solid #DDD;
		border-width: 1px 0;
	}

	.accordion-group {
		border-width: 0;

		.accordion-heading {
			background: none no-repeat 0 50%;
			overflow: hidden;

			.accordion-toggle {
				&, &:hover {
					text-decoration: none;
				}
			}

			&.toggler-header-collapsed, &.toggler-header-expanded {
				background-image: none;

				.accordion-toggle:before {
					content: '\25BA';
					color: #333;
					display: inline-block;
				}
			}

			&.toggler-header-collapsed {
				position: relative;

				.accordion-toggle:after {
					border-bottom: 1px solid #E5E5E5;
					content: '';
					margin-left: 10px;
					position: absolute;
					top: 50%;
					width: 100%;
				}
			}

			&.toggler-header-expanded .accordion-toggle:before {
				content: '\25BC';
			}
		}

		&.lfr-panel-extended {
			border-width: 1px;

			.accordion-heading {
				overflow: hidden;

				&.toggler-header-collapsed, &.toggler-header-expanded {
					background: #F2F2F2;
					position: static;

					.accordion-toggle {
						color: #999;
						font-size: 11px;
						font-weight: bold;
						padding-left: 8px;
						text-transform: uppercase;

						&:after, &:before {
							display: none;
						}
					}
				}
			}
		}
	}

	.toggler-content-collapsed {
		display: none;
	}

	body.yui3-skin-sam .yui3-widget-mask {
		background-color: #FFF;
	}

	&.ie .dockbar .navbar-inner {
		filter: none;
	}

	&.ie6, &.ie7 {
		.accordion-group .accordion-heading {
			background: none no-repeat 0 50%;

			&.toggler-header-collapsed {
				background-image: url(../images/arrows/05_right.png);
			}

			&.toggler-header-expanded {
				background-image: url(../images/arrows/05_down.png);
			}
		}
	}

	/* ---------- Extras ---------- */

	$prefixes: ("-webkit-","-moz-", "-o-", "");

	@each $prefix in $prefixes {
		::#{$prefix}selection {
			background: #2AAAE6 !important;
			color: #FFF;

			@include text-shadow(-1px -1px rgba(0, 0, 0, 0.3));
		}
	}

	.breadcrumb > li {
		@include text-shadow(none);
	}

	.modify-pages .delete-tab {
		@include border-radius(50%);
		@include text-shadow(none);
	}

	.nav-header {
		background-image: linear-gradient(#FFF, #F2F2F2);
	}

	.portlet-options {
		&, &.open {
			.dropdown-toggle {
				@include box-shadow(none);
			}
		}
	}

	input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="number"], input[type="password"], input[type="text"], input[type="time"], input[type="week"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], textarea, .uneditable-input {
		@include border-radius(0);
		@include box-shadow(none);

		&:focus {
			@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6));
		}
	}

	.dockbar {
		.nav {
			> li {
				> a {
					@include text-shadow(none);
				}
			}

			li.dropdown {
				&.user-avatar {
					.user-avatar-link > img {
						@include border-radius(50%);
					}
				}

				.dropdown-menu {
					@include border-radius(0);
				}
			}
		}
	}

	.navbar {
		.icon-caret-down {
			@include border-radius(50%);
		}

		.nav {
			> li.open > a {
				@include box-shadow(inset 0 3px 8px rgba(0, 0, 0, 0.125));
			}
		}
	}

	body.yui3-skin-sam .yui3-widget-mask {
		@include opacity(0.8);
	}
}