@import "compass";

/* ---------- Breadcrumbs ---------- */

.breadcrumbs {
	a {
		display: block;
	}

	.last {
		background-image: none;
	}
}

/* ---------- Hidden Accessible ---------- */

#banner h2, #banner h3, #navigation h1, #skip-to-content, .site-breadcrumbs h1 {
	clip: rect(0 0 0 0);
	position: absolute;
}

.opens-new-window-accessible {
	background: url(@theme_image_path@/common/open_window.png) no-repeat 0 50%;
	display: inline-block;
	font-size: 0;
	height: 11px;
	margin-left: 2px;
	overflow: hidden;
	text-indent: -9999px;
	vertical-align: top;
	width: 11px;
}

/* ---------- Extras ---------- */

.lfr-title-scope-selector {
	@include border-bottom-left-radius(4px);
	@include border-bottom-right-radius(4px);
}

#navigation, #navigation a, .portlet, .portlet-topper, .site-breadcrumbs ul, .aui-form-validator-message {
	@include border-radius(4px);
}