@import url(custom_breadcrumbs.css);

/* ---------- Site breadcrumbs ---------- */

.site-breadcrumbs {
	margin: 0 0 5px;
	width: auto;
}

.site-breadcrumbs ul {
	background-color: #FFF;
	border: 1px solid #DEDEDE;
	border-color: #C0C2C5;
	margin: 0;
}

.site-breadcrumbs li {
	background-image: none;
	margin-right: 0;
	padding-left: 0.75em;
	padding-right: 0;
}

.site-breadcrumbs li span {
	background: url(../images/common/breadcrumbs.png) no-repeat 100% 50%;
	display: block;
	padding: 0.5em 15px 0.5em 0;
}

.site-breadcrumbs li span a {
	text-decoration: none;
}

.site-breadcrumbs li.first a {
	color: #369;
	font-weight: bold;
}

.site-breadcrumbs li.last a {
	color: #4B5567;
	font-size: 1.3em;
}

.site-breadcrumbs .last {
	font-size: 1em;
	margin-top: 0;
	padding-right: 0;
}

.site-breadcrumbs .last span {
	background-image: none;
	padding: 0;
}

/* ---------- Hidden Accessible ---------- */

#skip-to-content, #banner h2, #banner h3, #navigation h1, .site-breadcrumbs h1 {
	clip: rect(0 0 0 0);
	position: absolute;
}

.opens-new-window-accessible {
	background: url(../images/common/open_window.png) no-repeat 0 50%;
	display: inline-block;
	font-size: 0;
	height: 11px;
	margin-left: 2px;
	overflow: hidden;
	text-indent: -9999px;
	vertical-align: top;
	width: 11px;
}

/* ---------- Extras ---------- */

.lfr-title-scope-selector {
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.lfr-title-scope-selector {
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.logo .current-site, #navigation, #navigation a, .portlet, .portlet-topper, .site-breadcrumbs ul, .aui-form-validator-message {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}