@import "compass";

@import url(custom_common.css);

$dockbarGradientStart: #0A85E4;
$dockbarGradientEnd: #0A6BCA;

$dockbarOpenGradientStart: #00A0FF;
$dockbarOpenGradientEnd: #048BDF;

/* ---------- Base styles ---------- */



.aui {
	.separator {
		border-color: #BFBFBF transparent #FFF;
		border-style: solid;
		border-width: 1px 0;
	}

	#wrapper {
		background: none;
		margin: 0 auto;
		padding: 1em 5em 0;
		position: relative;
	}

	h1.site-title {
		margin: 0;
	}

	.site-title .site-name {
		background: #555 url(../images/common/site_icon.png) no-repeat 15px 50%;
		color: #FFF;
		display: block;
		float: right;
		font-size: 1em;
		font-weight: bold;
		margin: 15px 0 0 20px;
		padding: 7px 17px 7px 40px;
		position: relative;
	}

	.page-template .site-title .site-name {
		background-image: url(../images/common/page_template.png);
	}

	.site-template .site-title .site-name {
		background-image: url(../images/common/site_template.png);
	}

	.company-site .site-title .site-name {
		background-image: url(../images/common/folder.png);
	}

	.organization-site .site-title .site-name {
		background-image: url(../images/common/organization_icon_white.png);
	}

	.user-site .site-title .site-name {
		background-image: url(../images/common/user_icon_white.png);
	}

	.private-page .site-title .site-name:after {
		background-image: url(../images/common/key_small.png);
		content: '';
		display: block;
		height: 10px;
		left: 24px;
		position: absolute;
		top: 50%;
		width: 10px;
	}

	#skip-to-content:focus {
		clip: rect(auto auto auto auto);
		margin-top: 35px;
		right: 5px;
		z-index: 200;
	}

	#sign-in {
		background: url(@theme_image_path@/common/key.png) no-repeat 3px 50%;
		font-weight: bold;
		padding: 5px 5px 5px 25px;
		position: absolute;
		right: 0;
		top: -1.2em;
	}

	.redirected-to-message {
		margin-right: 10px;

		a {
			background: #ecfbff;
			border: 1px solid #ade5fa;
			color: #8d8d8d;
			padding: 5px;
		}
	}

	.site-navigation {
		margin-bottom: 6px;
	}

	/* ---------- Dockbar ---------- */

	.dockbar {
		position: absolute;

		.navbar-inner {
			background-color: transparent;
			border: 0;
			color: #FFF;

			.nav {
				background-color: $dockbarGradientEnd;
				color: #ffffff;
				border-bottom: 0;
				border-top: 2px solid #00AEFF;
			}

			.nav-account-controls {
				left: auto;
				padding: 0 5px;
				position: fixed;
				right: 3em;
				z-index: 325;

				> li > a {
					padding: 6px 15px;
				}
			}

			.nav-add-controls {
				background: transparent;
				border-top: 0;
				position: fixed;
				top: 10%;
				z-index: 350;

				> li {
					float: none;
					margin: 10px;

					> a {
						background: #45CBF5;
						font-size: 0;
						padding: 6px 8px;
						text-align: center;

						&:hover {
							background: #5BBAE8;
						}

						[class^="icon-"], [class^="icon-"], [class*=" icon-"] {
							font-size: 25px;
							position: relative;
							vertical-align: middle;
						}

						.icon-caret-down {
							display: none;
						}

						.icon-desktop {
							top: 2px;
						}

						.icon-plus {
							top: 2px;
						}
					}


				}
			}
		}
	}

	/* ---------- Main navigation ---------- */

	#navigation {
		.add-page-editor {
			input {
				margin-top: 0;
			}
		}

		.brand {
			padding: 0;
			padding-right: 20px;
			margin-left: 0;

			img {
				height: 40px;
				width: auto;
			}
		}

		.nav {
			li {
				&.dropdown {
					> .dropdown-toggle {
						.caret {
							border-bottom-color: #FFF;
							border-top-color: #FFF;
						}
					}
				}

				&.open {
					> a {
						color: #FFF;
					}
				}
			}

			.dropdown-menu {
				background: #00ACFF;
				border: 0;
				margin: 0;

				&:after {
					border: 0;
				}

				&:before {
					border: 0;
				}

				a {
					color: #FFF;

					&:hover {
						background: none;
						text-decoration: underline;
					}
				}
			}
		}

		.navbar-inner {
			background: #555;
			border: 0;

			li a {
				color: #FFF;
			}
		}
	}

	.modify-pages .delete-tab {
		background: #555;
		border: 2px solid #FFF;
		color: #FFF;
		font-size: 16px;
		padding: 4px;
		right: -10px;
		top: 0;
		z-index: 300;

		&:hover {
			@include box-shadow(0 1px 1px -1px #000);
		}
	}

	/* ---------- Portlet wrapper and icons ---------- */

	.portlet-content, .portlet-minimized .portlet-content-container {
		border: 1px solid #EAEAEA;
		border-top: 0;
		padding: 12px 10px 10px;
	}

	.portlet-topper {
		background: #0A85E4;
		color: #FFF;
		padding: 0;

		.lfr-configurator-visibility & {
			background-color: #7E7E7E;
			border-color: #959595;
			color: #222;
		}

		.portlet-title {
			font-size: 1em;
			font-weight: normal;
			line-height: 2.2;
			margin: 0;

			i, span img {
				display: none;
			}
		}

		.portlet-topper-toolbar {
			font-size: 0.8em;
			margin: -10px 0 0;
			padding: 0;
			right: 10px;
			top: 50%;

			a {
				text-decoration: none;

				i {
					color: #FFF;
				}
			}
		}
	}

	.portlet-borderless-bar .portlet-options {
		.dropdown-toggle {
			background-image: url(../images/portlet/options_borderless.png);
		}
	}

	.signed-in.controls-visible .portlet-title {
		padding-right: 80px;
	}

	.lfr-portlet-title-editable {
		margin-top: -4px;
		z-index: 9999;
	}

	.lfr-portlet-title-editable-content {
		padding: 0;
	}

	.portlet-asset-publisher .asset-content, .portlet-asset-publisher .asset-summary, .portlet-asset-publisher .asset-title, .portlet-asset-publisher .header-title, .portlet-asset-publisher li.title-list, .portlet-blogs .entry-body, .portlet-blogs .entry-title, .portlet-blogs .header-title, .portlet-journal-content .journal-content-article, .portlet-message-boards .header-title, .portlet-message-boards .thread-body {
		@include hyphenation;
	}

	.portlet-icons {
		float: none;

		.portlet-close-icon {
			border-width: 0;
		}
	}

	.page-maximized .portlet-icons {
		font-size: 11px;
	}


	/* ---------- Footer ---------- */

	#footer {
		text-align: right;
	}

	/* ---------- Hudcrumbs ---------- */

	.lfr-hudcrumbs {
		position: fixed;
		top: 0;
		z-index: 440;

		ul {
			background: #414445;
			background: rgba(0, 0, 0, 0.8);
		}

		.breadcrumb li {
			a, span {
				color: #FFF;
			}
		}
	}

	/* ---------- Misc. ---------- */

	.lfr-panel-container {
		background-color: transparent;
	}

	.lfr-portlet-title-editable-content .field {
		display: inline;
		float: none;
	}

	.portlet-journal-content .lfr-icon-actions {
		margin-bottom: 3px;
	}

	/* ---------- Extras ---------- */

	#navigation {
		.nav {
			li {
				&.dropdown {
					&.open {
						> .dropdown-toggle {
							@include filter-gradient($dockbarOpenGradientStart, $dockbarOpenGradientEnd, vertical);
							$experimental-support-for-svg: true;
							@include background-image(linear-gradient(top, $dockbarOpenGradientStart 0%,$dockbarOpenGradientEnd 100%));
						}
					}
				}

				&.open {
					> a {
				@include filter-gradient($dockbarGradientStart, $dockbarGradientEnd, vertical);
				$experimental-support-for-svg: true;
				@include background-image(linear-gradient(top,  $dockbarGradientStart 0%,$dockbarGradientStart 47%,$dockbarGradientEnd 100%));
						@include box-shadow(none);
					}
				}
			}

			.dropdown-menu {
				@include border-radius(0);
			}

			> .active > a {
				@include filter-gradient($dockbarGradientStart, $dockbarGradientEnd, vertical);
				@include background-image(linear-gradient(top,  $dockbarGradientStart 0%,$dockbarGradientStart 47%,$dockbarGradientEnd 100%));
				@include box-shadow(none);
			}
		}

		.navbar-inner {
			@include box-shadow(none);
			@include border-radius(0);

			li a {
				@include text-shadow(none);
			}
		}
	}

	.modify-pages .delete-tab {
		@include border-radius(50%);
		@include text-shadow(none);
		@include transition(opacity 0.3s ease);
	}

	%portlet-action-bar-custom {
		@include border-radius(20px);
		@include box-shadow(inset 0 1px 3px #000);
	}

	.portlet-borderless-bar {
		@extend %portlet-action-bar-custom;
	}

	.portlet-content, .portlet-minimized .portlet-content-container {
		@include border-radius(0 0 3px 3px);
	}

	.portlet-dynamic-data-list-display, .portlet-journal-content, .portlet-polls-display {
		.lfr-icon-actions {
			@extend %portlet-action-bar-custom;
		}
	}

	.portlet-minimized {
		.portlet-content {
			border: 0;
		}

		.portlet-topper {
			@include border-radius(3px);
		}
	}

	.portlet-nested-portlets .portlet-body {
		.portlet, .portlet-borderless-container {
			@include box-shadow(none);
		}
	}

	.portlet-topper {
		@include border-radius(3px 3px 0 0);

		.lfr-configurator-visibility & {
			background-image: linear-gradient(#BABABA, #7E7E7E);
		}
	}

	.site-title .site-name {
		@include text-shadow(1px 1px rgba(0, 0, 0, 0.5));
	}

	.dockbar {
		.navbar-inner {
			@include box-shadow(none);
			@include text-shadow(none);

			.nav {
				li.dropdown.open > .dropdown-toggle {
							@include filter-gradient($dockbarOpenGradientStart, $dockbarOpenGradientEnd, vertical);
							$experimental-support-for-svg: true;
							@include background-image(linear-gradient(top, $dockbarOpenGradientStart 0%,$dockbarOpenGradientEnd 100%));
							@include box-shadow(none);
				}
			}

			.nav-account-controls {
				@include filter-gradient($dockbarGradientStart, $dockbarGradientEnd, vertical);
				@include background-image(linear-gradient(top,  $dockbarGradientStart 0%,$dockbarGradientStart 47%,$dockbarGradientEnd 100%));
			}

			.nav-add-controls {
				> li {
					a {
						@include border-radius(4px);
					}

					&.open a {
						@include border-radius(4px 4px 0 0);
					}
				}
			}
		}
	}

	.lfr-hudcrumbs {
		ul {
			@include border-top-left-radius(0);
			@include border-top-right-radius(0);
		}

		.breadcrumb li {
			a, span {
				@include text-shadow(-1px -1px #000);
			}
		}
	}
}

@import url(color_schemes/dark.css);
@import url(color_schemes/light.css);