body.open {
	.control-menu {
		@include sm() {
			left: 320px;
		}
	}
}

.control-menu {
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 500;
}

.control-menu-icon {
	display: inline-block;
	margin: 0 10px;
}

.control-menu-level-1 {
	background-color: $control-menu-level-1-bg;
	color: $control-menu-level-1-color;

	> .container-fluid-1280 {
		padding: 6px 5px 7px;

		@include sm() {
			padding: 15px 5px 14px;
		}
	}

	a {
		color: $control-menu-level-1-link-color;

		&:focus, &:hover {
			color: $control-menu-level-1-link-hover-color;
			text-decoration: none;
		}
	}

	.taglib-icon-help {
		margin-left: 6px;
	}
}

.control-menu-level-1-heading {
	color: #FFF;
	font-size: 19px;
	font-weight: 700;
}

.control-menu-level-1-nav {
	@include display(flex);
	@include flex-wrap(wrap);
	@include justify-content(space-between);

	> .control-menu-nav-item {
		@include align-self(center);
	}
}

.control-menu-level-2 {
	background-color: $control-menu-level-2-bg;
	color: $control-menu-level-2-color;

	.control-menu-label {
		@include sm() {
			color: $control-menu-level-2-label-color;
		}
	}
}

.control-menu-level-2-heading {
	font-size: 18px;
	font-weight: 500;

	.close {
		color: $control-menu-level-2-color;
		opacity: 1;
	}
}

.control-menu-link {
	&.active {
		&:after {
			background-color: $control-menu-level-1-active-border;
			height: $control-menu-level-1-active-border-width;
		}
	}
}

.control-menu-nav {
	@include align-items(center);
	@include display(flex);

	font-size: 16px;
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}

.control-menu-nav-item {
	display: inline-block;
}

.live-link, .staging-link {
	font-size: 14px;

	a, a:focus, a:hover {
		color: #869CAD;
	}

	&.active {
		position: relative;

		&:after {
			bottom: -20px;
			content: '';
			left: 0;
			position: absolute;
			right: 0;
		}

		a {
			color: #FFF;
		}
	}

	.lexicon-icon {
		margin-top: -2px;
	}
}

.sidenav-transition {
	.control-menu,
	.control-menu-level-2 {
		@include transition($control-menu-css-transition);
	}
}