##
## Company
##

#set ($companyId = $counter.get())

#set ($testUserId = $counter.get())
#set ($testContactId = $counter.get())
#set ($placeholderId = $counter.get())

#set ($defaultUserId = $counter.get())
#set ($defaultContactId = $counter.get())

#set ($accountId = $counter.get())
#set ($virtualHostId = $counter.get())

insert into Company (companyId, accountId, webId, mx, system, active_) values ($companyId, $accountId, 'liferay.com', 'liferay.com', FALSE, TRUE);

insert into Account_ (accountId, companyId, userId, userName, createDate, modifiedDate, parentAccountId, name, legalName, legalId, legalType, sicCode, tickerSymbol, industry, type_, size_) values ($accountId, $companyId, $defaultUserId, '', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 0, 'Liferay', 'Liferay, Inc.', '', '', '', '', '', '', '');

insert into VirtualHost (virtualHostId, companyId, layoutSetId, hostname) values ($virtualHostId, $companyId, 0, 'localhost');

##
## Class Names
##

#set ($companyClassNameId = $counter.get())
#set ($groupClassNameId = $counter.get())
#set ($organizationClassNameId = $counter.get())
#set ($roleClassNameId = $counter.get())
#set ($userClassNameId = $counter.get())
#set ($userPersonalSiteClassNameId = $counter.get())

insert into ClassName_ (classNameId, value) values ($companyClassNameId, 'com.liferay.portal.model.Company');
insert into ClassName_ (classNameId, value) values ($groupClassNameId, 'com.liferay.portal.model.Group');
insert into ClassName_ (classNameId, value) values ($organizationClassNameId, 'com.liferay.portal.model.Organization');
insert into ClassName_ (classNameId, value) values ($roleClassNameId, 'com.liferay.portal.model.Role');
insert into ClassName_ (classNameId, value) values ($userClassNameId, 'com.liferay.portal.model.User');
insert into ClassName_ (classNameId, value) values ($userPersonalSiteClassNameId, 'com.liferay.portal.model.UserPersonalSite');

##
## Shard
##

insert into Shard (shardId, classNameId, classPK, name) values ($counter.get(), $companyClassNameId, $companyId, 'default');

##
## Roles
##

#set ($administratorRoleId = $counter.get())
#set ($guestRoleId = $counter.get())
#set ($ownerRoleId = $counter.get())
#set ($powerUserRoleId = $counter.get())
#set ($siteMemberRoleId = $counter.get())
#set ($userRoleId = $counter.get())

insert into Role_ (roleId, companyId, classNameId, classPK, name, description, type_) values ($administratorRoleId, $companyId, $roleClassNameId, $administratorRoleId, 'Administrator', '', 1);
insert into Role_ (roleId, companyId, classNameId, classPK, name, description, type_) values ($guestRoleId, $companyId, $roleClassNameId, $guestRoleId, 'Guest', '', 1);
insert into Role_ (roleId, companyId, classNameId, classPK, name, description, type_) values ($ownerRoleId, $companyId, $roleClassNameId, $ownerRoleId, 'Owner', '', 1);
insert into Role_ (roleId, companyId, classNameId, classPK, name, description, type_) values ($powerUserRoleId, $companyId, $roleClassNameId, $powerUserRoleId, 'Power User', '', 1);
insert into Role_ (roleId, companyId, classNameId, classPK, name, description, type_) values ($siteMemberRoleId, $companyId, $roleClassNameId, $siteMemberRoleId, 'Site Member', '', 1);
insert into Role_ (roleId, companyId, classNameId, classPK, name, description, type_) values ($userRoleId, $companyId, $roleClassNameId, $userRoleId, 'User', '', 1);

##
## Groups
##

#set ($controlPanelGroupId = $counter.get())
#set ($guestGroupId = $counter.get())
#set ($userPersonalSiteGroupId = $counter.get())

insert into Group_ (groupId, companyId, creatorUserId, classNameId, classPK, parentGroupId, liveGroupId, name, type_, friendlyURL, site, active_) values ($controlPanelGroupId, $companyId, $defaultUserId, $groupClassNameId, $controlPanelGroupId, 0, 0, 'Control Panel', 3, '/control_panel', FALSE, TRUE);

insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $controlPanelGroupId, TRUE, FALSE, 'classic', '01', 0);
insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $controlPanelGroupId, FALSE, FALSE, 'classic', '01', 0);

insert into Group_ (groupId, companyId, creatorUserId, classNameId, classPK, parentGroupId, liveGroupId, name, type_, friendlyURL, site, active_) values ($guestGroupId, $companyId, $defaultUserId, $groupClassNameId, $guestGroupId, 0, 0, 'Guest', 1, '/guest', TRUE, TRUE);

insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $guestGroupId, TRUE, FALSE, 'classic', '01', 0);
insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $guestGroupId, FALSE, FALSE, 'classic', '01', 0);

insert into Group_ (groupId, companyId, creatorUserId, classNameId, classPK, parentGroupId, liveGroupId, name, type_, friendlyURL, site, active_) values ($userPersonalSiteGroupId, $companyId, $defaultUserId, $userPersonalSiteClassNameId, $defaultUserId, 0, 0, 'User Personal Site', 3, '/personal_site', FALSE, TRUE);

insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $userPersonalSiteGroupId, TRUE, FALSE, 'classic', '01', 0);
insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $userPersonalSiteGroupId, FALSE, FALSE, 'classic', '01', 0);

##
## Organizations
##

#set ($incOrganizationId = $counter.get())
#set ($incOrganizationUuid = $portalUUIDUtil.generate())
#set ($incGroupId = $counter.get())

#set ($incExtranetPlid = $counter.get())
#set ($incIntranetPlid = $counter.get())

insert into Organization_ (uuid_, organizationId, companyId, parentOrganizationId, name, type_, recursable, regionId, countryId, statusId, comments) values ('$incOrganizationUuid', $incOrganizationId, $companyId, 0, 'Liferay, Inc.', 'regular-organization', TRUE, 19005, 19, 12017, '');

insert into Group_ (groupId, companyId, creatorUserId, classNameId, classPK, parentGroupId, liveGroupId, name, type_, friendlyURL, site, active_) values ($incGroupId, $companyId, $defaultUserId, $organizationClassNameId, $incOrganizationId, 0, 0, '$incGroupId', 0, '/$incGroupId', TRUE, TRUE);

insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $incGroupId, TRUE, FALSE, 'classic', '01', 1);
insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $incGroupId, FALSE, FALSE, 'classic', '01', 1);

insert into Layout (uuid_, plid, groupId, companyId, privateLayout, layoutId, parentLayoutId, name, type_, typeSettings, hidden_, friendlyURL, priority) values ('$portalUUIDUtil.generate()', $incExtranetPlid, $incGroupId, $companyId, FALSE, 1, 0, '<?xml version="1.0"?>\n\n<root>\n  <name>Liferay, Inc. Extranet</name>\n</root>', 'portlet', 'layout-template-id=2_columns_ii\ncolumn-1=3,\ncolumn-2=19,', FALSE, '/$incGroupId', 0);
insert into Layout (uuid_, plid, groupId, companyId, privateLayout, layoutId, parentLayoutId, name, type_, typeSettings, hidden_, friendlyURL, priority) values ('$portalUUIDUtil.generate()', $incIntranetPlid, $incGroupId, $companyId, TRUE, 1, 0, '<?xml version="1.0"?>\n\n<root>\n  <name>Liferay, Inc. Intranet</name>\n</root>', 'portlet', 'layout-template-id=2_columns_ii\ncolumn-1=3,\ncolumn-2=19,', FALSE, '/$incGroupId', 0);

insert into LayoutFriendlyURL (uuid_, layoutFriendlyURLId, groupId, companyId, userId, userName, createDate, modifiedDate, plid, privateLayout, friendlyURL, languageId) values ('$portalUUIDUtil.generate()', $counter.get(), $incGroupId, $companyId, $defaultUserId, '', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, $incExtranetPlid, FALSE, '/$incGroupId', 'en_US');
insert into LayoutFriendlyURL (uuid_, layoutFriendlyURLId, groupId, companyId, userId, userName, createDate, modifiedDate, plid, privateLayout, friendlyURL, languageId) values ('$portalUUIDUtil.generate()', $counter.get(), $incGroupId, $companyId, $defaultUserId, '', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, $incIntranetPlid, TRUE, '/$incGroupId', 'en_US');

insert into AssetEntry (entryId, groupId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, classUuid, classTypeId, visible, startDate, endDate, publishDate, expirationDate, mimeType, title, description, summary, url, layoutUuid, height, width, priority, viewCount) VALUES ($counter.get(), $incGroupId, $companyId, $testUserId, 'Joe Bloggs', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 11, $incOrganizationId, '$incOrganizationUuid', 0, FALSE, NULL, NULL, NULL, NULL, '', 'Liferay, Inc.', '', '', '', 0, 0, 0, 0, 0);

#set ($engineeringOrganizationId = $counter.get())
#set ($engineeringOrganizationUuid = $portalUUIDUtil.generate())
#set ($engineeringGroupId = $counter.get())

insert into Organization_ (uuid_, organizationId, companyId, parentOrganizationId, name, type_, recursable, regionId, countryId, statusId, comments) values ('$engineeringOrganizationUuid', $engineeringOrganizationId, $companyId, $incOrganizationId, 'Liferay Engineering', 'regular-organization', TRUE, 19005, 19, 12017, '');

insert into Group_ (groupId, companyId, creatorUserId, classNameId, classPK, parentGroupId, liveGroupId, name, type_, friendlyURL, active_) values ($engineeringGroupId, $companyId, $defaultUserId, $organizationClassNameId, $engineeringOrganizationId, 0, 0, '$engineeringGroupId', 0, '/$engineeringGroupId', TRUE);

insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $engineeringGroupId, TRUE, FALSE, 'classic', '01', 0);
insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $engineeringGroupId, FALSE, FALSE, 'classic', '01', 0);

insert into AssetEntry (entryId, groupId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, classUuid, classTypeId, visible, startDate, endDate, publishDate, expirationDate, mimeType, title, description, summary, url, layoutUuid, height, width, priority, viewCount) VALUES ($counter.get(), $engineeringGroupId, $companyId, $testUserId, 'Joe Bloggs', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 11, $engineeringOrganizationId, '$engineeringOrganizationUuid', 0, FALSE, NULL, NULL, NULL, NULL, '', 'Liferay Engineering', '', '', '', 0, 0, 0, 0, 0);

#set ($consultingOrganizationId = $counter.get())
#set ($consultingOrganizationUuid = $portalUUIDUtil.generate())
#set ($consultingGroupId = $counter.get())

insert into Organization_ (uuid_, organizationId, companyId, parentOrganizationId, name, type_, recursable, regionId, countryId, statusId, comments) values ('$consultingOrganizationUuid', $consultingOrganizationId, $companyId, $incOrganizationId, 'Liferay Consulting', 'regular-organization', TRUE, 19005, 19, 12017, '');

insert into Group_ (groupId, companyId, creatorUserId, classNameId, classPK, parentGroupId, liveGroupId, name, type_, friendlyURL, active_) values ($consultingGroupId, $companyId, $defaultUserId, $organizationClassNameId, $consultingOrganizationId, 0, 0, '$consultingGroupId', 0, '/$consultingGroupId', TRUE);

insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $consultingGroupId, TRUE, FALSE, 'classic', '01', 0);
insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $consultingGroupId, FALSE, FALSE, 'classic', '01', 0);

insert into AssetEntry (entryId, groupId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, classUuid, classTypeId, visible, startDate, endDate, publishDate, expirationDate, mimeType, title, description, summary, url, layoutUuid, height, width, priority, viewCount) VALUES ($counter.get(), $consultingGroupId, $companyId, $testUserId, 'Joe Bloggs', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 11, $consultingOrganizationId, '$consultingOrganizationUuid', 0, FALSE, NULL, NULL, NULL, NULL, '', 'Liferay Consulting', '', '', '', 0, 0, 0, 0, 0);

#set ($supportOrganizationId = $counter.get())
#set ($supportOrganizationUuid = $portalUUIDUtil.generate())
#set ($supportGroupId = $counter.get())

insert into Organization_ (uuid_, organizationId, companyId, parentOrganizationId, name, type_, recursable, regionId, countryId, statusId, comments) values ('$supportOrganizationUuid', $supportOrganizationId, $companyId, $incOrganizationId, 'Liferay Support', 'regular-organization', TRUE, 19005, 19, 12017, '');

insert into Group_ (groupId, companyId, creatorUserId, classNameId, classPK, parentGroupId, liveGroupId, name, type_, friendlyURL, active_) values ($supportGroupId, $companyId, $defaultUserId, $organizationClassNameId, $supportOrganizationId, 0, 0, '$supportGroupId', 0, '/$supportGroupId', TRUE);

insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $supportGroupId, TRUE, FALSE, 'classic', '01', 0);
insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $supportGroupId, FALSE, FALSE, 'classic', '01', 0);

insert into AssetEntry (entryId, groupId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, classUuid, classTypeId, visible, startDate, endDate, publishDate, expirationDate, mimeType, title, description, summary, url, layoutUuid, height, width, priority, viewCount) VALUES ($counter.get(), $supportGroupId, $companyId, $testUserId, 'Joe Bloggs', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 11, $supportOrganizationId, '$supportOrganizationUuid', 0, FALSE, NULL, NULL, NULL, NULL, '', 'Liferay Support', '', '', '', 0, 0, 0, 0, 0);

#set ($salesOrganizationId = $counter.get())
#set ($salesOrganizationUuid = $portalUUIDUtil.generate())
#set ($salesGroupId = $counter.get())

insert into Organization_ (uuid_, organizationId, companyId, parentOrganizationId, name, type_, recursable, regionId, countryId, statusId, comments) values ('$salesOrganizationUuid', $salesOrganizationId, $companyId, $incOrganizationId, 'Liferay Sales', 'regular-organization', TRUE, 19005, 19, 12017, '');

insert into Group_ (groupId, companyId, creatorUserId, classNameId, classPK, parentGroupId, liveGroupId, name, type_, friendlyURL, active_) values ($salesGroupId, $companyId, $defaultUserId, $organizationClassNameId, $salesOrganizationId, 0, 0, '$salesGroupId', 0, '/$salesGroupId', TRUE);

insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $salesGroupId, TRUE, FALSE, 'classic', '01', 0);
insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $salesGroupId, FALSE, FALSE, 'classic', '01', 0);

insert into AssetEntry (entryId, groupId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, classUuid, classTypeId, visible, startDate, endDate, publishDate, expirationDate, mimeType, title, description, summary, url, layoutUuid, height, width, priority, viewCount) VALUES ($counter.get(), $salesGroupId, $companyId, $testUserId, 'Joe Bloggs', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 11, $salesOrganizationId, '$salesOrganizationUuid', 0, FALSE, NULL, NULL, NULL, NULL, '', 'Liferay Sales', '', '', '', 0, 0, 0, 0, 0);

#set ($marketingOrganizationId = $counter.get())
#set ($marketingOrganizationUuid = $portalUUIDUtil.generate())
#set ($marketingGroupId = $counter.get())

insert into Organization_ (uuid_, organizationId, companyId, parentOrganizationId, name, type_, recursable, regionId, countryId, statusId, comments) values ('$marketingOrganizationUuid', $marketingOrganizationId, $companyId, $incOrganizationId, 'Liferay Marketing', 'regular-organization', TRUE, 19005, 19, 12017, '');

insert into Group_ (groupId, companyId, creatorUserId, classNameId, classPK, parentGroupId, liveGroupId, name, type_, friendlyURL, active_) values ($marketingGroupId, $companyId, $defaultUserId, $organizationClassNameId, $marketingOrganizationId, 0, 0, '$marketingGroupId', 0, '/$marketingGroupId', TRUE);

insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $marketingGroupId, TRUE, FALSE, 'classic', '01', 0);
insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $marketingGroupId, FALSE, FALSE, 'classic', '01', 0);

insert into AssetEntry (entryId, groupId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, classUuid, classTypeId, visible, startDate, endDate, publishDate, expirationDate, mimeType, title, description, summary, url, layoutUuid, height, width, priority, viewCount) VALUES ($counter.get(), $marketingGroupId, $companyId, $testUserId, 'Joe Bloggs', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 11, $marketingOrganizationId, '$marketingOrganizationUuid', 0, FALSE, NULL, NULL, NULL, NULL, '', 'Liferay Marketing', '', '', '', 0, 0, 0, 0, 0);

##
## Locations
##

#set ($laxLocationId = $counter.get())
#set ($laxLocationUuid = $portalUUIDUtil.generate())
#set ($laxGroupId = $counter.get())

insert into Organization_ (uuid_, organizationId, companyId, parentOrganizationId, name, type_, recursable, regionId, countryId, statusId, comments) values ('$laxLocationUuid', $laxLocationId, $companyId, $incOrganizationId, 'Liferay Los Angeles', 'location', FALSE, 19005, 19, 12017, '');

insert into Group_ (groupId, companyId, creatorUserId, classNameId, classPK, parentGroupId, liveGroupId, name, type_, friendlyURL, active_) values ($laxGroupId, $companyId, $defaultUserId, $organizationClassNameId, $laxLocationId, 0, 0, '$laxGroupId', 0, '/$laxGroupId', TRUE);

insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $laxGroupId, TRUE, FALSE, 'classic', '01', 0);
insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $laxGroupId, FALSE, FALSE, 'classic', '01', 0);

insert into AssetEntry (entryId, groupId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, classUuid, classTypeId, visible, startDate, endDate, publishDate, expirationDate, mimeType, title, description, summary, url, layoutUuid, height, width, priority, viewCount) VALUES ($counter.get(), $laxGroupId, $companyId, $testUserId, 'Joe Bloggs', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 11, $laxLocationId, '$laxLocationUuid', 0, FALSE, NULL, NULL, NULL, NULL, '', 'Liferay Los Angeles', '', '', '', 0, 0, 0, 0, 0);

#set ($sfoLocationId = $counter.get())
#set ($sfoLocationUuid = $portalUUIDUtil.generate())
#set ($sfoGroupId = $counter.get())

insert into Organization_ (uuid_, organizationId, companyId, parentOrganizationId, name, type_, recursable, regionId, countryId, statusId, comments) values ('$sfoLocationUuid', $sfoLocationId, $companyId, $incOrganizationId, 'Liferay San Francisco', 'location', FALSE, 19005, 19, 12017, '');

insert into Group_ (groupId, companyId, creatorUserId, classNameId, classPK, parentGroupId, liveGroupId, name, type_, friendlyURL, active_) values ($sfoGroupId, $companyId, $defaultUserId, $organizationClassNameId, $sfoLocationId, 0, 0, '$sfoGroupId', 0, '/$sfoGroupId', TRUE);

insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $sfoGroupId, TRUE, FALSE, 'classic', '01', 0);
insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $sfoGroupId, FALSE, FALSE, 'classic', '01', 0);

insert into AssetEntry (entryId, groupId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, classUuid, classTypeId, visible, startDate, endDate, publishDate, expirationDate, mimeType, title, description, summary, url, layoutUuid, height, width, priority, viewCount) VALUES ($counter.get(), $sfoGroupId, $companyId, $testUserId, 'Joe Bloggs', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 11, $sfoLocationId, '$sfoLocationUuid', 0, FALSE, NULL, NULL, NULL, NULL, '', 'Liferay San Francisco', '', '', '', 0, 0, 0, 0, 0);

#set ($ordLocationId = $counter.get())
#set ($ordLocationUuid = $portalUUIDUtil.generate())
#set ($ordGroupId = $counter.get())

insert into Organization_ (uuid_, organizationId, companyId, parentOrganizationId, name, type_, recursable, regionId, countryId, statusId, comments) values ('$ordLocationUuid', $ordLocationId, $companyId, $incOrganizationId, 'Liferay Chicago', 'location', FALSE, 19014, 19, 12017, '');

insert into Group_ (groupId, companyId, creatorUserId, classNameId, classPK, parentGroupId, liveGroupId, name, type_, friendlyURL, active_) values ($ordGroupId, $companyId, $defaultUserId, $organizationClassNameId, $ordLocationId, 0, 0, '$ordGroupId', 0, '/$ordGroupId', TRUE);

insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $ordGroupId, TRUE, FALSE, 'classic', '01', 0);
insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $ordGroupId, FALSE, FALSE, 'classic', '01', 0);

insert into AssetEntry (entryId, groupId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, classUuid, classTypeId, visible, startDate, endDate, publishDate, expirationDate, mimeType, title, description, summary, url, layoutUuid, height, width, priority, viewCount) VALUES ($counter.get(), $ordGroupId, $companyId, $testUserId, 'Joe Bloggs', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 11, $ordLocationId, '$ordLocationUuid', 0, FALSE, NULL, NULL, NULL, NULL, '', 'Liferay Chicago', '', '', '', 0, 0, 0, 0, 0);

#set ($nycLocationId = $counter.get())
#set ($nycLocationUuid = $portalUUIDUtil.generate())
#set ($nycGroupId = $counter.get())

insert into Organization_ (uuid_, organizationId, companyId, parentOrganizationId, name, type_, recursable, regionId, countryId, statusId, comments) values ('$nycLocationUuid', $nycLocationId, $companyId, $incOrganizationId, 'Liferay New York', 'location', FALSE, 19033, 19, 12017, '');

insert into Group_ (groupId, companyId, creatorUserId, classNameId, classPK, parentGroupId, liveGroupId, name, type_, friendlyURL, active_) values ($nycGroupId, $companyId, $defaultUserId, $organizationClassNameId, $nycLocationId, 0, 0, '$nycGroupId', 0, '/$nycGroupId', TRUE);

insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $nycGroupId, TRUE, FALSE, 'classic', '01', 0);
insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $nycGroupId, FALSE, FALSE, 'classic', '01', 0);

insert into AssetEntry (entryId, groupId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, classUuid, classTypeId, visible, startDate, endDate, publishDate, expirationDate, mimeType, title, description, summary, url, layoutUuid, height, width, priority, viewCount) VALUES ($counter.get(), $nycGroupId, $companyId, $testUserId, 'Joe Bloggs', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 11, $nycLocationId, '$nycLocationUuid', 0, FALSE, NULL, NULL, NULL, NULL, '', 'Liferay New York', '', '', '', 0, 0, 0, 0, 0);

#set ($gruLocationId = $counter.get())
#set ($gruLocationUuid = $portalUUIDUtil.generate())
#set ($gruGroupId = $counter.get())

insert into Organization_ (uuid_, organizationId, companyId, parentOrganizationId, name, type_, recursable, regionId, countryId, statusId, comments) values ('$gruLocationUuid', $gruLocationId, $companyId, $incOrganizationId, 'Liferay Sao Paulo', 'location', FALSE, 0, 48, 12017, '');

insert into Group_ (groupId, companyId, creatorUserId, classNameId, classPK, parentGroupId, liveGroupId, name, type_, friendlyURL, active_) values ($gruGroupId, $companyId, $defaultUserId, $organizationClassNameId, $gruLocationId, 0, 0, '$gruGroupId', 0, '/$gruGroupId', TRUE);

insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $gruGroupId, TRUE, FALSE, 'classic', '01', 0);
insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $gruGroupId, FALSE, FALSE, 'classic', '01', 0);

insert into AssetEntry (entryId, groupId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, classUuid, classTypeId, visible, startDate, endDate, publishDate, expirationDate, mimeType, title, description, summary, url, layoutUuid, height, width, priority, viewCount) VALUES ($counter.get(), $gruGroupId, $companyId, $testUserId, 'Joe Bloggs', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 11, $gruLocationId, '$gruLocationUuid', 0, FALSE, NULL, NULL, NULL, NULL, '', 'Liferay Sao Paulo', '', '', '', 0, 0, 0, 0, 0);

#set ($fraLocationId = $counter.get())
#set ($fraLocationUuid = $portalUUIDUtil.generate())
#set ($fraGroupId = $counter.get())

insert into Organization_ (uuid_, organizationId, companyId, parentOrganizationId, name, type_, recursable, regionId, countryId, statusId, comments) values ('$fraLocationUuid', $fraLocationId, $companyId, $incOrganizationId, 'Liferay Frankfurt', 'location', FALSE, 0, 4, 12017, '');

insert into Group_ (groupId, companyId, creatorUserId, classNameId, classPK, parentGroupId, liveGroupId, name, type_, friendlyURL, active_) values ($fraGroupId, $companyId, $defaultUserId, $organizationClassNameId, $fraLocationId, 0, 0, '$fraGroupId', 0, '/$fraGroupId', TRUE);

insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $fraGroupId, TRUE, FALSE, 'classic', '01', 0);
insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $fraGroupId, FALSE, FALSE, 'classic', '01', 0);

insert into AssetEntry (entryId, groupId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, classUuid, classTypeId, visible, startDate, endDate, publishDate, expirationDate, mimeType, title, description, summary, url, layoutUuid, height, width, priority, viewCount) VALUES ($counter.get(), $fraGroupId, $companyId, $testUserId, 'Joe Bloggs', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 11, $fraLocationId, '$fraLocationUuid', 0, FALSE, NULL, NULL, NULL, NULL, '', 'Liferay Frankfurt', '', '', '', 0, 0, 0, 0, 0);

#set ($madLocationId = $counter.get())
#set ($madLocationUuid = $portalUUIDUtil.generate())
#set ($madGroupId = $counter.get())

insert into Organization_ (uuid_, organizationId, companyId, parentOrganizationId, name, type_, recursable, regionId, countryId, statusId, comments) values ('$madLocationUuid', $madLocationId, $companyId, $incOrganizationId, 'Liferay Madrid', 'location', FALSE, 0, 15, 12017, '');

insert into Group_ (groupId, companyId, creatorUserId, classNameId, classPK, parentGroupId, liveGroupId, name, type_, friendlyURL, active_) values ($madGroupId, $companyId, $defaultUserId, $organizationClassNameId, $madLocationId, 0, 0, '$madGroupId', 0, '/$madGroupId', TRUE);

insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $madGroupId, TRUE, FALSE, 'classic', '01', 0);
insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $madGroupId, FALSE, FALSE, 'classic', '01', 0);

insert into AssetEntry (entryId, groupId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, classUuid, classTypeId, visible, startDate, endDate, publishDate, expirationDate, mimeType, title, description, summary, url, layoutUuid, height, width, priority, viewCount) VALUES ($counter.get(), $madGroupId, $companyId, $testUserId, 'Joe Bloggs', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 11, $madLocationId, '$madLocationUuid', 0, FALSE, NULL, NULL, NULL, NULL, '', 'Liferay Madrid', '', '', '', 0, 0, 0, 0, 0);

#set ($dlcLocationId = $counter.get())
#set ($dlcLocationUuid = $portalUUIDUtil.generate())
#set ($dlcGroupId = $counter.get())

insert into Organization_ (uuid_, organizationId, companyId, parentOrganizationId, name, type_, recursable, regionId, countryId, statusId, comments) values ('$dlcLocationUuid', $dlcLocationId, $companyId, $incOrganizationId, 'Liferay Dalian', 'location', FALSE, 0, 2, 12017, '');

insert into Group_ (groupId, companyId, creatorUserId, classNameId, classPK, parentGroupId, liveGroupId, name, type_, friendlyURL, active_) values ($dlcGroupId, $companyId, $defaultUserId, $organizationClassNameId, $dlcLocationId, 0, 0, '$dlcGroupId', 0, '/$dlcGroupId', TRUE);

insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $dlcGroupId, TRUE, FALSE, 'classic', '01', 0);
insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $dlcGroupId, FALSE, FALSE, 'classic', '01', 0);

insert into AssetEntry (entryId, groupId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, classUuid, classTypeId, visible, startDate, endDate, publishDate, expirationDate, mimeType, title, description, summary, url, layoutUuid, height, width, priority, viewCount) VALUES ($counter.get(), $dlcGroupId, $companyId, $testUserId, 'Joe Bloggs', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 11, $dlcLocationId, '$dlcLocationUuid', 0, FALSE, NULL, NULL, NULL, NULL, '', 'Liferay Dalian', '', '', '', 0, 0, 0, 0, 0);

#set ($hkgLocationId = $counter.get())
#set ($hkgLocationUuid = $portalUUIDUtil.generate())
#set ($hkgGroupId = $counter.get())

insert into Organization_ (uuid_, organizationId, companyId, parentOrganizationId, name, type_, recursable, regionId, countryId, statusId, comments) values ('$hkgLocationUuid', $hkgLocationId, $companyId, $incOrganizationId, 'Liferay Hong Kong', 'location', FALSE, 0, 2, 12017, '');

insert into Group_ (groupId, companyId, creatorUserId, classNameId, classPK, parentGroupId, liveGroupId, name, type_, friendlyURL, active_) values ($hkgGroupId, $companyId, $defaultUserId, $organizationClassNameId, $hkgLocationId, 0, 0, '$hkgGroupId', 0, '/$hkgGroupId', TRUE);

insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $hkgGroupId, TRUE, FALSE, 'classic', '01', 0);
insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $hkgGroupId, FALSE, FALSE, 'classic', '01', 0);

insert into AssetEntry (entryId, groupId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, classUuid, classTypeId, visible, startDate, endDate, publishDate, expirationDate, mimeType, title, description, summary, url, layoutUuid, height, width, priority, viewCount) VALUES ($counter.get(), $hkgGroupId, $companyId, $testUserId, 'Joe Bloggs', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 11, $hkgLocationId, '$hkgLocationUuid', 0, FALSE, NULL, NULL, NULL, NULL, '', 'Liferay Hong Kong', '', '', '', 0, 0, 0, 0, 0);

#set ($kulLocationId = $counter.get())
#set ($kulLocationUuid = $portalUUIDUtil.generate())
#set ($kulGroupId = $counter.get())

insert into Organization_ (uuid_, organizationId, companyId, parentOrganizationId, name, type_, recursable, regionId, countryId, statusId, comments) values ('$kulLocationUuid', $kulLocationId, $companyId, $incOrganizationId, 'Liferay Kuala Lumpur', 'location', FALSE, 0, 135, 12017, '');

insert into Group_ (groupId, companyId, creatorUserId, classNameId, classPK, parentGroupId, liveGroupId, name, type_, friendlyURL, active_) values ($kulGroupId, $companyId, $defaultUserId, $organizationClassNameId, $kulLocationId, 0, 0, '$kulGroupId', 0, '/$kulGroupId', TRUE);

insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $kulGroupId, TRUE, FALSE, 'classic', '01', 0);
insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $kulGroupId, FALSE, FALSE, 'classic', '01', 0);

insert into AssetEntry (entryId, groupId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, classUuid, classTypeId, visible, startDate, endDate, publishDate, expirationDate, mimeType, title, description, summary, url, layoutUuid, height, width, priority, viewCount) VALUES ($counter.get(), $kulGroupId, $companyId, $testUserId, 'Joe Bloggs', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 11, $kulLocationId, '$kulLocationUuid', 0, FALSE, NULL, NULL, NULL, NULL, '', 'Liferay Kuala Lumpur', '', '', '', 0, 0, 0, 0, 0);

##
## User (default)
##

insert into User_ (uuid_, userId, companyId, createDate, modifiedDate, defaultUser, contactId, password_, passwordEncrypted, passwordReset, screenName, emailAddress, greeting, firstName, middleName, lastName, loginDate, failedLoginAttempts, agreedToTermsOfUse, status) values ('$portalUUIDUtil.generate()', $defaultUserId, $companyId, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, TRUE, $defaultContactId, 'password', FALSE, FALSE, '$defaultUserId', 'default@liferay.com', 'Welcome!', '', '', '', CURRENT_TIMESTAMP, 0, TRUE, 0);

insert into Contact_ (contactId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, accountId, parentContactId, emailAddress, firstName, middleName, lastName, male, birthday) values ($defaultContactId, $companyId, $defaultUserId, '', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, $userClassNameId, $defaultUserId, $accountId, 0, 'default@liferay.com', '', '', '', TRUE, '01/01/1970');

##
## User (test@liferay.com)
##

insert into User_ (uuid_, userId, companyId, createDate, modifiedDate, defaultUser, contactId, password_, passwordEncrypted, passwordReset, screenName, emailAddress, greeting, firstName, middleName, lastName, loginDate, lastLoginDate, failedLoginAttempts, agreedToTermsOfUse, emailAddressVerified, status) values ('$portalUUIDUtil.generate()', $testUserId, $companyId, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, FALSE, $testContactId, 'test', FALSE, FALSE, 'joebloggs', 'test@liferay.com', 'Welcome Joe Bloggs!', 'Joe', '', 'Bloggs', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 0, FALSE, TRUE, 0);

insert into Contact_ (contactId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, accountId, parentContactId, emailAddress, firstName, middleName, lastName, male, birthday) values ($testContactId, $companyId, $testUserId, 'Joe Bloggs', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, $userClassNameId, $testUserId, $accountId, 0, 'test@liferay.com', 'Joe', '', 'Bloggs', TRUE, '01/01/1970');

#set ($testGroupId = $counter.get())

#set ($testHomePlid = $counter.get())
#set ($testPluginsPlid = $counter.get())

insert into Group_ (groupId, companyId, creatorUserId, classNameId, classPK, parentGroupId, liveGroupId, name, type_, friendlyURL, active_) values ($testGroupId, $companyId, $testUserId, $userClassNameId, $testUserId, 0, 0, '$testGroupId', 0, '/joebloggs', TRUE);

insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $testGroupId, TRUE, FALSE, 'classic', '01', 2);
insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $testGroupId, FALSE, FALSE, 'classic', '01', 0);

insert into Layout (uuid_, plid, groupId, companyId, privateLayout, layoutId, parentLayoutId, name, type_, typeSettings, hidden_, friendlyURL, priority) values ('$portalUUIDUtil.generate()', $testHomePlid, $testGroupId, $companyId, TRUE, 1, 0, '<?xml version="1.0"?>\n\n<root>\n  <name>Home</name>\n</root>', 'portlet', 'column-1=71_INSTANCE_OY0d,82,23,61,\ncolumn-2=29,19,\nlayout-template-id=2_columns_ii\n', FALSE, '/home', 0);
insert into Layout (uuid_, plid, groupId, companyId, privateLayout, layoutId, parentLayoutId, name, type_, typeSettings, hidden_, friendlyURL, priority) values ('$portalUUIDUtil.generate()', $testPluginsPlid, $testGroupId, $companyId, TRUE, 2, 0, '<?xml version="1.0"?>\n\n<root>\n  <name>Plugins</name>\n</root>', 'portlet', 'column-1=\ncolumn-2=111,\nlayout-template-id=2_columns_ii\n', FALSE, '/plugins', 1);

insert into LayoutFriendlyURL (uuid_, layoutFriendlyURLId, groupId, companyId, userId, userName, createDate, modifiedDate, plid, privateLayout, friendlyURL, languageId) values ('$portalUUIDUtil.generate()', $counter.get(), $testGroupId, $companyId, $defaultUserId, '', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, $testHomePlid, TRUE, '/home', 'en_US');
insert into LayoutFriendlyURL (uuid_, layoutFriendlyURLId, groupId, companyId, userId, userName, createDate, modifiedDate, plid, privateLayout, friendlyURL, languageId) values ('$portalUUIDUtil.generate()', $counter.get(), $testGroupId, $companyId, $defaultUserId, '', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, $testPluginsPlid, TRUE, '/plugins', 'en_US');

insert into Users_Groups (groupId, userId) values ($guestGroupId, $testUserId);

insert into Users_Orgs (organizationId, userId) values ($incOrganizationId, $testUserId);
insert into Users_Orgs (organizationId, userId) values ($laxLocationId, $testUserId);

insert into Users_Roles (roleId, userId) values ($administratorRoleId, $testUserId);
insert into Users_Roles (roleId, userId) values ($powerUserRoleId, $testUserId);
insert into Users_Roles (roleId, userId) values ($userRoleId, $testUserId);

insert into AssetEntry (entryId, groupId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, classUuid, classTypeId, visible, startDate, endDate, publishDate, expirationDate, mimeType, title, description, summary, url, layoutUuid, height, width, priority, viewCount) VALUES ($counter.get(), $testGroupId, $companyId, $testUserId, 'Joe Bloggs', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 13, $testUserId, '', 0, FALSE, NULL, NULL, NULL, NULL, '', 'Joe Bloggs', '', '', '', 0, 0, 0, 0, 0);

##
## Batch Users
##

#foreach($count in [100..199])
	#set ($batchUserId = $counter.get())
	#set ($batchContactId = $counter.get())
	#set ($batchGroupId = $counter.get())
	#set ($cur = $count - 99)

	insert into User_ (uuid_, userId, companyId, createDate, modifiedDate, defaultUser, contactId, password_, passwordEncrypted, passwordReset, screenName, emailAddress, greeting, firstName, middleName, lastName, loginDate, failedLoginAttempts, agreedToTermsOfUse, status) values ('$portalUUIDUtil.generate()', $batchUserId, $companyId, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, FALSE, $batchContactId, 'test', FALSE, FALSE, 'lax$cur', 'test.lax.$cur@liferay.com', 'Welcome Test LAX $cur!', 'Test', '', 'LAX $cur', CURRENT_TIMESTAMP, 0, TRUE, 0);

	insert into Contact_ (contactId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, accountId, parentContactId, emailAddress, firstName, middleName, lastName, male, birthday) values ($batchContactId, $companyId, $testUserId, 'Test LAX $cur', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, $userClassNameId, $batchUserId, $accountId, 0, 'test.lax.$cur@liferay.com', 'Test', '', 'LAX $cur', TRUE, '01/01/1970');

	insert into Group_ (groupId, companyId, creatorUserId, classNameId, classPK, parentGroupId, liveGroupId, name, type_, friendlyURL, active_) values ($batchGroupId, $companyId, $batchUserId, $userClassNameId, $batchUserId, 0, 0, '$batchGroupId', 0, '/lax$cur', TRUE);

	insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $batchGroupId, TRUE, FALSE, 'classic', '01', 0);
	insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $batchGroupId, FALSE, FALSE, 'classic', '01', 0);

	insert into Users_Groups (groupId, userId) values ($guestGroupId, $batchUserId);

	insert into Users_Orgs (organizationId, userId) values ($incOrganizationId, $batchUserId);
	insert into Users_Orgs (organizationId, userId) values ($laxLocationId, $batchUserId);

	insert into Users_Roles (roleId, userId) values ($userRoleId, $batchUserId);

	insert into AssetEntry (entryId, groupId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, classUuid, classTypeId, visible, startDate, endDate, publishDate, expirationDate, mimeType, title, description, summary, url, layoutUuid, height, width, priority, viewCount) VALUES ($counter.get(), $batchGroupId, $companyId, $testUserId, 'Joe Bloggs', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 13, $batchUserId, '', 0, FALSE, NULL, NULL, NULL, NULL, '', 'Test LAX $cur', '', '', '', 0, 0, 0, 0, 0);
#end

#foreach($count in [200..209])
	#set ($batchUserId = $counter.get())
	#set ($batchContactId = $counter.get())
	#set ($batchGroupId = $counter.get())
	#set ($cur = $count - 199)

	insert into User_ (uuid_, userId, companyId, createDate, modifiedDate, defaultUser, contactId, password_, passwordEncrypted, passwordReset, screenName, emailAddress, greeting, firstName, middleName, lastName, loginDate, failedLoginAttempts, agreedToTermsOfUse, status) values ('$portalUUIDUtil.generate()', $batchUserId, $companyId, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, FALSE, $batchContactId, 'test', FALSE, FALSE, 'sfo$cur', 'test.sfo.$cur@liferay.com', 'Welcome Test SFO $cur!', 'Test', '', 'SFO $cur', CURRENT_TIMESTAMP, 0, TRUE, 0);

	insert into Contact_ (contactId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, accountId, parentContactId, emailAddress, firstName, middleName, lastName, male, birthday) values ($batchContactId, $companyId, $testUserId, 'Test SFO $cur', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, $userClassNameId, $batchUserId, $accountId, 0, 'test.sfo.$cur@liferay.com', 'Test', '', 'SFO $cur', TRUE, '01/01/1970');

	insert into Group_ (groupId, companyId, creatorUserId, classNameId, classPK, parentGroupId, liveGroupId, name, type_, friendlyURL, active_) values ($batchGroupId, $companyId, $batchUserId, $userClassNameId, $batchUserId, 0, 0, '$batchGroupId', 0, '/sfo$cur', TRUE);

	insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $batchGroupId, TRUE, FALSE, 'classic', '01', 0);
	insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $batchGroupId, FALSE, FALSE, 'classic', '01', 0);

	insert into Users_Groups (groupId, userId) values ($guestGroupId, $batchUserId);

	insert into Users_Orgs (organizationId, userId) values ($incOrganizationId, $batchUserId);
	insert into Users_Orgs (organizationId, userId) values ($sfoLocationId, $batchUserId);

	insert into Users_Roles (roleId, userId) values ($userRoleId, $batchUserId);

	insert into AssetEntry (entryId, groupId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, classUuid, classTypeId, visible, startDate, endDate, publishDate, expirationDate, mimeType, title, description, summary, url, layoutUuid, height, width, priority, viewCount) VALUES ($counter.get(), $batchGroupId, $companyId, $testUserId, 'Joe Bloggs', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 13, $batchUserId, '', 0, FALSE, NULL, NULL, NULL, NULL, '', 'Test SFO $cur', '', '', '', 0, 0, 0, 0, 0);
#end

#foreach($count in [300..309])
	#set ($batchUserId = $counter.get())
	#set ($batchContactId = $counter.get())
	#set ($batchGroupId = $counter.get())
	#set ($cur = $count - 299)

	insert into User_ (uuid_, userId, companyId, createDate, modifiedDate, defaultUser, contactId, password_, passwordEncrypted, passwordReset, screenName, emailAddress, greeting, firstName, middleName, lastName, loginDate, failedLoginAttempts, agreedToTermsOfUse, status) values ('$portalUUIDUtil.generate()', $batchUserId, $companyId, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, FALSE, $batchContactId, 'test', FALSE, FALSE, 'ord$cur', 'test.ord.$cur@liferay.com', 'Welcome Test ORD $cur!', 'Test', '', 'ORD $cur', CURRENT_TIMESTAMP, 0, TRUE, 0);

	insert into Contact_ (contactId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, accountId, parentContactId, emailAddress, firstName, middleName, lastName, male, birthday) values ($batchContactId, $companyId, $testUserId, 'Test ORD $cur', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, $userClassNameId, $batchUserId, $accountId, 0, 'test.ord.$cur@liferay.com', 'Test', '', 'ORD $cur', TRUE, '01/01/1970');

	insert into Group_ (groupId, companyId, creatorUserId, classNameId, classPK, parentGroupId, liveGroupId, name, type_, friendlyURL, active_) values ($batchGroupId, $companyId, $batchUserId, $userClassNameId, $batchUserId, 0, 0, '$batchGroupId', 0, '/ord$cur', TRUE);

	insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $batchGroupId, TRUE, FALSE, 'classic', '01', 0);
	insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $batchGroupId, FALSE, FALSE, 'classic', '01', 0);

	insert into Users_Groups (groupId, userId) values ($guestGroupId, $batchUserId);

	insert into Users_Orgs (organizationId, userId) values ($incOrganizationId, $batchUserId);
	insert into Users_Orgs (organizationId, userId) values ($ordLocationId, $batchUserId);

	insert into Users_Roles (roleId, userId) values ($userRoleId, $batchUserId);

	insert into AssetEntry (entryId, groupId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, classUuid, classTypeId, visible, startDate, endDate, publishDate, expirationDate, mimeType, title, description, summary, url, layoutUuid, height, width, priority, viewCount) VALUES ($counter.get(), $batchGroupId, $companyId, $testUserId, 'Joe Bloggs', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 13, $batchUserId, '', 0, FALSE, NULL, NULL, NULL, NULL, '', 'Test ORD $cur', '', '', '', 0, 0, 0, 0, 0);
#end

#foreach($count in [400..409])
	#set ($batchUserId = $counter.get())
	#set ($batchContactId = $counter.get())
	#set ($batchGroupId = $counter.get())
	#set ($cur = $count - 399)

	insert into User_ (uuid_, userId, companyId, createDate, modifiedDate, defaultUser, contactId, password_, passwordEncrypted, passwordReset, screenName, emailAddress, greeting, firstName, middleName, lastName, loginDate, failedLoginAttempts, agreedToTermsOfUse, status) values ('$portalUUIDUtil.generate()', $batchUserId, $companyId, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, FALSE, $batchContactId, 'test', FALSE, FALSE, 'nyc$cur', 'test.nyc.$cur@liferay.com', 'Welcome Test NYC $cur!', 'Test', '', 'NYC $cur', CURRENT_TIMESTAMP, 0, TRUE, 0);

	insert into Contact_ (contactId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, accountId, parentContactId, emailAddress, firstName, middleName, lastName, male, birthday) values ($batchContactId, $companyId, $testUserId, 'Test NYC $cur', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, $userClassNameId, $batchUserId, $accountId, 0, 'test.nyc.$cur@liferay.com', 'Test', '', 'NYC $cur', TRUE, '01/01/1970');

	insert into Group_ (groupId, companyId, creatorUserId, classNameId, classPK, parentGroupId, liveGroupId, name, type_, friendlyURL, active_) values ($batchGroupId, $companyId, $batchUserId, $userClassNameId, $batchUserId, 0, 0, '$batchGroupId', 0, '/nyc$cur', TRUE);

	insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $batchGroupId, TRUE, FALSE, 'classic', '01', 0);
	insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $batchGroupId, FALSE, FALSE, 'classic', '01', 0);

	insert into Users_Groups (groupId, userId) values ($guestGroupId, $batchUserId);

	insert into Users_Orgs (organizationId, userId) values ($incOrganizationId, $batchUserId);
	insert into Users_Orgs (organizationId, userId) values ($nycLocationId, $batchUserId);

	insert into Users_Roles (roleId, userId) values ($userRoleId, $batchUserId);

	insert into AssetEntry (entryId, groupId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, classUuid, classTypeId, visible, startDate, endDate, publishDate, expirationDate, mimeType, title, description, summary, url, layoutUuid, height, width, priority, viewCount) VALUES ($counter.get(), $batchGroupId, $companyId, $testUserId, 'Joe Bloggs', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 13, $batchUserId, '', 0, FALSE, NULL, NULL, NULL, NULL, '', 'Test NYC $cur', '', '', '', 0, 0, 0, 0, 0);
#end

#foreach($count in [500..509])
	#set ($batchUserId = $counter.get())
	#set ($batchContactId = $counter.get())
	#set ($batchGroupId = $counter.get())
	#set ($cur = $count - 499)

	insert into User_ (uuid_, userId, companyId, createDate, modifiedDate, defaultUser, contactId, password_, passwordEncrypted, passwordReset, screenName, emailAddress, greeting, firstName, middleName, lastName, loginDate, failedLoginAttempts, agreedToTermsOfUse, status) values ('$portalUUIDUtil.generate()', $batchUserId, $companyId, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, FALSE, $batchContactId, 'test', FALSE, FALSE, 'gru$cur', 'test.gru.$cur@liferay.com', 'Welcome Test GRU $cur!', 'Test', '', 'GRU $cur', CURRENT_TIMESTAMP, 0, TRUE, 0);

	insert into Contact_ (contactId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, accountId, parentContactId, emailAddress, firstName, middleName, lastName, male, birthday) values ($batchContactId, $companyId, $testUserId, 'Test GRU $cur', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, $userClassNameId, $batchUserId, $accountId, 0, 'test.gru.$cur@liferay.com', 'Test', '', 'GRU $cur', TRUE, '01/01/1970');

	insert into Group_ (groupId, companyId, creatorUserId, classNameId, classPK, parentGroupId, liveGroupId, name, type_, friendlyURL, active_) values ($batchGroupId, $companyId, $batchUserId, $userClassNameId, $batchUserId, 0, 0, '$batchGroupId', 0, '/gru$cur', TRUE);

	insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $batchGroupId, TRUE, FALSE, 'classic', '01', 0);
	insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $batchGroupId, FALSE, FALSE, 'classic', '01', 0);

	insert into Users_Groups (groupId, userId) values ($guestGroupId, $batchUserId);

	insert into Users_Orgs (organizationId, userId) values ($incOrganizationId, $batchUserId);
	insert into Users_Orgs (organizationId, userId) values ($gruLocationId, $batchUserId);

	insert into Users_Roles (roleId, userId) values ($userRoleId, $batchUserId);

	insert into AssetEntry (entryId, groupId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, classUuid, classTypeId, visible, startDate, endDate, publishDate, expirationDate, mimeType, title, description, summary, url, layoutUuid, height, width, priority, viewCount) VALUES ($counter.get(), $batchGroupId, $companyId, $testUserId, 'Joe Bloggs', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 13, $batchUserId, '', 0, FALSE, NULL, NULL, NULL, NULL, '', 'Test GRU $cur', '', '', '', 0, 0, 0, 0, 0);
#end

#foreach($count in [600..609])
	#set ($batchUserId = $counter.get())
	#set ($batchContactId = $counter.get())
	#set ($batchGroupId = $counter.get())
	#set ($cur = $count - 599)

	insert into User_ (uuid_, userId, companyId, createDate, modifiedDate, defaultUser, contactId, password_, passwordEncrypted, passwordReset, screenName, emailAddress, greeting, firstName, middleName, lastName, loginDate, failedLoginAttempts, agreedToTermsOfUse, status) values ('$portalUUIDUtil.generate()', $batchUserId, $companyId, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, FALSE, $batchContactId, 'test', FALSE, FALSE, 'fra$cur', 'test.fra.$cur@liferay.com', 'Welcome Test FRA $cur!', 'Test', '', 'FRA $cur', CURRENT_TIMESTAMP, 0, TRUE, 0);

	insert into Contact_ (contactId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, accountId, parentContactId, emailAddress, firstName, middleName, lastName, male, birthday) values ($batchContactId, $companyId, $testUserId, 'Test FRA $cur', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, $userClassNameId, $batchUserId, $accountId, 0, 'test.fra.$cur@liferay.com', 'Test', '', 'FRA $cur', TRUE, '01/01/1970');

	insert into Group_ (groupId, companyId, creatorUserId, classNameId, classPK, parentGroupId, liveGroupId, name, type_, friendlyURL, active_) values ($batchGroupId, $companyId, $batchUserId, $userClassNameId, $batchUserId, 0, 0, '$batchGroupId', 0, '/fra$cur', TRUE);

	insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $batchGroupId, TRUE, FALSE, 'classic', '01', 0);
	insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $batchGroupId, FALSE, FALSE, 'classic', '01', 0);

	insert into Users_Groups (groupId, userId) values ($guestGroupId, $batchUserId);

	insert into Users_Orgs (organizationId, userId) values ($incOrganizationId, $batchUserId);
	insert into Users_Orgs (organizationId, userId) values ($fraLocationId, $batchUserId);

	insert into Users_Roles (roleId, userId) values ($userRoleId, $batchUserId);

	insert into AssetEntry (entryId, groupId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, classUuid, classTypeId, visible, startDate, endDate, publishDate, expirationDate, mimeType, title, description, summary, url, layoutUuid, height, width, priority, viewCount) VALUES ($counter.get(), $batchGroupId, $companyId, $testUserId, 'Joe Bloggs', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 13, $batchUserId, '', 0, FALSE, NULL, NULL, NULL, NULL, '', 'Test FRA $cur', '', '', '', 0, 0, 0, 0, 0);
#end

#foreach($count in [700..709])
	#set ($batchUserId = $counter.get())
	#set ($batchContactId = $counter.get())
	#set ($batchGroupId = $counter.get())
	#set ($cur = $count - 699)

	insert into User_ (uuid_, userId, companyId, createDate, modifiedDate, defaultUser, contactId, password_, passwordEncrypted, passwordReset, screenName, emailAddress, greeting, firstName, middleName, lastName, loginDate, failedLoginAttempts, agreedToTermsOfUse, status) values ('$portalUUIDUtil.generate()', $batchUserId, $companyId, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, FALSE, $batchContactId, 'test', FALSE, FALSE, 'mad$cur', 'test.mad.$cur@liferay.com', 'Welcome Test MAD $cur!', 'Test', '', 'MAD $cur', CURRENT_TIMESTAMP, 0, TRUE, 0);

	insert into Contact_ (contactId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, accountId, parentContactId, emailAddress, firstName, middleName, lastName, male, birthday) values ($batchContactId, $companyId, $testUserId, 'Test MAD $cur', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, $userClassNameId, $batchUserId, $accountId, 0, 'test.mad.$cur@liferay.com', 'Test', '', 'MAD $cur', TRUE, '01/01/1970');

	insert into Group_ (groupId, companyId, creatorUserId, classNameId, classPK, parentGroupId, liveGroupId, name, type_, friendlyURL, active_) values ($batchGroupId, $companyId, $batchUserId, $userClassNameId, $batchUserId, 0, 0, '$batchGroupId', 0, '/mad$cur', TRUE);

	insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $batchGroupId, TRUE, FALSE, 'classic', '01', 0);
	insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $batchGroupId, FALSE, FALSE, 'classic', '01', 0);

	insert into Users_Groups (groupId, userId) values ($guestGroupId, $batchUserId);

	insert into Users_Orgs (organizationId, userId) values ($incOrganizationId, $batchUserId);
	insert into Users_Orgs (organizationId, userId) values ($madLocationId, $batchUserId);

	insert into Users_Roles (roleId, userId) values ($userRoleId, $batchUserId);

	insert into AssetEntry (entryId, groupId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, classUuid, classTypeId, visible, startDate, endDate, publishDate, expirationDate, mimeType, title, description, summary, url, layoutUuid, height, width, priority, viewCount) VALUES ($counter.get(), $batchGroupId, $companyId, $testUserId, 'Joe Bloggs', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 13, $batchUserId, '', 0, FALSE, NULL, NULL, NULL, NULL, '', 'Test MAD $cur', '', '', '', 0, 0, 0, 0, 0);
#end

#foreach($count in [800..809])
	#set ($batchUserId = $counter.get())
	#set ($batchContactId = $counter.get())
	#set ($batchGroupId = $counter.get())
	#set ($cur = $count - 799)

	insert into User_ (uuid_, userId, companyId, createDate, modifiedDate, defaultUser, contactId, password_, passwordEncrypted, passwordReset, screenName, emailAddress, greeting, firstName, middleName, lastName, loginDate, failedLoginAttempts, agreedToTermsOfUse, status) values ('$portalUUIDUtil.generate()', $batchUserId, $companyId, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, FALSE, $batchContactId, 'test', FALSE, FALSE, 'dlc$cur', 'test.dlc.$cur@liferay.com', 'Welcome Test DLC $cur!', 'Test', '', 'DLC $cur', CURRENT_TIMESTAMP, 0, TRUE, 0);

	insert into Contact_ (contactId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, accountId, parentContactId, emailAddress, firstName, middleName, lastName, male, birthday) values ($batchContactId, $companyId, $testUserId, 'Test DLC $cur', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, $userClassNameId, $batchUserId, $accountId, 0, 'test.dlc.$cur@liferay.com', 'Test', '', 'DLC $cur', TRUE, '01/01/1970');

	insert into Group_ (groupId, companyId, creatorUserId, classNameId, classPK, parentGroupId, liveGroupId, name, type_, friendlyURL, active_) values ($batchGroupId, $companyId, $batchUserId, $userClassNameId, $batchUserId, 0, 0, '$batchGroupId', 0, '/dlc$cur', TRUE);

	insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $batchGroupId, TRUE, FALSE, 'classic', '01', 0);
	insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $batchGroupId, FALSE, FALSE, 'classic', '01', 0);

	insert into Users_Groups (groupId, userId) values ($guestGroupId, $batchUserId);

	insert into Users_Orgs (organizationId, userId) values ($incOrganizationId, $batchUserId);
	insert into Users_Orgs (organizationId, userId) values ($dlcLocationId, $batchUserId);

	insert into Users_Roles (roleId, userId) values ($userRoleId, $batchUserId);

	insert into AssetEntry (entryId, groupId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, classUuid, classTypeId, visible, startDate, endDate, publishDate, expirationDate, mimeType, title, description, summary, url, layoutUuid, height, width, priority, viewCount) VALUES ($counter.get(), $batchGroupId, $companyId, $testUserId, 'Joe Bloggs', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 13, $batchUserId, '', 0, FALSE, NULL, NULL, NULL, NULL, '', 'Test DLC $cur', '', '', '', 0, 0, 0, 0, 0);
#end

#foreach($count in [900..909])
	#set ($batchUserId = $counter.get())
	#set ($batchContactId = $counter.get())
	#set ($batchGroupId = $counter.get())
	#set ($cur = $count - 899)

	insert into User_ (uuid_, userId, companyId, createDate, modifiedDate, defaultUser, contactId, password_, passwordEncrypted, passwordReset, screenName, emailAddress, greeting, firstName, middleName, lastName, loginDate, failedLoginAttempts, agreedToTermsOfUse, status) values ('$portalUUIDUtil.generate()', $batchUserId, $companyId, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, FALSE, $batchContactId, 'test', FALSE, FALSE, 'hkg$cur', 'test.hkg.$cur@liferay.com', 'Welcome Test HKG $cur!', 'Test', '', 'HKG $cur', CURRENT_TIMESTAMP, 0, TRUE, 0);

	insert into Contact_ (contactId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, accountId, parentContactId, emailAddress, firstName, middleName, lastName, male, birthday) values ($batchContactId, $companyId, $testUserId, 'Test HKG $cur', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, $userClassNameId, $batchUserId, $accountId, 0, 'test.hkg.$cur@liferay.com', 'Test', '', 'HKG $cur', TRUE, '01/01/1970');

	insert into Group_ (groupId, companyId, creatorUserId, classNameId, classPK, parentGroupId, liveGroupId, name, type_, friendlyURL, active_) values ($batchGroupId, $companyId, $batchUserId, $userClassNameId, $batchUserId, 0, 0, '$batchGroupId', 0, '/hkg$cur', TRUE);

	insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $batchGroupId, TRUE, FALSE, 'classic', '01', 0);
	insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $batchGroupId, FALSE, FALSE, 'classic', '01', 0);

	insert into Users_Groups (groupId, userId) values ($guestGroupId, $batchUserId);

	insert into Users_Orgs (organizationId, userId) values ($incOrganizationId, $batchUserId);
	insert into Users_Orgs (organizationId, userId) values ($hkgLocationId, $batchUserId);

	insert into Users_Roles (roleId, userId) values ($userRoleId, $batchUserId);

	insert into AssetEntry (entryId, groupId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, classUuid, classTypeId, visible, startDate, endDate, publishDate, expirationDate, mimeType, title, description, summary, url, layoutUuid, height, width, priority, viewCount) VALUES ($counter.get(), $batchGroupId, $companyId, $testUserId, 'Joe Bloggs', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 13, $batchUserId, '', 0, FALSE, NULL, NULL, NULL, NULL, '', 'Test HKG $cur', '', '', '', 0, 0, 0, 0, 0);
#end

#foreach($count in [1000..1009])
	#set ($batchUserId = $counter.get())
	#set ($batchContactId = $counter.get())
	#set ($batchGroupId = $counter.get())
	#set ($cur = $count - 999)

	insert into User_ (uuid_, userId, companyId, createDate, modifiedDate, defaultUser, contactId, password_, passwordEncrypted, passwordReset, screenName, emailAddress, greeting, firstName, middleName, lastName, loginDate, failedLoginAttempts, agreedToTermsOfUse, status) values ('$portalUUIDUtil.generate()', $batchUserId, $companyId, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, FALSE, $batchContactId, 'test', FALSE, FALSE, 'kul$cur', 'test.kul.$cur@liferay.com', 'Welcome Test KUL $cur!', 'Test', '', 'KUL $cur', CURRENT_TIMESTAMP, 0, TRUE, 0);

	insert into Contact_ (contactId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, accountId, parentContactId, emailAddress, firstName, middleName, lastName, male, birthday) values ($batchContactId, $companyId, $testUserId, 'Test KUL $cur', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, $userClassNameId, $batchUserId, $accountId, 0, 'test.kul.$cur@liferay.com', 'Test', '', 'KUL $cur', TRUE, '01/01/1970');

	insert into Group_ (groupId, companyId, creatorUserId, classNameId, classPK, parentGroupId, liveGroupId, name, type_, friendlyURL, active_) values ($batchGroupId, $companyId, $batchUserId, $userClassNameId, $batchUserId, 0, 0, '$batchGroupId', 0, '/kul$cur', TRUE);

	insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $batchGroupId, TRUE, FALSE, 'classic', '01', 0);
	insert into LayoutSet (layoutSetId, companyId, groupId, privateLayout, logo, themeId, colorSchemeId, pageCount) values ($counter.get(), $companyId, $batchGroupId, FALSE, FALSE, 'classic', '01', 0);

	insert into Users_Groups (groupId, userId) values ($guestGroupId, $batchUserId);

	insert into Users_Orgs (organizationId, userId) values ($incOrganizationId, $batchUserId);
	insert into Users_Orgs (organizationId, userId) values ($kulLocationId, $batchUserId);

	insert into Users_Roles (roleId, userId) values ($userRoleId, $batchUserId);

	insert into AssetEntry (entryId, groupId, companyId, userId, userName, createDate, modifiedDate, classNameId, classPK, classUuid, classTypeId, visible, startDate, endDate, publishDate, expirationDate, mimeType, title, description, summary, url, layoutUuid, height, width, priority, viewCount) VALUES ($counter.get(), $batchGroupId, $companyId, $testUserId, 'Joe Bloggs', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 13, $batchUserId, '', 0, FALSE, NULL, NULL, NULL, NULL, '', 'Test KUL $cur', '', '', '', 0, 0, 0, 0, 0);
#end