## ---------- Common variables ---------- ##

#set ( $theme_display = $themeDisplay )
#set ( $portlet_display = $portletDisplay )

#set ( $css_class = $theme_display.getColorScheme().getCssClass() )
#set ( $css_folder = "$theme_display.getPathThemeRoot()/css" )
#set ( $images_folder = "$theme_display.getPathThemeImage()" )
#set ( $javascript_folder = "$theme_display.getPathThemeRoot()/javascript" )
#set ( $templates_folder = "$theme_display.getPathThemeRoot()/templates" )

#set ( $full_css_path = $fullTemplatesPath + "/../css" )
#set ( $full_templates_path = $fullTemplatesPath )

#set ( $css_main_file = "$css_folder/main.css?themeId=$theme_display.getThemeId()&colorSchemeId=$theme_display.getColorSchemeId()" )
#set ( $js_main_file = "$javascript_folder/javascript.js" )

#set ( $company_name = $company.getName() )
#set ( $company_logo = $theme_display.getCompanyLogo() )
#set ( $company_url = $theme_display.getURLHome() )

#set ( $user_greeting = $user.getGreeting() )

## ---------- URLs ---------- ##

#set ( $show_add_content = $theme_display.isShowAddContentIcon() )

#if ( $show_add_content )
	#set ( $add_content_text = $languageUtil.get($pageContext, "add-content") )
	#set ( $add_content_url = $theme_display.getURLAddContent() )

	#set ( $layout_text = $languageUtil.get($pageContext, "layout") )
	#set ( $layout_url = $theme_display.getURLLayoutTemplates() )
#end

#set ( $show_home = $theme_display.isShowHomeIcon() )

#if ( $show_home )
	#set ( $home_text = $languageUtil.get($pageContext, "home") )
	#set ( $home_url = $theme_display.getURLHome() )
#end

#set ( $show_my_account = $theme_display.isShowMyAccountIcon() )

#if ( $show_my_account )
	#set ( $my_account_text = $languageUtil.get($pageContext, "my-account") )
	#set ( $my_account_url = $theme_display.getURLMyAccount() )
#end

#set ( $show_page_settings = $theme_display.isShowPageSettingsIcon() )

#if ( $show_page_settings )
	#set ( $page_settings_text = $languageUtil.get($pageContext, "page-settings") )
	#set ( $page_settings_url = $theme_display.getURLPageSettings().toString() )
#end

#set ( $show_sign_in = $theme_display.isShowSignInIcon() )

#if ( $show_sign_in )
	#set ( $sign_in_text = $languageUtil.get($pageContext, "sign-in") )
	#set ( $sign_in_url = $theme_display.getURLSignIn() )
#end

#set ( $show_sign_out = $theme_display.isShowSignOutIcon() )

#if ( $show_sign_out )
	#set ( $sign_out_text = $languageUtil.get($pageContext, "sign-out") )
	#set ( $sign_out_url = $theme_display.getURLSignOut() )
#end

#if ( $portalUtil.isOmniadmin($user.getUserId()) && $portalUtil.isUpdateAvailable() )
    #set ( $update_available_url = $theme_display.getURLUpdateManager() )
#end

## ---------- Page ---------- ##

#set ( $the_title = $languageUtil.get($pageContext, $tilesTitle) )
#set ( $selectable = $theme_display.isTilesSelectable() )

#if ( $layout )
	#set ( $page = $layout )

	#set ( $is_first_child = $page.isFirstChild() )
	#set ( $is_first_parent = $page.isFirstParent() )

	#set ( $the_title = $languageUtil.get($pageContext, $the_title, $page.getName($locale)) )
#end

#if ( $layouts )
	#set ( $pages = $layouts )
#end

## ---------- Navigation ---------- ##

#if ( $navItems )
	#set ( $nav_items = $navItems )
	#set ( $has_navigation = ($nav_items && $nav_items.size() > 0) )
#end

## ---------- Includes ---------- ##

#set ( $bottom_ext_include = "/html/common/themes/bottom-ext.jsp" )
#set ( $content_include = "/html$tilesContent" )
#set ( $session_timeout_include = "/html/common/themes/session_timeout.jsp" )
#set ( $sound_alerts_include = "/html/common/themes/sound_alerts.jsp" )
#set ( $top_head_include = "/html/common/themes/top_head.jsp" )
#set ( $top_warning_include = "/html/common/themes/top_warning.jsp" )