@import "compass";

.portlet-blogs-aggregator {
	.abstract {
		clear: both;
		margin-bottom: 1.5em;
		margin-top: 1.5em;
	}

	.comments {
		margin-top: 1.5em;
	}

	.entry-info {
		line-height: 2em;
		overflow: hidden;
	}

	.entry-author {
		border-right: 1px solid #999;
		color: #999;
		float: left;
		font-weight: bold;
		line-height: 20px;
		margin-right: 10px;
		padding-right: 10px;
	}

	.entry-categories {
		border-left: 1px solid #999;
		float: left;
		padding-left: 10px;
	}

	.entry-date {
		color: #999;
		float: left;
		overflow: hidden;
		padding-right: 10px;
	}

	.entry-tags {
		border-left: 1px solid #999;
		overflow: hidden;
		padding-left: 10px;
		padding-right: 10px;
	}

	.entry-title {
		display: block;

		@include ellipsis;

		font-size: 1.2em;
		margin-bottom: 0.2em;
	}

	.search-container {
		margin-top: 1.5em;
	}
}

.ie {
	.portlet-blogs-aggregator {
		.entry-date {
			overflow: visible;
			white-space: nowrap;
		}

		.entry-info {
			height: 1%;
		}
	}
}