<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<context-param>
		<param-name>company_id</param-name>
		<param-value>[$COMPANY_ID$]</param-value>
	</context-param>
	<context-param>
		<param-name>root_path</param-name>
		<param-value>/</param-value>
	</context-param>
	<listener>
		<listener-class>com.liferay.portal.servlet.PortalSessionListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>InitServlet</servlet-name>
		<display-name>InitServlet</display-name>
		<servlet-class>com.liferay.portal.servlet.InitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>MainServlet</servlet-name>
		<display-name>MainServlet</display-name>
		<servlet-class>com.liferay.portal.servlet.MainServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>0</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>CaptchaServlet</servlet-name>
		<display-name>CaptchaServlet</display-name>
		<servlet-class>com.liferay.portal.servlet.CaptchaServlet</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>FriendlyURLPrivateServlet</servlet-name>
		<servlet-class>com.liferay.portal.servlet.FriendlyURLServlet</servlet-class>
		<init-param>
			<param-name>private</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>4</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>FriendlyURLPublicServlet</servlet-name>
		<servlet-class>com.liferay.portal.servlet.FriendlyURLServlet</servlet-class>
		<init-param>
			<param-name>private</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>5</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<display-name>ImageServlet</display-name>
		<servlet-class>com.liferay.portal.servlet.ImageServlet</servlet-class>
		<load-on-startup>6</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>LuceneServlet</servlet-name>
		<display-name>LuceneServlet</display-name>
		<servlet-class>com.liferay.portal.servlet.LuceneServlet</servlet-class>
		<load-on-startup>7</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ResourceProxyServlet</servlet-name>
		<servlet-class>com.liferay.portal.wsrp.servlet.ResourceProxyServlet</servlet-class>
		<load-on-startup>8</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ChatServlet</servlet-name>
		<display-name>ChatServlet</display-name>
		<servlet-class>com.liferay.portlet.chat.servlet.ChatServlet</servlet-class>
		<init-param>
			<param-name>chatServerClass</param-name>
			<param-value>com.liferay.portlet.chat.util.ChatServer</param-value>
		</init-param>
		<init-param>
			<param-name>config</param-name>
			<param-value>nfc/nfc.conf</param-value>
		</init-param>
		<load-on-startup>9</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>HttpService</servlet-name>
		<servlet-class>com.liferay.portlet.httpbridge.servlet.HttpService</servlet-class>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>UserService</servlet-name>
		<servlet-class>com.liferay.portlet.httpbridge.servlet.UserService</servlet-class>
		<load-on-startup>11</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/c/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CaptchaServlet</servlet-name>
		<url-pattern>/captcha/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FriendlyURLPrivateServlet</servlet-name>
		<url-pattern>/group/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FriendlyURLPublicServlet</servlet-name>
		<url-pattern>/web/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/image/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResourceProxyServlet</servlet-name>
		<url-pattern>/wsrp/resource_proxy/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChatServlet</servlet-name>
		<url-pattern>/chat/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HttpService</servlet-name>
		<url-pattern>/httpbridge/http</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>[$SESSION_TIMEOUT$]</session-timeout>
	</session-config>
</web-app>