<?xml version="1.0"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
	<context-param>
		<param-name>company_id</param-name>
		<param-value>[$COMPANY_ID$]</param-value>
	</context-param>
	<context-param>
		<param-name>root_path</param-name>
		<param-value>/</param-value>
	</context-param>
	<listener>
		<listener-class>com.liferay.portal.servlet.PortalSessionListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>InitServlet</servlet-name>
		<servlet-class>com.liferay.portal.servlet.InitServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>MainServlet</servlet-name>
		<servlet-class>com.liferay.portal.servlet.MainServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>0</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>0</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>FriendlyURLPrivateServlet</servlet-name>
		<servlet-class>com.liferay.portal.servlet.FriendlyURLServlet</servlet-class>
		<init-param>
			<param-name>private</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>FriendlyURLPublicServlet</servlet-name>
		<servlet-class>com.liferay.portal.servlet.FriendlyURLServlet</servlet-class>
		<init-param>
			<param-name>private</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>4</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>com.liferay.portal.servlet.ImageServlet</servlet-class>
		<load-on-startup>5</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>LuceneServlet</servlet-name>
		<servlet-class>com.liferay.portal.servlet.LuceneServlet</servlet-class>
		<load-on-startup>6</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>SitemapServlet</servlet-name>
		<servlet-class>com.liferay.portal.servlet.SitemapServlet</servlet-class>
		<load-on-startup>7</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>PortalDelegatorServlet</servlet-name>
		<servlet-class>com.liferay.portal.kernel.servlet.PortalDelegatorServlet</servlet-class>
		<load-on-startup>8</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>ResourceProxyServlet</servlet-name>
		<servlet-class>com.liferay.portal.wsrp.servlet.ResourceProxyServlet</servlet-class>
		<load-on-startup>9</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>PortletBridgeServlet</servlet-name>
		<servlet-class>org.portletbridge.portlet.PortletBridgeServlet</servlet-class>
		<init-param>
			<param-name>mementoSessionKey</param-name>
			<param-value>mementoSessionKey</param-value>
		</init-param>
		<init-param>
			<param-name>cssRegex</param-name>
			<param-value>(?:url\((?:'|")?(.*?)(?:'|")?\))|(?:@import\s+[^url](?:'|")?(.*?)(?:'|")|;|\s+|$)</param-value>
		</init-param>
		<init-param>
			<param-name>jsRegex</param-name>
			<param-value>open\('([^']*)'|open\("([^\"]*)"</param-value>
		</init-param>
		<init-param>
			<param-name>ignoreRequestHeaders</param-name>
			<param-value>accept-encoding,connection,keep-alive</param-value>
		</init-param>
		<init-param>
			<param-name>ignorePostToGetRequestHeaders</param-name>
			<param-value>content-type,content-length</param-value>
		</init-param>
		<load-on-startup>10</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>SoftwareCatalogServlet</servlet-name>
		<servlet-class>com.liferay.portal.servlet.SoftwareCatalogServlet</servlet-class>
		<load-on-startup>11</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainServlet</servlet-name>
		<url-pattern>/c/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FriendlyURLPrivateServlet</servlet-name>
		<url-pattern>/group/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FriendlyURLPublicServlet</servlet-name>
		<url-pattern>/web/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/image/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SitemapServlet</servlet-name>
		<url-pattern>/sitemap.xml</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PortalDelegatorServlet</servlet-name>
		<url-pattern>/delegate/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PortletBridgeServlet</servlet-name>
		<url-pattern>/pbhs/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PortletBridgeServlet</servlet-name>
		<url-pattern>/pbhs/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SoftwareCatalogServlet</servlet-name>
		<url-pattern>/software_catalog/*</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>[$SESSION_TIMEOUT$]</session-timeout>
	</session-config>
</web-app>