.portlet-bookmarks {
	.lfr-asset-url {
		margin: 1em 0 0.3em;
		word-break: break-all;
	}

	.folder-search {
		float: right;
		margin: 0 0 0.5em 0.5em;
	}

	.lfr-panel-content {
		overflow: auto;
	}

	tbody {
		tr > td:first-child + td {
			word-break: break-all;
		}
	}
}