.lfr-add-panel .add-content-menu {
	.add-portlet-message {
		background-color: #1B2228;
		margin: 20px;
		padding: 5px 20px;

		.info-message {
			margin: 20px 0;
		}
	}

	.list-group-heading, .list-group-item {
		padding: 0 24px;
	}

	.search-bar {
		margin: 10px;
	}

	.input-group-btn {
		right: 20px;
	}

	.display-style-bar {
		margin: 10px;

		.display-style {
			padding: 5px;

			&.active {
				color: #869CAD;
			}
		}
	}
}