.lfr-add-panel {
	.add-content-menu {
		.lfr-add-apps-legend {
			color: #999;
		}

		.control-label {
			color: #555;
			font-weight: 400;
		}

		.template-selector {
			legend {
				border-style: none;
				color: #555;
				font-size: 15px;
				font-weight: 400;
				line-height: 1.5em;
			}
		}

		.lfr-add-page-toolbar {
			background-color: #FFF;
		}

		.lfr-content-item {
			.lfr-portlet-used {
				&, &.drag-content-item {
					color: #BBB;
				}
			}
		}

		.lfr-install-more {
			text-align: center;
		}

		.lfr-page-template {
			.lfr-page-template-title .lfr-page-template-description {
				color: #8D8D8D;
				line-height: 15px;
			}

			.toggler-header {
				&.active {
					&.lfr-page-template-title .radio {
						background-color: #0DB5E7;

						label {
							color: #FFF;
						}
					}
				}
			}

			&:hover {
				background-color: #F0F0F0;
			}

			.lfr-page-template-options {
				border-bottom-color: #EEE;
			}
		}

		.portal-add-content .portlet-msg-info {
			color: #333;
		}

		.added-message {
			opacity: 0;
		}

		.add-portlet-message {
			background-color: #1D2930;
			color: #869CAD;
			margin: 20px;
			padding: 5px 20px;

			.info-message {
				margin: 20px 0;
			}
		}

		.list-group-heading {
			padding: 0 24px;
		}

		.list-group-item {
			padding: 0 10px;
		}

		.search-bar {
			margin: 10px;
		}

		.input-group-btn {
			right: 20px;
		}

		.display-style-bar {
			margin: 10px;

			.display-style {
				padding: 5px;

				&.active {
					color: #869CAD;
				}
			}
		}
	}
}