.lfr-simulation-device {
	background-color: rgba(255, 255, 255, 0.95);
}

.lfr-simulation-panel .lfr-device-item {
	&:hover {
		background-color: #E5F2FC;
		background-position: 10px center;
		background-repeat: no-repeat;
		color: #006076;
	}

	&.selected {
		background-color: #3EA9DB;
		color: #FFF;
	}

	.device-info {
		background-position: 0 center;
		background-repeat: no-repeat;
	}

	&.autosize {
		.device-info {
			background-image: url(../images/simulation_device/full_size_off.png);
		}

		&.selected .device-info {
			background-image: url(../images/simulation_device/full_size_active.png);
		}
	}

	&.desktop {
		.device-info {
			background-image: url(../images/simulation_device/desktop_off.png);
		}

		&.selected .device-info {
			background-image: url(../images/simulation_device/desktop_active.png);
		}
	}

	&.smartphone {
		.device-info {
			background-image: url(../images/simulation_device/mobile_off.png);
		}

		&.selected {
			&:hover {
				background-image: url(../images/simulation_device/mobile_horizontal_opacity.png);
			}

			.device-info {
				background-image: url(../images/simulation_device/mobile_vertical_with_arrow.png);
			}

			&.rotated {
				.device-info {
					background-image: url(../images/simulation_device/mobile_horizontal_with_arrow.png);
				}

				&:hover {
					background-image: url(../images/simulation_device/mobile_vertical_opacity.png);
				}
			}
		}
	}

	&.tablet {
		.device-info {
			background-image: url(../images/simulation_device/tablet_off.png);
		}

		&.selected {
			&:hover {
				background-image: url(../images/simulation_device/tablet_horizontal_opacity.png);
			}

			.device-info {
				background-image: url(../images/simulation_device/tablet_vertical_with_arrow.png);
			}

			&.rotated {
				.device-info {
					background-image: url(../images/simulation_device/tablet_horizontal_with_arrow.png);
				}

				&:hover {
					background-image: url(../images/simulation_device/tablet_vertical_opacity.png);
				}
			}
		}
	}
}

.lfr-device {
	.lfr-device-size-status {
		.lfr-device-size-status-content {
			background-color: #000;
			color: #FFF;
		}
	}

	&:after, &:before {
		background: #666;
	}

	&.smartphone, &.tablet {
		background: #333;
	}
}